:local {
  /* stylelint-disable selector-class-pattern */

  .control {
    display: block;
    margin-bottom: 0.714em;
    width: auto;

    .input {
      vertical-align: middle;
      display: inline-block;
      height: auto;
      font-size: 1em;
      padding: 0.178em;
    }
  }

  @media screen and (min-width: 544px) {
    .control-inline {
      display: inline-block;
      margin-right: 0.714em;
    }
  }

  .control-label-text {
    vertical-align: middle;
  }
}
