:local {
  /* stylelint-disable selector-class-pattern */

  .field,
  .fieldset {
    border: 0;
    margin-bottom: 1.428em;
    padding: 0;
  }

  @media screen and (min-width: 544px) {
    .field-inline,
    .fieldset-inline {
      display: inline-block;
      margin-right: 0.7143em;
      vertical-align: top;
    }
  }

  .field-required > .label:first-child,
  .fieldset-required > .legend:first-child {
    &::before {
      color: #e50000;
      content: '*';
      display: inline-block;
      padding-right: 0.357em;
    }
  }

  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.357em;
  }

  .legend {
    border: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 0.357em;
    max-width: 100%; // IE11 fix to ensure legends wrap
    padding: 0;
    width: auto;
  }

  .help-text {
    display: block;
    margin-bottom: 0.357em;
    outline: 0;
  }

  .error {
    color: #e50000;
    display: block;
    margin-bottom: 0.357em;
    outline: 0;
  }

  .fieldset-children {
    margin-top: 0.714em;
  }
}
