:local {
  /* stylelint-disable selector-class-pattern */

  .input {
    border: #dedfe0 solid 1px;
    border-radius: 0.25em;
    font-size: 1em;
    height: 1.857em;
    padding: 0.178em;
    width: 100%;

    &[type='checkbox'],
    &[type='radio'] {
      border: 0;
      display: inline-block;
      height: auto;
      width: auto;
    }

    &[required] {
      box-shadow: unset;
    }
  }
}
