:local {
  /* stylelint-disable selector-class-pattern */

  .textarea {
    border: #dedfe0 solid 1px;
    border-radius: 0.25em;
    font-size: 1em;
    line-height: 1.25;
    padding: 0.178em;
    width: 100%;

    &[required] {
      box-shadow: unset;
    }
  }
}
