:local {
  .clinical-lowlight-theme {
    --terra-dropdown-button-list-background-color: #222a2e;
    --terra-dropdown-button-list-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 4px 3px -3px rgba(0, 0, 0, 0.5);
    --terra-dropdown-button-list-border-radius: 3px;
    --terra-dropdown-button-list-min-width: 10rem;
    --terra-dropdown-button-list-padding-bottom: 0.142857rem;
    --terra-dropdown-button-list-padding-top: 0.42857rem;
  }
}
