:local {
  .clinical-lowlight-theme {
    --terra-dropdown-button-menu-item-color: #b2b5b6;
    --terra-dropdown-button-menu-item-font-size: 1rem;
    --terra-dropdown-button-menu-item-line-height: 1.42857;
    --terra-dropdown-button-menu-item-margin-bottom: 0.28571rem;
    --terra-dropdown-button-menu-item-padding-bottom: 0.5rem;
    --terra-dropdown-button-menu-item-padding-left: 1.42857rem;
    --terra-dropdown-button-menu-item-padding-right: 2.14285rem;
    --terra-dropdown-button-menu-item-padding-top: 0.5rem;
    --terra-dropdown-button-menu-item-focus-background-color: #1e3a49;
    --terra-dropdown-button-menu-item-focus-box-shadow: none;
    --terra-dropdown-button-menu-item-focus-outline: none;
    --terra-dropdown-button-menu-item-focus-outline-offset: 0;
    --terra-dropdown-button-menu-item-hover-background-color: #1e3a49;
    --terra-dropdown-button-menu-item-hover-background-image: none;
    --terra-dropdown-button-menu-item-hover-box-shadow: none;
    --terra-dropdown-button-menu-item-focus-active-background-color: #1e3a49;
    --terra-dropdown-button-menu-item-focus-active-background-image: none;
    --terra-dropdown-button-menu-item-focus-active-box-shadow: none;
    --terra-dropdown-button-menu-item-focus-active-color: #b2b5b6;
  }
}
