@import '~terra-mixins/lib/Mixins';

:local {
  .outer {
    align-items: center;
    background-color: var(--terra-form-select-native-background-color, #fff);
    background-image: var(--terra-form-select-native-outer-background-image, none);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: var(--terra-form-select-native-outer-background-size, 0 0);
    border: var(--terra-form-select-native-outer-border, 1px solid #dedfe0);
    border-radius: var(--terra-form-select-native-outer-border-radius, 3px);
    display: flex;
    height: var(--terra-form-select-native-outer-height, 2.142857rem);
    position: relative;
    transition-duration: 0s;
    transition-property: background-size;
    transition-timing-function: ease;
    width: 100%;

    &[data-focus-interaction='keyboard'] {
      box-shadow: var(--terra-form-select-native-outer-focus-box-shadow, 0 0 0 2px rgba(76, 178, 233, 0.25));
    }

    &[data-focus-interaction='keyboard'],
    &[data-focus-interaction='mouse'], {
      background-size: var(--terra-form-select-native-outer-focus-background-size, 0 0);
      border-color: var(--terra-form-select-native-outer-focus-border-color, #4cb2e9);
      transition-duration: var(--terra-form-select-native-outer-focus-transition-duration, 0);
    }

    &:hover {
      border-color: var(--terra-form-select-native-outer-hover-border-color, #4cb2e9);

      .display {
        color: var(--terra-form-select-native-display-hover-color, #1c1f21);
      }
    }

    &.incomplete {
      background-color: var(--terra-form-select-native-incomplete-background-color, #ffc);
    }

    &.invalid {
      background-color: var(--terra-form-select-native-invalid-background-color, none);
      background-image: var(--terra-form-select-native-outer-invalid-background-image, none);
      border-color: var(--terra-form-select-native-invalid-border-color, #e50000);
      box-shadow: var(--terra-form-select-native-invalid-box-shadow, 0 0 0 1px #e50000);

      .arrow-icon {
        background-image: var(--terra-form-select-native-invalid-arrow-icon, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="#e50000" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>'));
      }
    }

    &.disabled {
      background-color: var(--terra-form-select-native-disabled-background-color, rgba(111, 116, 119, 0.2));
      background-image: none;
      border-color: var(--terra-form-select-disabled-border-color, #dedfe0);
      opacity: var(--terra-form-select-disabled-opacity, 0.4);

      .display {
        color: var(--terra-form-select-native-display-disabled-color, #1c1f21);
      }

      .arrow-icon {
        background-image: var(--terra-form-select-native-disabled-arrow-icon, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="rgba(17, 22, 25, .5)" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>'));
      }
    }

    &.placeholder {
      .display {
        color: var(--terra-form-select-native-placeholder-display-color, rgba(21, 33, 41, 0.61));
        font-size: var(--terra-form-select-search-placeholder-font-size, 1.143rem);
        font-style: var(--terra-form-select-native-placeholder-display-font-style);
      }
    }
  }



  .display {
    align-items: center;
    color: var(--terra-form-select-native-display-color, #1c1f21);
    flex: 1 1 auto;
    font-size: var(--terra-form-select-native-display-font-size, 1.143rem);
    line-height: var(--terra-form-select-native-display-line-height, 1.75);
    min-width: 0;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: normal;
    word-wrap: normal;
  }

  .frame {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    left: 0;
    max-width: 100%;
    min-width: 0;
    padding-bottom: 0;
    padding-left: var(--terra-form-select-native-frame-padding-left, 0.4286rem);
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .select {
    appearance: none;
    border: 0;
    box-sizing: content-box;
    cursor: pointer;
    display: block;
    flex: 1 1 auto;
    font-size: 1rem;
    height: 100%;
    left: 0;
    line-height: var(--terra-form-select-native-select-line-height, 1.75);
    opacity: 0;
    outline: none;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: default;
    }
  }

  .arrow {
    align-self: center;
    display: inline-flex; // IE 10
    flex: 0 0 auto; // IE 10
    padding: var(--terra-form-select-native-arrow-padding, 0 0.4286rem);
  }

  .arrow-icon {
    background-image: var(--terra-form-select-native-arrow-icon, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="#1c1f21" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--terra-form-select-native-arrow-icon-height, 1rem);
    position: relative;
    width: var(--terra-form-select-native-arrow-icon-width, 0.715rem);
  }
}
