@import '~terra-mixins/lib/Mixins';

:local {
  .outer {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: linear-gradient(#599ffd, #599ffd);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 0.142857rem;
    border: 1px solid rgba(89, 159, 253, 0.6);
    border-radius: 3px;
    display: flex;
    height: 2.142857rem;
    position: relative;
    transition-duration: 0s;
    transition-property: background-size;
    transition-timing-function: ease;
    width: 100%;

    // &[data-focus-styles-enabled='keyboard'] {
    //   border-color: #4cb2e9;
    //   box-shadow: 0 0 0 2px rgba(76, 178, 233, 0.25);
    //   //outline
    // }

    &[data-focus-styles-enabled='keyboard'],
    &[data-focus-styles-enabled='mouse'], {
      background-size: 100% 0.142857rem;
      border-color: #4cb2e9;
      transition-duration: 0.33s;
    }

    &:hover {
      border-color: #4cb2e9;

      .frame {
        color: #111619;
      }
    }

    &.incomplete {
      background-color: #ffc;
    }

    &.invalid {
      background-color: rgba(255, 255, 255, 0.8);
      background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
      border-color: #e50000;

      .arrow-icon {
        background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="#e50000" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>');
      }
    }

    &.disabled {
      background-color: rgba(17, 22, 25, 0.05);
      background-image: none;
      border-color: rgba(89, 159, 253, 0.3);

      .frame {
        color: rgba(17, 22, 25, 0.3);
      }

      .arrow-icon {
        background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="rgba(17, 22, 25, .5)" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>');
      }
    }

    &.placeholder {
      .frame {
        color: #1521299c;
        font-style: italic;
      }
    }
  }



  .display {
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: normal;
    word-wrap: normal;
  }

  .frame {
    align-items: center;
    color: rgba(17, 22, 25, 0.75);
    display: flex;
    flex: 1 1 auto;
    font-size: 1rem;
    height: 100%;
    left: 0;
    line-height: 1.75;
    max-width: 100%;
    min-width: 0;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .select {
    appearance: none;
    border: 0;
    box-sizing: content-box;
    cursor: pointer;
    display: block;
    flex: 1 1 auto;
    font-size: 1rem;
    height: 100%;
    left: 0;
    line-height: 1.75;
    opacity: 0;
    outline: none;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: default;
    }
  }

  .arrow {
    align-self: center;
    display: inline-flex; // IE 10
    flex: 0 0 auto; // IE 10
    padding: 0 0.786rem;
  }

  .arrow-icon {
    background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="#4983d1" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 0.714rem;
    position: relative;
    width: 0.714rem;
  }
}
