:local { 
  .overflow-x-wrapper {
    border: 1px dashed rgb(0, 0, 0);
    height: 200px;
    width: 400px;
  }

  .paragraph-wrapper {
    height: 160px;
    padding-left: 10px;
    padding-right: 10px;
    width: 1350px;
  }
}
