:local { 
  .overflow-y-wrapper {
    border: 1px dashed rgb(0, 0, 0);
    height: 200px;
    width: 400px;
  }

  .paragraph-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    width: 375px;
  }
}
