:local {
  // html input[type='button'].terra-Button selector used to
  // prevent a WebKit bug destroys native `audio` and `video` controls
  // in Android 4. More info:
  // https://github.com/necolas/normalize.css/issues/20
  // https://code.google.com/p/android/issues/detail?id=34301
  // appearance: button; set to correct the inability to style
  // clickable types in iOS and Safari.
  // Appearance needs to be applied only to button/input elements, as
  // applying to anchor element will cause render issue.
  // More info:
  // https://github.com/necolas/normalize.css/issues/566
  // https://github.com/necolas/normalize.css/commit/1be44f3b2a79af5d463c7ea0264fee0e6fa464ca
  // stylelint-disable selector-no-qualifying-type
  button.button,
  html input[type='button'].button,
  input[type='reset'].button,
  input[type='submit'].button {
    appearance: button;  // autoprefix fix into -webkit-appearance
  }
  // stylelint-enable selector-no-qualifying-type

  .button {
    background-color: transparent; // Remove the gray background on active links in IE 10
    border: 0;
    color: var(--terra-link-color, #0059a8);
    cursor: pointer;
    display: inline-block; // prevents variant icon from breaking onto its own line
    font-family: inherit;
    font-size: var(--terra-button-font-size, 1rem);
    line-height: var(--terra-button-line-height, 1.429);
    outline: none;
    padding: 0;
    text-align: center;
    text-decoration: var(--terra-link-underline, none);
    text-transform: none;
    touch-action: manipulation; // Enable fast tap interaction in webkit browsers; see https://webkit.org/blog/5610/more-responsive-tapping-on-ios/
    user-select: none; // Prevent text selection on buttons on mobile devices
    white-space: normal;
    // Remove the inner border and padding in Firefox.
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    &.is-focused {
      background-color: var(--terra-link-focus-background-color, transparent);
      border-radius: var(--terra-link-focus-border-radius, 0.2142rem);
      box-shadow: var(--terra-link-focus-box-shadow, 0 0 0 1px #4cb2e9, 0 0 0 3px rgba(76, 178, 233, 0.25));
      color: var(--terra-link-focus-color, #001f67);
      text-decoration: var(--terra-link-focus-underline, underline);
    }

    &:hover,
    &.is-hovered {
      background-color: var(--terra-link-hover-background-color);
      color: var(--terra-link-hover-color, #001f67);
      text-decoration: var(--terra-link-hover-underline, underline);
    }

    &:active {
      color: var(--terra-link-active-color, #001f67);
    }

    &:disabled,
    &.is-disabled {
      color: var(--terra-link-disabled-color, rgba(28, 31, 33, 0.2));
      text-decoration: none;
    }
  }

  // Button style modifiers
  .block {
    display: block;
    width: 100%;
  }

  .compact {
    padding-bottom: var(--terra-button-compact-padding-bottom, 0);
    padding-top: var(--terra-button-compact-padding-top, 0);
  }

  .text-and-icon {
    margin: 0;
  }

  .text-first {
    margin-right: var(--terra-button-text-and-icon-margin-between, 0.3571rem);
  }

  .icon-first {
    margin-right: var(--terra-button-text-and-icon-margin-between, 0.3571rem);
  }

  .icon {
    display: inline-block;
  }

  .icon-svg {
    height: var(--terra-button-icon-height, 1rem);
    width: var(--terra-button-icon-width, 1rem);
  }
}
