// Themes
@import './clinical-lowlight-theme/ShowHide.module';
@import './orion-fusion-theme/ShowHide.module';

:local {
  .show-hide {
    display: flex;
  }

  .start {
    margin-right: auto;
  }

  .center {
    margin: auto;
  }

  .end {
    margin-left: auto;
  }

  .show-hide-content[data-focus-styles-enabled='true']:focus {
    outline: var(--terra-show-hide-focus-outline, 2px dashed #000);
    outline-offset: var(--terra-show-hide-focus-outline-offset, 2px);
  }
}
