:local {
  .show-hide {
    display: block;
  }

  .icon {
    display: inline-block;
    font-size: 0.8em;
    transform: rotate(0deg);
  }

  .is-open .icon {
    transform: rotate(180deg);
  }

  .button-text {
    padding-left: 0.3rem;
  }

  // Heading Size Overrides
  .size-huge { font-size: 2.286rem; }
  .size-large { font-size: 1.714rem;}
  .size-medium { font-size: 1.429rem; }
  .size-small { font-size: 1.286rem; }
  .size-tiny { font-size: 1.143rem; }
  .size-mini { font-size: 1rem; }
}
