//comment
$terra-clinical-item-view-comment-color: $terra-grey-70 !default;
$terra-clinical-item-view-comment-icon-color: $terra-grey-30 !default;

//content styles
$terra-clinical-item-view-content-primary-color: $terra-dark !default;
$terra-clinical-item-view-content-secondary-color: $terra-grey-70 !default;

//text styles
$terra-clinical-item-view-text-inverse-color: $terra-grey-10 !default;
$terra-clinical-item-view-text-secondary-color: $terra-grey-70 !default;
$terra-clinical-item-view-text-attention-color: $terra-clinical-critical-color !default;
$terra-clinical-item-view-text-attention-weight: 700 !default;
