:global {

  // ---------------------- Shared ----------------------- //

  --terra-icon-abnormal-low-light-path-1-fill: #b08a74;
  --terra-icon-abnormal-path-1-fill: #b08a74;
  --terra-icon-alert-path-1-fill: #fb4c4c;
  --terra-icon-alert-path-2-fill: #222a2e;
  --terra-icon-available-path-1-fill: #427c1e;
  --terra-icon-available-path-2-fill: #ededed;
  --terra-icon-bed-assigned-circle-1-fill: #427c1e;
  --terra-icon-bed-assigned-path-1-fill: #ededed;
  --terra-icon-bed-assigned-path-2-fill: #b2b5b6;
  --terra-icon-complete-path-1-fill: #427c1e;
  --terra-icon-complete-path-2-fill: #ededed;
  --terra-icon-critical-path-1-fill: #fb4c4c;
  --terra-icon-critical-path-2-fill: #222a2e;
  --terra-icon-critical-inverse-path-1-fill: #b2b5b6;
  --terra-icon-device-alert-path-1-fill: #b2b5b6;
  --terra-icon-device-alert-path-2-fill: #fb4c4c;
  --terra-icon-device-alert-path-3-fill: #222a2e;
  --terra-icon-device-check-path-1-fill: #b2b5b6;
  --terra-icon-device-check-path-2-fill: #427c1e;
  --terra-icon-device-check-path-3-fill: #ededed;
  --terra-icon-diamon-path-1-fill: #c270d7;
  --terra-icon-diamond-path-1-fill: #c270d7;
  --terra-icon-discharge-coming-due-path-1-fill: #ffb166;
  --terra-icon-discharge-coming-due-path-2-fill: #b2b5b6;
  --terra-icon-discharge-complete-path-1-fill: #b2b5b6;
  --terra-icon-discharge-complete-path-2-fill: #427c1e;
  --terra-icon-discharge-complete-path-3-fill: #ededed;
  --terra-icon-discharge-over-due-path-1-fill: #fb4c4c;
  --terra-icon-discharge-over-due-path-2-fill: #222a2e;
  --terra-icon-discharge-over-due-path-3-fill: #b2b5b6;
  --terra-icon-do-not-disturb-path-1-fill: #fb4c4c;
  --terra-icon-do-not-disturb-path-2-fill: #222a2e;
  --terra-icon-drug-path-1-fill: #ffb166;
  --terra-icon-drug-path-2-fill: #222a2e;
  --terra-icon-drug-path-3-fill: #b2b5b6;
  --terra-icon-due-soon-path-1-fill: #b2b5b6;
  --terra-icon-due-soon-path-2-fill: #ffb166;
  --terra-icon-due-soon-path-3-fill: #222a2e;
  --terra-icon-due-soon-path-4-fill: #222a2e;
  --terra-icon-error-path-1-fill: #fb4c4c;
  --terra-icon-error-path-2-fill: #222a2e;
  --terra-icon-error-dark-path-1-fill: #b2b5b6;
  --terra-icon-error-dark-path-2-fill: #222a2e;
  --terra-icon-featured-outline-yellow-path-1-fill: #ffb166;
  --terra-icon-featured-outline-yellow-path-2-fill: #404040;
  --terra-icon-help-inverse-path-1-fill: #b2b5b6;
  --terra-icon-help-path-1-fill: #004c76;
  --terra-icon-help-path-2-fill: #b2b5b6;
  --terra-icon-hide-path-1-fill: #b2b5b6;
  --terra-icon-high-path-1-fill: #ffb166;
  --terra-icon-high-inverse-path-1-fill: #b2b5b6;
  --terra-icon-high-priority-path-1-fill: #b2b5b6;
  --terra-icon-incomplete-inverse-path-1-fill: #b2b5b6;
  --terra-icon-information-path-1-fill: #004c76;
  --terra-icon-information-path-2-fill: #b2b5b6;
  --terra-icon-information-inverse-path-1-fill: #b2b5b6;
  --terra-icon-low-path-1-fill: #5a81ff;
  --terra-icon-low-risk-path-1-fill: #b2b5b6;
  --terra-icon-max-path-1-fill: #b2b5b6;
  --terra-icon-min-path-1-fill: #b2b5b6;
  --terra-icon-moderate-path-1-fill: #b2b5b6;
  --terra-icon-no-risk-path-1-fill: #b2b5b6;
  --terra-icon-out-of-network-path-1-fill: #b2b5b6;
  --terra-icon-out-of-network-path-2-fill: #fb4c4c;
  --terra-icon-over-due-path-1-fill: #b2b5b6;
  --terra-icon-over-due-path-2-fill: #fb4c4c;
  --terra-icon-over-due-path-3-fill: #222a2e;
  --terra-icon-pharmacy-reject-path-1-fill: #fb4c4c;
  --terra-icon-pharmacy-reject-path-2-fill: #b2b5b6;
  --terra-icon-roll-up-path-1-fill: #b2b5b6;
  --terra-icon-scheduled-path-1-fill: #b2b5b6;
  --terra-icon-scheduled-path-2-fill: #427c1e;
  --terra-icon-scheduled-path-3-fill: #ededed;
  --terra-icon-success-path-1-fill: #427c1e;
  --terra-icon-success-path-2-fill: #ededed;
  --terra-icon-success-inverse-path-1-fill: #b2b5b6;
  --terra-icon-unexpected-path-1-fill: #6f7477;
  --terra-icon-unspecified-path-1-fill: #b2b5b6;
  --terra-icon-warning-path-1-fill: #ffb166;
  --terra-icon-warning-path-2-fill: #222a2e;
}
