@import '~terra-mixins/lib/Mixins';

:local {
  .select {
    background-color: var(--terra-form-select-background-color, #fff);
    border-radius: var(--terra-form-select-border-radius, 3px);
    color: var(--terra-form-select-color, #1c1f21);
    display: flex;
    font-size: var(--terra-form-select-font-size, 1.143rem);
    line-height: var(--terra-form-select-line-height, 1.75);
  }

  .default {
    background-size: var(--terra-form-select-background-size, 0 0);
    border: var(--terra-form-select-border, 1px solid #dedfe0);
    border-radius: var(--terra-form-select-border-radius, 3px);
    cursor: pointer;
    padding-bottom: var(--terra-form-select-padding-bottom, 0);
    padding-left: var(--terra-form-select-padding-left, 0.42857rem);
    padding-right: var(--terra-form-select-padding-right, 0);
    padding-top: var(--terra-form-select-padding-top, 0);

    > .display {
      border: 0;
      display: inline-block;
      flex: 1 1 auto; // IE 10
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      white-space: nowrap;
    }

    &.is-focused {
      background-image: var(--terra-form-select-focus-background-image, none);
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: var(--terra-form-select-focus-background-size, 0 0);
      border-color: var(--terra-form-select-focus-border-color, #4cb2e9);
      box-shadow: var(--terra-form-select-focus-box-shadow, 0 0 0 2px rgba(76, 178, 233, 0.25));
      outline: none;
      transition-duration: var(--terra-form-select-focus-transition-duration, 0s);
      transition-property: background-size;
      transition-timing-function: var(--terra-form-select-focus-transition-timing-function, ease);
    }

    &.is-open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: var(--terra-form-select-open-border-top-left-radius, 3px);
      border-top-right-radius: var(--terra-form-select-open-border-top-right-radius, 3px);
      box-shadow: none;
    }

    &.is-above {
      border-bottom-left-radius: var(--terra-form-select-above-border-bottom-left-radius, 3px);
      border-bottom-right-radius: var(--terra-form-select-above-border-bottom-right-radius, 3px);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:hover {
      border-color: var(--terra-form-select-hover-border-color, #dedfe0);
      color: var(--terra-form-select-hover-color, inherit);
    }

    &.is-focused:hover {
      border-color: var(--terra-form-select-focus-hover-border-color, #4cb2e9);
    }

    &.is-invalid {
      background-color: var(--terra-form-select-invalid-background-color, none);
      background-image: var(--terra-form-select-invalid-background-image, none);
      border-color: var(--terra-form-select-invalid-border-color, #dedfe0);
    }

    &.is-invalid.is-focused {
      background-size: var(--terra-form-select-invalid-focus-background-size, 0 0);
      border-color: var(--terra-form-select-invalid-focus-border-color, #4cb2e9);
    }

    &.is-invalid:hover {
      border-color: var(--terra-form-select-invalid-hover-border-color, #dedfe0);
    }
  }

  .display {
    overflow: hidden; // IE 10
    position: relative; // Displays the box-shadow above the toggle border
  }

  .arrow-icon {
    background: var(--terra-form-select-arrow-background, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block; // IE 10
    height: var(--terra-form-select-arrow-height, 0.715rem);
    width: var(--terra-form-select-arrow-width, 1rem);
  }

  .is-disabled {
    background-color: var(--terra-form-select-disabled-background-color, rgba(111, 116, 119, 0.2));
    border-color: var(--terra-form-select-disabled-border-color, #dedfe0);
    color: var(--terra-form-select-disabled-color, #1c1f21);
    cursor: default;
    opacity: var(--terra-form-select-disabled-opacity, 0.4);
    pointer-events: none;

    .arrow-icon {
      background: var(--terra-form-select-disabled-arrow-background, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>'));
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block; // IE 10
    }

    .search-input::placeholder,
    .placeholder {
      color: var(--terra-form-select-disabled-placeholder-color, #70787c);
      font-style: var(--terra-form-select-disabled-placeholder-font-style);
    }
  }

  .toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
    padding: var(--terra-form-select-toggle-padding, 0 0.42857rem);
  }

  .toggle-narrow {
    padding: 0;
  }

  .toggle-btn {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    height: 100%;
    line-height: 0;
    margin: 0;
    padding: var(--terra-form-select-toggle-padding, 0 0.42857rem);

    // Remove the inner border and padding in Firefox.
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }

  .content {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap; // IE 10
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-bottom: var(--terra-form-select-content-padding-bottom, 0.21428571428571427rem);
    padding-left: var(--terra-form-select-content-padding-left, 0);
    padding-right: var(--terra-form-select-content-padding-right, 0);
    padding-top: var(--terra-form-select-content-padding-top, 0);
  }

  .content > li:first-child {
    display: flex;
    flex: 0 1 auto;
  }

  .display-content {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap; // IE 10
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  // A reduced, non-zero, height and width allows the input to receive focus using tab.
  // Browsers disable focus on inputs with a 0 x 0 height and width.
  .search-input.is-hidden {
    height: 0.1px;
    margin: 0;
    opacity: 0;
    width: 1px;
  }

  .search-wrapper {
    display: flex;
    flex: 1 1 auto; // IE 10
    max-width: 100%; // IE 10
    min-width: 0; // IE 11
    pointer-events: none; // This fixes an issue with onClick events not being properly activated. This bug is not present in IE 10
  }

  .search-input,
  .search-input:focus {
    background: transparent;
    border: 0;
    color: inherit;
    flex: 1 1 auto;
    font-family: inherit;
    font-size: var(--terra-form-select-search-focus-font-size, 1.143rem);
    height: var(--terra-form-select-search-focus-height, 1.375em);
    margin-top: var(--terra-form-select-search-focus-margin-top, 0.21428571428571427rem);
    max-width: 100%; // IE 10
    min-width: 0; // IE 11
    opacity: 1;
    outline: none;
    padding: 0;
    text-overflow: ellipsis;
    width: auto;
  }

  // Hides the clear buttons in IE.
  .select ::-ms-clear {
    display: none;
    height: 0;
    width: 0;
  }

  .search-input::placeholder,
  .placeholder {
    color: var(--terra-form-select-search-placeholder-color, #70787c);
    font-size: var(--terra-form-select-search-placeholder-font-size, 1.143rem);
    font-style: var(--terra-form-select-search-placeholder-font-style);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tag,
  .search,
  .combobox,
  .multiple {
    > .display {
      background-size: var(--terra-form-select-background-size, 0 0);
      border: var(--terra-form-select-border, 1px solid #dedfe0);
      border-bottom-left-radius: var(--terra-form-select-border-bottom-left-radius, 3px);
      border-top-left-radius: var(--terra-form-select-border-top-left-radius, 3px);
      cursor: text;
      display: flex;
      flex: 1 1 auto; // IE 10
      padding-bottom: var(--terra-form-select-padding-bottom, 0);
      padding-left: var(--terra-form-select-padding-left, 0.42857rem);
      padding-right: var(--terra-form-select-padding-right, 0);
      padding-top: var(--terra-form-select-padding-top, 0);

      &:hover {
        border-color: var(--terra-form-select-hover-border-color, #dedfe0);
        color: var(--terra-form-select-hover-color, inherit);
      }
    }

    > .toggle {
      border: var(--terra-form-select-toggle-border, 1px solid #dedfe0);
      border-bottom-right-radius: var(--terra-form-select-border-bottom-right-radius, 3px);
      border-left: 0;
      border-top-right-radius: var(--terra-form-select-border-top-right-radius, 3px);

      &:hover {
        background-color: var(--terra-form-select-toggle-hover-background-color, none);
      }
    }

    &.is-focused {
      > .display {
        background-image: var(--terra-form-select-focus-background-image, none);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: var(--terra-form-select-focus-background-size, 0 0);
        border-color: var(--terra-form-select-focus-border-color, #4cb2e9);
        box-shadow: var(--terra-form-select-focus-box-shadow, 0 0 0 2px rgba(76, 178, 233, 0.25));
        outline: none;
        transition-duration: var(--terra-form-select-focus-transition-duration, 0s);
        transition-property: background-size;
        transition-timing-function: var(--terra-form-select-focus-transition-timing-function, ease);
      }
    }

    &.is-open {
      > .display {
        border-bottom-left-radius: 0;
        box-shadow: none;
      }

      > .toggle {
        border-bottom-right-radius: 0;
      }
    }

    &.is-above {
      > .display {
        border-bottom-left-radius: var(--terra-form-select-above-border-bottom-left-radius, 3px);
        border-top-left-radius: 0;
      }

      > .toggle {
        border-bottom-right-radius: var(--terra-form-select-above-border-bottom-right-radius, 3px);
        border-top-right-radius: 0;
      }
    }

    &.is-focused:hover > .display {
      border-color: var(--terra-form-select-focus-hover-border-color, #4cb2e9);
    }

    &.is-invalid > .display {
      background-color: var(--terra-form-select-invalid-background-color, none);
      background-image: var(--terra-form-select-invalid-background-image, none);
      border-color: var(--terra-form-select-invalid-border-color, #dedfe0);
    }

    &.is-invalid.is-focused > .display {
      background-size: var(--terra-form-select-invalid-focus-background-size, 0 0);
      border-color: var(--terra-form-select-invalid-focus-border-color, #4cb2e9);
      box-shadow: var(--terra-form-select-invalid-focus-box-shadow, 0 0 0 2px rgba(76, 178, 233, 0.25));
    }

    &.is-invalid:hover > .display {
      border-color: var(--terra-form-select-invalid-hover-border-color, #dedfe0);
    }
  }

  .is-invalid .arrow-icon {
    background: var(--terra-form-select-invalid-arrow-background, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block; // IE 10
  }

  .visually-hidden-component {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap; /* Ensures words  are not read one at a time on screen readers*/
    width: 1px;
  }
}
