// Button Group variant's color schemes
$terra-button-group-neutral-color-scheme: (
  background-color: var(--terra-button-group-background-color-neutral, #dedfe0),
  border-color: var(--terra-button-group-border-color-neutral, #c8cacb),
  box-shadow: var(--terra-button-group-box-shadow-neutral, none),
  color: var(--terra-button-group-color-neutral, #1c1f21),
  disabled-opacity: var(--terra-button-group-button-disabled-opacity-neutral, 0.3),
  focus-background-color: var(--terra-button-group-focus-background-color-neutral, #dedfe0),
  focus-border-color: var(--terra-button-group-focus-border-color-neutral, #c8cacb),
  focus-box-shadow: var(--terra-button-group-focus-box-shadow-neutral, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35)),
  hover-background-color: var(--terra-button-group-hover-background-color-neutral, #b9bbbc),
  hover-color: var(--terra-button-group-hover-color-neutral, #000),
  selected-hover-background-color: var(--terra-button-group-button-selected-and-hover-background-color-neutral, #40474a),
  selected-hover-border-color: var(--terra-button-group-button-selected-and-hover-border-color-neutral, #40474a),
  selected-hover-box-shadow: var(--terra-button-group-button-selected-and-hover-box-shadow-neutral),
  selected-hover-color: var(--terra-button-group-button-selected-and-hover-color-neutral, #fff),
  selected-and-focus-background-color: var(--terra-button-group-button-selected-and-focus-background-color-neutral, #52585b),
  selected-and-focus-border-color: var(--terra-button-group-button-selected-and-focus-border-color-neutral, #52585b),
  selected-and-focus-box-shadow: var(--terra-button-group-button-selected-and-focus-box-shadow-neutral, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35)),
  selected-and-focus-color: var(--terra-button-group-button-selected-and-focus-color-neutral, #fff),
  selected-background-color: var(--terra-button-group-selected-background-color-neutral, #52585b),
  selected-border-color: var(--terra-button-group-selected-border-color-neutral, #52585b),
  selected-box-shadow: var(--terra-button-group-selected-box-shadow-neutral),
  selected-color: var(--terra-button-group-selected-color-neutral, #fff),
  active-background-color: var(--terra-button-group-active-background-color-neutral, #52585b),
  active-border-color: var(--terra-button-group-active-border-color-neutral, #52585b),
  active-box-shadow: var(--terra-button-group-active-box-shadow-neutral),
  active-color: var(--terra-button-group-active-color-neutral, #fff),
);

$terra-button-group-emphasis-color-scheme: (
  background-color: var(--terra-button-group-background-color-emphasis, #0079be),
  border-color: var(--terra-button-group-border-color-emphasis, #01639e),
  box-shadow: var(--terra-button-group-box-shadow-emphasis, none),
  color: var(--terra-button-group-color-emphasis, #fff),
  disabled-opacity: var(--terra-button-group-button-disabled-opacity-emphasis, 0.3),
  focus-background-color: var(--terra-button-group-focus-background-color-emphasis, #0079be),
  focus-border-color: var(--terra-button-group-focus-border-color-emphasis, #01639e),
  focus-box-shadow: var(--terra-button-group-focus-box-shadow-emphasis, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35)),
  hover-background-color: var(--terra-button-group-hover-background-color-emphasis, #0065a3),
  hover-color: var(--terra-button-group-hover-color-emphasis, #fff),

  selected-hover-background-color: var(--terra-button-group-button-selected-and-hover-background-color-emphasis, #004c76),
  selected-hover-border-color: var(--terra-button-group-button-selected-and-hover-border-color-emphasis, #0065a3),
  selected-hover-box-shadow: var(--terra-button-group-button-selected-and-hover-box-shadow-emphasis),
  selected-hover-color: var(--terra-button-group-button-selected-and-hover-color-emphasis, #fff),
  selected-and-focus-background-color: var(--terra-button-group-button-selected-and-focus-background-color-emphasis, #52585b),
  selected-and-focus-border-color: var(--terra-button-group-button-selected-and-focus-border-color-emphasis, #52585b),
  selected-and-focus-box-shadow: var(--terra-button-group-button-selected-and-focus-box-shadow-emphasis, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35)),
  selected-and-focus-color: var(--terra-button-group-button-selected-and-focus-color-emphasis, #fff),
  selected-background-color: var(--terra-button-group-selected-background-color-emphasis, #52585b),
  selected-border-color: var(--terra-button-group-selected-border-color-emphasis, #52585b),
  selected-box-shadow: var(--terra-button-group-selected-box-shadow-emphasis),
  selected-color: var(--terra-button-group-selected-color-emphasis, #fff),

  active-background-color: var(--terra-button-group-active-background-color-emphasis, #004c76),
  active-border-color: var(--terra-button-group-active-border-color-emphasis, #0065a3),
  active-box-shadow: var(--terra-button-group-active-box-shadow-emphasis),
  active-color: var(--terra-button-group-active-color-emphasis, #fff)
);

$terra-button-group-ghost-color-scheme: (
  background-color: var(--terra-button-group-background-color-ghost, transparent),
  border-color: var(--terra-button-group-border-color-ghost, rgba(28, 31, 33, 0.25)),
  box-shadow: var(--terra-button-group-box-shadow-ghost, none),
  color: var(--terra-button-group-color-ghost, #1c1f21),
  disabled-opacity: var(--terra-button-group-button-disabled-opacity-ghost, 0.3),
  focus-background-color: var(--terra-button-group-focus-background-color-ghost, transparent),
  focus-border-color: var(--terra-button-group-focus-border-color-ghost, rgba(28, 31, 33, 0.25)),
  focus-box-shadow: var(--terra-button-group-focus-box-shadow-ghost, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35)),
  hover-background-color: var(--terra-button-group-hover-background-color-ghost, rgba(0, 0, 0, 0.05)),
  hover-color: var(--terra-button-group-hover-color-ghost, #000),

  selected-hover-background-color: var(--terra-button-group-button-selected-and-hover-background-color-ghost, #400),
  selected-hover-border-color: var(--terra-button-group-button-selected-and-hover-border-color-ghost, #b9bbbc),
  selected-hover-box-shadow: var(--terra-button-group-button-selected-and-hover-box-shadow-ghost, #c8cacb),
  selected-hover-color: var(--terra-button-group-button-selected-and-hover-color-ghost, #000),
  selected-and-focus-background-color: var(--terra-button-group-button-selected-and-focus-background-color-ghost, #52585b),
  selected-and-focus-border-color: var(--terra-button-group-button-selected-and-focus-border-color-ghost, #52585b),
  selected-and-focus-box-shadow: var(--terra-button-group-button-selected-and-focus-box-shadow-ghost, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35)),
  selected-and-focus-color: var(--terra-button-group-button-selected-and-focus-color-ghost, #fff),
  selected-background-color: var(--terra-button-group-selected-background-color-ghost, #400),
  selected-border-color: var(--terra-button-group-selected-border-color-ghost, #b9bbbc),
  selected-box-shadow: var(--terra-button-group-selected-box-shadow-ghost, #c8cacb),
  selected-color: var(--terra-button-group-selected-color-ghost, #000),

  active-background-color: var(--terra-button-group-active-background-color-ghost, rgba(0, 0, 0, 0.09)),
  active-border-color: var(--terra-button-group-active-border-color-ghost, #4a4a4a),
  active-box-shadow: var(--terra-button-group-active-box-shadow-ghost),
  active-color: var(--terra-button-group-active-color-ghost, #000)
);

$terra-button-group-de-emphasis-color-scheme: (
  background-color: var(--terra-button-group-background-color-de-emphasis, transparent),
  border-color: var(--terra-button-group-border-color-de-emphasis, transparent),
  box-shadow: var(--terra-button-group-box-shadow-de-emphasis, none),
  color: var(--terra-button-group-color-de-emphasis, #0059a8),
  disabled-opacity: var(--terra-button-group-button-disabled-opacity-de-emphasis, 0.3),
  focus-background-color: var(--terra-button-group-focus-background-color-de-emphasis, transparent),
  focus-border-color: var(--terra-button-group-focus-border-color-de-emphasis, transparent),
  focus-box-shadow: var(--terra-button-group-focus-box-shadow-de-emphasis, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35)),
  hover-background-color: var(--terra-button-group-hover-background-color-de-emphasis, transparent),
  hover-color: var(--terra-button-group-hover-color-de-emphasis, #001f67),

  selected-hover-background-color: var(--terra-button-group-button-selected-and-hover-background-color-de-emphasis, #400),
  selected-hover-border-color: var(--terra-button-group-button-selected-and-hover-border-color-de-emphasis, #b9bbbc),
  selected-hover-box-shadow: var(--terra-button-group-button-selected-and-hover-box-shadow-de-emphasis, #c8cacb),
  selected-hover-color: var(--terra-button-group-button-selected-and-hover-color-de-emphasis, #000),
  selected-and-focus-background-color: var(--terra-button-group-button-selected-and-focus-background-color-de-emphasis, #52585b),
  selected-and-focus-border-color: var(--terra-button-group-button-selected-and-focus-border-color-de-emphasis, #52585b),
  selected-and-focus-box-shadow: var(--terra-button-group-button-selected-and-focus-box-shadow-de-emphasis, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35)),
  selected-and-focus-color: var(--terra-button-group-button-selected-and-focus-color-de-emphasis, #fff),
  selected-background-color: var(--terra-button-group-selected-background-color-de-emphasis, #400),
  selected-border-color: var(--terra-button-group-selected-border-color-de-emphasis, #b9bbbc),
  selected-box-shadow: var(--terra-button-group-selected-box-shadow-de-emphasis, #c8cacb),
  selected-color: var(--terra-button-group-selected-color-de-emphasis, #000),

  active-background-color: var(--terra-button-group-active-background-color-de-emphasis, rgba(0, 0, 0, 0.07)),
  active-border-color: var(--terra-button-group-active-border-color-de-emphasis, transparent),
  active-box-shadow: var(--terra-button-group-active-box-shadow-de-emphasis),
  active-color: var(--terra-button-group-active-color-de-emphasis, #0059a8)
);

$terra-button-group-action-color-scheme: (
  background-color: var(--terra-button-group-background-color-action, #0079be),
  border-color: var(--terra-button-group-border-color-action, transparent),
  box-shadow: var(--terra-button-group-box-shadow-action, 0 2px 2px rgba(0, 0, 0, 0.2)),
  color: var(--terra-button-group-color-action, #fff),
  disabled-opacity: var(--terra-button-group-button-disabled-opacity-action, 0.3),
  focus-background-color: var(--terra-button-group-focus-background-color-action, #0079be),
  focus-border-color: var(--terra-button-group-focus-border-color-action, rgba(255, 255, 255, 0.7)),
  focus-box-shadow: var(--terra-button-group-focus-box-shadow-action, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35)),
  hover-background-color: var(--terra-button-group-hover-background-color-action, #0065a3),
  hover-color: var(--terra-button-group-hover-color-action, #fff),

  selected-hover-background-color: var(--terra-button-group-button-selected-and-hover-background-color-action, #400),
  selected-hover-border-color: var(--terra-button-group-button-selected-and-hover-border-color-action, #b9bbbc),
  selected-hover-box-shadow: var(--terra-button-group-button-selected-and-hover-box-shadow-action, #c8cacb),
  selected-hover-color: var(--terra-button-group-button-selected-and-hover-color-action, #000),
  selected-and-focus-background-color: var(--terra-button-group-button-selected-and-focus-background-color-action, #52585b),
  selected-and-focus-border-color: var(--terra-button-group-button-selected-and-focus-border-color-action, #52585b),
  selected-and-focus-box-shadow: var(--terra-button-group-button-selected-and-focus-box-shadow-action, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35)),
  selected-and-focus-color: var(--terra-button-group-button-selected-and-focus-color-action, #fff),
  selected-background-color: var(--terra-button-group-selected-background-color-action, #400),
  selected-border-color: var(--terra-button-group-selected-border-color-action, #b9bbbc),
  selected-box-shadow: var(--terra-button-group-selected-box-shadow-action, #c8cacb),
  selected-color: var(--terra-button-group-selected-color-action, #000),

  active-background-color: var(--terra-button-group-active-background-color-action, #004c76),
  active-border-color: var(--terra-button-group-active-border-color-action, transparent),
  active-box-shadow: var(--terra-button-group-active-box-shadow-action),
  active-color: var(--terra-button-group-active-color-action, #fff)
);

$terra-button-group-utility-color-scheme: (
  background-color: var(--terra-button-group-background-color-utility, transparent),
  border-color: var(--terra-button-group-border-color-utility, transparent),
  box-shadow: var(--terra-button-group-box-shadow-utility, none),
  color: var(--terra-button-group-color-utility, #1c1f21),
  disabled-opacity: var(--terra-button-group-button-disabled-opacity-utility, 0.3),
  focus-background-color: var(--terra-button-group-focus-background-color-utility, transparent),
  focus-border-color: var(--terra-button-group-focus-border-color-utility, transparent),
  focus-box-shadow: var(--terra-button-group-focus-box-shadow-utility, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35)),
  hover-background-color: var(--terra-button-group-hover-background-color-utility),
  hover-color: var(--terra-button-group-hover-color-utility, #1c1f21),

  selected-hover-background-color: var(--terra-button-group-button-selected-and-hover-background-color-utility, #400),
  selected-hover-border-color: var(--terra-button-group-button-selected-and-hover-border-color-utility, #b9bbbc),
  selected-hover-box-shadow: var(--terra-button-group-button-selected-and-hover-box-shadow-utility, #c8cacb),
  selected-hover-color: var(--terra-button-group-button-selected-and-hover-color-utility, #000),
  selected-and-focus-background-color: var(--terra-button-group-button-selected-and-focus-background-color-utility, #52585b),
  selected-and-focus-border-color: var(--terra-button-group-button-selected-and-focus-border-color-utility, #52585b),
  selected-and-focus-box-shadow: var(--terra-button-group-button-selected-and-focus-box-shadow-utility, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35)),
  selected-and-focus-color: var(--terra-button-group-button-selected-and-focus-color-utility, #fff),
  selected-background-color: var(--terra-button-group-selected-background-color-utility, #400),
  selected-border-color: var(--terra-button-group-selected-border-color-utility, #b9bbbc),
  selected-box-shadow: var(--terra-button-group-selected-box-shadow-utility, #c8cacb),
  selected-color: var(--terra-button-group-selected-color-utility, #000),

  active-background-color: var(--terra-button-group-active-background-color-utility, rgba(0, 0, 0, 0.07)),
  active-border-color: var(--terra-button-group-active-border-color-utility, transparent),
  active-box-shadow: var(--terra-button-group-active-box-shadow-utility),
  active-color: var(--terra-button-group-active-color-utility, #1c1f21)
);
