:local {
  .buttonGroup .buttonGroupButton {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    position: relative;

    &:focus {
      // A z-index needs to be added on focus so that the focus ring does not get hidden behind adjacent buttons
      z-index: 1000;
    }
  }

  .buttonGroupButton + .buttonGroupButton {
    margin-left: -1px;
  }

  .buttonGroupButton:first-child {
    border-bottom-left-radius: 0.25em;
    border-top-left-radius: 0.25em;
  }

  .buttonGroupButton:last-child {
    border-bottom-right-radius: 0.25em;
    border-top-right-radius: 0.25em;
  }
}
