// Themes
@import './variables';
@import './mixins';

@import './clinical-lowlight-theme/ButtonGroup.module';
@import './orion-fusion-theme/ButtonGroup.module';

:local {
  .button-group {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
  }

  .button-group-button {
    
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    font-weight: var(--terra-button-group-button-font-weight, 400);
    margin: 0;
    position: relative;

    &.neutral {
      @include terra-button-group-variant-color($terra-button-group-neutral-color-scheme);
    }

    &.emphasis {
      @include terra-button-group-variant-color($terra-button-group-emphasis-color-scheme);
    }

    &.ghost {
      @include terra-button-group-variant-color($terra-button-group-ghost-color-scheme);
    }

    &.de-emphasis {
      @include terra-button-group-variant-color($terra-button-group-de-emphasis-color-scheme);
    }

    &.action {
      @include terra-button-group-variant-color($terra-button-group-action-color-scheme);
    }

    &.utility {
      @include terra-button-group-variant-color($terra-button-group-utility-color-scheme);
    }
  }

  .button-group-button + .button-group-button {
    margin-left: -1px;
  }

  .button-group-button:first-child {
    border-bottom-left-radius: var(--terra-button-group-button-border-bottom-left-radius, 0.2142rem);
    border-top-left-radius: var(--terra-button-group-button-border-top-left-radius, 0.2142rem);
  }

  .button-group-button:last-child {
    border-bottom-right-radius: var(--terra-button-group-button-border-bottom-right-radius, 0.2142rem);
    border-top-right-radius: var(--terra-button-group-button-border-top-right-radius, 0.2142rem);
  }

  .is-block {
    width: 100%;

    .button-group-button {
      flex: 1 1 auto;
    }
  }
}
