:local {
  /* stylelint-disable selector-class-pattern  */
  .button-group-button {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    position: relative;

    &:focus {
      // A z-index needs to be added on focus so that the focus ring does not get hidden behind adjacent buttons
      z-index: 1000;
    }
  }

  .button-group-button + .button-group-button {
    margin-left: -1px;
  }

  .button-group-button:first-child {
    border-bottom-left-radius: 0.25em;
    border-top-left-radius: 0.25em;
  }

  .button-group-button:last-child {
    border-bottom-right-radius: 0.25em;
    border-top-right-radius: 0.25em;
  }

  .button-group-button.is-active {
    background-color: #4e5558;
    border-color: #4e5558;
    color: #fff;
  }
  /* stylelint-enable */
}
