@import '~terra-mixins/lib/Mixins';

:local {
  .avatar {
    align-items: center;
    border: var(--terra-avatar-border);
    border-radius: 50%;
    color: var(--terra-avatar-color, rgb(155, 159, 161));
    display: inline-flex;
    height: var(--terra-avatar-height, 3.429em);
    justify-content: center;
    line-height: 0;
    min-height: var(--terra-avatar-min-height); //are min sizes needed?
    min-width: var(--terra-avatar-min-width);
    overflow: hidden;
    position: relative;
    vertical-align: middle; // Fixes gap below image variant
    width: var(--terra-avatar-width, 3.429em);
  }

  .avatar::after {
    border-radius: 50%;
    box-shadow: var(--terra-avatar-image-after-box-shadow);
    content: '';
    display: block;
    height: var(--terra-avatar-after-height, 100%);
    position: absolute;
    width: var(--terra-avatar-after-width, 100%);
  }

  .avatar.neutral {
    background-color: var(--terra-avatar-neutral-background-color, rgb(222, 223, 224));
  }

  .avatar.one {
    background-color: var(--terra-avatar-one-background-color, rgb(222, 223, 224));
  }

  .avatar.two {
    background-color: var(--terra-avatar-two-background-color, rgb(222, 223, 224));
  }

  .avatar.three {
    background-color: var(--terra-avatar-three-background-color, rgb(222, 223, 224));
  }

  .avatar.four {
    background-color: var(--terra-avatar-four-background-color, rgb(222, 223, 224));
  }

  .avatar.five {
    background-color: var(--terra-avatar-five-background-color, rgb(222, 223, 224));
  }

  .avatar.six {
    background-color: var(--terra-avatar-six-background-color, rgb(222, 223, 224));
  }

  .avatar.seven {
    background-color: var(--terra-avatar-seven-background-color, rgb(222, 223, 224));
  }

  .avatar.eight {
    background-color: var(--terra-avatar-eight-background-color, rgb(222, 223, 224));
  }

  .avatar.nine {
    background-color: var(--terra-avatar-nine-background-color, rgb(222, 223, 224));
  }

  .avatar.ten {
    background-color: var(--terra-avatar-ten-background-color, rgb(222, 223, 224));
  }

  .avatar.is-deceased {
    opacity: var(--terra-avatar-is-decased-opacity, rgb(222, 223, 224));
  }

  .avatar-icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
    width: 100%;

    /* Disabling so that single quotes can be used in svg string */
    /* stylelint-disable string-quotes */
    &.facility {
      background-image: var(--terra-avatar-icon-facility-background-image, inline-svg("<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='rgb(155, 159, 161)' viewBox='0 0 48 48'><path d='M33,20.2V12H15v8.2H9.8V48h12v-9h4.5v9h12V20.2H33z M17.2,42.8h-3V39h3V42.8z M17.2,33.8h-3V30h3V33.8z M25.5,33.8h-3V30h3 V33.8z M29.2,22.5h-3.8v3.8h-3v-3.8h-3.8v-3h3.8v-3.8h3v3.8h3.8V22.5z M33.8,42.8h-3V39h3V42.8z M33.8,33.8h-3V30h3V33.8z'/></svg>"));

    }

    &.multi-user {
      background: var(--terra-avatar-icon-multi-user-background-image, inline-svg("<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='rgb(155, 159, 161)' viewBox='0 0 48 48'><path d='M15 0a8.7 8.7 0 1 1-8.7 8.7A8.71 8.71 0 0 1 15 0zm18 11a8.7 8.7 0 1 1-8.7 8.7A8.71 8.71 0 0 1 33 11zm15 37v-4.4a12.93 12.93 0 0 0-12.9-12.9h-4.2A12.93 12.93 0 0 0 18 43.6V48zM25.5 28.7a11.32 11.32 0 0 1-4.1-8.3 14.21 14.21 0 0 0-4.2-.7H13A13 13 0 0 0 0 32.6V37h16.4a15.52 15.52 0 0 1 9.1-8.3z'/></svg>"));
      margin-left: var(--terra-avatar-icon-multi-user-margin-left, 0.2857rem);
      margin-top: var(--terra-avatar-icon-multi-user-margin-top, 0.5714rem);
    }

    &.user {
      background: var(--terra-avatar-icon-user-background-image, inline-svg("<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='rgb(155, 159, 161)' viewBox='0 0 48 48'><path d='M24,8.6c5.1,0,9.3,4.2,9.3,9.3s-4.2,9.3-9.3,9.3s-9.3-4.2-9.3-9.3C14.8,12.8,18.9,8.6,24,8.6z M40,48v-4.7 c0-7.6-6.1-13.8-13.7-13.8c0,0,0,0,0,0h-4.5C14.1,29.6,8,35.7,8,43.3c0,0,0,0,0,0V48H40z'/></svg>"));
    }
    /* stylelint-enable string-quotes */
  }

  .avatar-image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .avatar-text {
    font-size: var(--terra-avatar-font-size, 1.571rem);
  }
}
