@import '~terra-mixins';

:local {
  .avatar {
    align-items: center;
    background-color: var(--terra-avatar-background-color, rgb(222, 223, 224));
    border: var(--terra-avatar-border);
    border-radius: 50%;
    box-shadow: var(--terra-avatar-box-shadow);
    color: var(--terra-avatar-color, rgb(155, 159, 161));
    display: inline-flex;
    height: var(--terra-avatar-size, 3.429rem);
    justify-content: center;
    line-height: 0;
    overflow: hidden;
    vertical-align: middle; // Fixes gap below image variant
    width: var(--terra-avatar-size, 3.429rem);
  }

  .avatar-icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
    width: 100%;

    /* Disabling so that single quotes can be used in svg string */
    /* stylelint-disable string-quotes */
    &.facility {
      background: var(--terra-avatar-icon-facility, inline-svg("<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='rgb(155, 159, 161)' viewBox='0 0 48 48'><path d='M33,20.2V12H15v8.2H9.8V48h12v-9h4.5v9h12V20.2H33z M17.2,42.8h-3V39h3V42.8z M17.2,33.8h-3V30h3V33.8z M25.5,33.8h-3V30h3 V33.8z M29.2,22.5h-3.8v3.8h-3v-3.8h-3.8v-3h3.8v-3.8h3v3.8h3.8V22.5z M33.8,42.8h-3V39h3V42.8z M33.8,33.8h-3V30h3V33.8z'/></svg>"));
    }

    &.user {
      background: var(--terra-avatar-icon-user, inline-svg("<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='rgb(155, 159, 161)' viewBox='0 0 48 48'><path d='M24,8.6c5.1,0,9.3,4.2,9.3,9.3s-4.2,9.3-9.3,9.3s-9.3-4.2-9.3-9.3C14.8,12.8,18.9,8.6,24,8.6z M40,48v-4.7 c0-7.6-6.1-13.8-13.7-13.8c0,0,0,0,0,0h-4.5C14.1,29.6,8,35.7,8,43.3c0,0,0,0,0,0V48H40z'/></svg>"));
    }
    /* stylelint-enable string-quotes */
  }

  .avatar-image {
    height: 100%;
    width: 100%;
  }

  .avatar-text {
    font-size: var(--terra-avatar-font-size, 1.571rem);
  }

  // .avatar-text-small {
  //   font-size: var(--terra-avatar-font-size-small, 1.143rem);
  // }
}
