// Themes
@import './clinical-lowlight-theme/Pill.module';
@import './orion-fusion-theme/Pill.module';

:local {
  .pill-container {
    background-color: var(--terra-pills-pill-container-background-color, #fff);
    border-width: 1px;
    border-style: solid;
    border-color: var(--terra-pills-pill-container-border-color, #868a8c);
    border-radius: var(--terra-pills-pill-container-border-radius, 0.85714rem);
    display: inline-flex;
    margin: var(--terra-pills-pill-container-margin, 0.35714rem);
    outline: none;

    &.is-focusable {
      &[data-terra-pills-show-focus-styles='true']:focus {
        border-color: var(--terra-pills-pill-container-border-color-focus, #868a8c);
        box-shadow: var(--terra-pills-pill-container-box-shadow-focus, none);
        outline: var(--terra-pills-pill-container-outline-focus, 2px dashed #000);
        outline-offset: var(--terra-pills-pill-container-outline-offset-focus, 2px);
      }
    }

    &.is-selectable {
      &:hover {
        border-color: var(--terra-pills-pill-container-selectable-border-color-hover, #868a8c);
      }
  
      &:active {
        border-color: var(--terra-pills-pill-container-selectable-border-color-active, #868a8c);
      }
    }

    &.is-selectable-and-removable {
      &:hover {
        border-color: var(--terra-pills-pill-container-selectable-removable-border-color-hover, #868a8c);
      }
  
      &:active {
        border-color: var(--terra-pills-pill-container-selectable-removable-border-color-active, #868a8c);
      }
    }
  }

  .pill-label {
    border-radius: var(--terra-pills-pill-label-border-radius, 0.78571rem);
    color: var(--terra-pills-pill-label-color, #4d5153);
    display: inline-block;
    font-size: var(--terra-pills-pill-label-font-size, 0.85714rem);
    line-height: 1.16667;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: var(--terra-pills-pill-label-padding-bottom, 0.28571rem);
    padding-left: var(--terra-pills-pill-label-padding-left, 0.71428rem);
    padding-right: var(--terra-pills-pill-label-padding-right, 0.71428rem);
    padding-top: var(--terra-pills-pill-label-padding-top, 0.28571rem);
    text-overflow: ellipsis;
    white-space: nowrap;

    &.is-selectable {
      &:hover {
        background-color: var(--terra-pills-pill-label-selectable-background-color-hover, #dedfe0);
      }
  
      &:active {
        background-color: var(--terra-pills-pill-label-selectable-background-color-active, #bcbfc0);
        color: var(--terra-pills-pill-label-selectable-color-active, #4d5153);
      }
    }

    &.is-removable {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      padding-right: var(--terra-pills-pill-label-padding-right-removable, 0.35714rem);
    }

    &.is-selectable-and-removable {
      &:hover {
        background-color: var(--terra-pills-pill-label-selectable-removable-background-color-hover, #dedfe0);
        color: var(--terra-pills-pill-label-selectable-removable-color-hover, #222a2e);
      }
  
      &:active {
        background-color: var(--terra-pills-pill-label-selectable-removable-background-color-active, #bcbfc0);
        color: var(--terra-pills-pill-label-selectable-removable-color-active, #222a2e);
      }
    }
  }

  .remove-button {
    background-color: var(--terra-pills-pill-remove-button-background-color, #fff);
    border-bottom-right-radius: var(--terra-pills-pill-remove-button-border-bottom-right-radius, 0.78571rem);
    border-left: 1px solid #000;
    border-top-right-radius: var(--terra-pills-pill-remove-button-border-top-right-radius, 0.78571rem);
    color: var(--terra-pills-pill-remove-button-color, #4d5153);
    line-height: 0.57142;
    padding-bottom: var(--terra-pills-pill-remove-button-padding-bottom, 0.5rem);
    padding-left: var(--terra-pills-pill-remove-button-padding-left, 0.35714rem);
    padding-right: var(--terra-pills-pill-remove-button-padding-right, 0.71428rem);
    padding-top: var(--terra-pills-pill-remove-button-padding-top, 0.28571rem);

    &:hover {
      background-color: var(--terra-pills-pill-remove-button-background-color-hover, #dedfe0);
      color: var(--terra-pills-pill-remove-button-color-hover, #222a2e);
    }

    &:active {
      background-color: var(--terra-pills-pill-remove-button-background-color-active, #bcbfc0);
      color: var(--terra-pills-pill-remove-button-color-active, #222a2e);
    }
  }

  .clear-icon {
    height: var(--terra-pills-clear-icon-height, 0.57143rem);
    width: var(--terra-pills-clear-icon-width, 0.57143rem);
  }

  .pill-list {
    border: 1px solid #000;
    visibility: hidden;
    width: 200px;
  }

  .roll-up-pill {
    background-color: var(--terra-pills-roll-up-pill-background-color, #fff);
    border-width: 1px;
    border-style: solid;
    border-color: var(--terra-pills-roll-up-pill-border-color, #868a8c);
    border-radius: var(--terra-pills-roll-up-pill-border-radius, 0.85714rem);
    color: var(--terra-pills-roll-up-pill-color, #4d5153);
    display: inline-block;
    font-size: var(--terra-pills-roll-up-pill-font-size, 0.85714rem);
    line-height: 1.16667;
    margin: var(--terra-pills-roll-up-pill-margin, 0.35714rem);
    outline: none;
    padding-bottom: var(--terra-pills-roll-up-pill-padding-bottom, 0.28571rem);
    padding-left: var(--terra-pills-roll-up-pill-padding-left, 0.71428rem);
    padding-right: var(--terra-pills-roll-up-pill-padding-right, 0.71428rem);
    padding-top: var(--terra-pills-roll-up-pill-padding-top, 0.28571rem);

    &[data-terra-pills-show-focus-styles='true']:focus {
      border-color: var(--terra-pills-roll-up-pill-border-color-focus, #868a8c);
      box-shadow: var(--terra-pills-roll-up-pill-box-shadow-focus, none);
      outline: var(--terra-pills-roll-up-pill-outline-focus, 2px dashed #000);
      outline-offset: var(--terra-pills-roll-up-pill-outline-offset-focus, 2px);
    }

    &:hover {
      background-color: var(--terra-pills-roll-up-pill-background-color-hover, #dedfe0);
      border-color: var(--terra-pills-roll-up-pill-border-color-hover, #868a8c);
    }

    &:active {
      background-color: var(--terra-pills-roll-up-pill-background-color-active, #bcbfc0);
      border-color: var(--terra-pills-roll-up-pill-border-color-active, #868a8c);
      color: var(--terra-pills-roll-up-pill-color-active, #4d5153);
    }
  }
}
