:local {
    .search-error-text {
        color: var(--terra-search-field-error-text-color, #e50000);
        font-size: var(--terra-search-field-error-text-font-size, 0.857rem);
        font-weight: var(--terra-search-field-error-text-font-weight, normal);
        line-height: 1.25;
        margin-top: var(--terra-search-field-error-text-margin-top, 0.357em);
        outline: 0;
        text-align: left;
    }
}