:global {
  --terra-tag-background-color: #f4f4f4;
  --terra-tag-border-color: #dedfe0;
  --terra-tag-border-style: solid;
  --terra-tag-box-shadow: none;
  --terra-tag-color: #64696c;
  --terra-tag-font-size: 1rem;
  --terra-tag-font-weight: 400;
  --terra-tag-line-height: 1.1666666667;
  --terra-tag-margin-bottom: 0.25rem;
  --terra-tag-margin-left: 0.5rem;
  --terra-tag-margin-right: 0.25rem;
  --terra-tag-margin-top: 0.25rem;
  --terra-tag-padding-bottom: 0.25rem;
  --terra-tag-padding-left: 0.5rem;
  --terra-tag-padding-right: 0.25rem;
  --terra-tag-padding-top: 0.25rem;
  --terra-tag-text-decoration: none;
  --terra-tag-interactive-background-color: #fff;
  --terra-tag-interactive-color: #0065a3;
  --terra-tag-interactive-text-decoration: none;
  --terra-tag-focus-background-color: #fff;
  --terra-tag-focus-border-color: #26a2e5;
  --terra-tag-focus-box-shadow: inset 0 3rem 1.5rem -2rem #f4f4f4, 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(76, 178, 233, 0.5), 0 0 6px 4px rgba(76, 178, 233, 0.3);
  --terra-tag-focus-color: #0065a3;
  --terra-tag-focus-text-decoration: none;
  --terra-tag-hover-background-color: #ebf6fd;
  --terra-tag-hover-border-color: #dedfe0;
  --terra-tag-hover-box-shadow: none;
  --terra-tag-hover-color: #090a0a;
  --terra-tag-hover-text-decoration: underline;
  --terra-tag-icon-margin-right: 0.5rem;
  --terra-tag-icon-margin-top: 0;
  --terra-tag-icon-height: 1rem;
  --terra-tag-icon-width: 1rem;
}
