:local {
  .orion-fusion-theme {
    --terra-table-cell-border-bottom: 1px solid #c8cacb;
    --terra-table-cell-border-left: 1px solid #c8cacb;
    --terra-table-cell-border-right: 1px solid #c8cacb;
    --terra-table-cell-selected-background-color: #cbe7fa;
    --terra-table-odd-row-hover-background-color: #e0f2fb;
    --terra-table-even-row-hover-background-color: #d6e8f2;
    --terra-table-pinned-columns-cell-border: 1px solid #c8cacb;
  }
}
