:local {
  .orion-fusion-theme {
    --terra-table-cell-border-bottom: 1px solid #c8cacb;
    --terra-table-cell-border-left: 1px solid #c8cacb;
    --terra-table-cell-border-right: 1px solid #c8cacb;
    --terra-table-pinned-columns-cell-border: 1px solid #c8cacb;
  }
}
