:local {
  .orion-fusion-theme {
    --cell-border-bottom: 1px solid #c8cacb;
    --cell-border-left: 1px solid #c8cacb;
    --cell-border-right: 1px solid #c8cacb;
    --pinned-columns-cell-border: 1px solid #c8cacb;
  }
}
