:local {
  .orion-fusion-theme {
    // Column Headers
    --column-header-text-color: #595f62;
    --column-header-background-color: #fff;
    --column-header-border-bottom: 1px solid #c8cacb;
    --column-header-border-right: 1px solid #c8cacb;
    --column-header-border-top: 1px solid #c8cacb;

    // Pinned Columns
    --pinned-columns-header-border: 1px solid #c8cacb;
    --pinned-columns-header-box-shadow: 1px 0 #c8cacb;

    // Hover
    --header-hover-background-color: #d5e7f2;
  }
}
