// Variables
// ==========================

$terra-list-chevron: $terra-grey-30 !default;
$terra-list-divider-color: $terra-grey-15 !default;
$terra-list-item-selected: $terra-blue-10 !default;
$terra-list-item-hover: $terra-blue-10 !default;
$terra-list-item-hover-opacity: 0.5 !default;
$terra-list-divider-color-item-selected: $terra-blue-70 !default;
$terra-list-item-focus: $terra-grey-15 !default;
