// Variables
// ==========================

:root {
  // Divided list border style
  --terra-list-divider-border: 1px solid #dedfe0;

  // Basic List Element Colors
  --terra-list-chevron-color: #bcbfc0;

  // Selection Styles
  --terra-list-item-hover-background-color: #ebf6fd;
  --terra-list-item-selected-background-color: #ebf6fd;
  --terra-list-item-selected-divider-color: #0092e0;
  --terra-list-item-selected-hover-background-color: darken(#ebf6fd, 5%);
}
