@import '~terra-mixins';

.terra-ListItem {
  display: table;
  width: 100%;
  outline: none;
}

.terra-ListItem > * {
 display: table-cell;
 width: 100%;
}

.terra-ListItem-chrevron {
  display: table-cell;
}

.terra-ListItem-isSelectable {
  cursor: pointer;
  &:hover, &:focus {
    background-color: $terra-blue-10;
  }
}
.terra-ListItem--selected {
  background-color: rgba(239, 68, 0, 0.53);
  &:hover, &:focus {
    background-color: rgba(83, 0, 239, 0.53);
  }
}

.terra-ListItem-chevron > svg {
  color: $terra-grey-30;
}
