@import '~terra-mixins';
@import './variables';

.terra-List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.terra-List-divided > .terra-ListItem {
  border-top: solid 1px $terra-list-divider-color;

  &:last-of-type {
    border-bottom: solid 1px $terra-list-divider-color;
  }
}
