@import 'node_modules/terra-mixins/src/terra-mixins';
@import './variables';
@import './mixins';

.terra-ListItem-hasChevron {
  display: block;
  position: relative; // relative position so the chevron can use absolute position to vertically center itself

  [dir='ltr'] & {
    padding-right: 20px;
  }

  [dir='rtl'] & {
    padding-left: 20px;
  }

  .terra-ListItem-chevron {
    @include terra-position-end(10px);
    display: inline-block;
    fill: $terra-base-color-30;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    position: absolute;
    speak: none;
    text-decoration: inherit;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.terra-ListItem {
  height: 20px;
}

.terra-ListItem-isSelectable {
  cursor: pointer;

  &.terra-ListItem:hover {background-color: $terra-primary-color-10;}

  &.terra-ListItem--selected {background-color: rgba(239, 68, 0, 0.53);}

  &.terra-ListItem--selected:hover {background-color: rgba(83, 0, 239, 0.53);}
}
