// List Component
// ========================================================
/* stylelint-disable selector-max-compound-selectors */
:local {
  .list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .list-item {
    background-color: var(--terra-list-item-background-color);
    margin: 0;
    padding: 0;
  }

  .divided > .list-item {
    border-top: var(--terra-list-divider-border-top, 1px solid #dedfe0);

    &:last-of-type {
      border-bottom: var(--terra-list-last-divider-border-bottom, 1px solid #dedfe0);
    }
  }

  // List Item Component
  // ========================================================

  .arrange-content {
    width: 100%; // Removing this will break things in IE See: https://github.com/cerner/terra-core/pull/1592
  }

  .chevron {
    display: flex;
    margin-bottom: var(--terra-list-item-chevron-margin-bottom);
    margin-left: var(--terra-list-item-chevron-margin-left, 0.7143rem);
    margin-right: var(--terra-list-item-chevron-margin-right, 0.7143rem);
    margin-top: var(--terra-list-item-chevron-margin-top);

    > svg {
      color: var(--terra-list-item-chevron-color, #bcbfc0);
      height: var(--terra-list-item-chevron-height, 0.8572rem);
      width: var(--terra-list-item-chevron-width, 0.8572rem);
    }
  }

  .selected {
    background-color: var(--terra-list-item-selected-background-color, darken(#ebf6fd, 2%));

    .chevron > svg {
      color: var(--terra-list-item-selected-chevron-color, #95adbc);
    }
  }

  .divided .selected {
    &.list-item {
      border-color: var(--terra-list-item-selected-divider-border-color, #0092e0) !important;
    }

    + .list-item {
      border-top-color: var(--terra-list-item-selected-divider-border-top-color, #0092e0);
    }
  }


  .is-selectable {
    cursor: pointer;

    &.list-item:hover {
      background-color: var(--terra-list-item-hover-background-color, lighten(#ebf6fd, 2%)) !important;
    }

    &.list-item:focus {
      background-color: var(--terra-list-item-focus-background-color, lighten(#ebf6fd, 2%)) !important;
      box-shadow: var(--terra-list-item-focus-box-shadow);
      outline: var(--terra-list-item-focus-outline);
    }

    &.selected:hover {
      background-color: var(--terra-list-item-selected-hover-background-color, darken(#ebf6fd, 7%)) !important;
    }

    &.selected:focus {
      background-color: var(--terra-list-item-selected-focus-background-color, darken(#ebf6fd, 7%)) !important;
    }
  }
}
/* stylelint-enable */
