// List Component
// ========================================================
/* stylelint-disable selector-class-pattern, selector-max-compound-selectors */
:local {
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .divided > .list-item {
    border-top: var(--terra-list-divider-border, 1px solid #dedfe0);

    &:last-of-type {
      border-bottom: var(--terra-list-divider-border, 1px solid #dedfe0);
    }
  }

  // List Item Component
  // ========================================================

  .chevron {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;

    > svg {
      color: var(--terra-list-chevron-color, #bcbfc0);
    }
  }

  .selected {
    background-color: var(--terra-list-item-selected-background-color, #ebf6fd);
  }

  .divided .selected {
    &.list-item {
      border-color: var(--terra-list-item-selected-divider-color, #0092e0) !important;
    }

    + .list-item {
      border-top-color: var(--terra-list-item-selected-divider-color, #0092e0);
    }
  }

  .is-selectable {
    cursor: pointer;

    &.list-item:hover,
    &.list-item:focus {
      background-color: var(--terra-list-item-hover-background-color, #ebf6fd) !important;
    }

    &.selected:hover,
    &.selected:focus {
      background-color: var(--terra-list-item-selected-hover-background-color, darken(#ebf6fd, 5%)) !important;
    }
  }
}
/* stylelint-enable */
