// List Item Component
// ========================================================
:local {
  .list-item {
    background-color: var(--terra-list-v3-item-background-color);
    margin: 0;
    padding: 0;
    width: 100%;
  }

  [data-list-items-divided='true'] {
    > .list-item {
      border-top: var(--terra-list-v3-item-divider-border-top, 1px solid #dedfe0);

      &:last-of-type {
        border-bottom: var(--terra-list-v3-item-divider-border-bottom, 1px solid #dedfe0);
      }
    }

    > .selected {
      border-color: var(--terra-list-v3-item-selected-divider-border-color, #0092e0);
  
      // stylelint-disable-next-line selector-max-compound-selectors
      + .list-item {
        border-top-color: var(--terra-list-v3-item-selected-divider-border-top-color, #0092e0);
      }
    }
  }

  .chevron {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;

    > svg {
      color: var(--terra-list-v3-item-chevron-color, #bcbfc0);
    }
  }

  .selected {
    background-color: var(--terra-list-v3-item-selected-background-color, darken(#ebf6fd, 2%));
  }

  .is-selectable {
    cursor: pointer;
    outline: var(--terra-list-v3-item-focus-outline, none);

    &:hover,
    &:active {
      background-color: var(--terra-list-v3-item-hover-background-color, lighten(#ebf6fd, 2%));
    }

    &[data-item-show-focus='true']:focus {
      background-color: var(--terra-list-v3-item-focus-background-color, lighten(#ebf6fd, 2%));
      box-shadow: var(--terra-list-v3-item-focus-box-shadow, inset 0 0 0 1px #26a2e5, inset 0 0 0 4px rgba(76, 178, 233, 0.2));
      z-index: 1;

      &.selected {
        background-color: var(--terra-list-v3-item-selected-focus-background-color, darken(#ebf6fd, 7%));
      }
    }

    &.selected:hover {
      background-color: var(--terra-list-v3-item-selected-hover-background-color, darken(#ebf6fd, 7%)) !important;
    }
  }

  .item-has-chevron {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .item-fill {
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;
  }

  .item-end {
    flex: 0 0 auto;
  }
}
