// List Item Component
// ========================================================
:local {
  .list-item {
    background-color: var(--terra-list-item-background-color);
    margin: 0;
    padding: 0;
  }

  .divided.list-item {
    border-top: var(--terra-list-divider-border, 1px solid #dedfe0);

    &:last-of-type {
      border-bottom: var(--terra-list-divider-border, 1px solid #dedfe0);
    }
  }

  .chevron {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;

    > svg {
      color: var(--terra-list-chevron-color, #bcbfc0);
    }
  }

  .selected {
    background-color: var(--terra-list-item-selected-background-color, darken(#ebf6fd, 2%));
  }

  .divided.selected {
    &.list-item {
      border-color: var(--terra-list-item-selected-divider-color, #0092e0) !important;
    }

    + .list-item {
      border-top-color: var(--terra-list-item-selected-divider-color, #0092e0);
    }
  }

  .is-selectable {
    cursor: pointer;

    &.list-item:hover {
      background-color: var(--terra-list-item-hover-background-color, lighten(#ebf6fd, 2%)) !important;
    }

    &.list-item:focus {
      background-color: var(--terra-list-item-focus-background-color, lighten(#ebf6fd, 2%)) !important;
      box-shadow: var(--terra-list-item-focus-box-shadow, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35));
      outline: var(--terra-list-item-focus-outline);
      z-index: 1;
    }

    &.selected:hover {
      background-color: var(--terra-list-item-selected-hover-background-color, darken(#ebf6fd, 7%)) !important;
    }

    &.selected:focus {
      background-color: var(--terra-list-item-selected-hover-background-color, darken(#ebf6fd, 7%)) !important;
    }

    &[data-focusable='false']:focus {
      box-shadow: none !important;
    }
  }

  .item-has-chevron {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .item-fill {
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;
  }

  .item-end {
    flex: 0 0 auto;
  }
}
