@import '~terra-mixins';

.terra-ListItem-hasChevron {
  display: block;
  position: relative; // relative position so the chevron can use absolute position to vertically center itself

  [dir='ltr'] & {
    @include terra-padding-end(20px);
  }

  [dir='rtl'] & {
    @include terra-padding-start(20px);
  }

  .terra-ListItem-chevron {
    @include terra-position-end(10px);
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    height: 20px;
    position: absolute;
    speak: none;
    text-decoration: inherit;
    top: 50%;
    transform: translate(0, -50%);
  }
  .terra-ListItem-chevron > * {color: $terra-grey-30;}
}

// Update with UX styling
.terra-ListItem--selected {
  background-color: rgba(239, 68, 0, 0.53);
}

.terra-ListItem-isSelectable {
  cursor: pointer;

  &.terra-ListItem:hover {background-color: $terra-blue-10;}

  // Update with UX styling
  &.terra-ListItem--selected:hover {background-color: rgba(83, 0, 239, 0.53);}
}
