@import '~terra-mixins';
@import './variables';

.terra-ListItem-hasChevron {
  display: block;
  position: relative; // relative position so the chevron can use absolute position to vertically center itself

  [dir='ltr'] & {
    @include terra-padding-end(20px);
  }

  [dir='rtl'] & {
    @include terra-padding-start(20px);
  }

  .terra-ListItem-chevron {
    @include terra-position-end(10px);
    color: $terra-list-chevron-color;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    height: 20px;
    position: absolute;
    speak: none;
    text-decoration: inherit;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.terra-ListItem--selected { background-color: $terra-list-item-selected-background-color; }

.terra-List-divided .terra-ListItem--selected {
  &.terra-ListItem { border-color: $terra-list-item-selected-divider-color !important; }
  + .terra-ListItem { border-top-color: $terra-list-item-selected-divider-color; }
}

.terra-ListItem-isSelectable {
  cursor: pointer;

  &.terra-ListItem:hover,
  &.terra-ListItem:focus { background-color: $terra-list-item-hover-background-color !important; }

  &.terra-ListItem--selected:hover,
  &.terra-ListItem--selected:focus { background-color: $terra-list-item-selected-hover-background-color !important; }
}
