/* stylelint-disable selector-max-compound-selectors */

:local {
  // List Component
  // ========================================================
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // List Item Component
  // ========================================================
  .list-item {
    align-items: center;
    background-color: var(--terra-list-item-background-color);
    display: flex;
    justify-content: space-between;
    margin: 0;
    min-height: var(--terra-list-item-min-height);
    padding: 0;
    width: 100%;
  }

  .divider-standard,
  .divider-bottom-only {
    > .list-item {
      border-top: var(--terra-list-item-divider-border-top, 1px solid #dedfe0);

      &:last-of-type {
        border-bottom: var(--terra-list-item-last-divider-border-bottom, 1px solid #dedfe0);
      }

      &.selected {
        border-color: var(--terra-list-item-selected-divider-border-color, #0092e0);
      }

      &.selected + .list-item {
        border-top-color: var(--terra-list-item-selected-divider-border-top-color, #0092e0);
      }
    }
  }

  .divider-bottom-only {
    > .list-item {
      &:first-of-type {
        border-top: 0;
      }
    }
  }

  .padding-standard {
    > .list-item {
      > .item-fill {
        padding-bottom: var(--terra-list-standard-item-fill-padding-bottom, 0.7143rem);
        padding-left: var(--terra-list-standard-item-fill-padding-left, 0.7143rem);
        padding-right: var(--terra-list-standard-item-fill-padding-right, 0.7143rem);
        padding-top: var(--terra-list-standard-item-fill-padding-top, 0.7143rem);
      }
    }
  }

  .padding-compact {
    > .list-item {
      > .item-fill {
        padding-bottom: var(--terra-list-thin-item-fill-padding-bottom, 0.35715rem);
        padding-left: var(--terra-list-thin-item-fill-padding-left, 0.7143rem);
        padding-right: var(--terra-list-thin-item-fill-padding-right, 0.7143rem);
        padding-top: var(--terra-list-thin-item-fill-padding-top, 0.35715rem);
      }
    }
  }

  .chevron {
    display: flex;
    padding-right: var(--terra-list-item-chevron-padding-right, 0.7143rem);

    > svg {
      color: var(--terra-list-item-chevron-color, #bcbfc0);
      height: var(--terra-list-item-chevron-height, 0.8572rem);
      width: var(--terra-list-item-chevron-width, 0.8572rem);
    }
  }

  .selected {
    background-color: var(--terra-list-item-selected-background-color, darken(#ebf6fd, 2%));
  }

  .is-selectable {
    cursor: pointer;
    outline: var(--terra-list-item-focus-outline, none);

    &:hover,
    &:active {
      background-color: var(--terra-list-item-hover-active-background-color, lighten(#ebf6fd, 2%));
    }

    &[data-item-show-focus='true']:focus {
      background-color: var(--terra-list-item-focus-background-color, lighten(#ebf6fd, 2%));
      box-shadow: var(--terra-list-item-focus-box-shadow, inset 0 0 0 1px #26a2e5, inset 0 0 0 4px rgba(76, 178, 233, 0.2));
      z-index: 1;

      &.selected {
        background-color: var(--terra-list-item-selected-focus-background-color, darken(#ebf6fd, 7%));
      }
    }

    &.selected:hover {
      background-color: var(--terra-list-item-selected-hover-background-color, darken(#ebf6fd, 7%)) !important;
    }
  }

  .item-fill {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    width: 100%;
  }

  .item-end {
    flex: 0 0 auto;
  }
}
