@import '~terra-mixins';
@import './variables';


.terra-ListItem-chevron {
  @include terra-padding-horizontal(10px, 10px);
  display: flex;

  > svg {
    color: $terra-list-chevron-color;
  }
}

.terra-ListItem--selected {
  background-color: $terra-list-item-selected-background-color;
}

.terra-List-divided .terra-ListItem--selected {
  &.terra-ListItem {
    border-color: $terra-list-item-selected-divider-color !important;
  }

  + .terra-ListItem {
    border-top-color: $terra-list-item-selected-divider-color;
  }
}

.terra-ListItem-isSelectable {
  cursor: pointer;

  &.terra-ListItem:hover,
  &.terra-ListItem:focus {
    background-color: $terra-list-item-hover-background-color !important;
  }

  &.terra-ListItem--selected:hover,
  &.terra-ListItem--selected:focus {
    background-color: $terra-list-item-selected-hover-background-color !important;
  }
}
