@import '~terra-mixins';
@import './variables';

.terra-ListItem-hasChevron {
  display: block;
  position: relative; // relative position so the chevron can use absolute position to vertically center itself

  [dir='ltr'] & {
    @include terra-padding-end(20px);
  }

  [dir='rtl'] & {
    @include terra-padding-start(20px);
  }

  .terra-ListItem-chevron {
    @include terra-position-end(10px);
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    height: 20px;
    position: absolute;
    speak: none;
    text-decoration: inherit;
    top: 50%;
    transform: translate(0, -50%);
  }
  .terra-ListItem-chevron > * {color: $terra-list-chevron;}
}

.terra-ListItem--selected {
  background-color: $terra-list-item-selected;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.terra-ListItem-isSelectable {
  cursor: pointer;

  &.terra-ListItem:hover {
    background-color: rgba($terra-list-item-hover, $terra-list-item-hover-opacity);
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.2);}
  &.terra-ListItem:focus {outline: none;}
  &.terra-ListItem--selected:hover {background-color: rgba($terra-list-item-hover, $terra-list-item-hover-opacity);}
}
