:global {
  /* theme varaibles for switch-button 
    Switch Label and Status Label:
  --terra-switch-label-font-size: 0;
  --terra-switch-label-color: 0;
  --terra-switch-label-font-weight: 0;
  --terra-switch-label-label-padding: 0;

  --terra-switch-status-label-font-size: 0;
  --terra-switch-status-label-color: 0;
  --terra-switch-status-label-font-weight: 0;
  --terra-switch-status-label-label-padding: 0;

  Switch Tray and Switch Slider:
  --terra-switch-tray-background-color: 0;
  --terra-switch-tray-border-color: 0;
  --terra-switch-tray-border-radius: 0;
  --terra-switch-tray-height: 0;
  --terra-switch-tray-width: 0;

  --terra-switch-slider-background-color: 0;
  --terra-switch-slider-border-color: 0;
  --terra-switch-slider-border-radius: 0;
  --terra-switch-slider-height: 0;
  --terra-switch-slider-width: 0;

  */
}
