:global {
  --terra-form-fieldset-required-legend-before-color: #e50000;
  --terra-form-fieldset-legend-color: #1c1f21;
  --terra-form-fieldset-legend-font-weight: bold;
  --terra-form-fieldset-help-text-color: #64696c;
  --terra-form-fieldset-help-text-font-size: 0.85rem;
  --terra-form-fieldset-help-text-font-weight: normal;
}
