:local {
  .add-left-margin {
    margin-left: 0.7142857143rem;
  }

  .test-style-border {
    border: 10px solid rgb(69, 221, 170);
    border-radius: 25px;
  }

  .test-style-size {
    height: 100px !important;
    width: 50px !important;
  }
}
