:local {
  .orion-fusion-theme {
    --terra-progress-bar-example-1-background-color: rgb(255, 165, 0);
    --terra-progress-bar-example-2-background-color: #8ccc62;
    --terra-progress-bar-example-3-background-color: rgb(255, 0, 0);
    --terra-progress-bar-2-colors-example-1-bar-background-color: #e8e8e8;
    --terra-progress-bar-2-colors-example-1-value-background-color: #8ccc62;
    --terra-progress-bar-2-colors-example-2-bar-background-color: rgb(0, 0, 0);
    --terra-progress-bar-2-colors-example-2-value-background-color: rgb(255, 0, 0);
    --terra-progress-bar-2-colors-example-3-bar-background-color: rgb(0, 0, 139);
    --terra-progress-bar-2-colors-example-3-value-background-color: rgb(255, 165, 0);
    --terra-progress-bar-customized-example-1-bar-background-color: #d3d4d5;
    --terra-progress-bar-customized-example-1-value-background-color: #8ccc62;
    --terra-progress-bar-customized-example-1-border-right: 1px solid #fff;
    --terra-progress-bar-customized-example-1-empty-border-right: 0 solid #fff;
    --terra-progress-bar-customized-example-2-backup-bar-background-color: rgb(0, 0, 255);
    --terra-progress-bar-customized-example-2-backup-value-background-color: rgb(255, 0, 0);
    --terra-progress-bar-customized-example-2-bar-background: linear-gradient(to left, rgb(255, 255, 0), rgb(0, 0, 255));
    --terra-progress-bar-customized-example-2-value-background: linear-gradient(to left, rgb(255, 0, 0), rgb(0, 128, 0));
    --terra-progress-bar-customized-example-2-border-right: 3px solid rgb(0, 255, 0);
    --terra-progress-bar-customized-example-2-empty-border-right: 0 solid rgb(0, 255, 0);
  }
}
