@import './clinical-lowlight-theme/Scroll.module';

:local {
  .scroll {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    width: 100%;
  }

  .scroll:focus {
    outline: 2px dashed var(--terra-scroll-focus-outline, #000);
    outline-offset: -2px;
  }
}
