:global {
  --terra-demographics-banner-background-color: #004c76;
  --terra-demographics-banner-background-image: none;
  --terra-demographics-banner-box-shadow: none;
  --terra-demographics-banner-color: #b2b5b6;
  --terra-demographics-banner-large-box-shadow: none;

  --terra-demographics-banner-deceased-background-color: #1c1f21;
  --terra-demographics-banner-deceased-background-image: none;
  --terra-demographics-banner-deceased-color: #b2b5b6;
  --terra-demographics-banner-deceased-profile-photo-opacity: 0.7;
}
