# Set default code owners for all files in repo
* @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken

terra-avatar/ @yuderekyu @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken

terra-form-checkbox/ @yuderekyu @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken

terra-form-radio/ @yuderekyu @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken

terra-form-select/ @StephenEsser @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken

terra-list/ @dkasper-was-taken @mjhenkes @ryanthemanuel @tbiethman

terra-responsive-element/ @StephenEsser @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken

terra-status-view/ @yuderekyu @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken

terra-table/ @dkasper-was-taken @mjhenkes @ryanthemanuel @tbiethman
