:local {
  .header,
  .content,
  .footer {
    height: 100%;
  }

  .header {
    background-color: #f64747;
  }

  .content {
    background-color: #98fb98;
  }

  .footer {
    background-color: #00bfff;
  }

  .content-container-wrapper {
    height: 200px;
  }
}
