:global {

  // ---------------------- Shared ----------------------- //

  --terra-badge-background-color-default: #2d3539;
  --terra-badge-color-default: #b2b5b6;
  --terra-badge-background-color-primary: #004c76;
  --terra-badge-color-primary: #c9c9c9;
  --terra-badge-background-color-secondary: #406c23;
  --terra-badge-color-secondary: #c9c9c9;
  --terra-badge-background-color-positive: #406c23;
  --terra-badge-color-positive: #c9c9c9;
  --terra-badge-background-color-negative: #fb4c4c;
  --terra-badge-color-negative: #404040;
  --terra-badge-background-color-warning: #ffb166;
  --terra-badge-color-warning: #404040;
  --terra-badge-background-color-info: #004c76;
  --terra-badge-color-info: #c9c9c9;

  --terra-badge-border: none;

  // -------------------- Version 3.x -------------------- //

  // there are no version specific variables for this version

  // -------------------- Version 2.x -------------------- //

  // there are no version specific variables for this version
}
