:local {
  .orion-fusion-theme {
    --terra-icon-information-static-path-1-fill: #007cc3;
    --terra-icon-information-static-path-2-fill: #007cc3;
    --terra-icon-information-static-circle-color: #007cc3;
  }
}
