:local {
  .orion-fusion-theme {
    --terra-icon-discharge-over-due-path-1-fill: #e50000;
    --terra-icon-discharge-over-due-path-2-fill: #fff;
    --terra-icon-discharge-over-due-path-3-fill: currentColor;
  }
}
