:local {
  .orion-fusion-theme {
    --terra-icon-abnormal-low-light-path-1-fill: #c8840e;
    --terra-icon-abnormal-path-1-fill: #654a08;
    --terra-icon-alert-path-1-fill: #e50000;
    --terra-icon-alert-path-2-fill: #fff;
    --terra-icon-available-path-1-fill: #78c346;
    --terra-icon-available-path-2-fill: #fff;
    --terra-icon-bed-assigned-circle-1-fill: #78c346;
    --terra-icon-bed-assigned-path-1-fill: #fff;
    --terra-icon-bed-assigned-path-2-fill: currentColor;
    --terra-icon-complete-path-1-fill: #78c346;
    --terra-icon-complete-path-2-fill: #fff;
    --terra-icon-critical-path-1-fill: #c00;
    --terra-icon-critical-path-2-fill: #fff;
    --terra-icon-critical-inverse-path-1-fill: #fff;
    --terra-icon-device-alert-path-1-fill: currentColor;
    --terra-icon-device-alert-path-2-fill: #e50000;
    --terra-icon-device-alert-path-3-fill: #fff;
    --terra-icon-device-check-path-1-fill: currentColor;
    --terra-icon-device-check-path-2-fill: #78c346;
    --terra-icon-device-check-path-3-fill: #fff;
    --terra-icon-diamond-path-1-fill: #78288c;
    --terra-icon-discharge-coming-due-path-1-fill: #ffc20b;
    --terra-icon-discharge-coming-due-path-2-fill: currentColor;
    --terra-icon-discharge-complete-path-1-fill: currentColor;
    --terra-icon-discharge-complete-path-2-fill: #78c346;
    --terra-icon-discharge-complete-path-3-fill: #fff;
    --terra-icon-discharge-over-due-path-1-fill: #e50000;
    --terra-icon-discharge-over-due-path-2-fill: #fff;
    --terra-icon-discharge-over-due-path-3-fill: currentColor;
    --terra-icon-do-not-disturb-path-1-fill: #e50000;
    --terra-icon-do-not-disturb-path-2-fill: #fff;
    --terra-icon-drug-path-1-fill: #ffc20b;
    --terra-icon-drug-path-2-fill: currentColor;
    --terra-icon-drug-path-3-fill: currentColor;
    --terra-icon-due-soon-path-1-fill: currentColor;
    --terra-icon-due-soon-path-2-fill: #ffc20a;
    --terra-icon-due-soon-path-3-fill: #1c1f21;
    --terra-icon-due-soon-path-4-fill: #1c1f21;
    --terra-icon-error-path-1-fill: #e50000;
    --terra-icon-error-path-2-fill: #fff;
    --terra-icon-error-dark-path-1-fill: currentColor;
    --terra-icon-error-dark-path-2-fill: #fff;
    --terra-icon-featured-outline-yellow-path-1-fill: #ffc20a;
    --terra-icon-featured-outline-yellow-path-2-fill: #231f20;
    --terra-icon-help-inverse-path-1-fill: #fff;
    --terra-icon-help-path-1-fill: #007cc3;
    --terra-icon-help-path-2-fill: #fff;
    --terra-icon-hide-path-1-fill: currentColor;
    --terra-icon-high-path-1-fill: #ff6100;
    --terra-icon-high-inverse-path-1-fill: #fff;
    --terra-icon-high-priority-path-1-fill: currentColor;
    --terra-icon-incomplete-inverse-path-1-fill: #fff;
    --terra-icon-information-path-1-fill: #007cc3;
    --terra-icon-information-path-2-fill: #fff;
    --terra-icon-information-inverse-path-1-fill: #fff;
    --terra-icon-low-path-1-fill: #0053e6;
    --terra-icon-low-risk-path-1-fill: #868a8c;
    --terra-icon-max-path-1-fill: currentColor;
    --terra-icon-min-path-1-fill: currentColor;
    --terra-icon-moderate-path-1-fill: #868a8c;
    --terra-icon-no-risk-path-1-fill: #868a8c;
    --terra-icon-out-of-network-path-1-fill: currentColor;
    --terra-icon-out-of-network-path-2-fill: #e50001;
    --terra-icon-over-due-path-1-fill: currentColor;
    --terra-icon-over-due-path-2-fill: #e50000;
    --terra-icon-over-due-path-3-fill: #fff;
    --terra-icon-pharmacy-reject-path-1-fill: #e50000;
    --terra-icon-pharmacy-reject-path-2-fill: currentColor;
    --terra-icon-roll-up-path-1-fill: currentColor;
    --terra-icon-scheduled-path-1-fill: currentColor;
    --terra-icon-scheduled-path-2-fill: #78c346;
    --terra-icon-scheduled-path-3-fill: #fff;
    --terra-icon-success-path-1-fill: #78c346;
    --terra-icon-success-path-2-fill: #fff;
    --terra-icon-success-inverse-path-1-fill: #fff;
    --terra-icon-unexpected-path-1-fill: #868a8c;
    --terra-icon-unspecified-path-1-fill: #868a8c;
    --terra-icon-warning-path-1-fill: #ffc20a;
    --terra-icon-warning-path-2-fill: #1c1f21;
  }
}
