:local {
  .orion-fusion-theme {
    --terra-icon-discharge-complete-path-1-fill: currentColor;
    --terra-icon-discharge-complete-path-2-fill: #78c346;
    --terra-icon-discharge-complete-path-3-fill: #fff;
  }
}
