:local {
  .orion-fusion-theme {
    --terra-icon-due-soon-path-1-fill: currentColor;
    --terra-icon-due-soon-path-2-fill: #ffc20a;
    --terra-icon-due-soon-path-3-fill: #1c1f21;
    --terra-icon-due-soon-path-4-fill: #1c1f21;
  }
}
