// Button Component
// ====================================================

// Variables
// ==========================

$terra-button-background-color: $terra-base-color-50 !default;
$terra-button-border-color: $terra-grey-40 !default;
$terra-button-border-radius: 0.25em !default;
$terra-button-border-style: solid !default;
$terra-button-border-width: 1px !default;
$terra-button-color: $terra-black !default;
$terra-button-font-family: $terra-application-font-family !default;
$terra-button-font-size: $terra-application-font-size !default;
$terra-button-font-weight: 400 !default;
$terra-button-height: 1.4em !default;
$terra-button-margin: 0 10px 0 0 !default;
$terra-button-padding: 0.25em 0.7em !default;
$terra-button-text-transform: none !default;

// Button class sizes map
$terra-button-font-sizes: (
  tiny: 0.5rem,
  small: 0.8rem,
  medium: 1.1rem,
  large: 1.4rem,
  huge: 1.7rem
) !default;

$terra-button-default-color-scheme: (
  active-background-color: $terra-grey-70,
  active-border-color: $terra-grey-80,
  active-color: $terra-grey-10,
  background-color: $terra-grey-20,
  border-color: $terra-grey-30,
  color: $terra-black,
  hover-background-color: $terra-grey-30,
  hover-color: $terra-black
) !default;

$terra-button-primary-color-scheme: (
  active-background-color: $terra-primary-color-100,
  active-border-color: $terra-text-color-90,
  active-color: $terra-white,
  background-color: $terra-primary-color-80,
  border-color: $terra-primary-color-90,
  color: $terra-white,
  hover-background-color: $terra-primary-color-70,
  hover-color: $terra-white
) !default;

$terra-button-secondary-color-scheme: (
  active-background-color: $terra-secondary-color-90,
  active-border-color: $terra-secondary-color-100,
  active-color: $terra-black,
  background-color: $terra-secondary-color-50,
  border-color: $terra-secondary-color-60,
  color: $terra-black,
  hover-background-color: $terra-secondary-color-50,
  hover-color: $terra-black
) !default;

$terra-button-positive-color-scheme: (
  active-background-color: $terra-positive-color-90,
  active-border-color: $terra-positive-color-100,
  active-color: $terra-black,
  background-color: $terra-positive-color-50,
  border-color: $terra-positive-color-60,
  color: $terra-black,
  hover-background-color: $terra-positive-color-50,
  hover-color: $terra-black
) !default;

$terra-button-negative-color-scheme: (
  active-background-color: $terra-negative-color-90,
  active-border-color: $terra-negative-color-100,
  active-color: $terra-white,
  background-color: $terra-negative-color-70,
  border-color: $terra-negative-color-80,
  color: $terra-white,
  hover-background-color: $terra-negative-color-70,
  hover-color: $terra-white
) !default;

$terra-button-warning-color-scheme: (
  active-background-color: $terra-warning-color-80,
  active-border-color: $terra-warning-color-100,
  active-color: $terra-white,
  background-color: $terra-warning-color-100,
  border-color: $terra-warning-color-100,
  color: $terra-white,
  hover-background-color: $terra-warning-color-90,
  hover-color: $terra-white
) !default;

$terra-button-info-color-scheme: (
  active-background-color: $terra-info-color-90,
  active-border-color: $terra-info-color-70,
  active-color: $terra-white,
  background-color: $terra-info-color-80,
  border-color: $terra-info-color-90,
  color: $terra-white,
  hover-background-color: $terra-info-color-70,
  hover-color: $terra-white
) !default;

// Mixins
// ==========================

// Mixin to generate CSS and classes for color based modifiers
// With the following input the mixin:
//
// Ex:
//   .terra-Button--primary {
//     @include terra-button-style-class($terra-button-primary-color-scheme);
//   }
//
// The mixin will generate styles for terra-Button--primary.
// The mixin will also generate a .terra-Button--primary.terra-Button--outline
// selector and styles
// The mixin will also generate a .terra-Button--primary.terra-Button--link
// selector and styles
@mixin terra-button-style-class($color-map) {
  background-color: map-get($color-map, background-color);
  border-color: map-get($color-map, border-color);
  color: map-get($color-map, color);

  &:focus,
  &:hover {
    background-color: map-get($color-map, hover-background-color);
    color: map-get($color-map, hover-color);
  }

  &:active {
    background-color: map-get($color-map, active-background-color);
    border-color: map-get($color-map, active-border-color);
    color: map-get($color-map, active-color);
  }

  &.terra-Button--outline {
    background-color: transparent;
    color: map-get($color-map, background-color);

    &:focus,
    &:hover {
      background-color: map-get($color-map, hover-background-color);
      color: map-get($color-map, hover-color);
    }

    &:active {
      background-color: map-get($color-map, active-background-color);
      border-color: map-get($color-map, active-border-color);
      color: map-get($color-map, active-color);
    }
  }

  &.terra-Button--link {
    background-color: transparent;
    border-color: transparent;
    color: map-get($color-map, background-color);

    &:active,
    &:hover {
      text-decoration: underline;
    }
  }
}

// Button
// ==========================

// Prevent a WebKit destroys native `audio` and `video` controls
// in Android 4.
// Correct the inability to style clickable types in iOS and Safari.
// Appearance needs to be applied only to button/input elements, as
// applying to anchor element will cause render issue.

// stylelint-disable selector-no-qualifying-type
button.terra-Button,
html input[type='button'].terra-Button,
input[type='reset'].terra-Button,
input[type='submit'].terra-Button {
  appearance: button;  // autoprefix fix into -webkit-appearance
}
// stylelint-enable selector-no-qualifying-type

.terra-Button {
  background-color: $terra-button-background-color;
  border: $terra-button-border-width $terra-button-border-style $terra-button-border-color;
  border-radius: $terra-button-border-radius;
  color: $terra-button-color;
  cursor: pointer;
  display: inline-block;
  font-family: $terra-button-font-family;
  font-size: $terra-application-font-size;
  font-weight: $terra-button-font-weight;
  line-height: $terra-button-height;
  margin: $terra-button-margin;
  padding: $terra-button-padding;
  text-align: center;
  text-transform: $terra-button-text-transform;
  user-select: none;
  vertical-align: middle;
  white-space: normal;

  // Removes extra space Firefox adds to button elements
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// size modifiers
.terra-Button--tiny {
  font-size: map-get($terra-button-font-sizes, tiny);
}

.terra-Button--small {
  font-size: map-get($terra-button-font-sizes, small);
}

.terra-Button--medium {
  font-size: map-get($terra-button-font-sizes, medium);
}

.terra-Button--large {
  font-size: map-get($terra-button-font-sizes, large);
}

.terra-Button--huge {
  font-size: map-get($terra-button-font-sizes, huge);
}

// disabled style modifier
.terra-Button--disabled {
  background-image: none; // suppress gradient
  cursor: default;
  opacity: 0.7;
  pointer-events: none; // prevent pointer interaction for anchor elements
  &:active,
  &:focus,
  &:hover {
    outline: 0;
    text-decoration: none;
  }
}

// color style modifiers
.terra-Button--default {
  @include terra-button-style-class($terra-button-default-color-scheme);
}

.terra-Button--primary {
  @include terra-button-style-class($terra-button-primary-color-scheme);
}

.terra-Button--secondary {
  @include terra-button-style-class($terra-button-secondary-color-scheme);
}

.terra-Button--positive {
  @include terra-button-style-class($terra-button-positive-color-scheme);
}

.terra-Button--negative {
  @include terra-button-style-class($terra-button-negative-color-scheme);
}

.terra-Button--warning {
  @include terra-button-style-class($terra-button-warning-color-scheme);
}

.terra-Button--info {
  @include terra-button-style-class($terra-button-info-color-scheme);
}
