:local {
  .tabs-container {
    width: 100%;
  }

  .collapsible-tabs-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    width: 100%;

    &:focus {
      outline: none;
    }

    &:focus .is-active {
      outline-style: dotted;
    }
  }

  .tab {
    flex: 0 1 auto;
    max-width: 200px;
    min-width: 100px;
  }

  .selection-bar {
    background-color: blue;
    display: block;
    height: 2px;
    transition: transform 0.3s ease-in-out;
  }

  .tab.is-disabled {
    opacity: 0.3;
  }

  .tab.is-icon-only {
    flex: 0 0 auto;
    min-width: none;
  }

  .tab-menu {
    flex: 1 1 auto;
    
    &:focus {
      outline-style: dotted;
    }
  }

  .tab-fill .tab {
    flex: 1 1 auto;
    max-width: none;
    text-align: center;
  }

  .tab,
  .tab-menu {
    cursor: pointer;
    overflow: hidden;
    padding: 0.714rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
  }

  .collapsible-tabs-container.is-calculating {
    visibility: hidden;

    .tab {
      flex: 0 0 auto;
    }
  }
}
