@import './ModularTabs.module';
@import './StructuralTabs.module';

:local {
  .tabs-container {
    width: 100%;
  }

  .collapsible-tabs-container,
  .collapsed-tabs-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .collapsible-tabs-container.is-calculating {
    visibility: hidden;

    /*
     * During calculations tabs should display with auto size and not grow or shrink in order to get
     * content width for trunction logic
     */
    .tab {
      flex: 0 0 auto;
    }
  }

  .tab,
  .tab-menu {
    cursor: pointer;
    font-size: var(--terra-tabs-font-size, 1rem);
    line-height: var(--terra-tabs-line-height, 1.4);
    padding: var(--terra-tabs-padding, 0.643rem 1.071rem);
  }

  .tab,
  .tab-menu span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
  }

  .tab {
    flex: 0 1 auto;
    min-width: 8.357rem;
    text-align: center;

    &.is-icon-only {
      flex: 0 0 auto;
      min-width: 2.571rem;
      padding: var(--terra-tabs-icon-only-padding, 0.5rem 0.857rem);
    }

    &.is-text-only {
      min-width: 7.143rem;
      padding: var(--terra-tabs-text-only-padding, 0.643rem 1.071rem);
    }

    .label:nth-child(2) {
      margin-left: var(--terra-tabs-label-next-to-icon-margin-left, 0.357rem);
    }
  }

  .tab-menu {
    align-items: baseline;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    min-width: 7.143rem;

    span {
      flex: 0 1 auto;
      min-width: 0;
    }

    svg {
      flex: 0 0 auto;
      font-size: 0.571rem;
      margin-left: var(--terra-tabs-menu-arrow-margin-left, 0.5rem);
    }
  }

  .collapsed-tabs-container .tab-menu {
    justify-content: var(--terra-tabs-menu-collapsed-justify-content, flex-start);

    /* stylelint-disable-next-line selector-max-compound-selectors */
    span {
      white-space: normal;
    }
  }

  .pane-content {
    &.fill-parent {
      height: 100%;
    }
  }
}
/* stylelint-enable */
