@import './ModularTabs';
@import './StructuralTabs';

:local {
  .tabs-container {
    width: 100%;
  }

  .collapsible-tabs-container,
  .collapsed-tabs-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .collapsible-tabs-container.is-calculating {
    visibility: hidden;

    /*
     * During calculations tabs should display with auto size and not grow or shrink in order to get
     * content width for trunction logic
     */
    .tab {
      flex: 0 0 auto;
    }
  }

  .tab {
    flex: 0 1 auto;
    min-width: 8.357rem;

    &.is-icon-only {
      flex: 0 0 auto;
      min-width: 2.571rem;
      padding: var(--terra-tabs-icon-only-padding, 0.5rem 0.857rem);
    }

    &.is-text-only {
      min-width: 7.143rem;
      padding: var(--terra-tabs-text-only-padding, 0.429rem 1.071rem 0.357rem);
    }

    .label:nth-child(2) {
      margin-left: var(--terra-tabs-label-margin-next-to-icon, 0.357rem);
    }
  }

  .tab-menu {
    flex: 1 1 auto;
    min-width: 7.143rem;

    svg {
      margin-left: var(--terra-tabs-menu-arrow-left-margin, 0.5rem);
    }
  }

  .tab,
  .tab-menu {
    cursor: pointer;
    font-size: var(--terra-tabs-font-size, 0.857rem);
    line-height: var(--terra-tabs-line-hight, 1.167);
    overflow: hidden;
    padding: var(--terra-tabs-padding, 0.429rem 1.071rem 0.357rem);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
  }

  .collapsed-tabs-container .tab-menu {
    text-align: var(--terra-tabs-menu-text-align, left);
    white-space: normal;
  }

  .tabs-container {
    width: 100%;
  }

  .pane-content {
    background-color: var(--terra-tabs-pane-content-background-color, #fff);
  }
}
