# local-files
*.log
*.tgz
packages/**/package-lock.json

# local folders
.fleet
.idea
.vscode
.DS_Store

# generated folders
aggregated-translations
generated-themes
lib
node_modules
reports
**/__snapshots__/latest
**/__snapshots__/error
**/__snapshots__/diff
