language: generic
sudo: required
services:
  - docker
branches:
  only:
    - master
cache:
  directories:
    - $HOME/docker
env:
  global:
    - DOCKER_IMAGE='cerner/terra-core'
    - TAG="${TRAVIS_PULL_REQUEST_SHA:=latest}"
before_install:
  - sudo chown -R travis:travis $HOME/docker
  # Load cached docker images
  - if [[ -d $HOME/docker ]]; then ls $HOME/docker/*.tar.gz | xargs -I {file} sh -c "zcat {file} | docker load"; fi
before_cache:
  - sudo chown -R travis:travis $HOME/docker
  - if [ $TRAVIS_TEST_RESULT == 1 ]; then rm -f $HOME/docker/*.tar.gz; fi
jobs:
  include:
    - stage: build
      before_install: true
      script:
        - sudo chown -R travis:travis $HOME/docker
        - 'rm -f $HOME/docker/*.tar.gz'
        - travis_wait docker-compose build test-ci
        - travis_wait docker-compose --verbose pull standalone-chrome
        - >
          mkdir -p $HOME/docker && docker images -a --filter='dangling=false' --format '{{.Repository}}:{{.Tag}} {{.ID}}'
          | xargs -n 2 -t sh -c 'test -e $HOME/docker/$1.tar.gz || docker save $0 | gzip -2 > $HOME/docker/$1.tar.gz'
    - stage: danger lint and jest
      script:
        - travis_wait docker-compose run -e DANGER_GITHUB_API_TOKEN=$DANGER_GITHUB_API_TOKEN -e HAS_JOSH_K_SEAL_OF_APPROVAL=$HAS_JOSH_K_SEAL_OF_APPROVAL -e TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST -e TRAVIS_REPO_SLUG=$TRAVIS_REPO_SLUG test-ci bash -c 'npm run danger; npm run lint && npm run jest'
    - stage: wdio
      script:
        - travis_wait docker-compose run test-ci npm run wdio -- --suite suite1
    -
      script:
        - travis_wait docker-compose run test-ci npm run wdio -- --suite suite2
    -
      script:
        - travis_wait docker-compose run test-ci npm run wdio -- --suite suite3
    -
      script:
        - travis_wait docker-compose run test-ci npm run wdio -- --suite suite4
    - stage: deploy
      script: skip
      before_deploy:
        - sudo chown -R travis:travis $HOME/docker
        # Load cached docker images
        - if [[ -d $HOME/docker ]]; then ls $HOME/docker/*.tar.gz | xargs -I {file} sh -c "zcat {file} | docker load"; fi
        - "travis_wait docker-compose run --volume=$TRAVIS_BUILD_DIR/build:/opt/module/build -e TERRA_DEV_SITE_NEW_RELIC_LICENSE_KEY='c494ac44c8' -e TERRA_DEV_SITE_NEW_RELIC_APPLICATION_ID='142450088' test-ci npm run compile:prod"
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
        local_dir: build
        on:
          branch: master
    - stage: clean up cache
      before_install: true
      script:
        - sudo chown -R travis:travis $HOME/docker
        - 'rm -f $HOME/docker/*.tar.gz'
stages:
  - build
  - danger lint and jest
  - wdio
  - name: deploy
    if: type != pull_request
  - clean up cache
