[dir] .examplesetup__outlined-placeholder___Pi97o{border:2px solid #0079be}.examplesetup__placeholder___3KYeh{display:block;height:20px;width:40px}[dir] .examplesetup__placeholder___3KYeh{background-color:#000}.examplesetup__highlighted-placeholder___zUde6{display:block;height:20px;width:40px}[dir] .examplesetup__highlighted-placeholder___zUde6{background-color:#000;background-color:#0079be}

.ArrangeExamples-module__arrange___2a4_m{height:60px;width:500px}[dir] .ArrangeExamples-module__arrange___2a4_m{border:1px solid #000}

