version: '3'

services:
  dev: &dev
    image: "terra-core:dev"
    build:
      context: ./
      args:
        - npm_install=false
    ports:
      - 8080:8080
    environment:
      - CI=true
    depends_on:
      - standalone-chrome
    volumes:
      - .:/opt/module

  standalone-chrome:
    image: selenium/standalone-chrome:3.14.0-helium
    ports:
      - '4444'
    # Necessary due to some issues with chrome in docker.  See https://github.com/SeleniumHQ/docker-selenium#running-the-images
    volumes:
      - '/dev/shm:/dev/shm'
    environment:
      TZ: 'America/Chicago'

  term:
    <<: *dev
    command: "/bin/zsh"

  test-ci:
    build: ./
    image: "${DOCKER_IMAGE}-test-standalone-chrome:${TAG:-latest}"
    environment:
      - CI=true
      - SITE=build
    volumes:
      - $HOME/$TRAVIS_BUILD_ID/build:/opt/module/build
    depends_on:
      - standalone-chrome
    command: 'npm run wdio-default'