version: '3'

services:
  dev:
    image: cerner/terra-node-dev:1
    ports:
      - 8080:8080
    depends_on:
      - standalone-chrome
    volumes:
      - .:/opt/module

  standalone-chrome:
    image: selenium/standalone-chrome:3.14.0-helium
    ports:
      - '4444'
    # Necessary due to some issues with chrome in docker.  See https://github.com/SeleniumHQ/docker-selenium#running-the-images
    volumes:
      - '/dev/shm:/dev/shm'
    environment:
      TZ: 'America/Chicago'

  test-ci:
    build: ./
    image: "${DOCKER_IMAGE}-test:${TAG:-latest}"
    environment:
      - SITE=build
    volumes:
      - $HOME/$TRAVIS_BUILD_ID/build:/opt/module/build
    depends_on:
      - standalone-chrome
    command: 'npm run wdio-default'

  test-ci-lowlight:
    build: ./
    image: "${DOCKER_IMAGE}-test:${TAG:-latest}"
    environment:
      - SITE=build
    volumes:
      - $HOME/$TRAVIS_BUILD_ID/build:/opt/module/build
    depends_on:
      - standalone-chrome
    command: 'npm run wdio-lowlight'
