:local {
  .clinical-lowlight-theme {
    // Used for docsite custom color examples only 
    --terra-status-attention-border-left-color: #f94e4e;
    --terra-status-info-border-left-color: #5a81ff;
    --terra-status-success-border-left-color: #42af00;
  }
}
