@import '~terra-mixins/lib/Mixins';

:global {
  // Radio
  --terra-form-radio-font-color: #1c1f21;
  --terra-form-radio-container-margin-bottom: 0.5rem;
  --terra-form-radio-container-margin-left: 0;
  --terra-form-radio-container-margin-right: 0;
  --terra-form-radio-container-margin-top: 0;
  --terra-form-radio-inline-container-margin-right: 1.25rem;
  --terra-form-radio-font-size: 1rem;
  --terra-form-radio-line-height: 1.41667;
  --terra-form-radio-padding-bottom: 0;
  --terra-form-radio-padding-left: 0;
  --terra-form-radio-native-input-clip: auto;
  --terra-form-radio-native-input-cursor: default;
  --terra-form-radio-native-input-font-size: inherit;
  --terra-form-radio-native-input-height: 1rem;
  --terra-form-radio-native-input-margin-left: 0; // ?!
  --terra-form-radio-native-input-margin-right: 0.5rem;
  --terra-form-radio-native-input-overflow: hidden;
  --terra-form-radio-native-input-padding: 0;
  --terra-form-radio-native-input-width: 1rem;
  --terra-form-radio-label-text-margin-left: 1.584rem;
  --terra-form-radio-outer-ring-background-color: transparent;
  --terra-form-radio-outer-ring-background-image: none;
  --terra-form-radio-outer-ring-border: 0;
  --terra-form-radio-outer-ring-border-radius: 0;
  --terra-form-radio-outer-ring-height: 0;
  --terra-form-radio-outer-ring-margin-top: 0;
  --terra-form-radio-outer-ring-width: 0;
  --terra-form-radio-inner-ring-background-color: transparent;
  --terra-form-radio-inner-ring-border: 0;
  --terra-form-radio-inner-ring-box-shadow: 0 0 1px 1px #fff;
  --terra-form-radio-inner-ring-height: 0;
  --terra-form-radio-inner-ring-transition: none;
  --terra-form-radio-inner-ring-width: 0;
  --terra-form-radio-outer-ring-checked-background-color: transparent;
  --terra-form-radio-outer-ring-checked-background-image: none;
  --terra-form-radio-outer-ring-checked-border: 0;
  --terra-form-radio-outer-ring-checked-border-radius: 0;
  --terra-form-radio-outer-ring-checked-height: 0;
  --terra-form-radio-outer-ring-checked-margin-top: 0;
  --terra-form-radio-outer-ring-checked-width: 0;
  --terra-form-radio-inner-ring-checked-background-color: transparent;
  --terra-form-radio-inner-ring-checked-border: 0;
  --terra-form-radio-inner-ring-checked-box-shadow: 0 0 1px 1px #fff;
  --terra-form-radio-inner-ring-checked-height: 0;
  --terra-form-radio-inner-ring-checked-transition: none;
  --terra-form-radio-inner-ring-checked-width: 0;
  --terra-form-radio-is-mobile-padding-left: 0;
  --terra-form-radio-outer-ring-is-mobile-height: 0;
  --terra-form-radio-outer-ring-is-mobile-margin-top: 0;
  --terra-form-radio-outer-ring-is-mobile-width: 0;
  --terra-form-radio-inner-ring-is-mobile-height: 0;
  --terra-form-radio-inner-ring-is-mobile-width: 0;
  --terra-form-radio-outer-ring-is-mobile-checked-height: 0;
  --terra-form-radio-outer-ring-is-mobile-checked-margin-top: 0;
  --terra-form-radio-outer-ring-is-mobile-checked-width: 0;
  --terra-form-radio-inner-ring-is-mobile-checked-height: 0;
  --terra-form-radio-inner-ring-is-mobile-checked-width: 0;
  --terra-form-radio-label-is-hidden-height: 1rem;
  --terra-form-radio-label-is-hidden-width: 1rem;
  --terra-form-radio-hover-border-color: transparent;
  --terra-form-radio-hover-border-width: 0;
  --terra-form-radio-hover-checked-outer-ring-border-color: transparent;
  --terra-form-radio-hover-checked-outer-ring-border-width: 0;
  --terra-form-radio-disabled-font-color: #9b9fa1;
  --terra-form-radio-disabled-font-opacity: 1;
  --terra-form-radio-outer-ring-disabled-background-color: transparent;
  --terra-form-radio-outer-ring-disabled-background-image: none;
  --terra-form-radio-outer-ring-disabled-border-color: transparent;
  --terra-form-radio-inner-ring-disabled-background-color: transparent;
  --terra-form-radio-inner-ring-disabled-border-color: transparent;
  --terra-form-radio-outer-ring-checked-disabled-background-color: transparent;
  --terra-form-radio-outer-ring-checked-disabled-background-image: none;
  --terra-form-radio-outer-ring-checked-disabled-border-color: transparent;
  --terra-form-radio-inner-ring-checked-disabled-background-color: transparent;
  --terra-form-radio-inner-ring-checked-disabled-border-color: transparent;
  --terra-form-radio-focus-border-color: #000;
  --terra-form-radio-focus-border-width: 3px;
  --terra-form-radio-focus-before-ring-background-color: transparent;
  --terra-form-radio-focus-before-ring-height: 0;
  --terra-form-radio-focus-before-ring-left: auto;
  --terra-form-radio-focus-before-ring-top: auto;
  --terra-form-radio-focus-before-ring-width: 0;

  // RadioField
  --terra-form-radio-field-margin-bottom: 0.5rem;
  --terra-form-radio-field-inline-margin-right: 0;
  --terra-form-radio-field-label-font-size: 1rem;
  --terra-form-radio-field-label-margin-bottom: 0.5rem;
  --terra-form-radio-field-label-color: #1c1f21;
  --terra-form-radio-field-label-font-weight: bold;
  --terra-form-radio-field-label-error-icon-display: none;
  --terra-form-radio-field-error-icon-height: 0;
  --terra-form-radio-field-label-error-icon-margin-right: 0;
  --terra-form-radio-field-error-icon-width: 0;
  --terra-form-radio-field-label-required-color: #e80000;
  --terra-form-radio-field-label-required-padding-right: 0.25rem;
  --terra-form-radio-field-label-optional-font-style: italic;
  --terra-form-radio-field-label-optional-padding-left: 0.25rem;
  --terra-form-radio-field-help-text-color: #64696c;
  --terra-form-radio-field-help-text-font-size: 0.85rem;
  --terra-form-radio-field-help-text-font-weight: normal;
  --terra-form-radio-field-help-text-margin-top: 0.25rem;
  --terra-form-radio-field-error-text-color: #e50000;
  --terra-form-radio-field-error-text-font-size: 0.85rem;
  --terra-form-radio-field-error-text-font-weight: normal;
  --terra-form-radio-field-error-text-margin-top: 0.25rem;

  // Inline SVG
  @include terra-inline-svg-var('--terra-form-radio-field-error-background', '<svg xmlns="http://www.w3.org/2000/svg"></svg>');
}
