@import '~terra-mixins';

.terra-Collapse {
  display: block;
}

.terra-Collapse-icon {
  display: inline-block;
  font-size: 0.8em;
  transform: rotate(0deg);
}

.terra-Collapse.is-open .terra-Collapse-icon {
  transform: rotate(90deg);
}

.terra-Collapse.is-icon-animated .terra-Collapse-icon {
  transition: transform 0.15s ease-in;
}

.terra-Collapse.is-open.is-icon-animated .terra-Collapse-icon {
  transition: transform 0.15s ease-in;
}

.terra-Collapse-buttonText {
  @include terra-padding-start(0.3rem);
}
