:local {
  .clinical-lowlight-theme {
    --terra-progress-bar-border-radius: 0.5em;
    --terra-progress-bar-background-color: #000;
    --terra-progress-bar-progress-background-color: #6f7477;
    --terra-progress-bar-height: 0.8rem;
    --terra-progress-bar-tiny-height: 0.5rem;
    --terra-progress-bar-small-height: 0.8rem;
    --terra-progress-bar-medium-height: 1rem;
    --terra-progress-bar-large-height: 1.4rem;
    --terra-progress-bar-huge-height: 1.7rem;
  }
}
