/* stylelint-disable suitcss/custom-property-no-outside-root */

@import '~terra-mixins';

@include cerner-mock-theme {
  // terra-avatar
  --terra-avatar-background-color: rgba(150, 194, 254, 1);
  --terra-avatar-border: 0.07143rem solid rgb(73, 131, 209);
  --terra-avatar-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  --terra-avatar-color: rgb(73, 131, 209);
  --terra-avatar-font-size-large: 2.5rem;
  --terra-avatar-font-size-small: 1.571rem;
  --terra-avatar-icon-facility: inline-svg("<svg data-name='facility-avatar-icon' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 48 48' enable-background='new 0 0 48 48'><polyline fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-miterlimit='10' points='12.5,47.5 5.5,47.5 5.5,36.2 12.5,35'/><polyline fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-miterlimit='10' points='35.5,47.5 42.5,47.5 42.5,36.2 35.5,35'/><polyline fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' points='21.5,47.5 21.5,41.5 26.5,41.5 26.5,47.5'/><rect fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' x='12.5' y='17.5' width='23' height='30'/><line fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' x1='21.5' y1='17.5' x2='21.5' y2='10'/><line fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' x1='26.5' y1='17.5' x2='26.5' y2='10'/><line fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' x1='21.5' y1='13.2' x2='26.5' y2='13.2'/><line fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' x1='17.7' y1='22.4' x2='20.2' y2='22.4'/><line fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' x1='27.8' y1='22.4' x2='30.3' y2='22.4'/><line fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' x1='17.7' y1='27.4' x2='20.2' y2='27.4'/><line fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' x1='27.8' y1='27.4' x2='30.3' y2='27.4'/><line fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' x1='17.7' y1='32.5' x2='20.2' y2='32.5'/><line fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' x1='27.8' y1='32.5' x2='30.3' y2='32.5'/><line fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' x1='17.7' y1='37.5' x2='20.2' y2='37.5'/><line fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' x1='27.8' y1='37.5' x2='30.3' y2='37.5'/></svg>");
  --terra-avatar-icon-user: inline-svg("<svg data-name='user-avatar-icon' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 48 48' enable-background='new 0 0 48 48'><path fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-miterlimit='10' d='M39.5,48v-8.1c0-2.3-1.5-4.5-3.5-5.7l-7.2-4.1'/><path fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-miterlimit='10' d='M19.2,30.1L12,34.2c-2,1.2-3.5,3.3-3.5,5.7V48'/><path fill='none' stroke='rgb(73, 131, 209)' stroke-width='1' stroke-miterlimit='10' d='M24,31.5c-4.8,0-8.5-3.7-8.5-8.5v-4.8 c0-4.8,3.7-8.7,8.5-8.7s8.5,3.9,8.5,8.7V23C32.5,27.8,28.8,31.5,24,31.5z'/></svg>");
  --terra-avatar-size: 5rem;

  // terra-divider
  --terra-divider-border-color: #582c83;
  --terra-divider-border-top-width: 0.357rem;

  // terra-badge
  --terra-badge-background-color-default: #2c3e50;
  --terra-badge-color-default: #fff;
  --terra-badge-background-color-primary: #3498db;
  --terra-badge-color-primary: #fff;
  --terra-badge-background-color-secondary: #1abc9c;
  --terra-badge-color-secondary: #fff;
  --terra-badge-background-color-positive: #27ae60;
  --terra-badge-color-positive: #fff;
  --terra-badge-background-color-negative: #c0392b;
  --terra-badge-color-negative: #fff;
  --terra-badge-background-color-warning: #e67e22;
  --terra-badge-color-warning: #fff;
  --terra-badge-background-color-info: #bdc3c7;
  --terra-badge-color-info: #333;

  // terra-button
  --terra-button-border-radius: 0.5rem;
  --terra-button-line-height: normal;
  --terra-button-vertical-padding: 0.7rem;
  --terra-button-disabled-opacity: 0.7;
  --terra-button-action-border-radius: 0.8rem;
  --terra-button-utility-border-radius: 50%;
  --terra-button-icon-height: 1rem;
  --terra-button-icon-width: 1rem;
  --terra-button-icon-only-horizontal-margin: 0.9rem;
  --terra-button-text-only-horizontal-margin: 1.1rem;
  --terra-button-text-and-icon-horizontal-margin: 0.4rem;
  --terra-button-text-and-icon-margin-between: 0.4rem;
  --terra-button-compact-padding-bottom: 0;
  --terra-button-compact-padding-top: 0;

  --terra-button-active-and-focus-background-color-neutral: #008b8b;
  --terra-button-active-and-focus-border-color-neutral: #fff;
  --terra-button-active-and-focus-box-shadow-neutral: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #008b8b;
  --terra-button-active-background-color-neutral: #008b8b;
  --terra-button-active-border-color-neutral: #4a90e2;
  --terra-button-active-color-neutral: rgba(0, 0, 0, 0.8);
  --terra-button-background-color-neutral: #bc6577;
  --terra-button-border-color-neutral: #8bc2f9;
  --terra-button-box-shadow-neutral: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  --terra-button-color-neutral: rgba(0, 0, 0, 0.7);
  --terra-button-focus-background-color-neutral: #fff;
  --terra-button-focus-border-color-neutral: #ff8c00;
  --terra-button-focus-box-shadow-neutral: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #8bc2f9;
  --terra-button-font-weight-neutral: normal;
  --terra-button-hover-background-color-neutral: rgba(202, 218, 255, 0.5);
  --terra-button-hover-color-neutral: rgba(0, 0, 0, 0.8);

  --terra-button-active-and-focus-background-color-emphasis: #ae68b7;
  --terra-button-active-and-focus-border-color-emphasis: #fff;
  --terra-button-active-and-focus-box-shadow-emphasis: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #4a90e2;
  --terra-button-active-background-color-emphasis: #8bc2f9;
  --terra-button-active-border-color-emphasis: #4a90e2;
  --terra-button-active-color-emphasis: rgba(0, 0, 0, 0.8);
  --terra-button-background-color-emphasis: #fff;
  --terra-button-border-color-emphasis: #4a90e2;
  --terra-button-box-shadow-emphasis: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  --terra-button-color-emphasis: rgba(0, 0, 0, 0.7);
  --terra-button-focus-background-color-emphasis: #fff;
  --terra-button-focus-border-color-emphasis: #65b569;
  --terra-button-focus-box-shadow-emphasis: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 0 0 3px #ae68b7;
  --terra-button-font-weight-emphasis: 500;
  --terra-button-hover-background-color-emphasis: rgba(202, 218, 255, 0.5);
  --terra-button-hover-color-emphasis: #e2fbff;

  --terra-button-active-and-focus-background-color-de-emphasis: #e6e2ff;
  --terra-button-active-and-focus-border-color-de-emphasis: #fff;
  --terra-button-active-and-focus-box-shadow-de-emphasis: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #4a90e2;
  --terra-button-active-background-color-de-emphasis: #8bc2f9;
  --terra-button-active-border-color-de-emphasis: #4a90e2;
  --terra-button-active-color-de-emphasis: rgba(0, 0, 0, 0.8);
  --terra-button-background-color-de-emphasis: #a49fc4;
  --terra-button-border-color-de-emphasis: #8bc2f9;
  --terra-button-box-shadow-de-emphasis: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  --terra-button-color-de-emphasis: #e6e2ff;
  --terra-button-focus-background-color-de-emphasis: #4333a5;
  --terra-button-focus-border-color-de-emphasis: rgba(255, 255, 255, 0.4);
  --terra-button-focus-box-shadow-de-emphasis: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 0 0 #8bc2f9;
  --terra-button-font-weight-de-emphasis: normal;
  --terra-button-hover-background-color-de-emphasis: rgba(202, 218, 255, 0.5);
  --terra-button-hover-color-de-emphasis: rgba(0, 0, 0, 0.8);

  --terra-button-active-and-focus-background-color-action: #e2cc3d;
  --terra-button-active-and-focus-border-color-action: #fff;
  --terra-button-active-and-focus-box-shadow-action: 0 3px 3px 0 #423537, 0 0 0 2px #ed7684;
  --terra-button-active-background-color-action: #8bc2f9;
  --terra-button-active-border-color-action: #4a90e2;
  --terra-button-active-color-action: rgba(0, 0, 0, 0.8);
  --terra-button-background-color-action: #ed7684;
  --terra-button-border-color-action: #8bc2f9;
  --terra-button-box-shadow-action: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  --terra-button-color-action: rgba(0, 0, 0, 0.7);
  --terra-button-focus-background-color-action: #a00686;
  --terra-button-focus-border-color-action: #4a90e2;
  --terra-button-focus-box-shadow-action: 0 3px 3px 0 #423537, 0 0 0 1px #8bc2f9;
  --terra-button-font-weight-action: normal;
  --terra-button-hover-background-color-action: rgba(202, 218, 255, 0.5);
  --terra-button-hover-color-action: rgba(0, 0, 0, 0.8);

  --terra-button-active-and-focus-background-color-utility: rgba(136, 168, 239, 0.5);
  --terra-button-active-and-focus-border-color-utility: none;
  --terra-button-active-background-color-utility: transparent;
  --terra-button-background-color-utility: transparent;
  --terra-button-border-color-utility: transparent;
  --terra-button-color-utility: #d2f970;
  --terra-button-focus-background-color-utility: rgba(136, 168, 239, 0.5);
  --terra-button-focus-box-shadow-utility: none;
  --terra-button-font-weight-utility: normal;
  --terra-button-utility-border-radius: 100%;

  // terra-button-group
  --terra-button-group-button-background-color: rgba(136, 173, 232, 0.0);
  --terra-button-group-button-border-color: #505b4f;
  --terra-button-group-button-box-shadow: 0 1px 1px 0 rgba(35, 35, 29, 0.3);
  --terra-button-group-button-color: #4664bf;
  --terra-button-group-button-font-weight: normal;
  --terra-button-group-button-disabled-opacity: 0.5;
  --terra-button-group-button-focus-background-color: rgba(186, 200, 224, 0.0);
  --terra-button-group-button-focus-border-color: #19191c;
  --terra-button-group-button-focus-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #4a90e2;
  --terra-button-group-button-hover-background-color: rgba(109, 119, 135, 0.2);
  --terra-button-group-button-hover-color: #396ee5;
  --terra-button-group-button-active-and-hover-background-color: #2c58c7;
  --terra-button-group-button-active-and-hover-border-color: #2c58c7;
  --terra-button-group-button-active-and-hover-color: #fff;
  --terra-button-group-button-active-and-focus-background-color: #396ee5;
  --terra-button-group-button-active-and-focus-border-color: #396ee5;
  --terra-button-group-button-active-and-focus-box-shadow: 0 2px 2px 0 rgb(237, 28, 157), 0 0 0 1px #ed1c9d;
  --terra-button-group-button-active-and-focus-color: #fff;
  --terra-button-group-button-active-background-color: #23c91e;
  --terra-button-group-button-active-border-color: #396ee5;
  --terra-button-group-button-active-color: #fff;
  --terra-button-group-button-border-bottom-left-radius: 5px;
  --terra-button-group-button-border-bottom-right-radius: 5px;
  --terra-button-group-button-border-top-left-radius: 5px;
  --terra-button-group-button-border-top-right-radius: 5px;

  // terra-form-checkbox
  --terra-form-checkbox-font-color: rgb(255, 192, 203);
  --terra-form-checkbox-container-margin-left: 0.643rem;
  --terra-form-checkbox-container-margin-right: 2rem;
  --terra-form-checkbox-container-margin-top: 0.625rem;
  --terra-form-checkbox-select-container-padding-bottom: 0.3125rem;
  --terra-form-checkbox-select-container-padding-top: 0.3125rem;
  --terra-form-checkbox-font-size: 1.2rem;
  --terra-form-checkbox-line-height: 1.42;
  --terra-form-checkbox-padding-left: 1.2rem;
  --terra-form-checkbox-is-mobile-padding-left: 1.5rem;
  --terra-form-checkbox-native-input-clip: rect(0 0 0 0);
  --terra-form-checkbox-native-input-cursor: default;
  --terra-form-checkbox-native-input-font-size: none;
  --terra-form-checkbox-native-input-height: 1px;
  --terra-form-checkbox-native-input-margin-left: -1px;
  --terra-form-checkbox-native-input-margin-right: -1px;
  --terra-form-checkbox-native-input-overflow: hidden;
  --terra-form-checkbox-native-input-padding: 0;
  --terra-form-checkbox-native-input-width: 1px;
  --terra-form-checkbox-label-text-margin-left: 1rem;
  --terra-form-checkbox-background-color: rgb(255, 255, 255);
  --terra-form-checkbox-background-image: none;
  --terra-form-checkbox-border: #ffc2cd solid 1px;
  --terra-form-checkbox-border-radius: 3px;
  --terra-form-checkbox-height: 16px;
  --terra-form-checkbox-checked-line-height: 0.8;
  --terra-form-checkbox-margin-top: 0.2857rem;
  --terra-form-checkbox-transition: all 0.4s;
  --terra-form-checkbox-checked-symbol-padding-left: 1px;
  --terra-form-checkbox-checked-symbol-padding-right: 1px;
  --terra-form-checkbox-checked-symbol-padding-top: none;
  --terra-form-checkbox-checked-transform: scale(1);
  --terra-form-checkbox-checked-transition: all 0.4s;
  --terra-form-checkbox-width: 16px;
  --terra-form-checkbox-checked-background-color: #fc3468;
  --terra-form-checkbox-checked-border: #fc3468 solid 2px;
  --terra-form-checkbox-checked-border-radius: 3px;
  --terra-form-checkbox-symbol: inline-svg('<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="#ffff"><path d="M18.4 40.9L0 22.5l4.2-4.2 14.2 14.2L43.8 7.1l4.2 4.2z"/></svg>');
  --terra-form-checkbox-checked-height: 16px;
  --terra-form-checkbox-checked-transition: all 0.4s;
  --terra-form-checkbox-checked-width: 16px;
  --terra-form-checkbox-is-mobile-height: 22px;
  --terra-form-checkbox-is-mobile-width: 22px;
  --terra-form-checkbox-is-mobile-checked-height: 22px;
  --terra-form-checkbox-is-mobile-checked-line-height: 1.2;
  --terra-form-checkbox-is-mobile-checked-width: 22px;
  --terra-form-checkbox-is-mobile-margin-top: 0.0714rem;
  --terra-form-checkbox-hover-border-color: #ffa500;
  --terra-form-checkbox-hover-border-width: 2px;
  --terra-form-checkbox-disabled-font-color: #9b9fa1;
  --terra-form-checkbox-disabled-font-opacity: none;
  --terra-form-checkbox-disabled-background-color: rgba(0, 0, 0, 0.05);
  --terra-form-checkbox-disabled-background-image: none;
  --terra-form-checkbox-disabled-border-color: none;
  --terra-form-checkbox-focus-box-shadow-rtl: none;
  --terra-form-checkbox-focus-box-shadow-ltr: none;
  --terra-form-checkbox-container-focus-border-radius: 3px;
  --terra-form-checkbox-container-focus-box-shadow-rtl: 0 0 1px 2px #4a90e2;
  --terra-form-checkbox-container-focus-box-shadow-ltr: 0 0 1px 2px #4a90e2;
  --terra-form-checkbox-disabled-hover-border-color: gba(0, 0, 0, 0.05);
  --terra-form-checkbox-disabled-hover-border-width: 1px;
  --terra-form-checkbox-focus-border-color: #800080;
  --terra-form-checkbox-focus-border-width: 2px;
  // terra-form-field
  --terra-form-field-margin-bottom: 0.5em;
  --terra-form-field-inline-margin-right: 0.5em;
  --terra-form-field-label-font-size: 12px;
  --terra-form-field-label-margin-bottom: 0.5em;
  --terra-form-field-label-error-icon-display: inline-block;
  --terra-form-field-label-error-icon-padding-right: 0.5em;
  --terra-form-field-label-color: #551a8b;
  --terra-form-field-label-font-weight: 400;
  --terra-form-field-label-required-color: #ffa500;
  --terra-form-field-label-required-padding-right: 0.5em;
  --terra-form-field-label-optional-font-style: italic;
  --terra-form-field-label-optional-padding-left: 0.5em;
  --terra-form-field-help-text-color: #ba55d3;
  --terra-form-field-help-text-font-size: 9px;
  --terra-form-field-help-text-font-weight: 300;
  --terra-form-field-help-text-margin-top: 0.5em;
  --terra-form-field-error-text-color: #ffa500;
  --terra-form-field-error-text-font-size: 11px;
  --terra-form-field-error-text-font-weight: 900;
  --terra-form-field-error-text-margin-top: 0.5em;
  // terra-form-radio
  --terra-form-radio-container-margin-left: 0.643rem;
  --terra-form-radio-container-margin-right: 2rem;
  --terra-form-radio-container-margin-top: 0.625rem;
  --terra-form-radio-font-size: 1rem;
  --terra-form-radio-line-height: 1.42;
  --terra-form-radio-padding-left: 1.2rem;
  --terra-form-radio-is-mobile-padding-left: 1.5rem;
  --terra-form-radio-native-input-clip: rect(0 0 0 0);
  --terra-form-radio-native-input-cursor: default;
  --terra-form-radio-native-input-font-size: 0;
  --terra-form-radio-native-input-height: 1px;
  --terra-form-radio-native-input-margin-left: 0;
  --terra-form-radio-native-input-margin-right: 0;
  --terra-form-radio-native-input-overflow: hidden;
  --terra-form-radio-native-input-padding: 0;
  --terra-form-radio-native-input-width: 1px;
  --terra-form-radio-label-text-margin-left: 1rem;
  --terra-form-radio-outer-ring-background-color: rgb(255, 255, 255);
  --terra-form-radio-outer-ring-border: 1px solid #a2c2e0;
  --terra-form-radio-outer-ring-border-radius: 50%;
  --terra-form-radio-outer-ring-height: 20px;
  --terra-form-radio-outer-ring-margin-top: 4px;
  --terra-form-radio-outer-ring-width: 20px;
  --terra-form-radio-inner-ring-background-color: #fff;
  --terra-form-radio-inner-ring-border: 1px solid #a2c2e0;
  --terra-form-radio-inner-ring-height: 14px;
  --terra-form-radio-inner-ring-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --terra-form-radio-inner-ring-width: 14px;
  --terra-form-radio-checked-outer-ring-checked-background-color: #fff;
  --terra-form-radio-outer-ring-checked-border: 1px solid #4a90e2;
  --terra-form-radio-outer-ring-checked-border-radius: 50%;
  --terra-form-radio-outer-ring-checked-height: 20px;
  --terra-form-radio-outer-ring-checked-margin-top: 4px;
  --terra-form-radio-outer-ring-checked-width: 20px;
  --terra-form-radio-inner-ring-checked-background-color: rgb(255, 0, 0);
  --terra-form-radio-inner-ring-checked-border: 1px solid rgb(255, 0, 0);
  --terra-form-radio-inner-ring-checked-height: 14px;
  --terra-form-radio-inner-ring-checked-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --terra-form-radio-inner-ring-checked-width: 14px;
  --terra-form-radio-outer-ring-is-mobile-height: 24px;
  --terra-form-radio-outer-ring-is-mobile-margin-top: 2px;
  --terra-form-radio-outer-ring-is-mobile-width: 24px;
  --terra-form-radio-inner-ring-is-mobile-height: 16px;
  --terra-form-radio-inner-ring-is-mobile-width: 16px;
  --terra-form-radio-outer-ring-is-mobile-checked-height: 24px;
  --terra-form-radio-outer-ring-is-mobile-checked-margin-top: 2px;
  --terra-form-radio-outer-ring-is-mobile-checked-width: 24px;
  --terra-form-radio-inner-ring-is-mobile-checked-height: 16px;
  --terra-form-radio-inner-ring-is-mobile-checked-width: 16px;
  --terra-form-radio-label-is-hidden-height: 20px;
  --terra-form-radio-label-is-hidden-width: 20px;
  --terra-form-radio-hover-border-color: #800080;
  --terra-form-radio-hover-border-width: 2px;
  --terra-form-radio-disabled-font-color: #9b9fa1;
  --terra-form-radio-outer-ring-disabled-background-color: rgba(0, 0, 0, 0.05);
  --terra-form-radio-outer-ring-disabled-border-color: rgba(134, 138, 140, 0.4);
  --terra-form-radio-inner-ring-disabled-background-color: rgba(0, 0, 0, 0.05);
  --terra-form-radio-inner-ring-disabled-border-color: rgba(134, 138, 140, 0.4);
  --terra-form-radio-disabled-hover-border-color: rgba(134, 138, 140, 0.4);
  --terra-form-radio-disabled-border-width: 1px;
  --terra-form-radio-focus-border-color: #008000;
  --terra-form-radio-focus-border-width: 2px;
  // terra-form-textarea
  --terra-form-textarea-background-color: #f2f2f2;
  --terra-form-textarea-border-color: #337b33;
  --terra-form-textarea-border-radius: 0.5rem;
  --terra-form-textarea-border-style: dashed;
  --terra-form-textarea-border-width: 2px;
  --terra-form-textarea-color: #f12233;
  --terra-form-textarea-cursor: auto;
  --terra-form-textarea-font-size: 1.3rem;
  --terra-form-textarea-line-height: 1.25;
  --terra-form-textarea-padding-bottom: 0.5rem;
  --terra-form-textarea-padding-left: 0.5rem;
  --terra-form-textarea-padding-right: 0.5rem;
  --terra-form-textarea-padding-top: 0.5rem;
  --terra-form-textarea-disabled-background: rgba(250, 250, 255, 0.1);
  --terra-form-textarea-disabled-border-color: #3e7795;
  --terra-form-textarea-disabled-border-style: solid;
  --terra-form-textarea-disabled-border-width: 2px;
  --terra-form-textarea-disabled-opacity: 0.4;
  --terra-form-textarea-error-focus-animation-background: linear-gradient(to bottom, #ff232a, #ff232a);
  --terra-form-textarea-error-border-color: #ff232a;
  --terra-form-textarea-error-border-style: solid;
  --terra-form-textarea-error-border-width: 2px;
  --terra-form-textarea-error-disabled-background: rrgba(255, 250, 250, 0.1);
  --terra-form-textarea-error-disabled-border-color: #f12233;
  --terra-form-textarea-error-disabled-border-style: solid;
  --terra-form-textarea-error-disabled-border-width: 2px;
  --terra-form-textarea-error-opacity: 1;
  --terra-form-textarea-error-focus-keyboard-animation-size: 100% 2px;
  --terra-form-textarea-error-focus-keyboard-border-color: #ff232a;
  --terra-form-textarea-error-focus-keyboard-border-style: solid;
  --terra-form-textarea-error-focus-keyboard-border-width: 2px;
  --terra-form-textarea-error-focus-keyboard-box-shadow-ltr: none;
  --terra-form-textarea-error-focus-keyboard-box-shadow-rtl: none;
  --terra-form-textarea-error-focus-keyboard-opacity: 1;
  --terra-form-textarea-error-hover-border-color: #ff232a;
  --terra-form-textarea-error-hover-border-style: solid;
  --terra-form-textarea-error-hover-border-width: 2px;
  --terra-form-textarea-focus-animation-background: linear-gradient(to bottom, #6553e5, #6553e5);
  --terra-form-textarea-focus-background-start: 0 2px;
  --terra-form-textarea-focus-opacity: 1;
  --terra-form-textarea-focus-transition-duration: 0s;
  --terra-form-textarea-focus-transition-timing-function: none;
  --terra-form-textarea-focus-keyboard-animation-size: 100% 2px;
  --terra-form-textarea-focus-keyboard-border-color: #337b33;
  --terra-form-textarea-focus-keyboard-border-style: solid;
  --terra-form-textarea-focus-keyboard-border-width: 2px;
  --terra-form-textarea-focus-keyboard-box-shadow-ltr: none;
  --terra-form-textarea-focus-keyboard-box-shadow-rtl: none;
  --terra-form-textarea-focus-keyboard-opacity: 1;
  --terra-form-textarea-hover-border-color: #337b33;
  --terra-form-textarea-hover-border-style: solid;
  --terra-form-textarea-hover-border-width: 2px;

  [dir=ltr]:root {
    --terra-form-textarea-error-focus-mouse-box-shadow-ltr: none;
    --terra-form-textarea-error-focus-keyboard-box-shadow-ltr: none;
    --terra-form-textarea-focus-mouse-box-shadow-ltr: none;
    --terra-form-textarea-focus-keyboard-box-shadow-ltr: none;
  }

  [dir=rtl]:root {
    --terra-form-textarea-error-focus-mouse-box-shadow-rtl: none;
    --terra-form-textarea-error-focus-keyboard-box-shadow-rtl: none;
    --terra-form-textarea-focus-mouse-box-shadow-rtl: none;
    --terra-form-textarea-focus-keyboard-box-shadow-rtl: none;
  }

  // terra-form-select
  --terra-select-focus-animation-background: linear-gradient(to bottom, #badefc, #badefc);
  --terra-select-focus-background-start: 0 2px;
  --terra-select-input-border-color: #525252;
  --terra-select-font-size: 12px;
  --terra-select-line-height: 1.2;
  --terra-select-input-padding: 3px;
  --terra-select-focus-transition-duration: 2s;
  --terra-select-focus-transition-timing: ease;
  --terra-select-disabled-background-color: #efefef;
  --terra-select-disabled-border-color: #909090;
  --terra-select-input-hover-border-color: #badefc;
  --terra-select-focus-animation-size: 100% 2px;
  --terra-select-input-focus-border-color: #525252;
  --terra-select-invalid-focus-animation-background: linear-gradient(to bottom, #b5446e, #b5446e);
  --terra-select-invalid-border-color: #b5446e;
  --terra-select-invalid-hover-border-color: #b5446e;
  --terra-select-invalid-focus-animation-size: 100% 2px;
  --terra-select-invalid-focus-border-color: #b5446e;
  --terra-select-invalid-arrow-color: #b5446e;
  --terra-select-disabled-arrow-color: #909090;
  --terra-select-arrow-color: #525252;
  --terra-select-default-option-color: #909090;
  --terra-select-default-option-font-style: italic;
  --terra-select-input-text-color: #525252;
  --terra-select-disabled-font-color: #909090;
  --terra-select-menu-background-color: rgba(255, 255, 255, 0.8);
  --terra-select-menu-blur: 10px;
  --terra-select-menu-blur-background-color: rgba(255, 255, 255, 0.3);
  --terra-select-menu-border-raidus: 3px;
  --terra-select-menu-bottom-padding: 3px;
  --terra-select-option-font-color: #525252;
  --terra-select-option-font-size: 12px;
  --terra-select-option-line-height: 1.2;
  --terra-select-option-padding: 3px;
  --terra-select-option-selected-color: #9d44b5;
  --terra-select-option-selected-font-color: #0affed;
  --terra-select-option-selected-font-weight: bold;
  --terra-select-option-hover-color: #d2aadd;

  [dir=ltr]:root {
    --terra-select-focus-box-shadow-ltr: 0 0 7px 4px rgba(186, 222, 252, 0.35), 0 0 1px 3px rgba(186, 222, 252, 0.5), 0 0 1px 0 #badefc;
    --terra-select-invalid-focus-box-shadow-ltr: 0 0 7px 4px rgba(181, 68, 110, 0.35), 0 0 1px 3px rgba(181, 68, 110, 0.5), 0 0 1px 0 #b5446e;
    --terra-select-menu-box-shadow-ltr: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  }

  [dir=rtl]:root {
    --terra-select-focus-box-shadow-rtl: 0 0 7px 4px rgba(186, 222, 252, 0.35), 0 0 1px 3px rgba(186, 222, 252, 0.5), 0 0 1px 0 #badefc;
    --terra-select-invalid-focus-box-shadow-rtl: 0 0 7px 4px rgba(181, 68, 110, 0.35), 0 0 1px 3px rgba(181, 68, 110, 0.5), 0 0 1px 0 #b5446e;
    --terra-select-menu-box-shadow-rtl: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  }

  // terra-tabs
  // Common
  --terra-tabs-icon-only-padding: 0.786rem 0.571rem;
  --terra-tabs-text-only-padding: 0.643rem 0.857rem 0.5rem;
  --terra-tabs-label-margin-next-to-icon: 0.571rem;
  --terra-tabs-font-size: 1rem;
  --terra-tabs-line-height: 1.143;
  --terra-tabs-padding: 0.643rem 0.857rem 0.5rem 0.571rem;
  --terra-tabs-menu-arrow-left-margin: 0.5rem;
  --terra-tabs-menu-collapsed-justify-content: center;

  // Structural
  --terra-tabs-structural-container-background-color: none;
  --terra-tabs-structural-content-background-color: #f3e8ec;
  --terra-tabs-structural-collapsed-menu-bar-border-color: #820933;
  --terra-tabs-structural-collapsed-menu-bar-border-radius: 3px 3px 0 0;
  --terra-tabs-structural-background-color: #820933;
  --terra-tabs-structural-background-image: linear-gradient(to bottom, #820933, #820933);
  --terra-tabs-structural-background-position: 0 0;
  --terra-tabs-structural-background-size: 0 3px;
  --terra-tabs-structural-border-radius: 3px 3px 0 0;
  --terra-tabs-structural-color: #f3e8ec;
  --terra-tabs-structural-margin-between-tabs: 2px;
  --terra-tabs-structural-transition-duration: 0.3s;
  --terra-tabs-structural-transition-timing: ease;
  --terra-tabs-structural-active-background-color: #f3e8ec;
  --terra-tabs-structural-active-background-size: 100% 3px;
  --terra-tabs-structural-active-color: #820933;
  --terra-tabs-structural-disabled-background-color: #820933;
  --terra-tabs-structural-disabled-color: #f3e8ec;
  --terra-tabs-structural-disabled-opacity: 0.5;
  --terra-tabs-structural-disabled-label-opacity: 0.5;
  --terra-tabs-structural-hover-background-color: #530621;
  --terra-tabs-structural-hover-color: #f3e8ec;
  --terra-tabs-structural-active-focus-background-color: rgba(130, 9, 51, 0.2);
  --terra-tabs-structural-active-focus-color: #820933;
  --terra-tabs-structural-focus-background-color: rgba(130, 9, 51, 0.2);
  --terra-tabs-structural-focus-color: #820933;
  --terra-tabs-structural-content-border-radius: 0 0 3px 3px;
  --terra-tabs-structural-border-color: initial;
  --terra-tabs-structural-border-width: 0;
  --terra-tabs-structural-last-tab-border-width: 0;
  --terra-tabs-structural-hover-background-size: 0 0;
  --terra-tabs-structural-hover-background-image: none;
  --terra-tabs-structural-menu-bar-border-color: #f3e8ec;
  --terra-tabs-structural-menu-bar-border-width: 0;

  // Modular
  --terra-tabs-modular-background-color: #f3e8ec;
  --terra-tabs-modular-tab-bar-border-color: #f3e8ec;
  --terra-tabs-modular-tab-bar-border-width: 0;
  --terra-tabs-modular-tab-bar-padding: 0 0.714rem;
  --terra-tabs-modular-color: #820933;
  --terra-tabs-modular-active-color: #18020a;
  --terra-tabs-modular-hover-color: #18020a;
  --terra-tabs-modular-disabled-color: rgba(0, 0, 0, 0.3);
  --terra-tabs-modular-focus-background-color: rgba(130, 9, 51, 0.2);
  --terra-tabs-modular-focus-border-radius: 3px;
  --terra-tabs-modular-active-focus-background-color: rgba(130, 9, 51, 0.2);
  --terra-tabs-modular-focus-border-radius: 3px;
  --terra-tabs-modular-extended-flex: 1 1 auto;
  --terra-tabs-collapsed-modular-tab-bar-border-color: #820933;
  --terra-tabs-collapsed-modular-tab-bar-border-width: 1px;
  --terra-tabs-collapsed-modular-active-color: #820933;
  --terra-tabs-collapsed-modular-hover-color: #820933;
  --terra-tabs-modular-selection-bar-color: #18020a;
  --terra-tabs-modular-selection-bar-transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  --terra-tabs-modular-background-image: none;
  --terra-tabs-modular-background-position: 0 0;
  --terra-tabs-modular-background-size: 0 0;
  --terra-tabs-modular-active-background-size: 0 0;
  --terra-tabs-modular-hover-background-image: none;
  --terra-tabs-modular-hover-background-size: 0 0;
  --terra-tabs-modular-selection-bar-height: 2px;

  [dir=rtl]:root {
    --terra-tabs-keyboard-focus-rtl-box-shadow: none;
  }

  [dir=ltr]:root {
    --terra-tabs-keyboard-focus-ltr-box-shadow: none;
  }

  // Terra Time Input
  --terra-time-input-background: #f1a8ff;
  --terra-time-input-animation-background: linear-gradient(to bottom, #ff8fab, #ff8fab);
  --terra-time-input-background-start: 0 4px;
  --terra-time-input-border-color: #ff1fd4;
  --terra-time-input-border-radius: 10px;
  --terra-time-input-border-style: solid;
  --terra-time-input-border-width: 2px;
  --terra-time-input-color: #ff4aae;
  --terra-time-input-font-size: 1.2em;
  --terra-time-input-padding-bottom: 0.386em;
  --terra-time-input-padding-left: 0.114em;
  --terra-time-input-padding-right: 0.114em;
  --terra-time-input-padding-top: 0.286em;
  --terra-time-input-transition-duration: 5s;
  --terra-time-input-transition-timing-function: easeInElastic;
  --terra-time-input-focus-keyboard-border-color: #4cb2e9;
  --terra-time-input-focus-keyboard-border-style: solid;
  --terra-time-input-focus-keyboard-border-width: 1px;
  --terra-time-input-focus-keyboard-opacity: 1;
  --terra-time-input-focus-keyboard-animation-size: 100% 4px;
  --terra-time-input-focus-keyboard-box-shadow-ltr: 0 0 8px #a6d9f4;
  --terra-time-input-focus-keyboard-box-shadow-rtl: 0 0 8px #a6d9f4;
  --terra-time-input-time-input-group-margin-left: 0.357em;
  --terra-time-input-time-input-group-margin-right: 0.357em;
  --terra-time-input-height: 2.857rem;
  --terra-time-input-line-height: 1.429;
  --terra-time-input-width-input: 3.57em;
  --terra-time-input-input-padding-bottom: 0.357em;
  --terra-time-input-input-padding-top: 0.357em;
  --terra-time-input-desktop-input-focus-keyboard-box-shadow-ltr: 0 0 8px #a6d9f4;
  --terra-time-input-desktop-input-focus-keyboard-box-shadow-rtl: 0 0 8px #a6d9f4;
  --terra-time-input-desktop-input-padding-bottom: 0.357em;
  --terra-time-input-desktop-input-padding-top: 0.357em;
  --terra-time-input-mobile-label-color: rgba(0, 0, 0, 0.5);
  --terra-time-input-mobile-label-size: 0.857rem;
  --terra-time-input-keyboard-border-style: solid;
  --terra-time-input-keyboard-border-width: 1px;
  --terra-time-input-meridiem-display-line-height: 1.429;
  --terra-time-input-meridiem-display-left-margin: 0.357em;
  --terra-time-input-input-focus-keyboard-box-shadow-ltr: 0 0 8px #a6d9f4;
  --terra-time-input-input-focus-keyboard-box-shadow-rtl: 0 0 8px #a6d9f4;
  --terra-time-input-meridiem-button-background-color: #ff8fab;
  --terra-time-input-meridiem-button-border-color: #ff1fd4;
  --terra-time-input-meridiem-button-color: #fff;
  --terra-time-input-meridiem-button-padding-bottom: 0.357em;
  --terra-time-input-meridiem-button-padding-top: 0.157em;
  --terra-time-input-meridiem-button-hover-background-color: #ffc0f3;
  --terra-time-input-meridiem-button-hover-border-color: #ff1fd4;
  --terra-time-input-meridiem-button-hover-color: #000;
  --terra-time-input-meridiem-button-selected-background-color: #ff1fd4;
  --terra-time-input-meridiem-button-selected-border-color: #ff1fd4;
  --terra-time-input-meridiem-button-selected-color: #000;

  //terra-status-view
  --terra-status-view-padding-bottom: 1.429rem;
  --terra-status-view-padding-top: 1.429rem;
  --terra-status-view-glyph-no-data: inline-svg("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' class='is-bidi'><path fill='#582c83' d='M45.8 12c1.2 0 2.2 1 2.2 2.2v26.7c0 1.2-1 2.2-2.2 2.2H2.2C1 43 0 42 0 40.8V7.2C0 6 1 5 2.2 5H15c1.4.1 2.7.6 3.7 1.6l3.8 3.9c1 1 2.3 1.5 3.7 1.6l19.4-.1h.2z'/></svg>");
  --terra-status-view-glyph-no-matching-results: inline-svg("<svg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><path fill='#582c83' d='M47.4 43.2l-13-13A19.66 19.66 0 0 0 38 19a19 19 0 1 0-7.9 15.4l13 13a2.05 2.05 0 0 0 2.9 0l1.4-1.4a1.93 1.93 0 0 0 0-2.8zM3 19a16 16 0 1 1 16 16A16 16 0 0 1 3 19z'/></svg>");
  --terra-status-view-glyph-not-authorized: inline-svg("<svg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><path fill='#582c83' d='M38.8 20H35v-9a11 11 0 0 0-22 0v9H9.2A2.22 2.22 0 0 0 7 22.2v23.7A2.2 2.2 0 0 0 9.2 48h29.7a2.22 2.22 0 0 0 2.2-2.2V22.2a2.38 2.38 0 0 0-2.3-2.2zM26 33.5V40h-4v-6.5a3.26 3.26 0 0 1-1-2.3 3 3 0 0 1 3-3 3.08 3.08 0 0 1 3 3 3.26 3.26 0 0 1-1 2.3zm6-14.9V20H16v-9a8 8 0 0 1 16 0z'/></svg>");
  --terra-status-view-glyph-error: inline-svg("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><path fill='#582c83' d='M24 0c13.3 0 24 10.7 24 24S37.3 48 24 48 0 37.3 0 24C0 10.8 10.7 0 23.9 0h.1z'/><path fill='#FFF' d='M7 21.5h34v5H7v-5z'/></svg>");
  --terra-status-view-glyph-no-service: inline-svg("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' class='is-bidi'><path fill='#582c83' d='M19 17.9c-4.1 0-7.8 1.7-10.5 4.3l-3.1-3.1c3.5-3.5 8.3-5.6 13.6-5.6s10.1 2.1 13.6 5.6L29.7 22c-.1 0-.1.1-.2.1-2.8-2.6-6.4-4.2-10.5-4.2zm15.7-.9l3.3-3.3C33.1 9 26.4 6 19 6S4.9 9 0 13.7L3.3 17c4-4 9.6-6.5 15.7-6.5S30.7 13 34.7 17zM21.2 28.9c-.7-.4-1.4-.6-2.2-.6-1.2 0-2.3.5-3.1 1.3l3.1 3.1 1.1-1.1c.3-.9.7-1.8 1.1-2.7zm1.8-2.4c1-1.1 2.2-2.1 3.5-2.9-2-1.6-4.6-2.6-7.4-2.6-3.2 0-6.2 1.3-8.4 3.4l3.1 3.1c1.3-1.3 3.2-2.2 5.2-2.2 1.5 0 2.8.4 4 1.2z'/><path fill='#582c83' d='M34 24c-6.6 0-12 5.4-12 12s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm-9 12c0-5 4-9 9-9 1.9 0 3.7.6 5.2 1.7L26.7 41.2C25.6 39.7 25 37.9 25 36zm9 9c-1.9 0-3.7-.6-5.2-1.7l12.5-12.5c1 1.5 1.7 3.3 1.7 5.2 0 5-4 9-9 9z'/></svg>");
  --terra-status-view-title-color: #582c83;
  --terra-status-view-title-font-size: 1.714rem;
  --terra-status-view-message-color: #582c83;
  --terra-status-view-message-font-size: 1rem;
  --terra-status-view-message-padding-top: 0.714rem;
  --terra-status-view-message-text-align: center;
  --terra-status-view-divider-display: block;
  --terra-status-view-divider-padding-top: 1.429rem;
  --terra-status-view-actions-flex-direction-small-width: row;
  --terra-status-view-actions-padding-top: 0.714rem;
  --terra-status-view-actions-button-flex: initial;
  --terra-status-view-actions-button-margin-left: 0.357rem;
  --terra-status-view-actions-button-margin-right: 0.357rem;
  --terra-status-view-actions-button-margin-top: 0.714rem;


  // terra-form-input
  --terra-form-input-focus-animation-background: linear-gradient(to bottom, red, blue);
  --terra-form-input-focus-background-start: 0 0.143rem;
  --terra-form-input-focus-keyboard-animation-size: 100% 0.214rem;
  --terra-form-input-error-focus-keyboard-animation-size: 100% 0.214rem;
  --terra-form-input-error-focus-animation-background: linear-gradient(to bottom, red, blue);
  --terra-form-input-border: 1px solid purple;
  --terra-form-input-color: orange;
  --terra-form-input-padding-bottom: 0.357rem;
  --terra-form-input-padding-left: 0.357rem;
  --terra-form-input-padding-right: 0.357rem;
  --terra-form-input-padding-top: 0.2857rem;
  --terra-form-input-transition-duration: 0.75s;
  --terra-form-input-hover-border: 1px solid green;
  --terra-form-input-disabled-border: 1px solid pink;
  --terra-form-input-disabled-background-color: red;
  --terra-form-input-focus-border: 1px solid blue;
  --terra-form-input-error-border: 1px solid yellow;
  --terra-form-input-error-hover-border: 1px solid orange;
  --terra-form-input-error-disabled-background-color: black;
  --terra-form-input-error-disabled-border: 1px solid white;

  //terra-tag
  --terra-tag-border-style: dotted;
  --terra-tag-color: #582c83;
  --terra-tag-font-size: 1rem;
  --terra-tag-font-weight: 700;
  --terra-tag-line-height: 2rem;
  --terra-tag-margin-top: 0.357rem;
  --terra-tag-margin-right: 0.357rem;
  --terra-tag-margin-bottom: 0.357rem;
  --terra-tag-margin-left: 0.357rem;
  --terra-tag-padding-top: 0.357rem;
  --terra-tag-padding-right: 0.357rem;
  --terra-tag-padding-bottom: 0.357rem;
  --terra-tag-padding-left: 0.357rem;
  --terra-tag-background-color: #008b8b;
  --terra-tag-border-color: #582c83;
  --terra-tag-box-shadow: none;
  --terra-tag-icon-margin-top: 0.357rem;
  --terra-tag-icon-margin-right: 0.357rem;
  --terra-tag-icon-height: 1.5rem;
  --terra-tag-icon-width: 1.5rem;
  --terra-tag-interactive-color: #008b8b;
  --terra-tag-interactive-text-decoration: overline;
  --terra-tag-focus-background-color: #ff1fd4;
  --terra-tag-focus-border-color: rgba(28, 31, 33, 0.04);
  --terra-tag-focus-box-shadow: 0 0 0.357rem 0.357rem rgba(76, 178, 233, 0.5);
  --terra-tag-focus-text-decoration: underline;
  --terra-tag-hover-background-color: rgba(76, 178, 233, 0.5);
  --terra-tag-hover-box-shadow: 0 0 0.357rem 0.357rem rgba(76, 178, 233, 0.5);
  --terra-tag-hover-text-decoration: overline;
  --terra-tag-hover-color: #ff1fd4;
  --terra-tag-text-decoration: underline;
}
