// Styles specific to development only
// stylelint-disable
:local {
  .app {
    padding: 1.25rem;
  }

  .site-nav {
    & > li {
      font-size: 1.25rem;
      padding: 0.5rem 0;

      & > a {
        text-decoration: none;
      }
    }
  }

  .sub-nav {
    padding-left: 1.42rem;
  }
}
