// Styles specific to development only
// stylelint-disable
:local {
  .app {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .site-nav {
    padding: 0.75rem 1.25rem;

    & > li {
      font-size: 1.25rem;
      padding: 0.5rem 0;

      & > a {
        text-decoration: none;
      }
    }
  }

  .site-nav-header {
    background-color: #dce0e2;
    border-bottom: 1px solid #bcbfc0;
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
    
    & > a {
      text-decoration: none;
    }
  }

  .site-form-nav {
    padding-left: 1.25rem;

    & > li {
      font-size: 1.25rem;
      padding: 0.5rem 0;

      & > a {
        text-decoration: none;
      }
    }
  }

  .site-panel {
    background-color: #f1f1f2;
    border-right: 1px solid #047cc0;
  }

  .site-content {
    height: 100%;
    overflow: auto;
    padding: 1.25rem;
    width: 100%;
  }

  .site-header {
    background-color: #80c7ee;
    border-bottom: 3px solid #047cc0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.5rem 1.25rem;
    position: relative;
    width: 100%;
  }

  .site-utility {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    position: relative;
    width: 100%;
  }

  .site-locale {
    align-self: center;
    flex: 0 0 auto;
    padding-right: 1.25rem;
    position: relative;
  }

  .site-bidi {
    align-self: center;
    flex: 0 0 auto;
    position: relative;
  }
}

#site-body {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#root {
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
}
