:local {
  .orion-fusion-theme {
    --terra-hyperlink-color: #0065a3;
    --terra-hyperlink-text-decoration: underline;
    --terra-hyperlink-visited-color: #0065a3;
    --terra-hyperlink-visited-focus-color: #004c76;
    --terra-hyperlink-hover-background-color: transparent;
    --terra-hyperlink-hover-color: #004c76;
    --terra-hyperlink-hover-text-decoration: underline;
    --terra-hyperlink-focus-background-color: transparent;
    --terra-hyperlink-focus-border-radius: 3px;
    --terra-hyperlink-focus-box-shadow: 0 0 0 1px #4cb2e9, 0 0 0 3px rgba(76, 178, 233, 0.25);
    --terra-hyperlink-focus-color: #004c76;
    --terra-hyperlink-focus-text-decoration: underline;
    --terra-hyperlink-active-color: #0065a3;
    --terra-hyperlink-disabled-color: #9b9fa1;
    --terra-hyperlink-disabled-text-decoration: none;
    --terra-hyperlink-underline-hidden-color: #0065a3;
    --terra-hyperlink-underline-hidden-focus-color: #004c76;
    --terra-hyperlink-underline-hidden-hover-color: #004c76;
    --terra-hyperlink-underline-hidden-visited-color: #0065a3;
    --terra-hyperlink-underline-hidden-visited-focus-color: #004c76;
    --terra-hyperlink-icon-font-size: 1.16667em;
    --terra-hyperlink-icon-margin-left: 0.375em;
    --terra-hyperlink-audio-icon-font-size: 1.08333em;
    --terra-hyperlink-document-icon-margin-left: 0.25em;
    --terra-hyperlink-external-icon-bottom: 0;
    --terra-hyperlink-external-icon-font-size: 1em;
    --terra-hyperlink-external-icon-margin-left: 0.41667em;
    --terra-hyperlink-image-icon-bottom: -0.08333em;
    --terra-hyperlink-video-icon-bottom: -0.08333em;
  }
}
