.scroll-container {
  overflow-x: scroll;
}

.icon-collection-table {
  border: 1px #bbb solid;
  border-radius: 12px;

  th {
    background-color: #fff;
  }

  .sub-header > th {
    background-color: #eee;
  }

  th,
  td {
    vertical-align: middle;
  }

  th {
    border-collapse: collapse;
    min-width: min-content;
    padding: 7px 20px;
    top: 0;

    &:first-child {
      border-top-left-radius: 12px;
    }

    &:last-child {
      border-top-right-radius: 12px;
    }
  }

  td {
    background-color: #f8f8f8;
    padding: 7px 10px;
  }
}
