:local {
  .redwood-theme {
    --terra-overlay-light-background: var(--overlay-subtle-background-color);
    --terra-overlay-light-background-image: none;
    --terra-overlay-light-content-color: var(--overlay-subtle-text-color);
    --terra-overlay-light-content-text-shadow: none;
    --terra-overlay-dark-background: var(--overlay-strong-background-color);
    --terra-overlay-dark-background-image: none;
    --terra-overlay-dark-content-color: var(--rds-color-neutral-140);
    --terra-overlay-dark-content-text-shadow: none;
    --terra-overlay-content-color: inherit;
    --terra-overlay-content-padding-bottom: 0.5rem;
    --terra-overlay-content-padding-left: 0.5rem;
    --terra-overlay-content-padding-right: 0.5rem;
    --terra-overlay-content-padding-top: 0.5rem;

    &.overlay {
      .content {
        font-size: var(--overlay-font-size);
      }

      .icon {
        height: var(--overlay-icon-height) !important;
        opacity: var(--rds-opacity-70);
        width: var(--overlay-icon-width) !important;
      }

      .message {
        opacity: var(--rds-opacity-70);
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: var(--overlay-vertical-gap-spacing);
      }
    }

    &.dark {
      .content {
        background-color: var(--ui-light-color-surface-neutral-10);
        border-radius: 10px;
        display: inline-block;
        padding-bottom: 36px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 34px;
      }
    }
  }
}
