@import '~terra-mixins';

.terra-PopupFrame {
  max-height: 100%;
  max-width: 100%;
  min-height: 30px;
  min-width: 30px;
}

.terra-PopupFrame-content {
  background-color: #fff;
  border: 1px solid;
  overflow: auto;
}

.terra-PopupFrame--arrowTop {
  margin-top: 13px;
}

.terra-PopupFrame--arrowBottom {
  margin-bottom: 13px;
}

.terra-PopupFrame--arrowStart {
  margin-left: 13px;
}

.terra-PopupFrame--arrowEnd {
  margin-right: 13px;
}
