@import '~terra-mixins';

$terra-popup-arrow-size: 10px;
$terra-popup-arrow-color: #e41d1d;

// These are relative to screen coordinates, so no bi-di concerns
.terra-PopupArrow {
  color: #000;
  display: none;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50, 0);
  width: 0;
}

.terra-PopupArrow--alignTop {
  border-bottom: $terra-popup-arrow-size solid $terra-popup-arrow-color;
  border-left: $terra-popup-arrow-size solid transparent;
  border-right: $terra-popup-arrow-size solid transparent;
  display: block;
  top: 0;
  transform: translate3d(-100%, 0, 0);
}

.terra-PopupArrow--alignBottom {
  border-left: $terra-popup-arrow-size solid transparent;
  border-right: $terra-popup-arrow-size solid transparent;
  border-top: $terra-popup-arrow-size solid $terra-popup-arrow-color;
  display: block;
  top: 100%;
  transform: translate3d(-100%, -100%, 0);
}

.terra-PopupArrow--alignLeft {
  border-bottom: $terra-popup-arrow-size solid transparent;
  border-right: $terra-popup-arrow-size solid $terra-popup-arrow-color;
  border-top: $terra-popup-arrow-size solid transparent;
  display: block;
  left: 0;
  transform: translate3d(0, -100%, 0);
}

.terra-PopupArrow--alignRight {
  border-bottom: $terra-popup-arrow-size solid transparent;
  border-left: $terra-popup-arrow-size solid $terra-popup-arrow-color;
  border-top: $terra-popup-arrow-size solid transparent;
  display: block;
  left: 100%;
  transform: translate3d(-100%, -100%, 0);
}
