@import '~terra-mixins';

$terra-popup-margin: 10px;

// These are relative to screen coordinates, so no bi-di concerns
.terra-Popup {
  // default to maximum of the screen
  max-height: 100vh;
  max-width: 100vw;
}

// might consider another bounding div, to enable a overflow hidden prop
.terra-Popup-content {
  background-color: #fff;
  border: 1px solid #b2b5b6;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.35);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.terra-Popup--arrowTop {
  margin-top: $terra-popup-margin;
}

.terra-Popup--arrowBottom {
  margin-bottom: $terra-popup-margin;
}

.terra-Popup--arrowLeft {
  margin-left: $terra-popup-margin;
}

.terra-Popup--arrowRight {
  margin-right: $terra-popup-margin;
}
