@import '~terra-mixins';

$terra-popup-arrow-size: 10px;
$terra-popup-arrow-color: rgba(178, 181, 182, 0.9);
$terra-popup-arrow-inner-size: 9px;
$terra-popup-arrow-inner-inset-size: 2px;
$terra-popup-arrow-inner-color: $terra-white;

// These are relative to screen coordinates, so no bi-di concerns
.terra-PopupArrow {
  border: $terra-popup-arrow-size solid transparent;
  display: none;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 0;
}

.terra-PopupArrow-inner {
  border: $terra-popup-arrow-inner-size solid transparent;
  height: 0;
  position: absolute;
  width: 0;  
}

.terra-PopupArrow--alignTop {
  border-bottom-color: $terra-popup-arrow-color;
  border-top-width: 0;
  display: block;
  top: 0;
  transform: translate3d(-100%, 0, 0);

  .terra-PopupArrow-inner {
    border-bottom-color: $terra-popup-arrow-inner-color;
    border-top-width: 0;
    left: -$terra-popup-arrow-inner-size;
    top: $terra-popup-arrow-inner-inset-size;
  }
}

.terra-PopupArrow--alignBottom {
  border-bottom-width: 0;
  border-top-color: $terra-popup-arrow-color;
  display: block;
  top: 100%;
  transform: translate3d(-100%, -100%, 0);

  .terra-PopupArrow-inner {
    border-bottom-width: 0;
    border-top-color: $terra-popup-arrow-inner-color;
    bottom: $terra-popup-arrow-inner-inset-size;
    left: -$terra-popup-arrow-inner-size;
  }
}

.terra-PopupArrow--alignLeft {
  border-left-width: 0;
  border-right-color: $terra-popup-arrow-color;
  display: block;
  left: 0;
  transform: translate3d(0, -100%, 0);

  .terra-PopupArrow-inner {
    border-left-width: 0;
    border-right-color: $terra-popup-arrow-inner-color;
    left: $terra-popup-arrow-inner-inset-size;
    top: -$terra-popup-arrow-inner-size;
  }
}

.terra-PopupArrow--alignRight {
  border-left-color: $terra-popup-arrow-color;
  border-right-width: 0;
  display: block;
  left: 100%;
  transform: translate3d(-100%, -100%, 0);

  .terra-PopupArrow-inner {
    border-left-color: $terra-popup-arrow-inner-color;
    border-right-width: 0;
    right: $terra-popup-arrow-inner-inset-size;
    top: -$terra-popup-arrow-inner-size;
  }
}
