@import '~terra-mixins';

$terra-popup-frame-margin: 10px;

.terra-PopupFrame {
  max-height: calc(100vh - 20px);
  max-width: calc(100vw - 20px);
}

.terra-PopupFrame-content {
  background-color: #fff;
  border: 1px solid;
  overflow: auto;
}

.terra-PopupFrame--arrowTop {
  margin-top: $terra-popup-frame-margin;
}

.terra-PopupFrame--arrowBottom {
  margin-bottom: $terra-popup-frame-margin;
}

.terra-PopupFrame--arrowStart {
  margin-left: $terra-popup-frame-margin;
}

.terra-PopupFrame--arrowEnd {
  margin-right: $terra-popup-frame-margin;
}
