@import '~terra-mixins';

$terra-popup-margin: 9px;

.terra-Popup-header {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  height: 30px;
  width: 100%;
}

.terra-Popup-closeButton {
  color: $terra-grey-30;

  &:hover {
    color: $terra-grey-70;
  }
}

.terra-Popup-content {
  background-color: $terra-white;
  border: 1px solid $terra-grey-35;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.35);
  max-height: 100vh;
  max-width: 100vw;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.terra-Popup-content--isFullScreen {
  box-shadow: none;
}

.terra-Popup--arrowTop {
  margin-top: $terra-popup-margin;
}

.terra-Popup--arrowBottom {
  margin-bottom: $terra-popup-margin;
}

.terra-Popup--arrowLeft {
  margin-left: $terra-popup-margin;
}

.terra-Popup--arrowRight {
  margin-right: $terra-popup-margin;
}
