@import '~terra-mixins';

$terra-popup-frame-margin: 10px;

// These are relative to screen coordinates, so no bi-di concerns
.terra-PopupFrame {
  // default to maximum of the screen
  max-height: 100vh;
  max-width: 100vw;
}

.terra-PopupFrame-content {
  background-color: #fff;
  border: 1px solid #b2b5b6;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.35);
  overflow: auto;
}

.terra-PopupFrame--arrowTop {
  margin-top: $terra-popup-frame-margin;
}

.terra-PopupFrame--arrowBottom {
  margin-bottom: $terra-popup-frame-margin;
}

.terra-PopupFrame--arrowLeft {
  margin-left: $terra-popup-frame-margin;
}

.terra-PopupFrame--arrowRight {
  margin-right: $terra-popup-frame-margin;
}
