@import '~terra-mixins';

.terra-TetherComponent-target {
  display: inline-block;
}

.terra-TetherComponent-element {
  z-index: $terra-z-index-5 + 1;
}

.terra-TetherComponent-element--modal {
  z-index: $terra-z-index-8 + 1;
}
