/* stylelint-disable selector-class-pattern  */
:local {
  .toggle-button {
    display: block;
  }

  .icon {
    display: inline-block;
    font-size: 0.8em;
    transform: rotate(0deg);
  }

  .is-open .icon {
    transform: rotate(90deg);
  }

  .is-icon-animated .icon {
    transition: transform 0.15s ease-in;
  }

  .is-open.is-icon-animated .icon {
    transition: transform 0.15s ease-in;
  }

  .button-text {
    padding-left: 0.3rem;
  }
}
/* stylelint-enable */
