:local {
  .toggle-button {
    display: block;
  }

  .icon {
    display: inline-block;
    line-height: 1;
    transform: rotate(0deg);
    
    svg {
      font-size: 0.8em;
      position: relative;
      top: -0.07143em;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        top: -0.14285em;
      }
    }
  }
  
  .is-open .icon {
    transform: rotate(90deg);
  }

  .is-icon-animated .icon {
    transition: transform 0.15s ease-in;
  }

  .is-open.is-icon-animated .icon {
    transition: transform 0.15s ease-in;
  }

  .button-text {
    padding-left: 0.3rem;
  }
}
