@import '~terra-mixins/lib/Mixins';

:global {
  // ---------------------- Shared ----------------------- //
  --terra-avatar-after-box-shadow: none;
  --terra-avatar-border: none;
  --terra-avatar-color: #404344;

  // -------------------- Version 2.x -------------------- //
  --terra-avatar-neutral-background-color: #6f7477;
  --terra-avatar-neutral-after-box-shadow: none;

  --terra-avatar-one-background-color: #6f7477;
  --terra-avatar-one-after-box-shadow: none;

  --terra-avatar-two-background-color: #6f7477;
  --terra-avatar-two-after-box-shadow: none;

  --terra-avatar-three-background-color: #6f7477;
  --terra-avatar-three-after-box-shadow: none;

  --terra-avatar-four-background-color: #6f7477;
  --terra-avatar-four-after-box-shadow: none;

  --terra-avatar-five-background-color: #6f7477;
  --terra-avatar-five-after-box-shadow: none;

  --terra-avatar-six-background-color: #6f7477;
  --terra-avatar-six-after-box-shadow: none;

  --terra-avatar-seven-background-color: #6f7477;
  --terra-avatar-seven-after-box-shadow: none;

  --terra-avatar-eight-background-color: #6f7477;
  --terra-avatar-eight-after-box-shadow: none;

  --terra-avatar-nine-background-color: #6f7477;
  --terra-avatar-nine-after-box-shadow: none;

  --terra-avatar-ten-background-color: #6f7477;
  --terra-avatar-ten-after-box-shadow: none;

  --terra-avatar-image-is-deceased-opacity: 0.5;
  --terra-avatar-is-deceased-background-color: #6f7477;
  --terra-avatar-is-deceased-after-box-shadow: none;

  @include terra-inline-svg-var('--terra-avatar-icon-facility-background-image', "<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='#404344' viewBox='0 0 48 48'><path d='M33,20.2V12H15v8.2H9.8V48h12v-9h4.5v9h12V20.2H33z M17.2,42.8h-3V39h3V42.8z M17.2,33.8h-3V30h3V33.8z M25.5,33.8h-3V30h3 V33.8z M29.2,22.5h-3.8v3.8h-3v-3.8h-3.8v-3h3.8v-3.8h3v3.8h3.8V22.5z M33.8,42.8h-3V39h3V42.8z M33.8,33.8h-3V30h3V33.8z'/></svg>");
  @include terra-inline-svg-var('--terra-avatar-icon-shared-user-background-image', "<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='#404344' viewBox='0 0 48 48'><path d='M24,8.6c5.1,0,9.3,4.2,9.3,9.3s-4.2,9.3-9.3,9.3s-9.3-4.2-9.3-9.3C14.8,12.8,18.9,8.6,24,8.6z M40,48v-4.7 c0-7.6-6.1-13.8-13.7-13.8c0,0,0,0,0,0h-4.5C14.1,29.6,8,35.7,8,43.3c0,0,0,0,0,0V48H40z'/></svg>");
  @include terra-inline-svg-var('--terra-avatar-icon-user-background-image', "<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='#404344' viewBox='0 0 48 48'><path d='M24,8.6c5.1,0,9.3,4.2,9.3,9.3s-4.2,9.3-9.3,9.3s-9.3-4.2-9.3-9.3C14.8,12.8,18.9,8.6,24,8.6z M40,48v-4.7 c0-7.6-6.1-13.8-13.7-13.8c0,0,0,0,0,0h-4.5C14.1,29.6,8,35.7,8,43.3c0,0,0,0,0,0V48H40z'/></svg>");

  // -------------------- Version 1.x -------------------- //
  --terra-avatar-background-color: #6f7477;

  @include terra-inline-svg-var('--terra-avatar-icon-facility', "<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='#404344' viewBox='0 0 48 48'><path d='M33,20.2V12H15v8.2H9.8V48h12v-9h4.5v9h12V20.2H33z M17.2,42.8h-3V39h3V42.8z M17.2,33.8h-3V30h3V33.8z M25.5,33.8h-3V30h3 V33.8z M29.2,22.5h-3.8v3.8h-3v-3.8h-3.8v-3h3.8v-3.8h3v3.8h3.8V22.5z M33.8,42.8h-3V39h3V42.8z M33.8,33.8h-3V30h3V33.8z'/></svg>");
  @include terra-inline-svg-var('--terra-avatar-icon-user', "<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='#404344' viewBox='0 0 48 48'><path d='M24,8.6c5.1,0,9.3,4.2,9.3,9.3s-4.2,9.3-9.3,9.3s-9.3-4.2-9.3-9.3C14.8,12.8,18.9,8.6,24,8.6z M40,48v-4.7 c0-7.6-6.1-13.8-13.7-13.8c0,0,0,0,0,0h-4.5C14.1,29.6,8,35.7,8,43.3c0,0,0,0,0,0V48H40z'/></svg>");
}
