$terra-slide-panel-panel-width-small: 320px !default;
$terra-slide-panel-panel-width-large: 60% !default;
$terra-slide-panel-panel-border-color: $terra-grey-20 !default;
$terra-slide-panel-shadow-color: $terra-grey-30 !default;
