// Variables
// ==========================
:root {
  --terra-bidi: false;
  --terra-slide-panel-panel-width-small: 320px;
  --terra-slide-panel-panel-width-large: 60%;
  --terra-slide-panel-panel-border-color: #d3d4d5;
  --terra-slide-panel-shadow-color: #bcbfc0;
}
