/* stylelint-disable selector-class-pattern */
:local {
  .slide-panel {
    overflow: hidden;
    position: relative;
  }

  .main,
  .panel {
    background-color: #fff;
    box-sizing: border-box;

    height: 100%;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: auto;

    transition: transform 0.15s ease;

    width: 100%;
  }

  .main {
    position: relative;
    z-index: 0;
  }

  .panel {
    position: absolute;
    z-index: 500; // z-index used to set master above detail in visual stacking context.
  }

  // Prevent z-index issues with nesting
  /* stylelint-disable selector-max-compound-selectors */
  .slide-panel .slide-panel > .panel {
    z-index: 499;
  }
  /* stylelint-enable selector-max-compound-selectors */

  [data-slide-panel-panel-position='start'] {
    > .main {
      float: right;
    }

    > .panel {
      transform: translate3d(-100%, 0, 0);
    }
  }

  [data-slide-panel-panel-position='end'] {
    > .main {
      float: left;
    }

    > .panel {
      right: 0;
      transform: translate3d(100%, 0, 0);
    }
  }

  // Move the slider back to its origin when its on-screen.
  .is-open > .panel {
    transform: translate3d(0, 0, 0);
  }

  @media all and (min-width: 768px) {
    // Set explicit width on larger screens
    [data-slide-panel-panel-size='small'] > .panel {
      width: var(--terra-slide-panel-panel-width-small, 320px);
    }

    [data-slide-panel-panel-size='large'] > .panel {
      width: var(--terra-slide-panel-panel-width-large, 60%);
    }
  }

  // Overlay
  .is-open[data-slide-panel-panel-behavior='overlay'] {
    @media (min-width: 768px), print {
      &[data-slide-panel-panel-position='start'] > .panel {
        box-shadow: 1px 0 5px var(--terra-slide-panel-shadow-color, #bcbfc0);
      }

      &[data-slide-panel-panel-position='end'] > .panel {
        box-shadow: -1px 0 5px var(--terra-slide-panel-shadow-color, #bcbfc0);
      }
    }
  }

  // Squish
  .is-open[data-slide-panel-panel-behavior='squish'] {
    @media (min-width: 768px), print {
      &[data-slide-panel-panel-size='small'] > .main {
        width: calc(100% - #{var(--terra-slide-panel-panel-width-small, 320px)});
      }

      &[data-slide-panel-panel-size='large'] > .main {
        width: calc(100% - #{var(--terra-slide-panel-panel-width-large, 60%)});
      }

      &[data-slide-panel-panel-position='start'] > .panel {
        border-right: 1px solid var(--terra-slide-panel-panel-border-color, #d3d4d5);
      }

      &[data-slide-panel-panel-position='end'] > .panel {
        border-left: 1px solid var(--terra-slide-panel-panel-border-color, #d3d4d5);
      }
    }
  }

  // Fullscreen
  .is-fullscreen[data-slide-panel-panel-size] > .panel {
    width: 100%;
  }

  // Fill
  .fill {
    height: 100%;
    width: 100%;
  }
}
