@import '~terra-mixins';
@import './variables';

.terra-Standout {
  background-color: $terra-standout-background-color;
  border: 1px solid $terra-standout-border-color;
  border-radius: 0.25em;
  padding: 0.7em;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.terra-Standout--notice {
  background-color: $terra-standout-notice-background-color;
}
