@import '~terra-mixins';

.terra-Content {
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  a {
    background-color: transparent;
    color: $terra-blue-90;
    text-decoration: none;
    text-decoration-skip: objects;

    &:focus,
    &:hover {
      color: $terra-blue-100;
      outline-width: 0;
      text-decoration: underline;
    }
  }

  // ignoring stylelint for reset stylesheet
  // stylelint-disable selector-no-qualifying-type
  // ignoring stylelint for reset stylesheet
  // stylelint-disable declaration-property-value-blacklist
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  // stylelint-enable selector-no-qualifying-type
  // stylelint-enable declaration-property-value-blacklist

  b,
  strong {
    font-weight: inherit;
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  dfn {
    font-style: italic;
  }

  dt {
    font-weight: bold;
  }

  mark {
    background-color: #ff0;
    color: #000;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  // stylelint does not like value none for attribute border-style
  // stylelint-disable declaration-property-value-blacklist
  img {
    border-style: none;
  }
  // stylelint-enable declaration-property-value-blacklist

  svg:not(:root) {
    overflow: hidden;
  }

  // code styling
  pre code {
    display: block;
  }

  code {
    background: $terra-blue-10;
    color: $terra-grey-90;
    font-size: 80%;
  }
}
