:local {
  .dialog {
    // testing-only
    // remove before merge
    border: dashed;
  }

  .header {
    padding: 10px;
  }

  .body {
    padding: 10px;
  }

  .footer {
    padding: 10px;
  }
}
