:local {
  .dialog {
    height: 100%;
    width: 100%;
  }

  .dialog-header {
    background-color: var(--terra-dialog-header-background-color, transparent);
    border-bottom: var(--terra-dialog-header-bottom-border, none);
    color: var(--terra-dialog-header-foreground-color, #1c1f21);
  }

  .dialog-body {
    background-color: var(--terra-dialog-body-background-color, transparent);
    color: var(--terra-dialog-body-foreground-color, #1c1f21);
    padding: var(--terra-dialog-body-padding, 0.7143rem);
  }

  .dialog-footer {
    background-color: var(--terra-dialog-footer-background-color, #f4f4f4);
    border-top: var(--terra-dialog-footer-bottom-top, 1px solid #dedfe0);
    color: var(--terra-dialog-footer-foreground-color, #1c1f21);
    padding: var(--terra-dialog-footer-padding, 0.7143rem);
  }
}
