:root {
  // PopupArrow Variables
  --terra-PopupArrow-size: 10px;
  --terra-PopupArrow-color: rgba(178, 181, 182, 0.9);
  --terra-PopupArrow-inner-size: 10px;
  --terra-PopupArrow-inner-inset-size: 1px;
  --terra-PopupArrow-inner-color: #fff;

  // PopupContent Variables
  --terra-PopupContent-margin: 9px;
  --terra-PopupContent-header-boxShadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  --terra-PopupContent-header-height: 30px;
  --terra-PopupContent-close-background: 0 0;
  --terra-PopupContent-close-border: 0;
  --terra-PopupContent-close-color: #999;
  --terra-PopupContent-close-fontSize: 1.45rem;
  --terra-PopupContent-close-fontWeight: bold;
  --terra-PopupContent-close-lineHeight: 1;
  --terra-PopupContent-close-padding: 0;
  --terra-PopupContent-close-hoverColor: #111;
  --terra-PopupContent-inner-backgroundColor: #fff;
  --terra-PopupContent-inner-border: 1px solid #b2b5b6;
  --terra-PopupContent-inner-boxShadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.35);

  // PopupOverlay Variables
  --terra-PopupOverlay-zIndex: 7000;
  --terra-PopupOverlay-backgroundColor: #fff;
  --terra-PopupOverlay-opacity: 0.01;
}
