@import './variables';

:local {
  // These are relative to screen coordinates, so no bidi changes needed
  [dir=ltr],
  [dir=rtl] {
    /* stylelint-disable selector-class-pattern  */
    .popupContent {
      display: block;
    }

    .roundedCorners {
      border-radius: 5px;
    }

    .header {
      border-bottom: var(--terra-PopupContent-header-border-bottom);
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .close {
      background: var(--terra-PopupContent-close-background);
      border: var(--terra-PopupContent-close-border);
      color: var(--terra-PopupContent-close-color);
      cursor: pointer;
      font-size: var(--terra-PopupContent-close-fontSize);
      font-weight: var(--terra-PopupContent-close-fontWeight);
      line-height: var(--terra-PopupContent-close-lineHeight);
      margin-left: var(--terra-PopupContent-close-marginLeft);
      margin-right: var(--terra-PopupContent-close-marginRight);
      padding: var(--terra-PopupContent-close-padding);

      &:hover {
        color: var(--terra-PopupContent-close-hoverColor);
      }
    }

    .inner {
      background-color: var(--terra-PopupContent-inner-backgroundColor);
      border: var(--terra-PopupContent-inner-border);
      box-shadow: var(--terra-PopupContent-inner-boxShadow);
      max-height: 100vh;
      max-width: 100vw;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }

    .isFullScreen {
      box-shadow: none;
    }

    .popupContent[data-arrow-top='true'] {
      margin-top: var(--terra-PopupContent-margin);
    }

    .popupContent[data-arrow-bottom='true'] {
      margin-bottom: var(--terra-PopupContent-margin);
    }

    .popupContent[data-arrow-left='true'] {
      margin-left: var(--terra-PopupContent-margin);
    }

    .popupContent[data-arrow-right='true'] {
      margin-right: var(--terra-PopupContent-margin);
    }
  }
  /* stylelint-enable */
}
