@import '~terra-mixins';

.terra-PopupOverlay {
  background-color: $terra-white;
  height: 100%;
  opacity: 0.01;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-x: scroll;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $terra-z-index-7;
  @include terra-position-start(0);

  &::-webkit-scrollbar {
    display: none;
  }
}

.terra-PopupOverlay-inner {
  height: 200%;
  position: absolute;
  top: 0;
  width: 200%;
  @include terra-position-start(0);
}
