:local {
  [dir=ltr],
  [dir=rtl] {
    // These are relative to screen coordinates, so no bi-di concerns
    .popup-arrow {
      border: var(--terra-popup-arrow-size, 11px) solid transparent;
      display: none;
      height: 0;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 0;
      z-index: var(--terra-popup-arrow-z-index, 7002);

      &::after {
        border: var(--terra-popup-arrow-inner-size, 10px) solid transparent;
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        z-index: var(--terra-popup-arrow-inner-z-index, 7003);
      }
    }

    .popup-arrow[data-align-arrow='top'] {
      border-bottom-color: var(--terra-popup-arrow-color, #b2b5b6);
      border-top-width: 0;
      display: block;
      top: 0;
      transform: translate3d(-100%, -100%, 0);

      &::after {
        border-bottom-color: #fff;
        border-top-width: 0;
        left: calc(-1 * var(--terra-popup-arrow-inner-size, 10px));
        top: var(--terra-popup-arrow-inner-inset-size, 2px);
      }
    }

    .popup-arrow[data-align-arrow='bottom'] {
      border-bottom-width: 0;
      border-top-color: var(--terra-popup-arrow-color, #b2b5b6);
      display: block;
      top: 100%;
      transform: translate3d(-100%, 0, 0);

      &::after {
        border-bottom-width: 0;
        border-top-color: var(--terra-popup-arrow-inner-color, #fff);
        bottom: var(--terra-popup-arrow-inner-inset-size, 2px);
        left: calc(-1 * var(--terra-popup-arrow-inner-size, 10px));
      }
    }

    .popup-arrow[data-align-arrow='left'] {
      border-left-width: 0;
      border-right-color: var(--terra-popup-arrow-color, #b2b5b6);
      display: block;
      left: 0;
      transform: translate3d(-100%, -100%, 0);

      &::after {
        border-left-width: 0;
        border-right-color: var(--terra-popup-arrow-inner-color, #fff);
        left: var(--terra-popup-arrow-inner-inset-size, 2px);
        top: calc(-1 * var(--terra-popup-arrow-inner-size, 10px));
      }
    }

    .popup-arrow[data-align-arrow='right'] {
      border-left-color: var(--terra-popup-arrow-color, #b2b5b6);
      border-right-width: 0;
      display: block;
      left: 100%;
      transform: translate3d(0, -100%, 0);

      &::after {
        border-left-color: var(--terra-popup-arrow-inner-color, #fff);
        border-right-width: 0;
        right: var(--terra-popup-arrow-inner-inset-size, 2px);
        top: calc(-1 * var(--terra-popup-arrow-inner-size, 10px));
      }
    }
  }
}
