@import '~terra-mixins/lib/Mixins';

:local {
  .left-buttons > * {
    margin-right: var(--terra-action-header-margin-right, 1.429rem);
  }

  .right-buttons > * {
    margin-left: var(--terra-action-header-margin-left, 1.429rem);
  }

  .header-icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: var(--terra-action-header-icon-top, 0.1429rem);

    &.back {
      background: var(--terra-action-header-back-icon, inline-svg('<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="M48 21H10.6L27.3 3.9 23.5.1 0 24l23.5 23.9 3.8-3.8L10.6 27H48z"></path></svg>'));
    }

    &.close {
      background: var(--terra-action-header-close-icon, inline-svg('<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="M28.2 24L42.9 9.1 40.8 7l-1.7-1.6-.4-.5L24 19.7 9.4 4.9 7.2 7 5.6 8.6l-.5.5L19.8 24 5.1 38.9 7.2 41l1.7 1.6.5.5L24 28.3l14.7 14.8.4-.5 1.7-1.6 2.1-2.1L28.2 24z"></path></svg>'));
    }

    &.maximize {
      background: var(--terra-action-header-maximize-icon, inline-svg('<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="M17.7 26.1L6.9 36.9 0 30v18h18l-6.9-6.9 10.8-10.8zM48 0H30l6.9 6.9-10.8 10.8 4.2 4.2 10.8-10.8L48 18z"></path></svg>'));
    }

    &.minimize {
      background: var(--terra-action-header-minimize-icon, inline-svg('<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="M10.8 32.9L0 43.7 4.2 48l10.9-10.8 6.9 6.9V26H3.9zM48 4.2L43.8 0 32.9 10.8 26 3.9V22h18.1l-6.9-6.9z"></path></svg>'));
    }

    &.previous {
      background: var(--terra-action-header-previous-icon, inline-svg('<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="M24 10.3l24 23.5-3.8 3.9L24 18 3.8 37.7 0 33.8z"></path></svg>'));
    }

    &.next {
      background: var(--terra-action-header-next-icon, inline-svg('<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="M24 37.7L0 14.2l3.8-3.9L24 30l20.2-19.7 3.8 3.9z"></path></svg>'));
    }
  }
}
