local {
  .right-buttons > * {
    margin-bottom: 0;
    margin-left: 1.429rem;
    margin-right: 0;
    margin-top: 0;
  }

  .left-buttons > * {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 1.429rem;
    margin-top: 0;
  }
}
