:local {
  .divider {
    border-color: var(--terra-horizontal-divider-border-color, #b2b5b6);
    border-style: solid;
    border-top-width: var(--terra-horizontal-divider-border-width, 1px);
    height: 0;
    margin: 0;
  }
}
