:local {
  @mixin terra-divider {
    border-bottom-width: 0;
    border-color: var(--terra-divider-border-color, #dedfe0);
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-top-width: var(--terra-divider-border-top-width, 1px);
  }

  .divider {
    @include terra-divider;
  }

  .divider-container {
    align-items: center;
    display: flex;
    min-width: 0;
  }

  .divider-line {
    @include terra-divider;
    flex-basis: 3em;
    flex-grow: 1;
  }

  .divider-text {
    box-sizing: content-box;
    flex-grow: 0;
    text-align: center;
  }
}
