:local {
  .resize-handle {
    cursor: col-resize; /* stylelint-disable-line plugin/no-unsupported-browser-features */ // cursor isn't supported by Android/iOS browsers
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--terra-clinical-data-grid-resize-handle-width, 10px);

    &:hover {
      background-color: var(--terra-clinical-data-grid-resize-handle-hover-background-color, rgba(34, 42, 46, 0.6));
    }

    &.dragging {
      background-color: var(--terra-clinical-data-grid-resize-handle-active-background-color, rgba(34, 42, 46, 1));
      z-index: 1;
    }
  }
}
