:local {
  .table {
    background-color: var(--terra-flex-table-background-color, rgba(255, 255, 255, 0));
    border: var(--terra-flex-table-border, 1px solid #dedfe0);
    overflow: hidden;

    &.fill {
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;

      .header {
        display: flex;
        flex: 0 0 auto;
        overflow-y: scroll;
        position: relative;
        width: 100%;

        .header-content {
          flex: 1 1 auto;
          position: relative;
          width: 100%;
        }
      }

      .body {
        height: 100%;
        flex: 1 1 auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        position: relative;
        width: 100%;
      }
    }

    &.is-inline {
      display: inline-flex;
      flex-direction: column;
      width: auto;

      .header {
        position: static;
        width: auto;

        .header-content {
          position: relative;
          width: auto;
        }
      }

      .body {
        height: 100%;
        position: relative;
        width: auto;
      }
    }
  }

  .header {
    background-color: var(--terra-flex-table-header-background-color, #f4f4f4);
    border-bottom: var(--terra-flex-table-header-border-bottom, 1px solid #868a8c);
    box-shadow: var(--terra-flex-table-header-box-shadow, 0 4px 4px -4px rgba(134, 138, 140, 0.75), inset 0 0 0 1px #fff);
    z-index: 1;
  }

  .header-content {
    display: flex;
  }

  .body {
    background-color: var(--terra-flex-table-body-background-color);
    min-height: 0;
    flex: 1 1 auto;
  }
}
/* stylelint-enable selector-max-compound-selectors, max-nesting-depth */
