:local { 
  .signature-wrapper {
    border: 1px solid rgb(0, 0, 0);
    height: 100px;
    padding: 7px;
    width: 100%;
  }

  .text-area-style {
    border: 0;
    height: 88px;
    width: calc(100% - 0.2rem);
    
    &:focus {
      outline: 2px dotted #000;
      outline-offset: -2px;
    }
  }

  .clear-button {
    position: relative;
    z-index: 0;
  }

  .add-button {
    margin: 5px;
  }

  .input-image {
    margin: 5px;

    &:focus {
      border: 1px solid #4cb2e9;
      outline: none;
    }
  }

  .button {
    margin: 5px;
  }

  .form-select {
    margin: 3px;
    max-width: 300px;
  }
}
