/* stylelint-disable selector-class-pattern, selector-max-compound-selectors */
:local {
  .content-container {
    display: flex;
    flex-direction: column;

    > .header {
      flex: 0 0 auto;
    }

    > .main {
      flex: 1 1 auto;

      > .normalizer {
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; // Ensures scrollbars do not affect width in IE10
      }
    }
  }

  .fill {
    height: 100%;
    width: 100%;

    > .main {
      height: 100%;
      min-height: 50px;
      overflow: hidden;
      position: relative;
      width: 100%;

      > .normalizer {
        height: 100%;
        overflow: auto;
        position: absolute;
        width: 100%;
      }
    }
  }
}
/* stylelint-enable */
