/* stylelint-disable selector-max-compound-selectors */
:local {
  .content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    > .header,
    > .footer {
      flex: 0 0 auto;
    }

    > .main {
      flex: 1 1 auto;
      height: 100%;
      min-height: 50px;
      overflow: hidden;
      position: relative;
      width: 100%;

      > .normalizer {
        position: absolute;
      }
    }
  }

  // When not using the fill behavior set all values back to initial.
  .static {
    height: initial;
    width: initial;

    > .main {
      height: initial;
      min-height: initial;
      overflow: initial;
      position: initial;
      width: initial;

      > .normalizer {
        height: initial;
        overflow: initial;
        position: initial;
        width: initial;
      }
    }
  }
}
/* stylelint-enable */
