.terra-ModalExample-header {
  width: $terra-large-breakpoint;
}

.terra-ModalExample-subheader {
  width: $terra-large-breakpoint;
}

.terra-ModalExample-body {
  width: $terra-large-breakpoint;
}

.terra-ModalExample-footer {
  width: $terra-large-breakpoint;
}

.terra-ModalExample-closeButton {
  width: $terra-large-breakpoint;
}
