:local {
  .orion-fusion-theme {
    // Sample Consumer or Project Added ColorClass example styles (these do not come from Terra)
    --terra-text-docs-example-sample-consumer-added-colorclass-primary-color: #1c1f21;
    --terra-text-docs-example-sample-consumer-added-colorclass-secondary-color: rgba(28, 35, 40, 0.73);
    --terra-text-docs-example-sample-consumer-added-colorclass-attention-color: #c00;
    --terra-text-docs-example-sample-consumer-added-colorclass-result-value-unverified-color: #78288c;  
  }
}
