:local {
  .orion-fusion-theme {
    --terra-text-v2-font-stack-after-content: 'Tahoma, Geneva, Verdana, \"Trebuchet MS\", sans-serif';

    // Used for docsite custom color examples only 
    --terra-text-attention-color: #c00;
    --terra-text-default-color: #1c1f21;
    --terra-text-info-color: #007cc3;
    --terra-text-success-color: #78c346;
  }
}
