:local {
  .orion-fusion-theme {
    --terra-text-docs-example-font-stack-after-content: 'Tahoma, Geneva, Verdana, \"Trebuchet MS\", sans-serif;';

    --terra-text-docs-example-code-highlight-background-color: #f6f8fa;
    --terra-text-docs-example-code-highlight-color: #1c1f21;
  }
}
