:local {
  .orion-fusion-theme {
    // Pill
    --terra-pills-pill-container-background-color: #fff;
    --terra-pills-pill-container-border-color: #d6d7d9;
    --terra-pills-pill-container-border-radius: 3px;
    --terra-pills-pill-container-margin: 5px;
    --terra-pills-pill-container-border-color-focus: #4d5153;
    --terra-pills-pill-container-box-shadow-focus: inset 0 3rem 1.5rem -2rem #f4f4f4, 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(128, 191, 253, 1), 0 0 6px 3px rgba(128, 191, 253, 1);
    --terra-pills-pill-container-outline-focus: none;
    --terra-pills-pill-container-outline-offset-focus: 0;
    --terra-pills-pill-container-selectable-border-color-hover: #4d5153;
    --terra-pills-pill-container-selectable-border-color-active: #4d5153;
    --terra-pills-pill-container-selectable-removable-border-color-hover: #d6d7d9;
    --terra-pills-pill-container-selectable-removable-border-color-active: #d6d7d9;
    --terra-pills-pill-label-border-radius: 2px;
    --terra-pills-pill-label-color: #111619;
    --terra-pills-pill-label-font-size: 12px;
    --terra-pills-pill-label-padding-bottom: 5px;
    --terra-pills-pill-label-padding-left: 4px;
    --terra-pills-pill-label-padding-right: 4px;
    --terra-pills-pill-label-padding-top: 4px;
    --terra-pills-pill-label-selectable-background-color-hover: #dedfe0;
    --terra-pills-pill-label-selectable-background-color-active: #c8cacb;
    --terra-pills-pill-label-selectable-color-active: #111619;
    --terra-pills-pill-label-padding-right-removable: 4px;
    --terra-pills-pill-label-selectable-removable-background-color-hover: #dedfe0;
    --terra-pills-pill-label-selectable-removable-color-hover: #111619;
    --terra-pills-pill-label-selectable-removable-background-color-active: #c8cacb;
    --terra-pills-pill-label-selectable-removable-color-active: #111619;
    --terra-pills-pill-remove-button-background-color: #d6d7d9;
    --terra-pills-pill-remove-button-border-bottom-right-radius: 2px;
    --terra-pills-pill-remove-button-border-top-right-radius: 2px;
    --terra-pills-pill-remove-button-color: #434a4d;
    --terra-pills-pill-remove-button-padding-bottom: 5px;
    --terra-pills-pill-remove-button-padding-left: 3px;
    --terra-pills-pill-remove-button-padding-right: 3px;
    --terra-pills-pill-remove-button-padding-top: 6px;
    --terra-pills-pill-remove-button-background-color-hover: #d6d7d9;
    --terra-pills-pill-remove-button-color-hover: #004c76;
    --terra-pills-pill-remove-button-background-color-active: #c8cacb;
    --terra-pills-pill-remove-button-color-active: #004c76;
    --terra-pills-clear-icon-height: 12px;
    --terra-pills-clear-icon-width: 12px;

    //Roll Up Pill
    --terra-pills-roll-up-pill-background-color: #fff;
    --terra-pills-roll-up-pill-border-color: #d6d7d9;
    --terra-pills-roll-up-pill-border-radius: 3px;
    --terra-pills-roll-up-pill-color: #111619;
    --terra-pills-roll-up-pill-font-size: 12px;
    --terra-pills-roll-up-pill-margin: 5px;
    --terra-pills-roll-up-pill-padding-bottom: 5px;
    --terra-pills-roll-up-pill-padding-left: 4px;
    --terra-pills-roll-up-pill-padding-right: 4px;
    --terra-pills-roll-up-pill-padding-top: 4px;
    --terra-pills-roll-up-pill-border-color-focus: #4d5153;
    --terra-pills-roll-up-pill-box-shadow-focus: inset 0 3rem 1.5rem -2rem #f4f4f4, 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(128, 191, 253, 1), 0 0 6px 3px rgba(128, 191, 253, 1);
    --terra-pills-roll-up-pill-outline-focus: none;
    --terra-pills-roll-up-pill-outline-offset-focus: 0;
    --terra-pills-roll-up-pill-background-color-hover: #dedfe0;
    --terra-pills-roll-up-pill-border-color-hover: #4d5153;
    --terra-pills-roll-up-pill-background-color-active: #c8cacb;
    --terra-pills-roll-up-pill-border-color-active: #4d5153;
    --terra-pills-roll-up-pill-color-active: #111619;
  }
}