/* stylelint-disable selector-class-pattern  */
:local {
  .container {
    height: 100%;
  }

  .huge {
    height: 85%;
    width: 75%;
  }

  .large {
    height: 75%;
    width: 55%;
  }

  .medium {
    height: 65%;
    width: 55%;
  }

  .small {
    height: 50%;
    width: 50%;
  }

  .tiny {
    height: 40%;
    width: 50%;
  }
}
/* stylelint-enable */
