:local(.markdown) {
  list-style: disc outside none;
  margin-bottom: 1.25rem;

  blockquote {
    color: var(--terra-markdown-blockquote-color, #24292e);
  }

  .codeblock {
    color: #24292e;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 1em;
    line-height: 1.5;
    text-align: left;
    text-shadow: 0 1px #fff;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
  }

  .codeblock::selection,
  .codeblock ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  .token.comment,
  .token.prolog,
  .token.cdata,
  .token.coord {
    color: #6a737d;
  }

  .namespace {
    opacity: 0.7;
  }

  .token.function,
  .token.boolean,
  .token.number,
  .token.url,
  .token.atrule,
  .token.property {
    color: #005cc5;
  }

  .token.variable,
  .token.script ,
  .token.tag .token.punctuation {
    color: #24292e;
  }

  .token.tag,
  .token.tag .token.class-name,
  .token.constant,
  .token.symbol {
    color: #218336;
  }

  .token.function-variable.function,
  .token.string {
    color: #032f62;
  }

  .token.attr-name,
  .token.char,
  .token.builtin {
    color: #ba4f08;
  }

  .token.entity,
  .token.regex,
  .style .token.string {
    color: #906837;
  }

  .token.operator,
  .token.rule,
  .token.attr-value,
  .token.important,
  .token.script-punctuation.punctuation,
  .token.keyword {
    color: #d53040;
  }

  .token.selector,
  .token.attr-name,
  .token.class-name {
    color: #6f42c1;
  }

  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .token.deleted {
    background: #ffeef0;
    color: #b31d28;
  }

  .token.inserted {
    background: #f0fff4;
    color: #218336;
  }

  .token.diff.important {
    background: #ffebda;
    color: #b54d08;
  }
}
