// Themes
@import './clinical-lowlight-theme/ProfileImage.module';
@import './orion-fusion-theme/ProfileImage.module';

:local { 
  .placeholder-image {
    background-image: var(--terra-profile-image-placeholder-background-image, none); // Needed for themes
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;

    &.cover,
    &.fill {
      background-size: cover; // Needed for themes
    }

    &.contain,
    &.scale-down,
    &.none {
      background-size: contain; // Needed for themes
    }
  }
}
