.embedded-content-body {
  height: auto !important;
  padding: 1.25rem;
  width: 100%;
}

.xfc {
  height: 100%;
}

.embedded-content-fill {
  height: 100%;
}

.embedded-content-body-fill {
  height: 100%;
  padding: 1.25rem;
  width: 100%;
}
