@import '~terra-mixins/lib/Mixins';

// Themes
@import './clinical-lowlight-theme/SectionHeader.module';
@import './orion-fusion-theme/SectionHeader.module';

:local {
  .section-header {
    @include terra-padding-end(var(--terra-section-header-padding-end, 0.7142857143rem));
    @include terra-padding-start(var(--terra-section-header-padding-start, 0.7142857143rem));
    align-items: center;
    background: var(--terra-section-header-background, #e8e9ea);
    border-bottom: var(--terra-section-header-border-bottom, 1px solid #c8cacb);
    border-left: var(--terra-section-header-border-left, 0 none);
    border-right: var(--terra-section-header-border-right, 0 none);
    border-top: var(--terra-section-header-border-top, 0 none);
    box-shadow: var(--terra-section-header-box-shadow, none);
    color: var(--terra-section-header-color, #1c1f21);
    display: flex;
    margin: 0;
    min-height: var(--terra-section-header-min-height, 2.5rem);
    padding-bottom: var(--terra-section-header-padding-bottom, 0.5rem);
    padding-top: var(--terra-section-header-padding-top, 0.5rem);
    width: 100%;

    &.is-interactable {
      @include terra-padding-start(var(--terra-section-header-accordion-padding-start, 0.5rem));
      cursor: pointer;

      &:hover {
        background: var(--terra-section-header-hover-background, #d7d8d9);
        border-bottom: var(--terra-section-header-hover-border-bottom, 1px solid #c8cacb);
        border-left: var(--terra-section-header-hover-border-left), 0 none;
        border-right: var(--terra-section-header-hover-border-right, 0 none);
        border-top: var(--terra-section-header-hover-border-top, 0 none);
        box-shadow: var(--terra-section-header-hover-box-shadow, none);
        color: var(--terra-section-header-hover-color, #1c1f21);
      }

      &:focus {
        background: var(--terra-section-header-focus-background, #e8e9ea);
        border-bottom: var(--terra-section-header-focus-border-bottom, 1px solid #c8cacb);
        border-left: var(--terra-section-header-focus-border-left, 0 none);
        border-right: var(--terra-section-header-focus-border-right, 0 none);
        border-top: var(--terra-section-header-focus-border-top, 0 none);
        box-shadow: var(--terra-section-header-focus-box-shadow, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35));
        color: var(--terra-section-header-focus-color, #1c1f21);
        outline: none;
      }

      &:active,
      &.is-active {
        background: var(--terra-section-header-active-background, #d7d8d9);
        border-bottom: var(--terra-section-header-active-border-bottom, 1px solid #c8cacb);
        border-left: var(--terra-section-header-active-border-left, 0 none);
        border-right: var(--terra-section-header-active-border-right, 0 none);
        border-top: var(--terra-section-header-active-border-top, 0 none);
        box-shadow: var(--terra-section-header-active-box-shadow, none);
        color: var(--terra-section-header-active-color, #1c1f21);
      }
    }

    &.is-transparent {
      background: rgba(0, 0, 0, 0);
      border-bottom: 0;
      min-height: var(--terra-section-header-transparent-min-height, 2.42857rem);
    }

    &.is-interactable.is-transparent {
      &:hover {
        background: var(--terra-section-header-transparent-hover-background, rgba(0, 0, 0, 0));
        border-bottom: var(--terra-section-header-transparent-hover-border-bottom, 0 none);
        border-left: var(--terra-section-header-transparent-hover-border-left, 0 none);
        border-right: var(--terra-section-header-transparent-hover-border-right, 0 none);
        border-top: var(--terra-section-header-transparent-hover-border-top, 0 none);
        box-shadow: var(--terra-section-header-transparent-hover-box-shadow, none);
        color: var(--terra-section-header-transparent-hover-color, #1c1f21);
      }

      &:focus {
        background: var(--terra-section-header-transparent-focus-background, rgba(0, 0, 0, 0.07));
        border-bottom: var(--terra-section-header-transparent-focus-border-bottom, 0 none);
        border-left: var(--terra-section-header-transparent-focus-border-left, 0 none);
        border-right: var(--terra-section-header-transparent-focus-border-right, 0 none);
        border-top: var(--terra-section-header-transparent-focus-border-top, 0 none);
        box-shadow: var(--terra-section-header-transparent-focus-box-shadow, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35));
        color: var(--terra-section-header-transparent-focus-color, #1c1f21);
        outline: none;
      }

      &:active,
      &.is-active {
        background: var(--terra-section-header-transparent-active-background, rgba(0, 0, 0, 0.07));
        border-bottom: var(--terra-section-header-transparent-active-border-bottom, 0 none);
        border-left: var(--terra-section-header-transparent-active-border-left, 0 none);
        border-right: var(--terra-section-header-transparent-active-border-right, 0 none);
        border-top: var(--terra-section-header-transparent-active-border-top, 0 none);
        box-shadow: var(--terra-section-header-transparent-active-box-shadow, none);
        color: var(--terra-section-header-transparent-active-color, #1c1f21);
      }
    }
  }

  .title-arrange {
    flex: 0 1 auto; // For IE 10
  }

  .title {
    display: block;
    font-size: var(--terra-section-header-font-size, 1rem);
    font-weight: var(--terra-section-header-font-weight, bold);
    line-height: var(--terra-section-header-line-height, 1.4285714286);
    margin: 0;
    text-transform: var(--terra-section-header-text-transform, none);
  }

  .accordion-icon-wrapper {
    @include terra-margin-start(var(--terra-section-header-accordion-icon-margin-start, 0));
    @include terra-margin-end(var(--terra-section-header-accordion-icon-margin-end, 0.38rem));
    @include terra-padding-start(var(--terra-section-header-accordion-icon-padding-start, 0));
    @include terra-padding-end(var(--terra-section-header-accordion-icon-padding-end, 0));
    padding-bottom: var(--terra-section-header-accordion-icon-padding-bottom, 0);
    padding-top: var(--terra-section-header-accordion-icon-padding-top, 0.38rem);
  }

  .accordion-icon {
    background: var(--terra-section-header-accordion-icon-background, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#1c1f21" d="M12,0l24,24L12,48V0z"/></svg>'));
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: var(--terra-section-header-accordion-icon-height, 0.83593rem);
    transform: rotate(0deg);
    width: var(--terra-section-header-accordion-icon-width, 0.83593rem);

    // flips the icon about its vertical axis, presenting it in its mirrored-image form
    [dir=rtl] & {
      transform: scaleX(-1);
    }

    // tells the rtl postcss plugin to not transform this by default
    [dir] &.is-open {
      transform: rotate(90deg);
    }
  }

  .arrange-wrapper {
    margin: 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
