:local {
  .selectable-demographics-banner {
    background-clip: border-box;
    background-color: var(--terra-demographics-banner-selectable-background-color, transparent);
    background-image: var(--terra-demographics-banner-selectable-background-image);
    box-shadow: var(--terra-demographics-banner-selectable-box-shadow);
    color: var(--terra-demographics-banner-selectable-color, #fff);
    line-height: 1;
    padding: var(--terra-demographics-banner-selectable-padding, 0.714em);
  }

  .profile-photo {
    margin: var(--terra-demographics-banner-selectable-profile-photo-margin);
  }

  .background-tile {
    background-color: #004c76;
    display: flex;
    flex-direction: row;
  }

  .selectable-tile {
    border: solid 1px transparent;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.33);
    flex: 1 1 auto;
    margin: 0.5rem;

    &:focus {
      border-color: #c8cacb;
    }

    &:hover {
      border-color: #c8cacb;
    }
  }

  .deceased {
    background-clip: border-box;
    background-color: var(--terra-demographics-banner-deceased-selectable-background-color, #1c1f21);
    background-image: var(--terra-demographics-banner-deceased-selectable-background-image);
    color: var(--terra-demographics-banner-deceased-selectable-color, #fff);

    .profile-photo {
      opacity: var(--terra-demographics-banner-deceased-selectable-profile-photo-opacity, 0.7);
    }

    .selectable-tile {
      box-shadow: 0 0 3px 1px rgb(0, 0, 0);
    }
  }

  .divider {
    border: 1px solid #fff;
    border-radius: 1.5rem;
    flex: 0 0 auto;
    margin: 0.75rem 0.1rem;
  }

  .info-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.5rem;
    width: 3.5rem;
  }
}
