:local {
  .background-tile {
    background-color: var(--terra-demographics-banner-background-color, #004c76);
    display: flex;
    flex-direction: row;
  }

  .selectable-tile {
    border: solid 1px transparent;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.33);
    flex: 1 1 auto;
    margin: 0.1rem;

    &:focus {
      border-color: var(--terra-demographics-banner-focus-border-color, #c8cacb);
      box-shadow: var(--terra-demographics-banner-focus-box-shadow, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35));
    }

    &:hover {
      background-color: var(--terra-demographics-banner-hover-background-color, #b9bbbc);
      border-color: var(--terra-demographics-banner-hover-border-color, #c8cacb);
    }
  }

  .deceased {
    .selectable-tile {
      box-shadow: 0 0 3px 1px rgb(0, 0, 0);
    }
  }
}
