:local {
  .dropdown {
    display: inline-block;
    left: 0;
    max-width: 100vw;
    position: absolute;
    width: max-content;
    z-index: 9001;
  }
  
  .dropdown-top {
    bottom: 100%;
  } 
  
  .dropdown-bottom {
    top: 100%;
  } 

  .dropdown-right {
    left: auto;
    right: 0;
  } 
  
  .dropdown-left {
    left: 0;
    right: auto;
  } 
}
