:local {
  .dropdown-list {
    background: var(--terra-dropdown-button-menu-background, #fff);
    color: var(--terra-dropdown-button-menu-color, #1c1f21);
    font-size: var(--terra-dropdown-button-menu-font-size, 0.9285714286rem);
    line-height: var(--terra-dropdown-button-menu-line-height, 1.2);
    list-style: none;
    margin: 0;
    padding-bottom: var(--terra-dropdown-button-menu-padding-bottom, 5px);
    padding-left: 0;
    padding-right: 0;
    padding-top: var(--terra-dropdown-button-menu-padding-top, 5px);
  }

  .dropdown-list-element {
    padding-bottom: var(--terra-dropdown-button-menu-item-padding-bottom, 4px);
    padding-left: var(--terra-dropdown-button-menu-item-padding-left, 10px);
    padding-right: var(--terra-dropdown-button-menu-item-padding-right, 10px);
    padding-top: var(--terra-dropdown-button-menu-item-padding-top, 4px);

    &:focus {
      background: var(--terra-dropdown-button-menu-item-focus-background, #ebf6fd);
      box-shadow: 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35);
      outline: 0;
    }

    &:hover {
      background: var(--terra-dropdown-button-menu-item-hover-background, #ebf6fd);
      outline: 0;
    }
  }
}
