:local {
  .dropdown-list {
    background: var(--terra-dropdown-button-list-background, #fff);
    box-shadow: var(--terra-dropdown-button-list-box-shadow, 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 4px 3px -3px rgba(0, 0, 0, 0.5));
    list-style: none;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding-bottom: var(--terra-dropdown-button-list-padding-bottom, 5px);
    padding-left: 0;
    padding-right: 0;
    padding-top: var(--terra-dropdown-button-list-padding-top, 5px);
  }
}
