:local {
  .dropdown-button-base {
    border-radius: var(--terra-dropdown-button-border-radius, 3px);
    box-shadow: var(--terra-dropdown-button-box-shadow);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &.disabled {
      opacity: var(--terra-dropdown-button-disabled-opacity, 0.4);
      pointer-events: none;
    }

    &.is-block {
      display: flex;
    }
  }
}
