:local {
  .dropdown {
    display: inline-block;
    left: 0;
    position: absolute;
    // top: 100%;
    width: max-content;
    z-index: 9001;
  }
  
  .dropdown-top {
    bottom: 100%;
  } 
  
  .dropdown-bottom {
    top: 100%;
  }  
}
