@import '~terra-mixins/lib/Mixins';

//  Map Dropdown Button Variant's Color Schemes
// ==========================

@mixin terra-dropdown-button-variant-color($color-map) {
  .split-button-primary,
  .split-button-chevron,
  .dropdown-button-type {
    background-color: map-get($color-map, background-color);
    border-color: map-get($color-map, border-color);
    border-width: map-get($color-map, border-width);
    box-shadow: map-get($color-map, box-shadow);
    color: map-get($color-map, color);

    &:focus {
      background-color: map-get($color-map, focus-background-color);
      border-color: map-get($color-map, focus-border-color);
      box-shadow: map-get($color-map, focus-box-shadow);
    }

    &:hover {
      background-color: map-get($color-map, hover-background-color);
      color: map-get($color-map, hover-color);
    }

    &.is-active,
    &:active {
      background-color: map-get($color-map, active-background-color);
      border-color: map-get($color-map, active-border-color);
      color: map-get($color-map, active-color);
    }
  }

  .split-button-primary,
  .split-button-chevron {
    font-weight: map-get($color-map, split-font-weight);

    &.is-active,
    &:active {
      font-weight: map-get($color-map, split-active-font-weight);
    }
  }

  .dropdown-button-type {
    font-weight: map-get($color-map, dropdown-font-weight);

    &.is-active,
    &:active {
      font-weight: map-get($color-map, dropdown-active-font-weight);
    }
  }

  .chevron-icon {
    background: map-get($color-map, chevron-icon-background);
  }

  :active,
  .is-active {
    > .chevron-icon {
      background: map-get($color-map, active-chevron-icon-background);
    }
  }

  .disabled .chevron-icon {
    background: map-get($color-map, disabled-chevron-icon-background);
  }
}
