@import '~terra-mixins/lib/Mixins';

@import './variables';
@import './mixins';

:local {
  .dropdown-button-type {
    border-radius: var(--terra-dropdown-button-border-radius, 3px);
    border-style: solid;
    display: inline-flex;
    // Needed for IE 10 to linebreak things properly
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: var(--terra-dropdown-button-dropdown-type-font-size, 1rem);
    line-height: var(--terra-dropdown-button-dropdown-type-line-height, 1.4285714286);
    outline: 0;
    padding-bottom: var(--terra-dropdown-button-dropdown-type-padding-bottom, 4px);
    padding-left: var(--terra-dropdown-button-dropdown-type-padding-left, 10px);
    padding-right: var(--terra-dropdown-button-dropdown-type-padding-right, 7px);
    padding-top: var(--terra-dropdown-button-dropdown-type-padding-top, 4px);

    &.is-block {
      display: flex;
    }
    
    // Remove the inner border and padding in Firefox.
    &::-moz-focus-inner {
      border: 0;
    }
  }

  .dropdown-button-type-text {
    display: inline-block;
    // Needed for IE 10 to linebreak things properly
    flex: 0 1 auto;
    margin-right: var(--terra-dropdown-button-dropdown-type-text-margin-right, 5px);
  }

  .is-block > .dropdown-button-type-text {
    flex-grow: 1;
  }

  .neutral {
    @include terra-dropdown-button-variant-color($terra-dropdown-button-neutral-color-scheme);
  }

  .emphasis {
    @include terra-dropdown-button-variant-color($terra-dropdown-button-emphasis-color-scheme);
  }

  .chevron-icon {
    display: inline-block;
    // If flex-shrink is set to 1 IE will give the button 0 width
    flex: 0 0 auto;
    height: var(--terra-dropdown-button-chevron-height, 14px);
    margin: auto 0;
    width: var(--terra-dropdown-button-chevron-width, 14px);
  }
}
