@import '~terra-mixins/lib/Mixins';

@import './variables';
@import './mixins';

:local {
  .dropdown-button {
    border-radius: var(--terra-dropdown-button-border-radius, 3px);
    box-shadow: var(--terra-dropdown-button-box-shadow);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &.disabled {
      opacity: var(--terra-dropdown-button-disabled-opacity, 0.4);
      pointer-events: none;
    }

    // Needed for IE 10 to linebreak things properly
    > * {
      flex: 0 1 auto;
    }
  }

  .dropdown-button-type {
    border-radius: var(--terra-dropdown-button-border-radius, 3px);
    border-style: solid;
    font-size: var(--terra-dropdown-button-dropdown-type-font-size, 1rem);
    line-height: var(--terra-dropdown-button-dropdown-type-line-height, 1.4285714286);
    outline: 0;
    padding-bottom: var(--terra-dropdown-button-dropdown-type-padding-bottom, 4px);
    padding-left: var(--terra-dropdown-button-dropdown-type-padding-left, 10px);
    padding-right: var(--terra-dropdown-button-dropdown-type-padding-right, 7px);
    padding-top: var(--terra-dropdown-button-dropdown-type-padding-top, 4px);
    white-space: normal;
  }

  .dropdown-button-type-text {
    display: inline-block;
    margin-right: 5px;
  }

  .split-button-primary {
    // stylelint-disable-next-line terra/custom-property-name
    border-bottom-left-radius: var(--terra-dropdown-button-border-radius, 3px);
    border-bottom-right-radius: 0;
    border-style: solid;
    // stylelint-disable-next-line terra/custom-property-name
    border-top-left-radius: var(--terra-dropdown-button-border-radius, 3px);
    border-top-right-radius: 0;
    font-size: var(--terra-dropdown-button-split-type-font-size, 1rem);
    line-height: var(--terra-dropdown-button-split-type-line-height, 1.4285714286);
    outline: 0;
    padding-bottom: var(--terra-dropdown-button-split-type-primary-padding-bottom, 4px);
    padding-left: var(--terra-dropdown-button-split-type-primary-padding-left, 10px);
    padding-right: var(--terra-dropdown-button-split-type-primary-padding-right, 10px);
    padding-top: var(--terra-dropdown-button-split-type-primary-padding-top, 4px);
    white-space: normal;

    &:focus {
      position: relative;
      z-index: 1;
    }
  }

  .set-width .split-button-primary {
    flex-grow: 1;
  }

  .split-button-chevron {
    border-bottom-left-radius: 0;
    // stylelint-disable-next-line terra/custom-property-name
    border-bottom-right-radius: var(--terra-dropdown-button-border-radius, 3px);
    border-style: solid;
    border-top-left-radius: 0;
    // stylelint-disable-next-line terra/custom-property-name
    border-top-right-radius: var(--terra-dropdown-button-border-radius, 3px);
    // If flex-shrink is set to 1 IE will give the button 0 width
    flex: 0 0 auto;
    font-size: var(--terra-dropdown-button-split-type-font-size, 1rem);
    line-height: var(--terra-dropdown-button-split-type-line-height, 1.4285714286);
    outline: 0;
    padding-bottom: var(--terra-dropdown-button-split-type-chevron-padding-bottom, 4px);
    padding-left: var(--terra-dropdown-button-split-type-chevron-padding-left, 7px);
    padding-right: var(--terra-dropdown-button-split-type-chevron-padding-right, 7px);
    padding-top: var(--terra-dropdown-button-split-type-chevron-padding-top, 4px);
  }

  .neutral {
    @include terra-dropdown-button-variant-color($terra-dropdown-button-neutral-color-scheme);
  }

  .emphasis {
    @include terra-dropdown-button-variant-color($terra-dropdown-button-emphasis-color-scheme);
  }

  .chevron-icon {
    display: inline-block;
    height: var(--terra-dropdown-button-chevron-height, 14px);
    margin: auto 0;
    position: relative;
    top: var(--terra-dropdown-button-chevron-top, 0.1429rem);
    width: var(--terra-dropdown-button-chevron-width, 14px);
  }
}
