// Themes
@import './clinical-lowlight-theme/Item.module';
@import './orion-fusion-theme/Item.module';
@import './redwood-theme/Item.module';

:local {
  .item {
    color: var(--terra-dropdown-button-menu-item-color, #1c1f21);
    cursor: pointer;
    font-size: var(--terra-dropdown-button-menu-item-font-size, 1rem);
    line-height: var(--terra-dropdown-button-menu-item-line-height, 1.42857);
    margin-bottom: var(--terra-dropdown-button-menu-item-margin-bottom, 0.28571rem);
    outline: 0;
    padding-bottom: var(--terra-dropdown-button-menu-item-padding-bottom, 0.5rem);
    padding-left: var(--terra-dropdown-button-menu-item-padding-left, 1.42857rem);
    padding-right: var(--terra-dropdown-button-menu-item-padding-right, 2.14285rem);
    padding-top: var(--terra-dropdown-button-menu-item-padding-top, 0.5rem);
  }
}
