@import '~terra-mixins/lib/Mixins';

@import './variables';
@import './mixins';

:local {
  .split-button-primary {
    border-bottom-left-radius: var(--terra-dropdown-button-split-type-border-bottom-left-radius, 3px);
    border-bottom-right-radius: 0;
    border-style: solid;
    border-top-left-radius: var(--terra-dropdown-button-split-type-border-top-left-radius, 3px);
    border-top-right-radius: 0;
    // Needed for IE 10 to linebreak things properly
    flex: 0 1 auto;
    font-size: var(--terra-dropdown-button-split-type-font-size, 1rem);
    line-height: var(--terra-dropdown-button-split-type-line-height, 1.4285714286);
    margin: 0;
    outline: 0;
    padding-bottom: var(--terra-dropdown-button-split-type-primary-padding-bottom, 4px);
    padding-left: var(--terra-dropdown-button-split-type-primary-padding-left, 10px);
    padding-right: var(--terra-dropdown-button-split-type-primary-padding-right, 10px);
    padding-top: var(--terra-dropdown-button-split-type-primary-padding-top, 4px);

    &:focus {
      position: relative;
      z-index: 1;
    }
    
    // Remove the inner border and padding in Firefox.
    &::-moz-focus-inner {
      border: 0;
    }
  }

  .is-block.split-button-primary {
    flex-grow: 1;
  }

  .split-button-chevron {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: var(--terra-dropdown-button-split-type-chevron-border-bottom-right-radius, 3px);
    border-style: solid;
    border-top-left-radius: 0;
    border-top-right-radius: var(--terra-dropdown-button-split-type-chevron-border-top-right-radius, 3px);
    // If flex-shrink is set to 1 IE will give the button 0 width
    flex: 0 0 auto;
    font-size: var(--terra-dropdown-button-split-type-chevron-font-size, 1rem);
    line-height: var(--terra-dropdown-button-split-type-chevron-line-height, 1.4285714286);
    margin: 0;
    outline: 0;
    padding-bottom: var(--terra-dropdown-button-split-type-chevron-padding-bottom, 4px);
    padding-left: var(--terra-dropdown-button-split-type-chevron-padding-left, 7px);
    padding-right: var(--terra-dropdown-button-split-type-chevron-padding-right, 7px);
    padding-top: var(--terra-dropdown-button-split-type-chevron-padding-top, 4px);
    
    // Remove the inner border and padding in Firefox.
    &::-moz-focus-inner {
      border: 0;
    }
  }

  .neutral {
    @include terra-dropdown-button-variant-color($terra-dropdown-button-neutral-color-scheme);
  }

  .emphasis {
    @include terra-dropdown-button-variant-color($terra-dropdown-button-emphasis-color-scheme);
  }

  .chevron-icon {
    display: inline-block;
    // If flex-shrink is set to 1 IE will give the button 0 width
    flex: 0 0 auto;
    height: var(--terra-dropdown-button-split-type-chevron-height, 1rem);
    margin: auto 0;
    position: relative;
    top: var(--terra-dropdown-button-split-type-chevron-top, 0.1429rem);
    width: var(--terra-dropdown-button-split-type-chevron-width, 1rem);
  }
}
