@import '~terra-mixins/lib/Mixins';

:global {
  --terra-dropdown-button-border-radius: 3px;
  --terra-dropdown-button-box-shadow: none;
  --terra-dropdown-button-font-size: 1rem;
  --terra-dropdown-button-line-height: 1.5;
  --terra-dropdown-button-disabled-opacity: 0.3;
  
  --terra-dropdown-button-dropdown-type-padding-bottom: 0.25rem;
  --terra-dropdown-button-dropdown-type-padding-left: 0.83333333rem;
  --terra-dropdown-button-dropdown-type-padding-right: 0.83333333rem;
  --terra-dropdown-button-dropdown-type-padding-top: 0.25rem;
  --terra-dropdown-button-dropdown-type-compact-padding-bottom: 0;
  --terra-dropdown-button-dropdown-type-compact-padding-top: 0;
  --terra-dropdown-button-dropdown-type-text-margin-right: 0.41667rem;
  --terra-dropdown-button-dropdown-type-caret-height: 1em;
  --terra-dropdown-button-dropdown-type-caret-top: 0.04em;
  --terra-dropdown-button-dropdown-type-caret-width: 1em;
    
  --terra-dropdown-button-split-type-primary-padding-bottom: 0.25rem;
  --terra-dropdown-button-split-type-primary-padding-left: 0.83333333rem;
  --terra-dropdown-button-split-type-primary-padding-right: 0.83333333rem;
  --terra-dropdown-button-split-type-primary-padding-top: 0.25rem;
  --terra-dropdown-button-split-type-compact-padding-bottom: 0;
  --terra-dropdown-button-split-type-compact-padding-top: 0;
  --terra-dropdown-button-split-type-caret-padding-bottom: 0.25rem;
  --terra-dropdown-button-split-type-caret-padding-left: 0.5rem;
  --terra-dropdown-button-split-type-caret-padding-right: 0.5rem;
  --terra-dropdown-button-split-type-caret-padding-top: 0.25rem;
  --terra-dropdown-button-split-type-caret-height: 1em;
  --terra-dropdown-button-split-type-caret-top: 0.2em;
  --terra-dropdown-button-split-type-caret-width: 1em;
  
  --terra-dropdown-button-active-background-color-neutral: #9b9fa1;
  --terra-dropdown-button-active-border-color-neutral: #6f7477;
  --terra-dropdown-button-active-color-neutral: #000;
  --terra-dropdown-button-dropdown-type-active-font-weight-neutral: 400;
  --terra-dropdown-button-split-type-active-font-weight-neutral: 400;
  --terra-dropdown-button-split-type-caret-active-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4;
  --terra-dropdown-button-background-color-neutral: #dedfe0;
  --terra-dropdown-button-border-color-neutral: #6f7477;
  --terra-dropdown-button-color-neutral: #000;
  --terra-dropdown-button-dropdown-type-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4;
  --terra-dropdown-button-dropdown-type-font-weight-neutral: 400;
  --terra-dropdown-button-split-type-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4;
  --terra-dropdown-button-split-type-font-weight-neutral: 400;
  --terra-dropdown-button-split-type-caret-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4;
  --terra-dropdown-button-disabled-color-neutral: #1c1f21;
  --terra-dropdown-button-focus-background-color-neutral: #dedfe0;
  --terra-dropdown-button-focus-border-color-neutral: #6f7477;
  --terra-dropdown-button-dropdown-type-focus-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4, 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(128, 191, 253, 1), 0 0 6px 3px rgba(128, 191, 253, 1);
  --terra-dropdown-button-split-type-focus-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4, 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(128, 191, 253, 1), 0 0 6px 3px rgba(128, 191, 253, 1);
  --terra-dropdown-button-split-type-caret-focus-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4, 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(128, 191, 253, 1), 0 0 6px 3px rgba(128, 191, 253, 1);
  --terra-dropdown-button-hover-background-color-neutral: #b9bbbc;
  --terra-dropdown-button-hover-color-neutral: #000;
  --terra-dropdown-button-split-type-caret-hover-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4;

  --terra-dropdown-button-active-background-color-emphasis: #26a2e5;
  --terra-dropdown-button-active-border-color-emphasis: #6f7477;
  --terra-dropdown-button-active-color-emphasis: #000;
  --terra-dropdown-button-dropdown-type-active-font-weight-emphasis: 400;
  --terra-dropdown-button-background-color-emphasis: #a6d9f4;
  --terra-dropdown-button-border-color-emphasis: #6f7477;
  --terra-dropdown-button-color-emphasis: #000;
  --terra-dropdown-button-dropdown-type-box-shadow-emphasis: inset 0 3rem 1.5rem -2rem #ebf6fd;
  --terra-dropdown-button-dropdown-type-font-weight-emphasis: 400;
  --terra-dropdown-button-disabled-color-emphasis: #000;
  --terra-dropdown-button-focus-background-color-emphasis: #a6d9f4;
  --terra-dropdown-button-focus-border-color-emphasis: #6f7477;
  --terra-dropdown-button-dropdown-type-focus-box-shadow-emphasis: inset 0 3rem 1.5rem -2rem #ebf6fd, 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(76, 178, 233, 0.5), 0 0 6px 4px rgba(76, 178, 233, 0.3);
  --terra-dropdown-button-hover-background-color-emphasis: #4cb2e9;
  --terra-dropdown-button-hover-color-emphasis: #000;

  --terra-dropdown-button-active-background-color-ghost: rgba(0, 0, 0, 0.2);
  --terra-dropdown-button-active-border-color-ghost: #6f7477;
  --terra-dropdown-button-active-color-ghost: #000;
  --terra-dropdown-button-dropdown-type-active-font-weight-ghost: 400;
  --terra-dropdown-button-split-type-active-font-weight-ghost: 400;
  --terra-dropdown-button-split-type-caret-active-box-shadow-ghost: 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(76, 178, 233, 0.5), 0 0 6px 4px rgba(76, 178, 233, 0.3);
  --terra-dropdown-button-background-color-ghost: transparent;
  --terra-dropdown-button-border-color-ghost: #6f7477;
  --terra-dropdown-button-color-ghost: #000;
  --terra-dropdown-button-dropdown-type-box-shadow-ghost: none;
  --terra-dropdown-button-dropdown-type-font-weight-ghost: 400;
  --terra-dropdown-button-split-type-box-shadow-ghost: none;
  --terra-dropdown-button-split-type-font-weight-ghost: 400;
  --terra-dropdown-button-split-type-caret-box-shadow-ghost: none;
  --terra-dropdown-button-disabled-color-ghost: #000;
  --terra-dropdown-button-focus-background-color-ghost: transparent;
  --terra-dropdown-button-focus-border-color-ghost: #6f7477;
  --terra-dropdown-button-dropdown-type-focus-box-shadow-ghost: 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(76, 178, 233, 0.5), 0 0 6px 4px rgba(76, 178, 233, 0.3);
  --terra-dropdown-button-split-type-focus-box-shadow-ghost: 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(76, 178, 233, 0.5), 0 0 6px 4px rgba(76, 178, 233, 0.3);
  --terra-dropdown-button-split-type-caret-focus-box-shadow-ghost: 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(76, 178, 233, 0.5), 0 0 6px 4px rgba(76, 178, 233, 0.3);
  --terra-dropdown-button-hover-background-color-ghost: rgba(0, 0, 0, 0.1);
  --terra-dropdown-button-hover-color-ghost: #000;
  --terra-dropdown-button-split-type-caret-hover-box-shadow-ghost: none;

  --terra-dropdown-button-list-background-color: #fff;
  --terra-dropdown-button-list-border-radius: 0;
  --terra-dropdown-button-list-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.35);
  --terra-dropdown-button-list-min-width: 10rem;
  --terra-dropdown-button-list-padding-bottom: 0.5rem;
  --terra-dropdown-button-list-padding-top: 0.5rem;
  --terra-dropdown-button-menu-item-color: #1c1f21;
  --terra-dropdown-button-menu-item-font-size: 1rem;
  --terra-dropdown-button-menu-item-line-height: 1.41666667;
  --terra-dropdown-button-menu-item-margin-bottom: 0;
  --terra-dropdown-button-menu-item-padding-bottom: 0.5rem;
  --terra-dropdown-button-menu-item-padding-left: 1.42857rem;
  --terra-dropdown-button-menu-item-padding-right: 2.14285rem;
  --terra-dropdown-button-menu-item-padding-top: 0.5rem;
  --terra-dropdown-button-menu-item-focus-background-color: #ebf6fd;
  --terra-dropdown-button-menu-item-focus-box-shadow: none;
  --terra-dropdown-button-menu-item-focus-outline: none;
  --terra-dropdown-button-menu-item-focus-outline-offset: 0;
  --terra-dropdown-button-menu-item-hover-background-color: #ebf6fd;
  --terra-dropdown-button-menu-item-hover-background-image: none;
  --terra-dropdown-button-menu-item-hover-box-shadow: none;
  --terra-dropdown-button-menu-item-focus-active-background-color: #027cc3;
  --terra-dropdown-button-menu-item-focus-active-background-image: none;
  --terra-dropdown-button-menu-item-focus-active-box-shadow: none;
  --terra-dropdown-button-menu-item-focus-active-color: #fff;

  /* Icons */
  @include terra-inline-svg-var('--terra-dropdown-button-caret-background-image-neutral', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
  @include terra-inline-svg-var('--terra-dropdown-button-caret-active-background-image-neutral','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
  @include terra-inline-svg-var('--terra-dropdown-button-caret-disabled-background-image-neutral','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
  @include terra-inline-svg-var('--terra-dropdown-button-caret-background-image-emphasis','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
  @include terra-inline-svg-var('--terra-dropdown-button-caret-active-background-image-emphasis','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
  @include terra-inline-svg-var('--terra-dropdown-button-caret-disabled-background-image-emphasis','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
  @include terra-inline-svg-var('--terra-dropdown-button-caret-background-image-ghost','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
  @include terra-inline-svg-var('--terra-dropdown-button-caret-active-background-image-ghost','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
  @include terra-inline-svg-var('--terra-dropdown-button-caret-disabled-background-image-ghost','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
}
