@import '~terra-mixins/lib/Mixins';

:global {
  // Checkbox
  --terra-form-checkbox-font-color: #1c1f21;
  --terra-form-checkbox-container-margin-bottom: 0.5rem;
  --terra-form-checkbox-container-margin-left: 0;
  --terra-form-checkbox-container-margin-right: 0;
  --terra-form-checkbox-container-margin-top: 0;
  --terra-form-checkbox-inline-container-margin-right: 1.25rem;
  --terra-form-checkbox-font-size: 1rem;
  --terra-form-checkbox-line-height: 1.41667;
  --terra-form-checkbox-padding-bottom: 0;
  --terra-form-checkbox-padding-left: 0;
  --terra-form-checkbox-native-input-clip: auto;
  --terra-form-checkbox-native-input-cursor: default;
  --terra-form-checkbox-native-input-font-size: inherit;
  --terra-form-checkbox-native-input-height: 1rem;
  --terra-form-checkbox-native-input-margin-left: 0.20833rem;
  --terra-form-checkbox-native-input-margin-right: 0.5rem;
  --terra-form-checkbox-native-input-overflow: hidden;
  --terra-form-checkbox-native-input-padding: 0;
  --terra-form-checkbox-native-input-width: 1rem;
  --terra-form-checkbox-label-text-margin-left: 1.584rem;
  --terra-form-checkbox-before-background-color: transparent;
  --terra-form-checkbox-before-background-image: none;
  --terra-form-checkbox-before-border: 0;
  --terra-form-checkbox-before-border-radius: 0;
  --terra-form-checkbox-before-height: 0;
  --terra-form-checkbox-before-margin-top: 0;
  --terra-form-checkbox-before-transition: none;
  --terra-form-checkbox-before-width: 0;
  --terra-form-checkbox-checked-before-background-color: transparent;
  --terra-form-checkbox-checked-before-background-image: none;
  --terra-form-checkbox-checked-before-border: 0;
  --terra-form-checkbox-checked-before-border-radius: 0;
  --terra-form-checkbox-checked-before-height: 0;
  --terra-form-checkbox-checked-before-line-height: normal;
  --terra-form-checkbox-checked-before-margin-top: 0;
  --terra-form-checkbox-checked-before-padding-left: 0;
  --terra-form-checkbox-checked-before-padding-right: 0;
  --terra-form-checkbox-checked-before-padding-top: 0;
  --terra-form-checkbox-checked-before-transform: none;
  --terra-form-checkbox-checked-before-transition: none;
  --terra-form-checkbox-checked-before-width: 0;
  --terra-form-checkbox-is-mobile-before-height: 0;
  --terra-form-checkbox-is-mobile-before-margin-top: 0;
  --terra-form-checkbox-is-mobile-before-padding-left: 0;
  --terra-form-checkbox-is-mobile-beforewidth: 0;
  --terra-form-checkbox-is-mobile-checked-before-height: 0;
  --terra-form-checkbox-is-mobile-checked-before-line-height: 1.41667;
  --terra-form-checkbox-is-mobile-checked-before-margin-top: 0;
  --terra-form-checkbox-is-mobile-checked-before-width: 0;
  --terra-form-checkbox-hover-before-border-color: transparent;
  --terra-form-checkbox-hover-before-border-width: 0;
  --terra-form-checkbox-hover-checked-before-border-color: transparent;
  --terra-form-checkbox-hover-checked-before-border-width: 0;
  --terra-form-checkbox-disabled-font-color: #9b9fa1;
  --terra-form-checkbox-disabled-font-opacity: 1;
  --terra-form-checkbox-disabled-before-background-color: transparent;
  --terra-form-checkbox-disabled-before-background-image: none;
  --terra-form-checkbox-disabled-before-border-color: transparent;
  --terra-form-checkbox-disabled-before-border-width: 0;
  --terra-form-checkbox-checked-disabled-before-border-width: 0;
  --terra-form-checkbox-focus-before-border-color: transparent;
  --terra-form-checkbox-focus-before-border-width: 0;
  --terra-form-checkbox-focus-after-ring-background-color: transparent;
  --terra-form-checkbox-focus-after-ring-border-radius: 0;
  --terra-form-checkbox-focus-after-ring-height: 0;
  --terra-form-checkbox-focus-after-ring-left: 0;
  --terra-form-checkbox-focus-after-ring-top: 0;
  --terra-form-checkbox-focus-after-ring-width: 0;

  // CheckboxField
  --terra-form-checkbox-field-margin-bottom: 0.5rem;
  --terra-form-checkbox-field-inline-margin-right: 0;
  --terra-form-checkbox-field-label-font-size: 1rem;
  --terra-form-checkbox-field-label-margin-bottom: 0.5rem;
  --terra-form-checkbox-field-label-color: #1c1f21;
  --terra-form-checkbox-field-label-font-weight: bold;
  --terra-form-checkbox-field-label-error-icon-display: none;
  --terra-form-checkbox-field-error-icon-height: 0;
  --terra-form-checkbox-field-label-error-icon-margin-right: 0;
  --terra-form-checkbox-field-error-icon-width: 0;
  --terra-form-checkbox-field-label-required-color: #e80000;
  --terra-form-checkbox-field-label-required-padding-right: 0.25rem;
  --terra-form-checkbox-field-label-optional-font-style: italic;
  --terra-form-checkbox-field-label-optional-padding-left: 0.25rem;
  --terra-form-checkbox-field-help-text-color: #64696c;
  --terra-form-checkbox-field-help-text-font-size: 0.85rem;
  --terra-form-checkbox-field-help-text-font-weight: normal;
  --terra-form-checkbox-field-help-text-margin-top: 0.25rem;
  --terra-form-checkbox-field-error-text-color: #e50000;
  --terra-form-checkbox-field-error-text-font-size: 0.85rem;
  --terra-form-checkbox-field-error-text-font-weight: normal;
  --terra-form-checkbox-field-error-text-margin-top: 0.25rem;

  // Inline SVG
  @include terra-inline-svg-var('--terra-form-checkbox-checked-disabled-before-content', '<svg xmlns="http://www.w3.org/2000/svg"></svg>');
  @include terra-inline-svg-var('--terra-form-checkbox-checked-before-content', '<svg xmlns="http://www.w3.org/2000/svg"></svg>');
  @include terra-inline-svg-var('--terra-form-checkbox-field-error-background', '<svg xmlns="http://www.w3.org/2000/svg"></svg>');
}
