:local {
  .orion-fusion-theme {
    --terra-docs-button-active-border-color: #6f7477;
    --terra-docs-button-active-color: #000;
    --terra-docs-button-active-toggle-background-color: #9b9fa1;
    --terra-docs-button-background-color: #dedfe0;
    --terra-docs-button-border-color: #6f7477;
    --terra-docs-button-color: #000;
    --terra-docs-button-hover-border-color: #6f7477;
    --terra-docs-button-hover-color: #000;
    --terra-docs-button-hover-toggle-background-color: #b2b5b6;
    --terra-docs-button-keyboard-focus-outline: #000;
  }
}
