:local {
  .orion-fusion-theme {
    --terra-docs-notice-deprecation-background-color: #FFF9E7;
    --terra-docs-notice-deprecation-border-color: #FFC413;
    --terra-docs-notice-deprecation-color: #1c1f21;
  }
}
