:local {
  .orion-fusion-theme {
    --terra-docs-notice-deprecation-background-color: #fff9e7;
    --terra-docs-notice-deprecation-border-color: #ffc413;
    --terra-docs-notice-deprecation-color: #1c1f21;
  }
}
