:local {
  .orion-fusion-theme {
    --terra-docs-placeholder-inner-border-color: #d1d1d1;
    --terra-docs-placeholder-inner-color: #787575;
    --terra-docs-placeholder-inner-p-background-color: #fff;
    --terra-docs-placeholder-inner-p-border-color: rgba(255, 255, 255, 0.5);
  }
}
