// Table Component Variables
// ========================================================

// Background Colors
$terra-table-background-color: $terra-white !default;
$terra-table-cell-background-color: $terra-white !default;
$terra-table-row-hover-background-color: $terra-grey-10 !default;
$terra-table-row-selected-background-color: $terra-blue-10 !default;
$terra-table-row-selected-hover-background-color: $terra-blue-20 !default;
$terra-table-row-striped-background-color: $terra-grey-5 !default;
$terra-table-row-striped-th-background-color: $terra-grey-25 !default;
$terra-table-row-th-background-color: $terra-grey-25 !default;
$terra-table-thead-background-color: $terra-grey-20 !default;

// Border and Box Shadows
$terra-table-border-color: $terra-grey-25 !default;
$terra-table-border-width: 1px !default;
$terra-table-row-hover-box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.08), 0 -2px 2px 0 rgba(0, 0, 0, 0.1) !default;
$terra-table-row-selected-box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3) !default;

// Cell Padding
$terra-table-cell-padding-bottom: 0.5em !default;
$terra-table-cell-padding-left: 0.75em !default;
$terra-table-cell-padding-right: 0.75em !default;
$terra-table-cell-padding-top: 0.5em !default;

// Table Header Max Height
$terra-table-header-max-height-tiny: 1.75rem;
$terra-table-header-max-height-small: 3rem;
$terra-table-header-max-height-medium: 4rem;
$terra-table-header-max-height-large: 5rem;
$terra-table-header-max-height-huge: 6.25rem;

// Table Row Max Height
$terra-table-row-max-height-tiny: 1.75rem;
$terra-table-row-max-height-small: 3.25rem;
$terra-table-row-max-height-medium: 4.75rem;
$terra-table-row-max-height-large: 6.25rem;
$terra-table-row-max-height-huge: 7.75rem;

// Table Cell Min Width
$terra-table-cell-min-width-tiny: 3rem;
$terra-table-cell-min-width-small: 4.25rem;
$terra-table-cell-min-width-medium: 5.75rem;
$terra-table-cell-min-width-large: 8.5rem;
$terra-table-cell-min-width-huge: 10.5rem;
