// Table Component Variables
// ========================================================

$terra-table-background-color: $terra-white !default;
$terra-table-border-color: $terra-grey-25 !default;
$terra-table-cell-background-color: $terra-white !default;
$terra-table-cell-border-width: 1px !default;
$terra-table-cell-padding-bottom: 0.5em !default;
$terra-table-cell-padding-left: 0.75em !default;
$terra-table-cell-padding-right: 0.75em !default;
$terra-table-cell-padding-top: 0.5em !default;
$terra-table-cell-small-padding-bottom: 0.25em !default;
$terra-table-cell-small-padding-left: 0.75em !default;
$terra-table-cell-small-padding-right: 0.75em !default;
$terra-table-cell-small-padding-top: 0.25em !default;
$terra-table-row-hover: $terra-blue-10 !default;
$terra-table-row-hover-opacity: 0.5 !default;
$terra-table-row-focus: $terra-blue-70 !default;
$terra-table-row-th-background-color: $terra-grey-25 !default;
$terra-table-row-selected-background-color: $terra-blue-10 !default;
$terra-table-row-selected-border-color: $terra-blue-70 !default;
$terra-table-row-selected-box-shadow-top: 0 2px 3px rgba(0, 0, 0, 0.2) !default;
$terra-table-row-seelcted-box-shadow-bottom: 0 -2px 2px rgba(0, 0, 0, 0.08) !default;
$terra-table-row-striped-th-background-color: $terra-grey-25 !default;
$terra-table-row-striped-background-color: $terra-grey-5 !default;
$terra-table-tfoot-border-width: 1px !default;
$terra-table-thead-background-color: $terra-grey-20 !default;
$terra-table-thead-border-width: 1px !default;
$terra-table-tr-border-width: 1px !default;
$terra-table-header-max-height-tiny: 1.75rem;
$terra-table-header-max-height-small: 3rem;
$terra-table-header-max-height-medium: 4rem;
$terra-table-header-max-height-large: 5rem;
$terra-table-header-max-height-huge: 6.25rem;
$terra-table-row-max-height-tiny: 1.75rem;
$terra-table-row-max-height-small: 3.25rem;
$terra-table-row-max-height-medium: 4.75rem;
$terra-table-row-max-height-large: 6.25rem;
$terra-table-row-max-height-huge: 7.75rem;
$terra-table-cell-min-width-tiny: 3rem;
$terra-table-cell-min-width-small: 4.25rem;
$terra-table-cell-min-width-medium: 5.75rem;
$terra-table-cell-min-width-large: 8.5rem;
$terra-table-cell-min-width-huge: 10.5rem;
