@import '~terra-mixins/lib/Mixins';

:local {
  .cell {
    border: 0;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    outline: none;
    position: relative;
    
    &:last-of-type {
      border-right: 0;
    }
  }

  .checkmark {
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid transparent;
    border-radius: 3px; // TODO: Need expected sizing
    height: 1rem; // TODO: Need expected sizing
    padding: 1px;
    width: 1rem; // TODO: Need expected sizing
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .is-top-align {
    justify-content: flex-start;
  }

  .is-selectable {
    cursor: pointer;
  }

  .is-selectable .checkmark {
    background-color: #fff; // Clinical Theme Fill Value
    border: 1px solid #4983d1; // Clinical Theme Border Value
  }

  .is-selectable:hover .checkmark {
    border: 1px solid #3a67a4; // Clinical Theme Border Value
  }

  .is-selectable:active .checkmark {
    background-color: #b5d4fe; // Clinical Theme Fill Value
    border: 1px solid #3a67a4; // Clinical Theme Border Value
  }

  .is-selectable[data-cell-show-focus='true']:focus {
    outline: 2px dashed #2a4b77;
    outline-offset: -2px;
  }

  .is-selectable .checkmark.is-selected {
    background-color: #3a67a4; // Clinical Theme Fill Value
    background-image: var(--terra-table-checkmark-cell-background, inline-svg('<svg width="1rem" height="1rem" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Checkbox_White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Shape" fill="#FFFFFF" fill-rule="nonzero" points="11.125 3.3176286 12.7113282 4.88529412 5.83333333 11.6823714 1.2886718 7.19117647 2.875 5.62351095 5.83333333 8.54704036"></polygon></g></svg>'));
  }

  .is-selectable:hover .is-selected {
    background-color: #2a4b77; // Clinical Theme Fill Value
  }

  .is-selectable:active .is-selected {
    background-color: #1a2f4b; // Clinical Theme Fill Value
  }

  .checkmark.is-selected {
    background-color: transparent; // Clinical Theme Fill Value
    background-image: var(--terra-table-checkmark-cell-background, inline-svg('<svg width="1rem" height="1rem" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Checkbox_Black" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Shape" fill="#000000" fill-rule="nonzero" points="11.125 3.3176286 12.7113282 4.88529412 5.83333333 11.6823714 1.2886718 7.19117647 2.875 5.62351095 5.83333333 8.54704036"></polygon></g></svg>'));
  }

  .checkmark.is-disabled {
    background-color: rgba(255, 255, 255, 0.5); // Clinical Theme Fill Value
    background-image: var(--terra-table-checkmark-cell-background, inline-svg('<svg width="1rem" height="1rem" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Checkbox_White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Shape" fill="#FFFFFF" fill-rule="nonzero" points="11.125 3.3176286 12.7113282 4.88529412 5.83333333 11.6823714 1.2886718 7.19117647 2.875 5.62351095 5.83333333 8.54704036"></polygon></g></svg>'));
  }

  .checkmark.is-disabled.is-selected {
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent; // Clinical Theme Fill Value
    background-image: var(--terra-table-checkmark-cell-background, inline-svg('<svg width="1rem" height="1rem" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Checkbox_Black" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Shape" fill="#cccccc" fill-rule="nonzero" points="11.125 3.3176286 12.7113282 4.88529412 5.83333333 11.6823714 1.2886718 7.19117647 2.875 5.62351095 5.83333333 8.54704036"></polygon></g></svg>'));
  }

  .is-selectable .checkmark.is-disabled {
    background-color: rgba(255, 255, 255, 0.5); // Clinical Theme Fill Value
    background-image: var(--terra-table-checkmark-cell-background, inline-svg('<svg width="1rem" height="1rem" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Checkbox_White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Shape" fill="#FFFFFF" fill-rule="nonzero" points="11.125 3.3176286 12.7113282 4.88529412 5.83333333 11.6823714 1.2886718 7.19117647 2.875 5.62351095 5.83333333 8.54704036"></polygon></g></svg>'));
    border: 1px solid rgba(89, 159, 253, 0.5); // Clinical Theme Border Value
  }

  .is-selectable .checkmark.is-disabled.is-selected {
    background-color: #3a67a4; // Clinical Theme Fill Value
    background-image: var(--terra-table-checkmark-cell-background, inline-svg('<svg width="1rem" height="1rem" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Checkbox_White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Shape" fill="#FFFFFF" fill-rule="nonzero" points="11.125 3.3176286 12.7113282 4.88529412 5.83333333 11.6823714 1.2886718 7.19117647 2.875 5.62351095 5.83333333 8.54704036"></polygon></g></svg>'));
  }

  .container {
    padding-left: var(--terra-table-check-cell-default-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-check-cell-default-padding-right, 0.7142857143rem);
  }

  [data-table-padding='standard'] .container {
    padding-bottom: var(--terra-table-check-cell-standard-padding-bottom, 0.5rem);
    padding-left: var(--terra-table-check-cell-standard-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-check-cell-standard-padding-right, 0.7142857143rem);
    padding-top: var(--terra-table-check-cell-standard-padding-top, 0.5rem);
  }

  [data-table-padding='compact'] .container {
    padding-bottom: var(--terra-table-check-cell-compact-padding-bottom, 0.25rem);
    padding-left: var(--terra-table-check-cell-compact-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-check-cell-compact-padding-right, 0.7142857143rem);
    padding-top: var(--terra-table-check-cell-compact-padding-top, 0.25rem);
  }
}
