@import '~terra-mixins/lib/Mixins';

:local {
  .header-cell {
    border-right: var(--terra-table-header-check-cell-border-right, 1px solid #ccc);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    outline: none;
    position: relative;

    &:last-of-type {
      border-right: 0;
    }
  }

  .checkmark {
    background-repeat: no-repeat;
    background-size: contain;
    border: var(--terra-table-header-checkmark-cell-border, 1px solid transparent);
    border-radius: var(--terra-table-header-checkmark-cell-border-radius, 3px);
    height: var(--terra-table-header-checkmark-cell-height, 1rem); 
    padding: var(--terra-table-header-checkmark-cell-padding, 1px);
    width: var(--terra-table-header-checkmark-cell-width, 1rem);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  // Interaction Classes
  // -------------
  .is-interactable {
    cursor: pointer;
  }

  .is-interactable .checkmark {
    background-color: var(--terra-table-header-checkmark-cell-interactable-background-color, #fff);
    border: var(--terra-table-header-checkmark-cell-interactable-border, 1px solid #4983d1);
  }

  .is-interactable:hover .checkmark {
    border: var(--terra-table-header-checkmark-cell-interactable-hover-border, 1px solid #3a67a4);
  }

  .is-interactable:active .checkmark {
    background-color: var(--terra-table-header-checkmark-cell-interactable-active-background-color, #b5d4fe);
    border: var(--terra-table-header-checkmark-cell-interactable-active-border, 1px solid #3a67a4);
  }

  .is-interactable:hover .is-selected {
    background-color: var(--terra-table-header-checkmark-cell-interactable-hover-selected-background-color, #2a4b77);
  }

  .is-interactable:active .is-selected {
    background-color: var(--terra-table-header-checkmark-cell-interactable-active-selected-background-color, #1a2f4b);
  }

  .is-interactable[data-cell-show-focus='true']:focus {
    outline: var(--terra-table-header-checkmark-cell-interactable-hover-outline, 2px dashed #2a4b77);
    outline-offset: var(--terra-table-header-checkmark-cell-interactable-hover-outline-offset, -2px);
  }

  // State Classes
  // -------------
  .checkmark.is-selected {
    background-color: var(--terra-table-header-checkmark-cell-selected-border, #3a67a4);
    background-image: var(--terra-table-header-checkmark-cell-selected-background-image, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><polygon fill="#fff" points="11.125 2.818 12.711 4.385 5.833 11.182 1.289 6.691 2.875 5.124 5.833 8.047 11.125 2.818"/></svg>'));
  }

  .is-selected.is-intermediate {
    background-image: var(--terra-table-header-checkmark-cell-intermediate-background-image, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><rect fill="#fff" x="3" y="6" width="8" height="2"/></svg>'));
  }

  .is-disabled {
    background-color: var(--terra-table-header-checkmark-cell-disabled-background-color, rgba(255, 255, 255, 0.5));// revisit
    border: var(--terra-table-header-checkmark-cell-disabled-border, 1px solid rgba(89, 159, 253, 0.5));
  }

  .is-disabled.is-selected {
    background-color: var(--terra-table-header-checkmark-cell-cell-disabled-selected-background-color, rgba(42, 75, 119, 0.5));
    background-image: var(--terra-table-checkmark-cell-disabled-background-image, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><polygon fill="rgba(255, 255, 255, 0.5)" points="11.125 2.818 12.711 4.385 5.833 11.182 1.289 6.691 2.875 5.124 5.833 8.047 11.125 2.818"/></svg>'));
  }

  .is-disabled.is-selected.is-intermediate {
    background-color: var(--terra-table-header-checkmark-cell-disabled-intermediate-background-color, rgba(42, 75, 119, 0.5));
    background-image: var(--terra-table-header-checkmark-cell-disabled-intermediate-background-image, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><rect fill="rgba(255, 255, 255, 0.8)" x="3" y="6" width="8" height="2"/></svg>'));
  }

  // Padding Classes
  // -------------
  .container {
    padding-left: var(--terra-table-header-check-cell-default-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-header-check-cell-default-padding-right, 0.7142857143rem);
  }

  [data-table-padding='standard'] .container {
    padding-bottom: var(--terra-table-header-check-cell-standard-padding-bottom, 0.5rem);
  }

  [data-table-padding='compact'] .container {
    padding-bottom: var(--terra-table-header-check-cell-compact-padding-bottom, 0.35715rem);
  }
}
