@import '~terra-mixins/lib/Mixins';

:local {
  .header-cell {
    border-right: var(--terra-table-header-check-cell-border-right, 1px solid #ccc);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    outline: none;
    position: relative;

    &:last-of-type {
      border-right: 0;
    }
  }

  .checkmark {
    background-repeat: no-repeat;
    background-size: contain;
    border: var(--terra-table-header-checkmark-cell-border, 1px solid transparent);
    border-radius: var(--terra-table-header-checkmark-cell-border-radius, 3px); // TODO: Need expected sizing
    height: var(--terra-table-header-checkmark-cell-height, 1rem); // TODO: Need expected sizing
    padding: var(--terra-table-header-checkmark-cell-padding, 1px);
    width: var(--terra-table-header-checkmark-cell-width, 1rem); // TODO: Need expected sizing
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  // Interaction Classes
  // -------------
  .is-interactable {
    cursor: pointer;
  }

  .is-interactable .checkmark {
    background-color: var(--terra-table-header-checkmark-cell-interactable-background-color, #fff); // Clinical
    border: var(--terra-table-header-checkmark-cell-interactable-border, 1px solid #4983d1); // Clinical
  }

  .is-interactable:hover .checkmark {
    border: var(--terra-table-header-checkmark-cell-interactable-hover-border, 1px solid #3a67a4); // Clinical
  }

  .is-interactable:active .checkmark {
    background-color: var(--terra-table-header-checkmark-cell-interactable-active-background-color, #b5d4fe); // Clinical
    border: var(--terra-table-header-checkmark-cell-interactable-active-border, 1px solid #3a67a4); // Clinical
  }

  .is-interactable:hover .is-selected {
    background-color: var(--terra-table-header-checkmark-cell-interactable-hover-selected-background-color, #2a4b77); // Clinical
  }

  .is-interactable:active .is-selected {
    background-color: var(--terra-table-header-checkmark-cell-interactable-active-selected-background-color, #1a2f4b); // Clinical
  }

  .is-interactable[data-cell-show-focus='true']:focus {
    outline: var(--terra-table-header-checkmark-cell-interactable-hover-outline, 2px dashed #2a4b77); // Clinical
    outline-offset: var(--terra-table-header-checkmark-cell-interactable-hover-outline-offset, -2px); // Clinical
  }


  // State Classes
  // -------------
  .checkmark.is-selected {
    background-color: var(--terra-table-header-checkmark-cell-selected-border, #3a67a4); // Clinical Theme Fill Value
    background-image: var(--terra-table-header-checkmark-cell-selected-background-image, inline-svg('<svg width="1rem" height="1rem" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Checkbox_White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Shape" fill="#FFFFFF" fill-rule="nonzero" points="11.125 3.3176286 12.7113282 4.88529412 5.83333333 11.6823714 1.2886718 7.19117647 2.875 5.62351095 5.83333333 8.54704036"></polygon></g></svg>'));
  }

  .is-selected.is-intermediate {
    background-image: var(--terra-table-header-checkmark-cell-intermediate-background-image,  inline-svg('<svg width="1rem" height="1rem" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="indeterminate_White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect id="Rectangle" fill="#FFFFFF" x="3" y="6" width="8" height="2"></rect></g></svg>'));
  }

  .is-disabled {
    background-color: var(--terra-table-header-checkmark-cell-disabled-background-color, rgba(255, 255, 255, 0.5)); // Clinical
    background-image: var(--terra-table-checkmark-cell-disabled-background-image, inline-svg('<svg width="1rem" height="1rem" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Checkbox_White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Shape" fill="#FFFFFF" fill-rule="nonzero" points="11.125 3.3176286 12.7113282 4.88529412 5.83333333 11.6823714 1.2886718 7.19117647 2.875 5.62351095 5.83333333 8.54704036"></polygon></g></svg>'));
    border: var(--terra-table-header-checkmark-cell-disabled-border, 1px solid rgba(89, 159, 253, 0.5)); // Clinical
  }

  .is-disabled.is-selected {
    color: var(--terra-table-header-checkmark-cell-disabled-selected-color, rgba(255, 255, 255, 0.8)); // Clinical
    background-color: var(--terra-table-header-checkmark-cell-cell-disabled-selected-background-color, gba(42, 75, 119, 0.5)); // Clinical
    background-image: var(--terra-table-checkmark-cell-disabled-selected-background-image, inline-svg('<svg width="1rem" height="1rem" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Checkbox_White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Shape" fill="#FFFFFF" fill-rule="nonzero" points="11.125 3.3176286 12.7113282 4.88529412 5.83333333 11.6823714 1.2886718 7.19117647 2.875 5.62351095 5.83333333 8.54704036"></polygon></g></svg>'));
  }

  .is-disabled.is-selected.is-intermediate {
    color: var(--terra-table-header-checkmark-cell-disabled-intermediate-color, rgba(255, 255, 255, 0.8)); // Clinical
    background-color: var(--terra-table-header-checkmark-cell-disabled-intermediate-background-color, rgba(42, 75, 119, 0.5)); // Clinical
    background-image: var(--terra-table-header-checkmark-cell-disabled-intermediate-background-image,  inline-svg('<svg width="1rem" height="1rem" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="indeterminate_White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect id="Rectangle" fill="#FFFFFF" x="3" y="6" width="8" height="2"></rect></g></svg>'));
  }

  // Padding Classes
  // -------------
  .container {
    padding-left: var(--terra-table-header-check-cell-default-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-header-check-cell-default-padding-right, 0.7142857143rem);
  }

  [data-table-padding='standard'] .container {
    padding-bottom: var(--terra-table-header-check-cell-standard-padding-bottom, 0.5rem);
    padding-left: var(--terra-table-header-check-cell-standard-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-header-check-cell-standard-padding-right, 0.7142857143rem);
    padding-top: var(--terra-table-header-check-cell-standard-padding-top, 0.5rem);
  }

  [data-table-padding='compact'] .container {
    padding-bottom: var(--terra-table-header-check-cell-compact-padding-bottom, 0.35715rem);
    padding-left: var(--terra-table-header-check-cell-compact-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-header-check-cell-compact-padding-right, 0.7142857143rem);
    padding-top: var(--terra-table-header-check-cell-compact-padding-top, 0.35715rem);
  }
}
