:local {
  .table-container {
    height: 100%;
    overflow: auto;
    width: 100%;
  }

  .table {
    // Style for the grid itself
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    user-select: none;
    width: 1px;
  }
}
