/* stylelint-disable selector-max-compound-selectors, max-nesting-depth */
:local {
  .table {
    background-color: var(--terra-table-background-color, rgba(255, 255, 255, 0));
    border: var(--terra-table-border, 0);
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;

    caption {
      padding-bottom: 0.5em;
    }

    tr {
      display: table-row;
      margin-bottom: 0;
    }

    th,
    td {
      border: 0;
      border-left: var(--terra-table-cell-border, 0);
      display: table-cell;
      text-align: left;
      vertical-align: top;

      &:first-of-type {
        border-left: var(--terra-table-row-border-vertical, 1px solid #c8cacb);
      }

      &:last-of-type {
        border-right: var(--terra-table-row-border-vertical, 1px solid #c8cacb);
      }
    }

    thead {
      background-color: var(--terra-table-thead-background-color, #dedfe0);
      display: table-header-group;

      tr {
        border-bottom: var(--terra-table-thead-tr-border-bottom, 0);
        border-top: var(--terra-table-thead-tr-border-top, 1px solid #c8cacb);
      }

      th {
        color: var(--terra-table-thead-th-color, #1c1f21);
        font-size: var(--terra-table-thead-th-font-size, 1rem);
        font-weight: var(--terra-table-thead-th-font-weight, bold);
        vertical-align: bottom;
      }
    }

    tbody {
      tr {
        border-top: var(--terra-table-row-border-horizontal, 1px solid #c8cacb);

        &:last-of-type {
          border-bottom: var(--terra-table-row-border-horizontal, 1px solid #c8cacb);
        }
      }
    }

    tfoot {
      tr {
        border-bottom: var(--terra-table-tfoot-tr-border-bottom, 1px solid #c8cacb);
        border-top: var(--terra-table-tfoot-tr-border-top, 0);
        text-align: left;
      }
    }
  }

  .subheader {
    background-color: var(--terra-table-subheader-background-color, #c8cacb);
    color: var(--terra-table-subheader-color, #1c1f21);
    font-size: var(--terra-table-subheader-font-size, 1rem);
    font-weight: var(--terra-table-subheader-font-weight, bold);
    text-align: left;
  }

  .padded {
    th,
    td {
      padding-bottom: var(--terra-table-cell-padding-bottom, 0.5em);
      padding-left: var(--terra-table-cell-padding-left, 0.75em);
      padding-right: var(--terra-table-cell-padding-right, 0.75em);
      padding-top: var(--terra-table-cell-padding-top, 0.5em);
    }
  }

  .striped {
    tbody tr {
      &:nth-of-type(even) {
        background-color: var(--terra-table-row-striped-background-color, #f4f4f4);
      }

      /* Qualifying type required for specificity */
      /* stylelint-disable selector-no-qualifying-type */
      &.is-selected {
        background-color: var(--terra-table-row-striped-selected-background-color, darken(#ebf6fd, 7%)) !important;
      }

      &.is-selectable:hover,
      &.is-selectable:focus {
        background-color: var(--terra-table-row-striped-hover-background-color, darken(#ebf6fd, 2%)) !important;

        &.is-selected {
          background-color: var(--terra-table-row-striped-selected-hover-background-color, darken(#ebf6fd, 12%)) !important;
        }
      }
      /* stylelint-enable selector-no-qualifying-type */
    }
  }

  .is-selected {
    background-color: var(--terra-table-row-selected-background-color, darken(#ebf6fd, 2%));

    &.row {
      border-color: var(--terra-table-row-selected-border-color, #0092e0) !important;
    }

    + .row {
      border-top-color: var(--terra-table-row-selected-border-color, #0092e0);
    }
  }

  .is-selectable {
    cursor: pointer;

    &.row:focus,
    &.row:hover {
      background-color: var(--terra-table-row-hover-background-color, lighten(#ebf6fd, 2%)) !important;
    }

    &.is-selected:focus,
    &.is-selected:hover {
      background-color: var(--terra-table-row-selected-hover-background-color, darken(#ebf6fd, 7%)) !important;
    }
  }

  // Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
  @media print {
    .table thead {
      display: table-header-group;
    }

    .table tr {
      page-break-inside: avoid;
    }
  }
}
