@import '~terra-mixins';
@import './variables';
@import './mixins';
@import './terra-table';

[data-column-min-width='tiny'] {
  min-width: $terra-table-cell-min-width-tiny;
}

[data-column-min-width='small'] {
  min-width: $terra-table-cell-min-width-small;
}

[data-column-min-width='medium'] {
  min-width: $terra-table-cell-min-width-medium;
}

[data-column-min-width='large'] {
  min-width: $terra-table-cell-min-width-large;
}

[data-column-min-width='huge'] {
  min-width: $terra-table-cell-min-width-huge;
}

[data-max-height='tiny'] {
  > div {
    overflow: auto;
    max-height: $terra-table-cell-max-height-tiny;
  }
}

[data-max-height='small'] {
  > div {
    overflow: auto;
    max-height: $terra-table-cell-max-height-small;
  }
}

[data-max-height='medium'] {
  > div {
    overflow: auto;
    max-height: $terra-table-cell-max-height-medium;
  }
}

[data-max-height='large'] {
  > div {
    overflow: auto;
    max-height: $terra-table-cell-max-height-large;
  }
}

[data-max-height='huge'] {
  > div {
    overflow: auto;
    max-height: $terra-table-cell-max-height-huge;
  }
}

.terra-Table--isSelected {
  background-color: $terra-blue-20 !important;
}

.terra-Table-hidden {
  visibility: hidden;
}

.terra-Table-sort-indicator {
  float: right;
}
