:local {
  .tiny {
    min-width: var(--terra-table-header-cell-tiny-min-width, 3rem);
  }

  .small {
    min-width: var(--terra-table-header-cell-small-min-width, 4.25rem);
  }

  .medium {
    min-width: var(--terra-table-header-cell-medium-min-width, 5.75rem);
  }

  .large {
    min-width: var(--terra-table-header-cell-large-min-width, 8.5rem);
  }

  .huge {
    min-width: var(--terra-table-header-cell-huge-min-width, 10.5rem);
  }

  .sort-indicator {
    color: var(--terra-table-sort-indicator-color, #1c1f21);
    padding-left: 0.7142857143rem;
    
    > svg {
      width: var(--terra-table-sort-indicator-width);
    }
  }

  [data-table-padded='true'] .header-cell {
    padding-bottom: var(--terra-table-header-cell-padding-bottom, 0.5em);
    padding-left: var(--terra-table-header-cell-padding-left, 0.75em);
    padding-right: var(--terra-table-header-cell-padding-right, 0.75em);
    padding-top: var(--terra-table-header-cell-padding-top, 0.5em);
  }


  .header-cell {
    border: 0;
    color: var(--terra-table-header-cell-color, #1c1f21);
    display: table-cell;
    font-size: var(--terra-table-header-cell-font-size, 1rem);
    font-weight: var(--terra-table-header-cell-font-weight, bold);
    text-align: left;
    vertical-align: bottom;

    &:first-of-type {
      border-left: var(--terra-table-first-header-cell-border-left, 1px solid #c8cacb);
    }

    &:last-of-type {
      border-right: var(--terra-table-last-header-cell-border-right, 1px solid #c8cacb);
    }
  }

  .is-selectable {
    cursor: pointer;
    outline: var(--terra-table-header-cell-focus-outline, none);

    &:hover {
      background-color: var(--terra-table-header-cell-hover-background-color, darken(#dedfe0, 5%));
    }

    &[data-header-show-focus='true']:focus {
      background-color: var(--terra-table-header-cell-focus-background-color, lighten(#dedfe0, 2%));
      // border-bottom: var(--terra-table-header-cell-focus-border-bottom, 1px solid);
      border-color: var(--terra-table-header-cell-focus-border-color, #0092e0);
      box-shadow: var(--terra-table-header-cell-focus-box-shadow, inset 0 0 0 1px #26a2e5, inset 0 0 0 4px rgba(76, 178, 233, 0.2));
      z-index: 1;
    }
  }

  .cell-content {
    display: flex;
    align-items: center;
    hyphens: auto;
    overflow-wrap: break-word; /* Modern browsers */
    word-wrap: break-word; 
  }
}
