/* stylelint-disable selector-max-compound-selectors, max-nesting-depth */
:local {
  .cell {
    border: 0;
    display: table-cell;
    text-align: left;
    vertical-align: top;

    &:first-of-type {
      border-left: var(--terra-table-first-cell-border-left, 1px solid #c8cacb);
    }

    &:last-of-type {
      border-right: var(--terra-table-last-cell-border-right, 1px solid #c8cacb);
    }
  }

  [data-table-padded='true'] .cell {
    padding-bottom: var(--terra-table-cell-padding-bottom, 0.5em);
    padding-left: var(--terra-table-cell-padding-left, 0.75em);
    padding-right: var(--terra-table-cell-padding-right, 0.75em);
    padding-top: var(--terra-table-cell-padding-top, 0.5em);
  }
}
