:local {
  .tiny {
    min-width: var(--terra-table-header-cell-tiny-min-width, 3rem);
  }

  .small {
    min-width: var(--terra-table-header-cell-small-min-width, 4.25rem);
  }

  .medium {
    min-width: var(--terra-table-header-cell-medium-min-width, 5.75rem);
  }

  .large {
    min-width: var(--terra-table-header-cell-large-min-width, 8.5rem);
  }

  .huge {
    min-width: var(--terra-table-header-cell-huge-min-width, 10.5rem);
  }

  .sort-indicator {
    color: var(--terra-table-sort-indicator-color, #1c1f21);
    left: 50%;
    margin-left: calc(var(--terra-table-sort-indicator-width, 0.6429rem) / -2);
    padding: 0;
    position: absolute;
    top: var(--terra-table-sort-indicator-top, 0.1429rem);
    height: var(--terra-table-sort-indicator-height, 0.6429rem);
    width: var(--terra-table-sort-indicator-width, 0.6429rem);

    > svg {
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .header-cell {
    border: 0;
    border-right: var(--terra-table-header-cell-border-right, 0);
    color: var(--terra-table-header-cell-color, #1c1f21);
    display: table-cell;
    font-size: var(--terra-table-header-cell-font-size, 1rem);
    font-weight: var(--terra-table-header-cell-font-weight, bold);
    line-height: var(--terra-table-header-cell-line-height, 1.143);
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: bottom;

    &:last-of-type {
      border-right: 0; // Hide last border
    }
  }

  .is-sortable,
  .is-selectable {
    padding-top: calc(var(--terra-table-sort-indicator-height, 0.6429rem) + var(--terra-table-sort-indicator-top, 0.1429rem));
  }

  .is-selectable {
    cursor: pointer;
    outline: var(--terra-table-header-cell-focus-outline, none);

    &:hover {
      background-color: var(--terra-table-header-cell-hover-background-color, darken(#dedfe0, 5%));
    }

    &[data-header-show-focus='true']:focus {
      background-color: var(--terra-table-header-cell-focus-background-color, lighten(#dedfe0, 2%));
      border-color: var(--terra-table-header-cell-focus-border-color, #0092e0);
      box-shadow: var(--terra-table-header-cell-focus-box-shadow, inset 0 0 0 1px #26a2e5, inset 0 0 0 4px rgba(76, 178, 233, 0.2));
      z-index: 1;
    }
  }

  .cell-content {
    align-items: center;
    display: flex;
    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    overflow-wrap: break-word; /* Modern browsers */
    word-wrap: break-word;
  }

  [data-table-padding='standard'] .cell-content {
    padding-bottom: var(--terra-table-header-cell-standard-padding-bottom, 0.5em);
    padding-left: var(--terra-table-header-cell-standard-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-header-cell-standard-padding-right, 0.7142857143rem);
    padding-top: var(--terra-table-header-cell-standard-padding-top, 0.5em);
  }

  [data-table-padding='compact'] .cell-content {
    padding-bottom: var(--terra-table-header-cell-compact-padding-bottom, 0.35715em);
    padding-left: var(--terra-table-header-cell-compact-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-header-cell-compact-padding-right, 0.7142857143rem);
    padding-top: var(--terra-table-header-cell-compact-padding-top, 0.35715em);
  }

  [data-table-padding='standard'] {
    .is-sortable,
    .is-selectable {
      .cell-content {
        padding-top: var(--terra-table-header-cell-compact-padding-top, 0.35715em);
      }
    }
  }

  .cell-icon {
    padding-right: var(--terra-table-header-cell-icon-padding-right, 5px);
  }
}
