@import '~terra-mixins';
@import './variables';

.terra-Table {
  background-color: $terra-table-background-color;
  border: $terra-table-border;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;

  caption {
    padding-bottom: 0.5em;
  }

  tr {
    display: table-row;
    margin-bottom: 0;
  }

  th,
  td {
    @include terra-text-align-start;
    border: 0;
    @include terra-border-start($terra-table-cell-border);
    display: table-cell;
    vertical-align: top;

    &:first-of-type {
      @include terra-border-start($terra-table-row-border-vertical);
    }

    &:last-of-type {
      @include terra-border-end($terra-table-cell-border);
      @include terra-border-end($terra-table-row-border-vertical);
    }
  }

  thead {
    background-color: $terra-table-thead-background-color;
    display: table-header-group;

    tr {
      border-bottom: $terra-table-thead-tr-border-bottom;
      border-top: $terra-table-thead-tr-border-top;
    }

    th {
      color: $terra-table-thead-th-color;
      font-size: $terra-table-thead-th-font-size;
      font-weight: $terra-table-thead-th-font-weight;
      vertical-align: bottom;
    }
  }

  tbody {
    tr {
      border-top: $terra-table-row-border-horizontal;

      &:last-of-type {
        border-bottom: $terra-table-row-border-horizontal;
      }
    }
  }

  tfoot {
    tr {
      @include terra-text-align-start;
      border-bottom: $terra-table-tfoot-tr-border-bottom;
      border-top: $terra-table-tfoot-tr-border-top;
    }
  }
}

.terra-Table-subheader {
  @include terra-text-align-start;
  background-color: $terra-table-subheader-background-color;
  color: $terra-table-subheader-color;
  font-size: $terra-table-subheader-font-size;
  font-weight: $terra-table-subheader-font-weight;
}

.terra-Table-sort-indicator {
  @include terra-float-end();
  color: $terra-table-sort-indicator-color;
}

.terra-Table-min-width--tiny {
  min-width: $terra-table-cell-min-width-tiny;
}

.terra-Table-min-width--small {
  min-width: $terra-table-cell-min-width-small;
}

.terra-Table-min-width--medium {
  min-width: $terra-table-cell-min-width-medium;
}

.terra-Table-min-width--large {
  min-width: $terra-table-cell-min-width-large;
}

.terra-Table-min-width--huge {
  min-width: $terra-table-cell-min-width-huge;
}

.terra-Table--padded {
  th,
  td {
    @include terra-padding-horizontal($terra-table-cell-padding-left, $terra-table-cell-padding-right);
    padding-bottom: $terra-table-cell-padding-bottom;
    padding-top: $terra-table-cell-padding-top;
  }
}

.terra-Table--striped {
  tbody tr {
    &:nth-of-type(even) {
      background-color: $terra-table-row-striped-background-color;
    }

    /* Qualifying type required for specificity */
    /* stylelint-disable selector-no-qualifying-type */
    &.terra-Table--isSelected {
      background-color: $terra-table-row-striped-selected-background-color !important;
    }

    &.terra-Table--isSelectable:hover,
    &.terra-Table--isSelectable:focus {
      background-color: $terra-table-row-striped-hover-background-color !important;

      &.terra-Table--isSelected {
        background-color: $terra-table-row-striped-selected-hover-background-color !important;
      }
    }
    /* stylelint-enable selector-no-qualifying-type */
  }
}

.terra-Table--isSelected {
  background-color: $terra-table-row-selected-background-color;

  &.terra-Table-row {
    border-color: $terra-table-row-selected-border-color !important;
  }

  + .terra-Table-row {
    border-top-color: $terra-table-row-selected-border-color;
  }
}

.terra-Table--isSelectable {
  cursor: pointer;

  &.terra-Table-row:focus,
  &.terra-Table-row:hover {
    background-color: $terra-table-row-hover-background-color !important;
  }

  &.terra-Table--isSelected:focus,
  &.terra-Table--isSelected:hover {
    background-color: $terra-table-row-selected-hover-background-color !important;
  }
}

// Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
@media print {
  .terra-Table thead {
    display: table-header-group;
  }

  .terra-Table tr {
    page-break-inside: avoid;
  }
}
