:local {
  .header {
    background-color: var(--terra-table-header-background-color, #f4f4f4);
    border-bottom: var(--terra-table-header-border-top, 2px solid #a7aaab);
    display: table-header-group;
  }
}
