:local {
  // Standard block display
  // ----------------------
  .table {
    background-color: var(--terra-table-background-color, rgba(255, 255, 255, 0));
    border-bottom: var(--terra-table-border-bottom, 1px solid #dedfe0);
    overflow: hidden;
  }

  .body {
    background-color: var(--terra-table-body-background-color);
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
  }

  .header {
    background-color: var(--terra-table-header-background-color, #f4f4f4);
    border-bottom: var(--terra-table-header-border-bottom, 1px solid #868a8c);
    box-shadow: var(--terra-table-header-box-shadow, 0 4px 4px -4px rgba(134, 138, 140, 0.75), inset 0 0 0 1px #fff);
    z-index: 1;
  }
  
  .header-content {
    display: flex;
  }

  .rounded {
    border: var(--terra-table-border, 1px solid #dedfe0);
    border-radius: var(--terra-table-border-radius, 3px);
  }

  // Modifiers:
  // ----------------------
  .fill { 
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;

    .header {
      display: flex;
      flex: 0 0 auto;
      overflow-y: scroll;
      position: relative;
      width: 100%;
    }

    .header-content {
      flex: 1 1 auto;
      position: relative;
      width: 100%;
    }

    .body {
      flex: 1 1 auto;
      height: 100%;
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
      width: 100%;
    }
  }

  .is-inline {
    display: inline-flex;
    flex-direction: column;
    width: auto;

    .header {
      position: static;
      width: auto;
    }

    .header-content {
      position: relative;
      width: auto;
    }

    .body {
      height: 100%;
      position: relative;
      width: auto;
    }
  }
}
