:local {
  .row {
    border-top: var(--terra-table-row-border-top, 1px solid #c8cacb);
    display: table-row;
    margin-bottom: 0;

    &:last-of-type {
      border-bottom: var(--terra-table-last-row-border-bottom, 1px solid #c8cacb);
    }
  }

  [data-table-striped='true'] > .row {
    &:nth-of-type(even) {
      background-color: var(--terra-table-row-striped-background-color, #f4f4f4);
    }

    &.is-selected {
      background-color: var(--terra-table-row-striped-selected-background-color, darken(#ebf6fd, 7%));
    }

    &.is-selectable:hover,
    &.is-selectable:focus {
      background-color: var(--terra-table-row-striped-hover-focus-background-color, darken(#ebf6fd, 2%));

      &.is-selected {
        background-color: var(--terra-table-row-striped-selected-hover-focus-background-color, darken(#ebf6fd, 12%));
      }
    }
  }

  .is-selected {
    background-color: var(--terra-table-row-selected-background-color, darken(#ebf6fd, 2%));

    &.row {
      border-color: var(--terra-table-row-selected-border-color, #0092e0);
    }

    + .row {
      border-top-color: var(--terra-table-row-selected-border-top-color, #0092e0);
    }
  } 

  .is-selectable {
    cursor: pointer;
    outline: var(--terra-table-row-focus-outline, none);

    &:hover,
    &:focus {
      background-color: var(--terra-table-row-hover-focus-background-color, lighten(#ebf6fd, 2%));
    }

    &[data-row-show-focus='true']:focus {
      background-color: var(--terra-table-row-focus-background-color, lighten(#ebf6fd, 2%));
      border-bottom: var(--terra-table-row-focus-border-bottom, 1px solid);
      border-color: var(--terra-table-row-focus-border-color, #0092e0);
      box-shadow: var(--terra-table-row-focus-box-shadow, inset 0 0 0 1px #26a2e5, inset 0 0 0 4px rgba(76, 178, 233, 0.2));
      z-index: 1;

      &.selected {
        background-color: var(--terra-table-row-selected-focus-background-color, darken(#ebf6fd, 7%));
      }
    }

    &.is-selected:hover,
    &.is-selected:focus {
      background-color: var(--terra-table-row-selected-hover-focus-background-color, darken(#ebf6fd, 7%)) !important;
    }
  }

  // Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
  @media print {
    .row {
      page-break-inside: avoid; // stylelint-disable-line plugin/no-unsupported-browser-features
    }
  }
}
