:global {
  --terra-cell-grid-divider-border-top: 1px solid #dedfe0;
  --terra-cell-grid-divider-border-bottom: 1px solid #dedfe0;
  --terra-cell-grid-divider-child-border-right: 1px solid #dedfe0;
}
