:global {

  // ---------------------- Shared ----------------------- //
  --terra-form-fieldset-help-text-color: #6f7477;
  --terra-form-fieldset-legend-color: #b2b5b6;

  // -------------------- Version 2.x -------------------- //
  --terra-form-fieldset-required-legend-before-color: #fb4c4c;

  // -------------------- Version 1.x -------------------- //
  --terra-form-fieldset-required-color: #fb4c4c;
}
