:global {
  /*
  https://github.cerner.com/DiscernABU/MPageFusion/blob/master/src/main/less/cerner/mpagedev/mpagefusion/variables/site/index.less
  @_root-font-size:                       16;     // px
  @base-font-size:                        12;     // px
  @mono-font-family:                      Monaco, Menlo, Consolas, "Courier New", monospace;
  @sans-font-family:                      Tahoma, Geneva, Verdana, Trebuchet MS, sans-serif;
  @base-font-family:                      @sans-font-family;
  @base-line-height:                      1.4166666666666666666667;
  */
  --terra-base-background-image: none;
  --terra-base-background-color: rgba(255, 255, 255, 1);
  --terra-base-font-family: Tahoma, Geneva, Verdana, Trebuchet MS, sans-serif;
  --terra-base-font-size: 75%;            // root: 16px, base: 12px
}
