:local {
  .clinical-lowlight-theme {
    --terra-data-grid-row-striped-even-background-color: #2d3539;
    --terra-data-grid-row-striped-odd-background-color: #6e6f71;
    --terra-data-grid-row-selected-background-color: #1e3a49;
    --terra-data-grid-row-selected-box-shadow: inset 0 1px 0 0 #004c76, inset 0 -1px 0 0 #004c76;
    --terra-data-grid-row-hover-background-color: #232a2d;
    --terra-data-grid-row-highlight-border-top: 1px solid #004c76;
    --terra-data-grid-row-highlight-border-bottom: 1px solid #004c76;
  }
}
