:local {
  .cell {
    border: 0;
    border-right: var(--terra-flex-table-cell-border-right, 1px solid #ccc);
    text-align: left;
    vertical-align: top;
    flex: 0 0 auto;
    word-break: break-word;
  
    &:last-of-type {
      border-right: 0;
    }
  }

  .checkmark {
    color: pink;
    height: 1.143rem;
    margin-top: 2px;
    width: 1.143rem;
  }

  .is-checked {
    background-color: green;
  }

  .is-unchecked {
    background-color: red;
  }

  [data-table-padding='standard'] .cell > .container {
    padding-bottom: var(--terra-flex-table-cell-standard-padding-bottom, 0.5rem);
    padding-left: var(--terra-flex-table-cell-standard-padding-left, 0.7142857143rem);
    padding-right: var(--terra-flex-table-cell-standard-padding-right, 0.7142857143rem);
    padding-top: var(--terra-flex-table-cell-standard-padding-top, 0.5rem);
  }

  [data-table-padding='compact'] .cell > .container {
    padding-bottom: var(--terra-flex-table-cell-compact-padding-bottom, 0.25rem);
    padding-left: var(--terra-flex-table-cell-compact-padding-left, 0.7142857143rem);
    padding-right: var(--terra-flex-table-cell-compact-padding-right, 0.7142857143rem);
    padding-top: var(--terra-flex-table-cell-compact-padding-top, 0.25rem);
  }
}
