:local {
  .cell {
    border: 0;
    position: relative;
    flex: 0 0 auto;
  
    &:last-of-type {
      border-right: 0;
    }

    &.is-selectable:hover {
      &::before {
        background-color: red;
        border-radius: 100%;
        content: '';
        position: absolute;
        left: 50%;
        height: 26px;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 26px;
      }
    }
  }

  .checkmark {
    border: 1px solid transparent;
    border-radius: 3px;
    color: transparent;
    height: 1.143rem;
    margin-top: 2px;
    padding: 1px;
    position: relative;
    width: 1.143rem;
  }

  .is-selected {
    color: #000;
  }

  .is-selectable .checkmark {
    background-color: #fff;
    border: 1px solid #000;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column; 
  }

  [data-table-padding='standard'] .cell > .container {
    padding-bottom: var(--terra-flex-table-cell-standard-padding-bottom, 0.5rem);
    padding-left: var(--terra-flex-table-cell-standard-padding-left, 0.7142857143rem);
    padding-right: var(--terra-flex-table-cell-standard-padding-right, 0.7142857143rem);
    padding-top: var(--terra-flex-table-cell-standard-padding-top, 0.5rem);
  }

  [data-table-padding='compact'] .cell > .container {
    padding-bottom: var(--terra-flex-table-cell-compact-padding-bottom, 0.25rem);
    padding-left: var(--terra-flex-table-cell-compact-padding-left, 0.7142857143rem);
    padding-right: var(--terra-flex-table-cell-compact-padding-right, 0.7142857143rem);
    padding-top: var(--terra-flex-table-cell-compact-padding-top, 0.25rem);
  }
}
