:local {
  .cell {
    border: 0;
    border-right: var(--terra-flex-table-cell-border-right, 1px solid #ccc);
    text-align: left;
    vertical-align: top;
    flex: 0 0 auto;
    word-break: break-word;
  
    &:last-of-type {
      border-right: 0;
    }
  }

  .checkmark {
    border: 1px solid transparent;
    color: pink;
    height: 1.143rem;
    margin-top: 2px;
    position: relative;
    width: 1.143rem;
  }

  .is-selected {
    &::before {
      background-color: black;
      content: '';
      position: absolute;
      left: 2px;
      height: 10px;
      top: 2px;
      width: 10px;
    }
  }

  .is-selectable {
    background-color: #fff;
    border: 1px solid #000;

    // &.is-selected {
    //   &::before {
    //     background-color: black;
    //     content: '';
    //     position: absolute;
    //     left: 20%;
    //     height: 60%;
    //     top: 20%;
    //     width: 60%;
    //   }
    // }
  }

  [data-table-padding='standard'] .cell > .container {
    padding-bottom: var(--terra-flex-table-cell-standard-padding-bottom, 0.5rem);
    padding-left: var(--terra-flex-table-cell-standard-padding-left, 0.7142857143rem);
    padding-right: var(--terra-flex-table-cell-standard-padding-right, 0.7142857143rem);
    padding-top: var(--terra-flex-table-cell-standard-padding-top, 0.5rem);
  }

  [data-table-padding='compact'] .cell > .container {
    padding-bottom: var(--terra-flex-table-cell-compact-padding-bottom, 0.25rem);
    padding-left: var(--terra-flex-table-cell-compact-padding-left, 0.7142857143rem);
    padding-right: var(--terra-flex-table-cell-compact-padding-right, 0.7142857143rem);
    padding-top: var(--terra-flex-table-cell-compact-padding-top, 0.25rem);
  }
}
