:local {
  .header-cell {
    border-right: var(--terra-flex-table-cell-border-right, 1px solid #ccc);
    flex: 0 0 auto;
    position: relative;

    &:last-of-type {
      border-right: 0;
    }
  }

  .checkmark {
    border: 1px solid transparent;
    border-radius: 3px;
    color: transparent;
    height: 1.143rem;
    padding: 1px;
    position: relative;
    width: 1.143rem;
  }

  .is-selected {
    color: #000;
    // &::before {
    //   background-color: black;
    //   content: '';
    //   position: absolute;
    //   left: 2px;
    //   height: 10px;
    //   top: 2px;
    //   width: 10px;
    // }
  }

  // .is-intermediate {
  //   &::before {
  //     background-color: green;
  //   }
  // }

  .is-selectable {
    background-color: #fff;
    border: 1px solid #000;
  }
  
  [data-table-padding='standard'] .header-cell > .container {
    padding-bottom: var(--terra-flex-table-header-cell-standard-padding-bottom, 0.5rem);
    padding-left: var(--terra-flex-table-header-cell-standard-padding-left, 0.7142857143rem);
    padding-right: var(--terra-flex-table-header-cell-standard-padding-right, 0.7142857143rem);
    padding-top: var(--terra-flex-table-header-cell-standard-padding-top, 0.5rem);
  }

  [data-table-padding='compact'] .header-cell > .container {
    padding-bottom: var(--terra-flex-table-header-cell-compact-padding-bottom, 0.35715rem);
    padding-left: var(--terra-flex-table-header-cell-compact-padding-left, 0.7142857143rem);
    padding-right: var(--terra-flex-table-header-cell-compact-padding-right, 0.7142857143rem);
    padding-top: var(--terra-flex-table-header-cell-compact-padding-top, 0.35715rem);
  }
}
