:local {
  .header {
    background-color: var(--terra-flex-table-header-background-color, #f4f4f4);
    border-bottom: var(--terra-flex-table-header-border-bottom, 1px solid #868a8c);
    box-shadow: var(--terra-flex-table-header-box-shadow, 0 4px 4px -4px rgba(134, 138, 140, 0.75), inset 0 0 0 1px #fff);
    z-index: 1;
  }

  .header-content {
    display: flex;
  }
}
