@import '~terra-mixins';

:local {
  .header-cell {
    align-items: flex-end;
    border: 0;
    border-right: var(--terra-table-cell-grid-header-cell-border-right, 1px solid #ccc);
    color: var(--terra-table-cell-grid-header-cell-color, #1c1f21);
    display: flex;
    flex: 1 1 0;
    font-size: var(--terra-table-cell-grid-header-cell-font-size, 1rem);
    font-weight: var(--terra-table-cell-grid-header-cell-font-weight, bold);
    justify-content: space-between;
    line-height: var(--terra-table-cell-grid-header-cell-line-height, 1.143);
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: bottom;
    word-break: break-word;

    &:last-of-type {
      border-right: 0; // Hide last border
    }
  }

  .sort-indicator-asc,
  .sort-indicator-desc {
    color: var(--terra-table-cell-grid-sort-indicator-color, #1c1f21);
    flex: 0 0 auto;
    height: var(--terra-table-cell-grid-sort-indicator-height, 0.6429rem);
    padding: 0;
    width: var(--terra-table-cell-grid-sort-indicator-width, 0.6429rem); 
  }

  .sort-indicator-asc {
    background: var(--terra-table-cell-grid-header-cell-sort-asc-background, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path d="M47.9 24.5l-3.8-3.8L27 37.4V0h-6v37.4L3.9 20.7.1 24.5 24 48z"/></svg>'));
  }

  .sort-indicator-desc {
    background: var(--terra-table-cell-grid-header-cell-desc-background, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path d="M24 0L.1 23.5l3.8 3.8L21 10.6V48h6V10.6l17.1 16.7 3.8-3.8z"/></svg>'));
  }

  .is-selectable {
    cursor: pointer;
    outline: var(--terra-table-cell-grid-header-cell-focus-outline, none);

    &:hover {
      background-color: var(--terra-table-cell-grid-header-cell-hover-background-color, darken(#dedfe0, 5%));
    }

    &[data-header-show-focus='true']:focus {
      background-color: var(--terra-table-cell-grid-header-cell-focus-background-color, lighten(#dedfe0, 2%));
      border-color: var(--terra-table-cell-grid-header-cell-focus-border-color, #0092e0);
      box-shadow: var(--terra-table-cell-grid-header-cell-focus-box-shadow, inset 0 0 0 1px #26a2e5, inset 0 0 0 4px rgba(76, 178, 233, 0.2));
      z-index: 1;
    }
  }

  .cell-content {
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    overflow: hidden;
    overflow-wrap: break-word; /* Modern browsers */
    width: 100%;
    word-wrap: break-word;
  }

  .container {
    align-items: flex-end;
    display: flex;
    width: 100%;
  }

  [data-table-padding='standard'] .container {
    padding-bottom: var(--terra-table-cell-grid-header-cell-standard-padding-bottom, 0.5rem);
    padding-left: var(--terra-table-cell-grid-header-cell-standard-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-cell-grid-header-cell-standard-padding-right, 0.7142857143rem);
    padding-top: var(--terra-table-cell-grid-header-cell-standard-padding-top, 0.5rem);
  }

  [data-table-padding='compact'] .container {
    padding-bottom: var(--terra-table-cell-grid-header-cell-compact-padding-bottom, 0.35715rem);
    padding-left: var(--terra-table-cell-grid-header-cell-compact-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-cell-grid-header-cell-compact-padding-right, 0.7142857143rem);
    padding-top: var(--terra-table-cell-grid-header-cell-compact-padding-top, 0.35715rem);
  }

  .cell-icon {
    flex: 0 0 auto;
    padding-right: var(--terra-table-cell-grid-header-cell-icon-padding-right, 0.35715rem);
  }
}
