:local {
  .table {
    background-color: var(--terra-flex-table-background-color, rgba(255, 255, 255, 0));
    border-bottom: var(--terra-flex-table-border, 1px solid #dedfe0);
    overflow: hidden;

    &.fill {
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;

      .header {
        display: flex;
        flex: 0 0 auto;
        overflow-y: scroll;
        position: relative;
        width: 100%;

        .header-content {
          flex: 1 1 auto;
          position: relative;
          width: 100%;
        }
      }

      .body {
        height: 100%;
        flex: 1 1 auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        width: 100%;
      }
    }

    &.is-inline {
      display: inline-flex;
      flex-direction: column;
      width: auto;

      .header {
        position: static;
        width: auto;

        .header-content {
          position: relative;
          width: auto;
        }
      }

      .body {
        height: 100%;
        position: relative;
        width: auto;
      }
    }
  }

  .rounded {
    border-radius: 5px;
    border: var(--terra-flex-table-border, 1px solid #dedfe0);
  }

  .body {
    background-color: var(--terra-flex-table-body-background-color);
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
  }
}
/* stylelint-enable selector-max-compound-selectors, max-nesting-depth */
