:local {
  .orion-fusion-theme {
    --terra-form-select-clear-option-color: rgba(28, 31, 33, 0.62);
    --terra-form-select-clear-option-font-style: normal;
    --terra-form-select-clear-option-margin: 0;
  }
}
