:local {
  .content-container-standard,
  .content-container-fill {
    border: 1px solid;
  }

  .content-container-fill {
    height: 200px;
  }

  .content-container-dark {
    background-color: #024978;
    border: 1px solid #fff;
  }

  .content-container-light {
    background-color: #fffefe;
    border: 1px solid;
  }

  .white-text {
    color: #fff;
  }

  .black-text {
    color: #000;
  }

  .button {
    margin: 5px;
  }
}
