:local {
  .background {
    height: 100px;
    width: 100px;
  }

  .green {
    background-color: #228b22;
  }

  .gray {
    background-color: #a9a9a9;
  }

  .red {
    background-color: #f00;
  }

  .white {
    background-color: #fff;
  }

  .blue {
    background-color: #00f;
  }
}
