:local {
  .orion-fusion-theme {
    --terra-toolbar-background-color: #e8e9ea;
    --terra-toolbar-border-bottom-color: #c8cacb;
    --terra-toolbar-padding-bottom: 0.25rem;
    --terra-toolbar-padding-left: 0.285714286rem;
    --terra-toolbar-padding-right: 0.285714286rem;
    --terra-toolbar-padding-top: 0.25rem;
    --terra-toolbar-item-padding-end: 0.25rem;
    --terra-toolbar-item-padding-start: 0.25rem;
    --terra-toolbar-item-padding-bottom: 0.25rem;
    --terra-toolbar-item-padding-top: 0.25rem;
  }
}
