.terra-responsive-example-container {
  border: 1px dashed;
  box-sizing: content-box;
  margin-top: 10px;
  padding: 10px;
  width: 544px / 2;
}

.terra-responsive-example-container--tiny {
  width: 544px;
}

.terra-responsive-example-container--small {
  width: 768px;
}

.terra-responsive-example-container--medium {
  width: 992px;
}

.terra-responsive-example-container--large {
  width: 1216px;
}

.terra-responsive-example-container--huge {
  width: 1440px;
}
