:local {
  .searchfield {
    display: inline-flex;
    width: var(--terra-search-field-width, 15.31em);

    .cancel {
      background: transparent;
      border-style: none;
      display: inline-block;
      flex: 0 0 auto;
      margin-left: -2em;
      z-index: 1;
    }

    .input {
      appearance: none;
      border-bottom-left-radius: var(--terra-search-field-input-border-bottom-left-radius, 3px);
      border-bottom-right-radius: 0;
      border-top-left-radius: var(--terra-search-field-input-border-top-left-radius, 3px);
      border-top-right-radius: 0;
      flex: 1 1 auto;
      margin-bottom: var(--terra-search-field-input-margin-bottom, 0);
      margin-left: var(--terra-search-field-input-margin-left, 0);
      margin-right: var(--terra-search-field-input-margin-right, 0);
      margin-top: var(--terra-search-field-input-margin-top, 0);
      min-width: 0;
      outline-offset: -0.143em;  //Adjust the outline offset for search input in Safari.

      &:focus {
        z-index: 1;
      }
    }

    .input-cancel {
      padding-right: 1.5em;
    }

    .button {
      border: var(--terra-search-field-button-border, 1px solid #dedfe0);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: var(--terra-search-field-button-border-bottom-right-radius, 3px);
      border-top-left-radius: 0;
      border-top-right-radius: var(--terra-search-field-button-border-top-right-radius, 3px);
      box-shadow: var(--terra-search-field-button-box-shadow);
      color: var(--terra-search-field-button-icon-color);
      display: inline-block;
      flex: 0 0 auto;
      margin-bottom: var(--terra-search-field-button-margin-bottom, 0);
      margin-left: var(--terra-search-field-button-margin-left, -1px);
      margin-right: var(--terra-search-field-button-margin-right, 0);
      margin-top: var(--terra-search-field-button-margin-top, 0);
      z-index: 1;

      &:focus {
        box-shadow: var(--terra-search-field-button-focus-box-shadow);
      }
    }
  }

  .block {
    display: flex;
    width: 100%;
  }

  .input::-webkit-search-cancel-button {
    // Remove webkit search clear functionality
    display: none;
  }

  .input::-webkit-search-decoration {
    // Get rid of extra left-padding getting added in Safari for search fields
    appearance: none;
  }
}
