:local {
  .searchfield {
    display: inline-flex;

    .input {
      appearance: none;
      border-bottom-left-radius: var(--terra-search-field-border-bottom-left-radius, 0.25em);
      border-bottom-right-radius: 0;
      border-right: 0;
      border-top-left-radius: var(--terra-search-field-border-top-left-radius, 0.25em);
      border-top-right-radius: 0;
      flex: 1 1 auto;
      margin-bottom: var(--terra-search-field-input-margin-bottom, 0);
      margin-left: var(--terra-search-field-input-margin-left, 0);
      margin-right: var(--terra-search-field-input-margin-right, 0);
      margin-top: var(--terra-search-field-input-margin-top, 0);
      min-width: 0;
      outline-offset: -0.143em;  //Adjust the outline offset for search input in Safari.
    }

    .button {
      border: var(--terra-search-field-button-border, 0.071em solid #dedfe0);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: var(--terra-search-field-border-bottom-right-radius, 0.25em);
      border-top-left-radius: 0;
      border-top-right-radius: var(--terra-search-field-border-top-right-radius, 0.25em);
      display: inline-block;
      flex: 0 0 auto;
      margin-bottom: var(--terra-search-field-button-margin-bottom, 0);
      margin-left: var(--terra-search-field-button-margin-left, 0);
      margin-right: var(--terra-search-field-button-margin-right, 0);
      margin-top: var(--terra-search-field-button-margin-top, 0);
    }
  }

  .block {
    display: flex;
  }

  .input::-webkit-search-cancel-button {
    appearance: searchfield-cancel-button;
  }

  .input::-webkit-search-decoration {
    // Get rid of extra left-padding getting added in Safari for search fields
    appearance: none;
  }
}
