/* stylelint-disable selector-class-pattern  */
:local {
  .searchfield {
    display: inline-flex;

    .input {
      appearance: textfield;
      border-bottom-right-radius: 0;
      border-right: 0;
      border-top-right-radius: 0;
      flex: 1 1 auto;
      margin: 0;
      min-width: 0;
      outline-offset: -0.143em;  //Adjust the outline offset for search input in Safari.
    }

    .button {
      border: 0.071em solid #dedfe0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0.286em;
      border-top-left-radius: 0;
      border-top-right-radius: 0.286em;
      display: inline-block;
      flex: 0 0 auto;
      margin: 0;
    }
  }

  .input::-webkit-search-cancel-button {
    appearance: searchfield-cancel-button;
  }

  .input::-webkit-search-decoration {
    // Get rid of extra left-padding getting added in Safari for search fields
    appearance: none;
  }
}
/* stylelint-enable */
