:local {
  .clinical-lowlight-theme {
    --terra-heading-attention-color: rgb(220, 20, 60);
    --terra-heading-success-color: rgb(46, 125, 50);
    --terra-heading-info-color: #304ffe;
    --terra-heading-default-color: #333;
  }
}