:local {
  .clinical-lowlight-theme {
    // Used for docsite custom color examples only 
    --terra-heading-attention-color: #fb4c4c;
    --terra-heading-default-color: #6f7477;
    --terra-heading-info-color: #5a81ff;
    --terra-heading-success-color: #78c346;
  }
}
