$terra-badge-font-sizes: (
  tiny: 0.5rem,
  small: 0.8rem,
  medium: 1rem,
  large: 1.4rem,
  huge: 1.7rem
);

$terra-badge-child-margin: 0.357em;

$terra-badge-border-radius: 0.25em;
$terra-badge-display: inline-block;

$terra-badge-font-weight: 700;
$terra-badge-line-height: 1;

$terra-badge-padding-bottom: 0.5rem;
$terra-badge-padding-left: 0.36rem;
$terra-badge-padding-right: 0.36rem;
$terra-badge-padding-top: 0.5rem;

$terra-badge-text-transform: none;

$terra-badge-default-color-scheme: (
  background-color: #bcbfc0,
  color: #383f42
);

$terra-badge-primary-color-scheme: (
  background-color: #004c76,
  color: #fff
);

$terra-badge-secondary-color-scheme: (
  background-color: #4e832b,
  color: #fff
);

$terra-badge-positive-color-scheme: (
  background-color: #4e832b,
  color: #fff
);

$terra-badge-negative-color-scheme: (
  background-color: #bc0203,
  color: #fff
);

$terra-badge-warning-color-scheme: (
  background-color: #da3b03,
  color: #fff
);

$terra-badge-info-color-scheme: (
  background-color: #004c76,
  color: #fff
);
