@import './variables';
@import './mixins';

:local {
  /* stylelint-disable selector-class-pattern  */
  .badge {
    border-radius: var(--terra-badge-border-radius, 0.25em);
    display: var(--terra-badge-display, inline-block);
    font-size: var(--terra-badge-font-size-small, 0.8rem);
    font-weight: var(--terra-badge-font-weight, 700);
    line-height: var(--terra-badge-line-height, 1);
    min-width: var(--terra-badge-min-width, 1.65em);
    padding-bottom: var(--terra-badge-padding-bottom, 0.5rem);
    padding-left: var(--terra-badge-padding-left, 0.36rem);
    padding-right: var(--terra-badge-padding-right, 0.36rem);
    padding-top: var(--terra-badge-padding-top, 0.5rem);
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: var(--terra-badge-text-transform, none);
    white-space: nowrap;
  }

  .text:first-child:not(:last-child) {
    margin-right: var(--terra-badge-child-margin, 0.357em);
  }

  .text:nth-child(2) {
    margin-left: var(--terra-badge-child-margin, 0.357em);
  }

  .tiny {
    font-size: var(--terra-badge-font-size-tiny, 0.5rem);
  }

  .small {
    font-size: var(--terra-badge-font-size-small, 0.8rem);
  }

  .medium {
    font-size: var(--terra-badge-font-size-medium, 1rem);
  }

  .large {
    font-size: var(--terra-badge-font-size-large, 1.4rem);
  }

  .huge {
    font-size: var(--terra-badge-font-size-huge, 1.7rem);
  }

  .default {
    @include terra-badge-color($terra-badge-default-color-scheme);
  }

  .primary {
    @include terra-badge-color($terra-badge-primary-color-scheme);
  }

  .secondary {
    @include terra-badge-color($terra-badge-secondary-color-scheme);
  }

  .positive {
    @include terra-badge-color($terra-badge-positive-color-scheme);
  }

  .negative {
    @include terra-badge-color($terra-badge-negative-color-scheme);
  }

  .warning {
    @include terra-badge-color($terra-badge-warning-color-scheme);
  }

  .info {
    @include terra-badge-color($terra-badge-info-color-scheme);
  }
  /* stylelint-enable */
}
