@import './variables';
@import './mixins';

:local {
  /* stylelint-disable selector-class-pattern  */
  .badge {
    border-radius: var(--terra-Badge-borderRadius);
    display: var(--terra-Badge-display);
    font-size: var(--terra-Badge-fontSize--small);
    font-weight: var(--terra-Badge-fontWeight);
    line-height: var(--terra-Badge-lineHeight);
    min-width: var(--terra-Badge-minWidth);
    padding-bottom: var(--terra-Badge-paddingBottom);
    padding-left: var(--terra-Badge-paddingLeft);
    padding-right: var(--terra-Badge-paddingRight);
    padding-top: var(--terra-Badge-paddingTop);
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: var(--terra-Badge-textTransform);
    white-space: nowrap;
  }

  .text:first-child:not(:last-child) {
    margin-right: var(--terra-Badge-child--margin);
  }

  .text:nth-child(2) {
    margin-left: var(--terra-Badge-child--margin);
  }

  .tiny {
    font-size: var(--terra-Badge-fontSize--tiny);
  }

  .small {
    font-size: var(--terra-Badge-fontSize--small);
  }

  .medium {
    font-size: var(--terra-Badge-fontSize--medium);
  }

  .large {
    font-size: var(--terra-Badge-fontSize--large);
  }

  .huge {
    font-size: var(--terra-Badge-fontSize--huge);
  }

  .default {
    @include terra-badge-color($terra-badge-default-color-scheme);
  }

  .primary {
    @include terra-badge-color($terra-badge-primary-color-scheme);
  }

  .secondary {
    @include terra-badge-color($terra-badge-secondary-color-scheme);
  }

  .positive {
    @include terra-badge-color($terra-badge-positive-color-scheme);
  }

  .negative {
    @include terra-badge-color($terra-badge-negative-color-scheme);
  }

  .warning {
    @include terra-badge-color($terra-badge-warning-color-scheme);
  }

  .info {
    @include terra-badge-color($terra-badge-info-color-scheme);
  }
  /* stylelint-enable */
}
