@import './variables';
@import './mixins';

:local {
  .badge {
    border: var(--terra-badge-border);
    border-radius: var(--terra-badge-border-radius, 0.25em);
    display: var(--terra-badge-display, inline-block);
    font-size: var(--terra-badge-default-font-size, 0.8rem);
    font-weight: var(--terra-badge-font-weight, 700);
    line-height: var(--terra-badge-line-height, 1);
    min-width: var(--terra-badge-min-width, 1.65em);
    padding-bottom: var(--terra-badge-padding-bottom, 0.5rem);
    padding-left: var(--terra-badge-padding-left, 0.36rem);
    padding-right: var(--terra-badge-padding-right, 0.36rem);
    padding-top: var(--terra-badge-padding-top, 0.5rem);
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: var(--terra-badge-text-transform, none);
    white-space: nowrap;
  }

  .is-reversed.has-icon .text {
    margin-right: var(--terra-badge-child-margin-right, 0.357em);
  }

  .has-icon:not(.is-reversed) .text {
    margin-left: var(--terra-badge-child-margin-left, 0.357em);
  }

  .tiny {
    font-size: var(--terra-badge-tiny-font-size, 0.5rem);
  }

  .small {
    font-size: var(--terra-badge-small-font-size, 0.8rem);
  }

  .medium {
    font-size: var(--terra-badge-medium-font-size, 1rem);
  }

  .large {
    font-size: var(--terra-badge-large-font-size, 1.4rem);
  }

  .huge {
    font-size: var(--terra-badge-huge-font-size, 1.7rem);
  }

  .default {
    @include terra-badge-color($terra-badge-default-color-scheme);
  }

  .primary {
    @include terra-badge-color($terra-badge-primary-color-scheme);
  }

  .secondary {
    @include terra-badge-color($terra-badge-secondary-color-scheme);
  }

  .positive {
    @include terra-badge-color($terra-badge-positive-color-scheme);
  }

  .negative {
    @include terra-badge-color($terra-badge-negative-color-scheme);
  }

  .warning {
    @include terra-badge-color($terra-badge-warning-color-scheme);
  }

  .info {
    @include terra-badge-color($terra-badge-info-color-scheme);
  }
}
