// Themes
@import './orion-fusion-theme/DataGrid.module';
@import './clinical-lowlight-theme/DataGrid.module';

:local {
  .data-grid-container {
    height: 100%;
    overflow: auto;
    width: 100%;
  }

  .data-grid {
    // Style for the grid itself
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    user-select: none;
    width: 1px;

    :focus {
      outline: var(--terra-data-grid-cell-focus-outline, 3px dashed #000);
      outline-offset: var(--terra-data-grid-cell-focus-outline-offset, -2px);
    }
  }
}
