:local {
  .clinical-lowlight-theme {
    // Used for docsite custom color examples only 
    --terra-alert-attention-example-color: #f94e4e;
    --terra-alert-dismiss-example-color: #ff049b;
    --terra-alert-help-example-color: #0addff;
  }
}
