
:local {
  .tag {
    align-items: center;
    background-color: var(--terra-tag-background-color, rgba(28, 31, 33, 0.04));
    border-color: var(--terra-tag-border-color, rgba(28, 31, 33, 0.1));
    border-radius: 3px;
    border-style: var(--terra-tag-border-style, solid);
    border-width: 1px;
    box-shadow: var(--terra-tag-box-shadow);
    color: var(--terra-tag-color, #434a4d);
    display: inline-flex;
    font-size: var(--terra-tag-font-size, 1rem);
    font-weight: var(--terra-tag-font-weight, 400);
    line-height: var(--terra-tag-line-height, 1.1428571429);
    margin-bottom: var(--terra-tag-margin-bottom, 0.3571428571rem);
    margin-left: var(--terra-tag-margin-left);
    margin-right: var(--terra-tag-margin-right, 0.7142857143rem);
    margin-top: var(--terra-tag-margin-top, 0.3571428571rem);
    padding-bottom: var(--terra-tag-padding-bottom, 0.1428571429rem);
    padding-left: var(--terra-tag-padding-left, 0.5rem);
    padding-right: var(--terra-tag-padding-right, 0.5rem);
    padding-top: var(--terra-tag-padding-top, 0.1428571429rem);
    text-align: left;
    text-decoration: var(--terra-tag-text-decoration);
    text-transform: none;
    touch-action: manipulation; // Enable fast tap interaction in webkit browsers; see https://webkit.org/blog/5610/more-responsive-tapping-on-ios/
    user-select: none; // Prevent text selection on tags on mobile and desktop.
    vertical-align: middle;
    white-space: normal;

    // Remove the inner border and padding in Firefox and IE.
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    &:focus {
      outline: none;
    }
  }

  .is-interactive {
    background-color: var(--terra-tag-interactive-background-color, rgba(28, 31, 33, 0.04));
    color: var(--terra-tag-interactive-color, #0059a8);
    cursor: pointer;
    text-decoration: var(--terra-tag-interactive-text-decoration);

    &.is-focused {
      background-color: var(--terra-tag-focus-background-color, #fff);
      border-color: var(--terra-tag-focus-border-color, rgba(76, 178, 233, 0.5));
      box-shadow: var(--terra-tag-focus-box-shadow, 0 0 0.0714rem 0.2142rem rgba(76, 178, 233, 0.5), 0 0 0.5rem 0.285rem rgba(76, 178, 233, 0.35));
      color: var(--terra-tag-focus-color, #0059a8);
      text-decoration: var(--terra-tag-focus-text-decoration);
    }

    &:hover {
      background-color: var(--terra-tag-hover-background-color, rgba(28, 31, 33, 0.04));
      border-color: var(--terra-tag-hover-border-color, rgba(28, 31, 33, 0.1));
      box-shadow: var(--terra-tag-hover-box-shadow);
      color: var(--terra-tag-hover-color, #001f67);
      text-decoration: var(--terra-tag-hover-text-decoration, underline);
    }
  }

  .icon {
    line-height: 0;
    margin-right: var(--terra-tag-icon-margin-right, 0.3571428571rem);
    margin-top: var(--terra-tag-icon-margin-top, 0);

    > svg {
      height: var(--terra-tag-icon-height, 1rem);
      width: var(--terra-tag-icon-width, 1rem);
    }
  }
}
