:global {
  --terra-table-background-color: transparent;
  --terra-table-border: 1px solid #c8cacb;
  --terra-table-cell-border-left: 0;
  --terra-table-first-cell-border-left: 1px solid #c8cacb;
  --terra-table-last-cell-border-right: 1px solid #c8cacb;
  --terra-table-header-cell-border-left: 1px solid #c8cacb;
  --terra-table-first-header-cell-border-left: 0;
  --terra-table-last-header-cell-border-right: 0;
  --terra-table-thead-background-color: #f4f4f4;
  --terra-table-thead-tr-border-bottom: 2px solid #9b9fa1;
  --terra-table-thead-tr-border-top: 0;
  --terra-table-thead-th-color: #595f62;
  --terra-table-thead-th-font-size: 1rem;
  --terra-table-thead-th-font-weight: normal;
  --terra-table-tbody-background-color: transparent;
  --terra-table-row-border-top: 1px solid #f4f4f4;
  --terra-table-last-row-border-bottom: 1px solid #c8cacb;
  --terra-table-tfoot-tr-border-bottom: 1px solid #c8cacb;
  --terra-table-tfoot-tr-border-top: 0;
  --terra-table-subheader-background-color: #dedfe0;
  --terra-table-subheader-border-bottom: 1px solid #9b9fa1;
  --terra-table-subheader-color: #1c1f21;
  --terra-table-subheader-font-size: 1rem;
  --terra-table-subheader-font-weight: normal;
  --terra-table-sort-indicator-color: #595f62;
  --terra-table-sort-indicator-width: 1rem;
  --terra-table-cell-tiny-min-width: 3rem;
  --terra-table-cell-small-min-width: 4.25rem;
  --terra-table-cell-medium-min-width: 5.75rem;
  --terra-table-cell-large-min-width: 8.5rem;
  --terra-table-cell-huge-min-width: 10.5rem;
  --terra-table-cell-padding-bottom: 0.25rem;
  --terra-table-cell-padding-left: 0.41667rem;
  --terra-table-cell-padding-right: 0.41667rem;
  --terra-table-cell-padding-top: 0.25rem;
  --terra-table-header-cell-height: 1.4375rem;
  --terra-table-header-cell-padding-bottom: 0.25rem;
  --terra-table-header-cell-padding-left: 0.41667rem;
  --terra-table-header-cell-padding-right: 0.41667rem;
  --terra-table-header-cell-padding-top: 0.25rem;
  --terra-table-row-striped-background-color: #f4f4f4;
  --terra-table-row-striped-selected-background-color: #cbe7fa;
  --terra-table-row-striped-hover-background-color: #e2f2fc;
  --terra-table-row-striped-focus-background-color: #e2f2fc;
  --terra-table-row-striped-selected-hover-background-color: #b3ddf7;
  --terra-table-row-striped-selected-focus-background-color: #b3ddf7;
  --terra-table-row-selected-background-color: #e2f2fc;
  --terra-table-row-selected-border-color: #0092e0;
  --terra-table-row-selected-border-top-color: #0092e0;
  --terra-table-row-focus-background-color: #f4fafe;
  --terra-table-row-hover-background-color: #f4fafe;
  --terra-table-row-selected-focus-background-color: #cbe7fa;
  --terra-table-row-selected-hover-background-color: #cbe7fa;
}
