:local {
  .redwood-theme {
    --terra-card-background-color: var(--card-background-color);
    --terra-card-border-radius: var(--card-border-radius);
    --terra-card-border: var(--card-border);
    --terra-card-color: inherit;
    --terra-card-raised-box-shadow: var(--card-box-shadow);
  }
}