:local {
  .redwood-theme {
    --terra-card-padding-bottom: var(--card-padding-bottom);
    --terra-card-padding-left: var(--card-padding-left);
    --terra-card-padding-right: var(--card-padding-right);
    --terra-card-padding-top: var(--card-padding-top);
  }
}
