$terra-responsive-breakpoints: (
  tiny: 544,
  small: 768,
  medium: 992,
  large: 1216,
  huge: 1440
) !default;

:export {
  // Create responsive styles
  @each $property, $value in $terra-responsive-breakpoints {
    #{$property}: $value;
  }
}
