:local {
  .clinical-lowlight-theme {
    // Used for docsite custom color examples only
    --terra-core-docs-attention-example-color: #f94e4e;
    --terra-core-docs-dismiss-example-color: #ff049b;
    --terra-core-docs-help-example-color: #0addff;
  }
}
