// stylelint-disable declaration-property-value-blacklist
/* stylelint-disable selector-class-pattern  */
:local {
  .time-input {
    background-color: transparent;
    border: #dedfe0 solid 1px;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    display: inline-block;
    margin: 0;

    &.is-focused {
      border-color: #26a2e5;
      outline: none;
    }
  }

  .time-input-hour,
  .time-input-minute {
    border: none;
    display: inline-block;
    margin: 0;
    min-width: 2.1em;
    padding: 0.179em 0;
    text-align: center;
    width: 2.1em;

    &:focus {
      border-color: none;
      outline: none;
    }
  }
}
/* stylelint-enable */
