@import '~terra-mixins';

.terra-TimeInput {
  display: inline-block;
  min-width: 12em; 
}

.terra-TimeInput-input {
  @include terra-border-radius-start(0.286em);
  @include terra-border-radius-end(0.286em);
  border: 0.071em solid $terra-grey-40;
  box-shadow: inset 0 0.143em 0.143em $terra-grey-20;
  font-size: 1em;
  line-height: 1.143;
  margin: 0.357em 0;
  padding: 0.429em 0.714em;
  vertical-align: middle;

  &:focus {
    border-color: $terra-blue-60;
    outline: none;
  }
}
