@import '../../../media-queries';

:local {
  .content::after {
    content: 'The active breakpoint is: default';

    @include terra-mq-tiny-up {
      content: 'The active breakpoint is: tiny';
    }
  
    @include terra-mq-small-up {
      content: 'The active breakpoint is: small';
    }
  
    @include terra-mq-medium-up {
      content: 'The active breakpoint is: medium';
    }
  
    @include terra-mq-large-up {
      content: 'The active breakpoint is: large';
    }
  
    @include terra-mq-huge-up {
      content: 'The active breakpoint is: huge';
    }
  }
}
