.resultsContainer {
  display: flex;
  flex-wrap: wrap;
}

.resultContents{
  height: 75px;
  width: 175px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dark-background {
  background-color: #222a2e;
  border-radius: 3px;
}