:local {
  .paginator {
    display: flex;
    justify-content: space-between;

    &.responsive-progressive {
      align-items: baseline;
      justify-content: center;
    }

    .nav-link {
      background: var(--terra-paginator-nav-link-background);
      border: var(--terra-paginator-nav-link-border, thin solid);
      color: var(--terra-paginator-nav-link-foreground-color, #000);
      cursor: pointer;
      display: inline-block;
      margin: var(--terra-paginator-nav-link-margin, auto 2px);
      min-width: var(--terra-paginator-nav-link-min-width, 2rem); // Helps ensure limited resizing as you page through large numbers.
      padding: var(--terra-paginator-nav-link-padding, 3px);
      text-align: center;
      user-select: none; // Keeps user from highlighting the paging link text.

      &:hover {
        background: var(--terra-paginator-nav-link-background-hover);
        color: var(--terra-paginator-nav-link-foreground-color-hover);
        text-decoration: underline;
      }

      &:active {
        background: var(--terra-paginator-nav-link-background-active, #b2b5b6);
      }
    }

    .is-selected {
      border: var(--terra-paginator-nav-link-border-selected, none);
      color: initial;
      cursor: initial;
      pointer-events: none;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        outline: none;
      }
    }

    .is-disabled {
      color: var(--terra-paginator-nav-link-foreground-color-disabled, rgba(28, 31, 33, 0.2));
      cursor: default;
      outline: none;
      pointer-events: none;
    }

    .page-form {
      align-items: baseline;
      display: flex;
    }

    .page-input {
      margin-left: var(--terra-paginator-progressive-page-input-margin-left, 0.25rem);
      margin-right: var(--terra-paginator-progressive-page-input-margin-right, 1rem);
      max-width: var(--terra-paginator-progressive-page-input-max-width, 4rem);
      text-align: center;
    }
  }
}
