:local {
  .textarea {
    background-color: var(--terra-form-textarea-background-color, #fff);
    background-image: var(--terra-form-textarea-background-image, none);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: var(--terra-form-textarea-background-size, 0 0);
    border-color: var(--terra-form-textarea-border-color, #dedfe0);
    border-radius: var(--terra-form-textarea-border-radius, 3px);
    border-style: var(--terra-form-textarea-border-style, solid);
    border-width: var(--terra-form-textarea-border-width, 1px);
    color: var(--terra-form-textarea-color, #000);
    cursor: auto;
    font-family: inherit;
    font-size: var(--terra-form-textarea-font-size, 1.143rem);
    line-height: var(--terra-form-textarea-line-height, 1.25);
    max-width: 100%;
    opacity: var(--terra-form-textarea-focus-opacity, 1);
    padding-bottom: var(--terra-form-textarea-padding-bottom, 0.286rem);
    padding-left: var(--terra-form-textarea-padding-left, 0.286rem);
    padding-right: var(--terra-form-textarea-padding-right, 0.286rem);
    padding-top: var(--terra-form-textarea-padding-top, 0.286rem);
    transition-duration: var(--terra-form-textarea-focus-transition-duration, 0.2s);
    transition-property: background-size;
    transition-timing-function: var(--terra-form-textarea-focus-transition-timing-function, ease);
    width: 100%;

    &:hover {
      background-color: var(--terra-form-textarea-hover-background-color);
      border-color: var(--terra-form-textarea-hover-border-color, #dedfe0);
      border-style: var(--terra-form-textarea-hover-border-style, solid);
      border-width: var(--terra-form-textarea-hover-border-width, 1px);
      color: var(--terra-form-textarea-hover-color);
    }

    &::placeholder {
      color: var(--terra-form-textarea-placeholder-color, rgba(25, 32, 35, 0.53));
      font-style: var(--terra-form-textarea-placeholder-font-style);
    }

    &[required] {
      box-shadow: unset;
    }

    &[disabled] {
      background-color: var(--terra-form-textarea-disabled-background-color, rgba(111, 116, 119, 0.2));
      border-color: var(--terra-form-textarea-disabled-border-color, #868a8c);
      border-style: var(--terra-form-textarea-disabled-border-style, solid);
      border-width: var(--terra-form-textarea-disabled-border-width, 1px);
      color: var(--terra-form-textarea-disabled-color, #1c1f21);
      cursor: default;
      opacity: var(--terra-form-textarea-disabled-opacity, 0.25);
      pointer-events: none;
      resize: none;
    }

    &[disabled]::placeholder {
      color: var(--terra-form-textarea-placeholder-disabled-color, rgba(25, 32, 35, 0.53));
      font-style: var(--terra-form-textarea-placeholder-disabled-font-style);
    }

    &:focus {
      background-color: var(--terra-form-textarea-focus-background-color);
      background-size: var(--terra-form-textarea-focus-background-size, 0 0);
      border-color: var(--terra-form-textarea-focus-border-color, #4cb2e9);
      border-style: var(--terra-form-textarea-focus-border-style, solid);
      border-width: var(--terra-form-textarea-focus-border-width, 1px);
      box-shadow: var(--terra-form-textarea-focus-box-shadow, 0 0 8px #a6d9f4);
      color: var(--terra-form-textarea-focus-color, #000);
      opacity: var(--terra-form-textarea-focus-opacity, 1);
      outline: none;

      [dir=ltr] & {
        box-shadow: var(--terra-form-textarea-focus-ltr-box-shadow, 0 0 8px #a6d9f4);
      }

      [dir=rtl] & {
        box-shadow: var(--terra-form-textarea-focus-rtl-box-shadow, 0 0 8px #a6d9f4);
      }
    }
  }

  .full-size {
    height: 100%;
    resize: none;
    width: 100%;
  }

  .resizable {
    box-sizing: padding-box;
    overflow: hidden;
  }

  .form-error {
    background-color: var(--terra-form-textarea-error-background-color, #fff);
    background-image: var(--terra-form-textarea-error-background-image, none);
    border-color: var(--terra-form-textarea-error-border-color, #e50000);
    border-style: var(--terra-form-textarea-error-border-style, solid);
    border-width: var(--terra-form-textarea-error-border-width, 1px);
    box-shadow: var(--terra-form-textarea-error-box-shadow, 0 0 0 1px #e50000);
    opacity: var(--terra-form-textarea-error-opacity, 1);

    &:hover {
      background-color: var(--terra-form-textarea-error-hover-background-color);
      border-color: var(--terra-form-textarea-error-hover-border-color, #e50000);
      border-style: var(--terra-form-textarea-error-hover-border-style, solid);
      border-width: var(--terra-form-textarea-error-hover-border-width, 1px);
      color: var(--terra-form-textarea-error-hover-color);
    }

    &[disabled] {
      background-color: var(--terra-form-textarea-error-disabled-background-color, rgba(111, 116, 119, 0.2));
      border-color: var(--terra-form-textarea-error-disabled-border-color, #e50000);
      border-style: var(--terra-form-textarea-error-disabled-border-style, solid);
      border-width: var(--terra-form-textarea-error-disabled-border-width, 1px);
      color: var(--terra-form-textarea-error-disabled-color, #1c1f21);
      opacity: var(--terra-form-textarea-error-disabled-opacity, 0.25);
    }

    &[required] {
      box-shadow: var(--terra-form-textarea-error-box-shadow, 0 0 0 1px #e50000);
    }

    &:focus {
      background-color: var(--terra-form-textarea-error-focus-background-color);
      background-size: var(--terra-form-textarea-error-focus-background-size, 0 0);
      border-color: var(--terra-form-textarea-error-focus-border-color, #e50000);
      border-style: var(--terra-form-textarea-error-focus-border-style, solid);
      border-width: var(--terra-form-textarea-error-focus-border-width, 1px);
      box-shadow: var(--terra-form-textarea-error-focus-box-shadow, 0 0 0 1px #e50000);
      color: var(--terra-form-textarea-error-focus-color, #000);
      opacity: var(--terra-form-textarea-error-focus-opacity, 1);

      [dir=ltr] & {
        box-shadow: var(--terra-form-textarea-error-focus-ltr-box-shadow, 0 0 0 1px #e50000);
      }

      [dir=rtl] & {
        box-shadow: var(--terra-form-textarea-error-focus-rtl-box-shadow, 0 0 0 1px #e50000);
      }
    }
  }

  .form-incomplete {
    background-color: var(--terra-form-textarea-incomplete-background-color, #ffc);

    &:hover {
      background-color: var(--terra-form-textarea-incomplete-hover-background-color, #ffc);
    }

    &[disabled] {
      background-color: var(--terra-form-textarea-incomplete-disabled-background-color, #ffc);
    }

    &:focus {
      background-color: var(--terra-form-textarea-incomplete-focus-background-color, #ffc);
    }
  }
}
