// Grid Component Variables
// ========================================================

$terra-grid-breakpoints: $terra-breakpoints !default;
$terra-grid-gutter-width: 1rem !default;
$terra-grid-total-columns: 12 !default;
