// Grid Component Variables
// ========================================================

:root {
  --terra-grid-gutter-width: 1rem;
}


$terra-grid-breakpoints: (
  tiny: 544px,
  small: 768px,
  medium: 992px,
  large: 1216px,
  huge: 1440px
);
