:global {
  // ---------------------- Shared ----------------------- //
  --terra-base-background-attachment: none;
  --terra-base-background-color: #222a2e;
  --terra-base-background-image: none;
  --terra-base-color: #b2b5b6;

  // -------------------- Version 4.x -------------------- //

  // there are no version specific variables for this version

  // -------------------- Version 3.x -------------------- //

  // there are no version specific variables for this version
}
