:local {
  .clinical-lowlight-theme {
    --terra-form-select-clear-option-color: #6f7477;
    --terra-form-select-clear-option-font-style: normal;
    --terra-form-select-clear-option-margin: 0 0 0.17857rem 0;
  }
}
