@import '~terra-mixins/lib/Mixins';

:local {
  .clinical-lowlight-theme {
    // native
    --terra-form-select-native-background-color: #222a2e;
    --terra-form-select-native-background-image: none;
    --terra-form-select-native-background-size: 0 0;
    --terra-form-select-native-border: 1px solid #181b1d;
    --terra-form-select-native-border-radius: 3px;
    --terra-form-select-native-color: #b2b5b6;
    --terra-form-select-native-font-size: 1.143rem;
    --terra-form-select-native-height: 2.142857rem;
    --terra-form-select-native-line-height: 1.75;
    --terra-form-select-native-placeholder-color: #6f7477;
    --terra-form-select-native-placeholder-font-size: 1.143rem;
    --terra-form-select-native-placeholder-font-style: italic;
    --terra-form-select-native-select-line-height: 1.75;
    --terra-form-select-native-frame-padding-left: 0.5rem;
    --terra-form-select-native-arrow-padding: 0 0.786rem;
    --terra-form-select-native-arrow-icon-height: 0.714rem;
    --terra-form-select-native-arrow-icon-width: 0.714rem;

    // focus
    --terra-form-select-native-focus-background-color: #222a2e;
    --terra-form-select-native-focus-background-size: 0 0;
    --terra-form-select-native-focus-border-color: #004c76;
    --terra-form-select-native-focus-transition-duration: 0;

    // focus - keyboard
    --terra-form-select-native-focus-keyboard-box-shadow: none;
    --terra-form-select-native-focus-keyboard-outline: 2px dashed #b2b5b6;
    --terra-form-select-native-focus-keyboard-outline-offset: 1px;

    // hover
    --terra-form-select-native-hover-background-color: #222a2e;
    --terra-form-select-native-hover-border-color: #004c76;
    --terra-form-select-native-hover-color: #b2b5b6;

    // focus + hover
    --terra-form-select-native-focus-hover-border-color: #004c76;

    // incomplete
    --terra-form-select-native-incomplete-background-color: #464232;

    // invalid
    --terra-form-select-native-invalid-background-color: #222a2e;
    --terra-form-select-native-invalid-background-image: none;
    --terra-form-select-native-invalid-border-color: #fb4c4c;
    --terra-form-select-native-invalid-box-shadow: 0 0 0 1px #fb4c4c;
    --terra-form-select-native-invalid-focus-background-color: #222a2e;
    --terra-form-select-native-invalid-focus-border-color: #fb4c4c;
    --terra-form-select-native-invalid-focus-box-shadow: 0 0 0 1px #fb4c4c, 0 0 0 1px #fb4c4c;
    --terra-form-select-native-invalid-focus-keyboard-box-shadow: 0 0 0 1px #fb4c4c;
    --terra-form-select-native-invalid-focus-keyboard-outline: 2px dashed #b2b5b6;
    --terra-form-select-native-invalid-focus-keyboard-outline-offset: 1px;
    --terra-form-select-native-invalid-hover-background-color: #222a2e;
    --terra-form-select-native-invalid-hover-border-color: #fb4c4c;

    // disabled
    --terra-form-select-native-disabled-background-color: #222a2e;
    --terra-form-select-native-disabled-border-color: #202427;
    --terra-form-select-native-disabled-color: #b2b5b6;
    --terra-form-select-native-disabled-opacity: 0.3;

    @include terra-inline-svg-var('--terra-form-select-native-arrow-icon-background-image', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="#b2b5b6" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>');
    @include terra-inline-svg-var('--terra-form-select-native-invalid-arrow-icon-background-image', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="#b2b5b6" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>');
    @include terra-inline-svg-var('--terra-form-select-native-disabled-arrow-icon-background-image', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="#b2b5b6" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>');
  }
}
