// Variables
// ==========================

$terra-button-border-radius: 0.25em !default;
$terra-button-border-style: solid !default;
$terra-button-border-width: 1px !default;
$terra-button-font-family: $terra-font-family !default;
$terra-button-font-size: 1rem !default;
$terra-button-font-weight: 400 !default;
$terra-button-margin: 0 0.714em 0 0 !default;
$terra-button-padding: 0.286em 0.714em !default;
$terra-button-text-transform: none !default;

$terra-button-default-color-scheme: (
  active-background-color: $terra-grey-80,
  active-border-color: $terra-grey-80,
  active-color: $terra-white,
  background-color: $terra-grey-20,
  border-color: $terra-grey-30,
  color: $terra-grey-90,
  disabled-background-color: $terra-grey-10,
  disabled-border-color: $terra-grey-20,
  disabled-color: $terra-grey-50,
  hover-background-color: $terra-grey-30,
  hover-color: $terra-grey-100,
  link-color: $terra-grey-80,
  outline-color: $terra-grey-80
) !default;

$terra-button-primary-color-scheme: (
  active-background-color: $terra-primary-color-100,
  active-border-color: $terra-grey-90,
  active-color: $terra-white,
  background-color: $terra-primary-color-80,
  border-color: $terra-primary-color-90,
  color: $terra-white,
  disabled-background-color: $terra-primary-color-20,
  disabled-border-color: $terra-primary-color-30,
  disabled-color: $terra-grey-50,
  hover-background-color: $terra-primary-color-90,
  hover-color: $terra-white,
  link-color: $terra-primary-color-90,
  outline-color: $terra-primary-color-90
) !default;

$terra-button-secondary-color-scheme: (
  active-background-color: $terra-secondary-color-90,
  active-border-color: $terra-secondary-color-100,
  active-color: $terra-white,
  background-color: $terra-secondary-color-50,
  border-color: $terra-secondary-color-80,
  color: $terra-black,
  disabled-background-color: $terra-secondary-color-20,
  disabled-border-color: $terra-secondary-color-30,
  disabled-color: $terra-grey-50,
  hover-background-color: $terra-secondary-color-60,
  hover-color: $terra-black,
  link-color: $terra-secondary-color-90,
  outline-color: $terra-secondary-color-90
) !default;

$terra-button-positive-color-scheme: (
  active-background-color: $terra-positive-color-90,
  active-border-color: $terra-positive-color-100,
  active-color: $terra-white,
  background-color: $terra-positive-color-50,
  border-color: $terra-positive-color-80,
  color: $terra-black,
  disabled-background-color: $terra-positive-color-20,
  disabled-border-color: $terra-positive-color-30,
  disabled-color: $terra-grey-50,
  hover-background-color: $terra-positive-color-60,
  hover-color: $terra-black,
  link-color: $terra-positive-color-90,
  outline-color: $terra-positive-color-90
) !default;

$terra-button-negative-color-scheme: (
  active-background-color: $terra-negative-color-90,
  active-border-color: $terra-negative-color-100,
  active-color: $terra-white,
  background-color: $terra-negative-color-70,
  border-color: $terra-negative-color-80,
  color: $terra-white,
  disabled-background-color: $terra-negative-color-20,
  disabled-border-color: $terra-negative-color-30,
  disabled-color: $terra-grey-50,
  hover-background-color: $terra-negative-color-80,
  hover-color: $terra-white,
  link-color: $terra-negative-color-80,
  outline-color: $terra-negative-color-80
) !default;

$terra-button-warning-color-scheme: (
  active-background-color: $terra-warning-color-100,
  active-border-color: $terra-warning-color-100,
  active-color: $terra-white,
  background-color: $terra-warning-color-60,
  border-color: $terra-warning-color-100,
  color: $terra-black,
  disabled-background-color: $terra-warning-color-20,
  disabled-border-color: $terra-warning-color-30,
  disabled-color: $terra-grey-50,
  hover-background-color: $terra-warning-color-70,
  hover-color: $terra-black,
  link-color: $terra-warning-color-100,
  outline-color: $terra-warning-color-100
) !default;

$terra-button-info-color-scheme: (
  active-background-color: $terra-info-color-100,
  active-border-color: $terra-grey-90,
  active-color: $terra-white,
  background-color: $terra-info-color-80,
  border-color: $terra-info-color-90,
  color: $terra-white,
  disabled-background-color: $terra-info-color-20,
  disabled-border-color: $terra-info-color-30,
  disabled-color: $terra-grey-50,
  hover-background-color: $terra-info-color-90,
  hover-color: $terra-white,
  link-color: $terra-info-color-90,
  outline-color: $terra-info-color-90
) !default;

$terra-button-font-sizes: (
  tiny: 0.5rem,
  small: 0.8rem,
  medium: 1.1rem,
  large: 1.4rem,
  huge: 1.7rem
) !default;
