:local {
  .examples-header {
    border-bottom: var(--terra-doc-template-examples-header-border-bottom, 1px solid #eaecef);
    color: var(--terra-doc-template-examples-header-color);
    padding-bottom: 0.3em;
    text-shadow: var(--terra-doc-template-examples-header-text-shadow);
  }

  .doc-template {
    height: 100%;
    overflow: auto;
    padding: 15px;
    position: relative;
  }

  .doc-card:not(:empty) {
    background-color: var(--terra-doc-template-doc-card-not-empty-background-color);
    border-radius: var(--terra-doc-template-doc-card-not-empty-border-radius);
    padding-bottom: var(--terra-doc-template-doc-card-not-empty-padding-bottom);
    padding-left: var(--terra-doc-template-doc-card-not-empty-padding-left);
    padding-right: var(--terra-doc-template-doc-card-not-empty-padding-right);
    padding-top: var(--terra-doc-template-doc-card-not-empty-padding-top);
  }

  .props-table-markdown {
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
    line-height: 1.5;
    list-style: disc outside none;
    margin-bottom: 1.25rem;
    text-size-adjust: 100%;
    word-wrap: break-word;
  }

  h2 {
    border-bottom: 1px solid #eaecef;
    font-size: 1.5em;
    padding-bottom: 0.3em;
  }
}
