:local {
  .badge {
    color: #fff;
    font-family: Verdana,DejaVu Sans,sans-serif;
    font-size: 11px;
    text-decoration: none;
  }

  .badge-container {
    margin-bottom: 0.4em;
  }

  .badge-name,
  .badge-version {
    padding: 3.25px 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }

  .badge-name {
    background-color: #555;
    border-radius: 3px 0 0 3px;
  }

  .badge-version {
    background-color: #08c;
    border-radius: 0 3px 3px 0;
  }

  .examples-header {
    border-bottom: var(--terra-doc-template-examples-header-border-bottom, 1px solid #eaecef);
    color: var(--terra-doc-template-examples-header-color);
    padding-bottom: 0.3em;
    text-shadow: var(--terra-doc-template-examples-header-text-shadow);
  }

  .doc-template {
    height: 100%;
    overflow: auto;
    padding: 15px;
    position: relative;
  }

  .doc-card:not(:empty) {
    background-color: var(--terra-doc-template-doc-card-not-empty-background-color);
    border-radius: var(--terra-doc-template-doc-card-not-empty-border-radius);
    padding-bottom: var(--terra-doc-template-doc-card-not-empty-padding-bottom);
    padding-left: var(--terra-doc-template-doc-card-not-empty-padding-left);
    padding-right: var(--terra-doc-template-doc-card-not-empty-padding-right);
    padding-top: var(--terra-doc-template-doc-card-not-empty-padding-top);
  }
}
