:local {
  .template {
    border: 1px solid 	#e8e8e8;
    border-radius: 3px;
    margin-bottom: 0.9375rem;
    overflow: hidden;
  }

  .header {
    background-color: var(--terra-doc-template-header-background-color);
    border-bottom: 1px solid #e8e8e8;
    padding: 0.625rem;
  }

  .content {
    background-color: var(--terra-doc-template-content-background-color);
    padding: 0.625rem;
  }

  .description {
    padding-bottom: 0.625rem;
  }

  .footer {
    background-color: var(--terra-doc-template-footer-background-color);
    overflow: hidden;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .code {
    height: 0;
  }

  .is-expanded {
    height: auto;
  }

  .bg-toggle,
  .code-toggle {
    align-items: center;
    border: 0;
    cursor: pointer;
    display: flex;
    outline: none;
    padding: 0.625rem;
  }

  .chevron-left {
    background: url('data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2%0D%0AZyIgdmlld0JveD0iMCAwIDQ4IDQ4IiBjbGFzcz0iaXMtYmlkaSI+PHBhdGggZD0iTTEwLjMgMjRM%0D%0AMzMuOCAwbDMuOSAzLjhMMTggMjRsMTkuNyAyMC4yLTMuOSAzLjh6Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block; // IE 10
    height: 0.875rem;
    width: 0.875rem;
  }

  .chevron-right {
    background: url('data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2%0D%0AZyIgdmlld0JveD0iMCAwIDQ4IDQ4IiBjbGFzcz0iaXMtYmlkaSI+PHBhdGggZD0iTTM3LjcgMjRM%0D%0AMTQuMiA0OGwtMy45LTMuOEwzMCAyNCAxMC4zIDMuOCAxNC4yIDB6Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block; // IE 10
    height: 0.875rem;
    width: 0.875rem;
  }

  .title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
}
