:local {
  .clinical-lowlight-theme {
    --terra-icon-bed-assigned-circle-1-fill: #427c1e;
    --terra-icon-bed-assigned-path-1-fill: #ededed;
    --terra-icon-bed-assigned-path-2-fill: #b2b5b6;
  }
}
