:local {
  .clinical-lowlight-theme {
    --terra-icon-device-alert-path-1-fill: #b2b5b6;
    --terra-icon-device-alert-path-2-fill: #fb4c4c;
    --terra-icon-device-alert-path-3-fill: #222a2e;
  }
}
