:local {
  .clinical-lowlight-theme {
    --terra-icon-discharge-over-due-path-1-fill: #fb4c4c;
    --terra-icon-discharge-over-due-path-2-fill: #222a2e;
    --terra-icon-discharge-over-due-path-3-fill: #b2b5b6;
  }
}
