:local {
  .clinical-lowlight-theme {
    --terra-icon-due-soon-path-1-fill: #b2b5b6;
    --terra-icon-due-soon-path-2-fill: #ffb166;
    --terra-icon-due-soon-path-3-fill: #222a2e;
    --terra-icon-due-soon-path-4-fill: #222a2e;
  }
}
