/* stylelint-disable */
.legacy-theme-test > * {
  align-items: center;
  display: flex;
}

.legacy-theme-test > * > div:first-child {
  flex-basis: 75px;
  height: 29px;
}

.legacy-terra-brand-footer-nav-background-color {
  background-color: var(--terra-brand-footer-nav-background-color);
}

.legacy-terra-brand-footer-nav-color {
  background-color: var(--terra-brand-footer-nav-color);
}

.legacy-terra-brand-footer-nav-header-color {
  background-color: var(--terra-brand-footer-nav-header-color);
}

.legacy-terra-brand-footer-link-color {
  background-color: var(--terra-brand-footer-link-color);
}

.legacy-terra-brand-footer-link-hover-color {
  background-color: var(--terra-brand-footer-link-hover-color);
}

.legacy-terra-brand-footer-link-active-color {
  background-color: var(--terra-brand-footer-link-active-color);
}

.legacy-terra-brand-footer-link-focus-color {
  background-color: var(--terra-brand-footer-link-focus-color);
}

.legacy-terra-brand-footer-footer-content-background-color {
  background-color: var(--terra-brand-footer-footer-content-background-color);
}

.legacy-terra-brand-footer-footer-content-color {
  background-color: var(--terra-brand-footer-footer-content-color);
}
/* stylelint-enable */
