/* stylelint-disable */
.legacy-theme-test > * {
  align-items: center;
  display: flex;
}

.legacy-theme-test > * > div:first-child {
  flex-basis: 75px;
  height: 29px;
}

// List - Default
.legacy-nav-menu-list-padding-top {
  display: inline-block;
  padding: 10px;
  padding-top: var(--terra-navigation-side-menu-list-padding-top);
}

.legacy-nav-menu-list-background-color {
  background-color: var(--terra-navigation-side-menu-list-background-color);
}

.legacy-nav-menu-item-border-bottom {
  border-bottom: var(--terra-navigation-side-menu-list-item-border-bottom);
}

.legacy-nav-menu-item-color {
  background-color: var(--terra-navigation-side-menu-item-color);
}

.legacy-nav-menu-item-chevron-color {
  background-color: var(--terra-navigation-side-menu-item-chevron-color);
}

// List - Hover
.legacy-nav-menu-item-hover-background-color {
  background-color: var(--terra-navigation-side-menu-item-hover-background-color);
}

.legacy-nav-menu-item-hover-color {
  background-color: var(--terra-navigation-side-menu-item-hover-color);
}


// List - Selected
.legacy-nav-menu-item-selected-border-left {
  border-left: var(--terra-navigation-side-menu-item-selected-border-left);
}

.legacy-nav-menu-item-selected-font-weight {
  font-weight: var(--terra-navigation-side-menu-item-selected-font-weight);
}

.legacy-nav-menu-item-selected-background-color {
  background-color: var(--terra-navigation-side-menu-item-selected-background-color);
}

.legacy-nav-menu-item-selected-color {
  background-color: var(--terra-navigation-side-menu-item-selected-color);
}


// List - Selected + Hover
.legacy-nav-menu-item-selected-hover-color {
  background-color: var(--terra-navigation-side-menu-item-selected-hover-color);
}

// Action Header - Default
.legacy-nav-menu-action-header-background-color {
  background-color: var(--terra-navigation-side-menu-action-header-background-color);
}

.legacy-nav-menu-action-header-border-bottom-color {
  background-color: var(--terra-navigation-side-menu-action-header-border-bottom-color);
}

.legacy-nav-menu-action-header-color {
  background-color: var(--terra-navigation-side-menu-action-header-color);
}
