@import './variables';
@import './mixins';

:local {
  .divider {
    border-color: var(--terra-horizontal-divider-border-color, #b2b5b6);
    border-style: solid;
    border-width: var(--terra-horizontal-divider-border-width, 1em);
  }
}
