version: "3"

services:
  vscode:
    network_mode: host
    build: .
    volumes:
      - ../:/workspace
      # Docker socket to access Docker server
      - /var/run/docker.sock:/var/run/docker.sock
      # Git config
      - ~/.gitconfig:/root/.gitconfig
    entrypoint: /bin/sh -c "while sleep 1000; do :; done"
