$terra-red-10: #ffebeb !default;
$terra-red-20: #fed1d1 !default;
$terra-red-30: #fdabab !default;
$terra-red-40: #fc7f7f !default;
$terra-red-50: #fb4c4c !default;
$terra-red-60: #fa0000 !default;
$terra-red-70: #e50000 !default;
$terra-red-80: #d10000 !default;
$terra-red-90: #bc0203 !default;
$terra-red-100: #ab0406 !default;

$terra-orange-10: #fff5eb !default;
$terra-orange-20: #ffe5cc !default;
$terra-orange-30: #ffcb99 !default;
$terra-orange-40: #ffb166 !default;
$terra-orange-50: #ff9733 !default;
$terra-orange-60: #ff7d00 !default;
$terra-orange-70: #f76e00 !default;
$terra-orange-80: #ed5e00 !default;
$terra-orange-90: #e34c02 !default;
$terra-orange-100: #da3b03 !default;

$terra-yellow-10: #fff9e6 !default;
$terra-yellow-20: #fff3ce !default;
$terra-yellow-30: #ffe79d !default;
$terra-yellow-40: #ffda6c !default;
$terra-yellow-50: #ffce3b !default;
$terra-yellow-60: #ffc20a !default;
$terra-yellow-70: #ffb20b !default;
$terra-yellow-80: #ffa70c !default;
$terra-yellow-90: #fe9c0d !default;
$terra-yellow-100: #fe8b0e !default;

$terra-green-10: #e9f5e0 !default;
$terra-green-20: #d2ebc1 !default;
$terra-green-30: #bce1a3 !default;
$terra-green-40: #a5d784 !default;
$terra-green-50: #8ccc62 !default;
$terra-green-60: #78c346 !default;
$terra-green-70: #69b13a !default;
$terra-green-80: #5c9a32 !default;
$terra-green-90: #4e832b !default;
$terra-green-100: #406c23 !default;

$terra-blue-10: #ebf6fd !default;
$terra-blue-20: #cce9f9 !default;
$terra-blue-30: #a6d9f4 !default;
$terra-blue-40: #7fc8ef !default;
$terra-blue-50: #4cb2e9 !default;
$terra-blue-60: #26a2e5 !default;
$terra-blue-70: #0092e0 !default;
$terra-blue-80: #007cc3 !default;
$terra-blue-90: #0065a3 !default;
$terra-blue-100: #004c76 !default;

$terra-purple-10: #f6ebf9 !default;
$terra-purple-20: #eacff0 !default;
$terra-purple-30: #daace6 !default;
$terra-purple-40: #c985da !default;
$terra-purple-50: #b961cf !default;
$terra-purple-60: #aa3ec5 !default;
$terra-purple-70: #9631af !default;
$terra-purple-80: #78288c !default;
$terra-purple-90: #5f1f6f !default;
$terra-purple-100: #441650 !default;

$terra-white: #fff !default;

$terra-grey-5: #f4f4f4 !default;
$terra-grey-10: #e8e9ea !default;
$terra-grey-15: #dedfe0 !default;
$terra-grey-20: #d3d4d5 !default;
$terra-grey-25: #c8cacb !default;
$terra-grey-30: #bcbfc0 !default;
$terra-grey-35: #b2b5b6 !default;
$terra-grey-40: #a7aaab !default;
$terra-grey-45: #9b9fa1 !default;
$terra-grey-50: #909496 !default;
$terra-grey-55: #868a8c !default;
$terra-grey-60: #7a7b82 !default;
$terra-grey-65: #6f7477 !default;
$terra-grey-70: #64696c !default;
$terra-grey-75: #595f62 !default;
$terra-grey-80: #4e5558 !default;
$terra-grey-85: #434a4d !default;
$terra-grey-90: #383f42 !default;
$terra-grey-95: #2d3539 !default;
$terra-grey-100: #222a2e !default;

$terra-dark: #1c1f21 !default;
