$terra-z-index-1: 100 !default;
$terra-z-index-2: 200 !default;
$terra-z-index-3: 300 !default;
$terra-z-index-4: 400 !default;
$terra-z-index-5: 500 !default;
$terra-z-index-6: 600 !default;
$terra-z-index-7: 700 !default;
$terra-z-index-8: 800 !default;
$terra-z-index-9: 900 !default;
$terra-z-index-10: 1000 !default;
$terra-z-index-11: 1100 !default;
