$terra-z-index-1: 1000 !default;
$terra-z-index-2: 2000 !default;
$terra-z-index-3: 3000 !default;
$terra-z-index-4: 4000 !default;
$terra-z-index-5: 5000 !default;
$terra-z-index-6: 6000 !default;
$terra-z-index-7: 7000 !default;
$terra-z-index-8: 8000 !default;
$terra-z-index-9: 9000 !default;
$terra-z-index-10: 10000 !default;
$terra-z-index-11: 11000 !default;
