// Mixins
// ==========================

@mixin terra-button-color($color-map) {
  background-color: map-get($color-map, background-color);
  border-color: map-get($color-map, border-color);
  color: map-get($color-map, color);

  &:focus,
  &:hover,
  &.is-hovered {
    background-color: map-get($color-map, hover-background-color);
    color: map-get($color-map, hover-color);
  }

  &:active,
  &.is-active {
    background-color: map-get($color-map, active-background-color);
    border-color: map-get($color-map, active-border-color);
    color: map-get($color-map, active-color);
  }

  &:disabled,
  &.is-disabled {
    background-color: map-get($color-map, disabled-background-color);
    border-color: map-get($color-map, disabled-border-color);
    color: map-get($color-map, disabled-color);
  }
}

@mixin terra-button-secondary($color-map) {
  background-color: transparent;
  border-color: map-get($color-map, border-color);
  border-width: 1px;
  color: map-get($color-map, color);

  &:focus,
  &:hover,
  &.is-hovered {
    background-color: map-get($color-map, hover-background-color);
    color: map-get($color-map, hover-color);
  }

  &:active,
  &.is-active {
    background-color: map-get($color-map, active-background-color);
    border-color: map-get($color-map, active-border-color);
    color: map-get($color-map, active-color);
  }

  &:disabled,
  &.is-disabled {
    background-color: transparent;
    border-color: map-get($color-map, disabled-border-color);
    color: map-get($color-map, disabled-color);
  }
}

@mixin terra-button-link($color-map) {
  background-color: transparent;
  border-color: transparent;
  color: map-get($color-map, color);

  &:focus,
  &:hover,
  &.is-hovered,
  &:active,
  &.is-active {
    color: map-get($color-map, active-color);
    text-decoration: underline;
  }

  &:disabled,
  &.is-disabled {
    color: map-get($color-map, disabled-color);
  }
}

@mixin terra-consumer-theme-button($color, $color1, $color2) {
  $color-dark-30: mix($color, $color1, 70%);
  $color-dark-50: mix($color, $color1, 50%);
  $color-light-30: rgba($color2, 0.3);
  $color-light-50: rgba($color, 0.5);
  $color-light-65: rgba($color2, 0.65);

  --terra-button-background-color-primary: $color;
  --terra-button-border-color-primary: $color;
  --terra-button-hover-background-color-primary: $color-dark-30;
  --terra-button-active-background-color-primary: $color-dark-50;
  --terra-button-active-border-color-primary: $color-dark-50;
  --terra-button-disabled-background-color-primary: $color-light-50;
  --terra-button-disabled-border-color-primary: $color-light-50;
  --terra-button-disabled-color-primary: #fff;

  --terra-button-border-color-secondary: $color2;
  --terra-button-color-secondary: $color2;
  --terra-button-hover-background-color-secondary: $color-light-30;
  --terra-button-hover-color-secondary: $color;
  --terra-button-active-background-color-secondary: $color-light-65;
  --terra-button-active-border-color-secondary: $color;
  --terra-button-active-color-secondary: $color;
  --terra-button-disabled-border-color-secondary: $color-light-50;
  --terra-button-disabled-color-secondary: $color-light-50;

  --terra-button-color-link: $color2;
  --terra-button-active-color-link: $color2;
  --terra-button-disabled-color-link: $color-light-50;
}
