// Variables
// ==========================
:root {
  --terra-button-child-margin: 0.357em;

  --terra-button-borderRadius: 0.25em;
  --terra-button-borderWidth: 1px;
  --terra-button-fontWeight: 400;
  --terra-button-paddingTop: 0.286em;
  --terra-button-paddingRight: 0.714em;
  --terra-button-paddingBottom: 0.286em;
  --terra-button-paddingLeft: 0.714em;

  --terra-button-paddingTop--compact: 0;
  --terra-button-paddingBottom--compact: 0;

  --terra-button-textTransform: none;

  // Font Sizes
  --terra-button-fontSize--tiny: 0.5rem;
  --terra-button-fontSize--small: 0.8rem;
  --terra-button-fontSize--medium: 1rem;
  --terra-button-fontSize--large: 1.4rem;
  --terra-button-fontSize--huge: 1.7rem;

  // Default Color Scheme
  --terra-button-activeBackgroundColor--default: #4e5558;
  --terra-button-activeBorderColor--default: #4e5558;
  --terra-button-activeColor--default: #fff;
  --terra-button-backgroundColor--default: #d3d4d5;
  --terra-button-borderColor--default: #bcbfc0;
  --terra-button-color--default: #383f42;
  --terra-button-disabledBackgroundColor--default: #e8e9ea;
  --terra-button-disabledBorderColor--default: #d3d4d5;
  --terra-button-disabledColor--default: #909496;
  --terra-button-hoverBackgroundColor--default: #bcbfc0;
  --terra-button-hoverColor--default: #222a2e;

  // Primary Color Scheme
  --terra-button-activeBackgroundColor--primary: #004c76;
  --terra-button-activeBorderColor--primary: #383f42;
  --terra-button-activeColor--primary: #fff;
  --terra-button-backgroundColor--primary: #007cc3;
  --terra-button-borderColor--primary: #0065a3;
  --terra-button-color--primary: #fff;
  --terra-button-disabledBackgroundColor--primary: #cce9f9;
  --terra-button-disabledBorderColor--primary: #a6d9f4;
  --terra-button-disabledColor--primary: #909496;
  --terra-button-hoverBackgroundColor--primary: #0065a3;
  --terra-button-hoverColor--primary: #fff;

  // Secondary Color Scheme
  --terra-button-activeBackgroundColor--secondary: #4e5558;
  --terra-button-activeBorderColor--secondary: #4e5558;
  --terra-button-activeColor--secondary: #fff;
  --terra-button-borderColor--secondary: #bcbfc0;
  --terra-button-color--secondary: #4e5558;
  --terra-button-disabledBorderColor--secondary: #d3d4d5;
  --terra-button-disabledColor--secondary: #909496;
  --terra-button-hoverBackgroundColor--secondary: #bcbfc0;
  --terra-button-hoverColor--secondary: #222a2e;

  // link
  --terra-button-color--link: #0065a3;
  --terra-button-activeColor--link: darken(#0065a3, 10%);
  --terra-button-disabledColor--link: #909496;
}

$terra-button-default-color-scheme: (
  active-background-color: var(--terra-button-activeBackgroundColor--default),
  active-border-color: var(--terra-button-activeBorderColor--default),
  active-color: var(--terra-button-activeColor--default),
  background-color: var(--terra-button-backgroundColor--default),
  border-color: var(--terra-button-borderColor--default),
  color: var(--terra-button-color--default),
  disabled-background-color: var(--terra-button-disabledBackgroundColor--default),
  disabled-border-color: var(--terra-button-disabledBorderColor--default),
  disabled-color: var(--terra-button-disabledColor--default),
  hover-background-color: var(--terra-button-hoverBackgroundColor--default),
  hover-color: var(--terra-button-hoverColor--default)
);

$terra-button-primary-color-scheme: (
  active-background-color: var(--terra-button-activeBackgroundColor--primary),
  active-border-color: var(--terra-button-activeBorderColor--primary),
  active-color: var(--terra-button-activeColor--primary),
  background-color: var(--terra-button-backgroundColor--primary),
  border-color: var(--terra-button-borderColor--primary),
  color: var(--terra-button-color--primary),
  disabled-background-color: var(--terra-button-disabledBackgroundColor--primary),
  disabled-border-color: var(--terra-button-disabledBorderColor--primary),
  disabled-color: var(--terra-button-disabledColor--primary),
  hover-background-color: var(--terra-button-hoverBackgroundColor--primary),
  hover-color: var(--terra-button-hoverColor--primary)
);

$terra-button-secondary-color-scheme: (
  active-background-color: var(--terra-button-activeBackgroundColor--secondary),
  active-border-color: var(--terra-button-activeBorderColor--secondary),
  active-color: var(--terra-button-activeColor--secondary),
  border-color: var(--terra-button-borderColor--secondary),
  color: var(--terra-button-color--secondary),
  disabled-border-color: var(--terra-button-disabledBorderColor--secondary),
  disabled-color: var(--terra-button-disabledColor--secondary),
  hover-background-color: var(--terra-button-hoverBackgroundColor--secondary),
  hover-color: var(--terra-button-hoverColor--secondary)
);

$terra-button-link-color-scheme: (
  color: var(--terra-button-color--link),
  active-color: var(--terra-button-activeColor--link),
  disabled-color: var(--terra-button-disabledColor--link),
);

$terra-button-font-sizes: (
  tiny: var(--terra-button-fontSize--tiny),
  small: var(--terra-button-fontSize--small),
  medium: var(--terra-button-fontSize--medium),
  large: var(--terra-button-fontSize--large),
  huge: var(--terra-button-fontSize--huge)
);
