// Color variants
$terra-button-default-color-scheme: (
  active-background-color: var(--terra-button-active-background-color-default, #4e5558),
  active-border-color: var(--terra-button-active-border-color-default, #4e5558),
  active-color: var(--terra-button-active-color-default, #fff),
  background-color: var(--terra-button-background-color-default, #d3d4d5),
  border-color: var(--terra-button-border-color-default, #bcbfc0),
  color: var(--terra-button-color-default, #383f42),
  disabled-background-color: var(--terra-button-disabled-background-color-default, #e8e9ea),
  disabled-border-color: var(--terra-button-disabled-border-color-default, #d3d4d5),
  disabled-color: var(--terra-button-disabled-color-default, #909496),
  hover-background-color: var(--terra-button-hover-background-color-default, #bcbfc0),
  hover-color: var(--terra-button-hover-color-default, #222a2e)
);


$terra-button-primary-color-scheme: (
  active-background-color: var(--terra-button-active-background-color-primary, #004c76),
  active-border-color: var(--terra-button-active-border-color-primary, #383f42),
  active-color: var(--terra-button-active-color-primary, #fff),
  background-color: var(--terra-button-background-color-primary, #007cc3),
  border-color: var(--terra-button-border-color-primary, #0065a3),
  color: var(--terra-button-color-primary, #fff),
  disabled-background-color: var(--terra-button-disabled-background-color-primary, #cce9f9),
  disabled-border-color: var(--terra-button-disabled-border-color-primary, #a6d9f4),
  disabled-color: var(--terra-button-disabled-color-primary, #909496),
  hover-background-color: var(--terra-button-hover-background-color-primary, #0065a3),
  hover-color: var(--terra-button-hover-color-primary, #fff)
);

$terra-button-secondary-color-scheme: (
  active-background-color: var(--terra-button-active-background-color-secondary, #4e5558),
  active-border-color: var(--terra-button-active-border-color-secondary, #4e5558),
  active-color: var(--terra-button-active-color-secondary, #fff),
  border-color: var(--terra-button-border-color-secondary, #bcbfc0),
  color: var(--terra-button-color-secondary, #4e5558),
  disabled-border-color: var(--terra-button-disabled-border-color-secondary, #d3d4d5),
  disabled-color: var(--terra-button-disabled-color-secondary, #909496),
  hover-background-color: var(--terra-button-hover-background-color-secondary, #bcbfc0),
  hover-color: var(--terra-button-hover-color-secondary, #222a2e)
);

$terra-button-link-color-scheme: (
  color: var(--terra-button-color-link, #0065a3),
  active-color: var(--terra-button-active-color-link, darken(#0065a3, 10%)),
  disabled-color: var(--terra-button-disabled-color-link, #909496),
);

// Font sizes
$terra-button-font-sizes: (
  tiny: var(--terra-button-font-size-tiny, 0.5rem),
  small: var(--terra-button-font-size-small, 0.8rem),
  medium: var(--terra-button-font-size-medium, 1rem),
  large: var(--terra-button-font-size-large, 1.4rem),
  huge: var(--terra-button-font-size-huge, 1.7rem)
);
