@import 'node_modules/terra-mixins/src/terra-mixins';
@import './terra/compact-tile/variables';
@import './terra/compact-tile/mixins';

.terra-CompactTile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
}

// Accessory

.terra-CompactTile-accessory {
  // Accessory is of fixed size and does not shrink or grow.
  flex: 0 0 auto;
  margin: 5px;
  max-height: 60px;
  max-width: 60px;
  min-width: 0;
  overflow: hidden;
}

// For font-icons, enforce a default font-size and line-height
.terra-CompactTile-accessory > .terra-Graphic > .terra-Graphic-icon {
  font-size: 24px !important;
  line-height: 30px !important;
}

// For SVGs, lock the element height
.terra-CompactTile-accessory > .terra-Graphic > svg {
  max-height: 60px !important;
  max-width: 60px !important;
}

.terra-CompactTile-accessory--alignTop {
  align-items: flex-start;
}

.terra-CompactTile-accessory--alignCenter {
  align-items: center;
}

// Content Layout

.terra-CompactTile-body {
  flex: 1 1 auto;
  margin: 5px;
  min-width: 0;
  overflow: hidden; // VERY IMPORTANT FOR IE10
}

.terra-CompactTile-row {
  display: flex;
  width: 100%;
}

.terra-CompactTile-content {
  align-items: center;
  display: flex;
  overflow: hidden; // VERY IMPORTANT FOR IE10
}

.terra-CompactTile-text {
  flex: 1 1 auto;
  min-width: 10px; // Need min-width, as IE10 will completely squish display
}

.terra-CompactTile-text--inlineGraphic {
  @include terra-padding-end(5px);
  flex: 0 0 auto;
}

.terra-CompactTile-text--inlineGraphic > .terra-Graphic {
  height: 20px !important;
}

// For SVGs, lock the element height
.terra-CompactTile-text--inlineGraphic > .terra-Graphic > svg {
  height: 20px !important;
  max-width: 20px !important;
}

// Comment

.terra-CompactTile-comment {
  @include terra-text-body;
  color: $terra-compact-card-comment-color;
}

.terra-CompactTile-comment--graphic {
  color: $terra-compact-card-comment-graphic-color;
}

// Selection

.terra-Background-inverse {
  .terra-CompactTile-text,
  .terra-CompactTile-text--inlineGraphic,
  .terra-CompactTile-comment,
  .terra-CompactTile-comment--graphic {
    color: $terra-compact-card-text-inverse-color !important;
  }
}

// Truncation

.terra-CompactTile--isTruncated .terra-CompactTile-text,
.terra-CompactTile-text--isTruncated {
  @include terra-text-truncate;
}

// Layouts

.terra-CompactTile--oneColumn {
  .terra-CompactTile-rowContainer {
    .terra-CompactTile-row {
      flex-flow: column nowrap;
      justify-content: flex-start;
    }

    .terra-CompactTile-content {
      width: 100%;
    }
  }
}

.terra-CompactTile--twoColumns {
  //  .terra-CompactTile-rowContainer {
  .terra-CompactTile-content:nth-child(odd) {
    flex: 1 1 auto;
    text-align: left;
  }

  .terra-CompactTile-content:nth-child(even) {
    @include terra-padding-start(5px);

    flex: 1 0 auto;
    justify-content: flex-end;

    // Set a max-width and disable flexbox-squishing on the right-most displays. This will ensure that they aren't
    // prematurely squished and maximize the available space for all labels.
    max-width: 60%;

    .terra-CompactTile-text {
      flex: 0 1 auto;
      min-width: 10px; // Need min-width, as IE10 will completely squish display
    }
  }
  //  }
}

// We need to style content that appears out of the rowContainer (i.e. the comment).
.terra-CompactTile-content {
  .terra-CompactTile-text,
  .terra-CompactTile-text--inlineGraphic {
    @include terra-text-body;
    color: $terra-compact-card-content-secondary-color;
  }
}

//Theme Content Styles
.terra-CompactTile-content--primaryColor {
  .terra-CompactTile-text,
  .terra-CompactTile-text--inlineGraphic {
    color: $terra-compact-card-content-primary-color;
  }
}

.terra-CompactTile-content--primarySize {
  .terra-CompactTile-text,
  .terra-CompactTile-text--inlineGraphic {
    @include terra-x-small-heading;
  }
}

.terra-CompactTile-content--secondaryColor {
  .terra-CompactTile-text,
  .terra-CompactTile-text--inlineGraphic {
    color: $terra-compact-card-content-secondary-color;
  }
}

.terra-CompactTile-content--secondarySize {
  .terra-CompactTile-text,
  .terra-CompactTile-text--inlineGraphic {
    @include terra-text-body;
  }
}

// Text Styles

.terra-CompactTile-text--secondary {
  color: $terra-compact-card-text-secondary-color !important;
}

.terra-CompactTile-text--attention {
  color: $terra-compact-card-text-attention-color !important;
  font-weight: $terra-compact-card-text-attention-weight !important;
}

.terra-CompactTile-text--strikeThrough {
  text-decoration: line-through !important;
}



