$terra-application-background-color: $terra-white !default;
$terra-application-color: $terra-black !default;
$terra-application-font-size: 87.5% !default; // scales with browser settings, equivalent to 14px
