$terra-alert-alert-color-scheme: (
  background-color: #fed1d1
);

$terra-alert-error-color-scheme: (
  background-color: #fed1d1
);

$terra-alert-warning-color-scheme: (
  background-color: #fff3ce
);

$terra-alert-gap-checking-color-scheme: (
  background-color: #f4f4f4
);

$terra-alert-advisory-color-scheme: (
  background-color: #f4f4f4
);

$terra-alert-info-color-scheme: (
  background-color: #f4f4f4
);

$terra-alert-success-color-scheme: (
  background-color: #f4f4f4
);

$terra-alert-outside-records-color-scheme: (
  background-color: #f4f4f4
);

$terra-alert-custom-color-scheme: (
  background-color: #f4f4f4
);

$terra-alert-alert-title-color-scheme: (
  color: #e50000
);

$terra-alert-error-title-color-scheme: (
  color: #e50000
);

$terra-alert-gap-checking-icon-color-scheme: (
  color: #e50000
);

$terra-alert-alert-shadow-color: #e50000;

$terra-alert-error-shadow-color: #e50000;

$terra-alert-warning-shadow-color: #ffc20a;

$terra-alert-gap-checking-shadow-color: #e50000;

$terra-alert-advisory-shadow-color: #9b9fa1;

$terra-alert-info-shadow-color: #0092e0;

$terra-alert-success-shadow-color: #78c346;

$terra-alert-outside-records-shadow-color: #78288c;

$terra-alert-custom-shadow-color: (
  color: #9b9fa1
);

$terra-alert-custom-text-color: (
  color: #1c1f21
);
