$terra-alert-alert-color-scheme: (
  background-color: $terra-red-20
) !default;

$terra-alert-error-color-scheme: (
  background-color: $terra-red-20
) !default;

$terra-alert-warning-color-scheme: (
  background-color: $terra-yellow-20
) !default;

$terra-alert-required-color-scheme: (
  background-color: $terra-grey-5
) !default;

$terra-alert-advisory-color-scheme: (
  background-color: $terra-grey-5
) !default;

$terra-alert-information-color-scheme: (
  background-color: $terra-grey-5
) !default;

$terra-alert-confirmation-color-scheme: (
  background-color: $terra-grey-5
) !default;

$terra-alert-custom-color-scheme: (
  background-color: $terra-grey-5
) !default;

$terra-alert-alert-title-color-scheme: (
  color: $terra-red-70
) !default;

$terra-alert-error-title-color-scheme: (
  color: $terra-red-70
) !default;

$terra-alert-required-icon-color-scheme: (
  color: $terra-red-70
) !default;
