@import '~terra-mixins';
@import './variables';
@import './mixins';

.terra-Alert {
  align-items: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.terra-Alert-icon {
  flex-shrink: 0;
  @include terra-margin-end(0.5rem);
}

.terra-Alert-body {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin: 1rem 0.6667rem;
  overflow: hidden;
  padding-top: 0.1rem;
  
  @media screen and (min-width: 768px) {
    @include terra-margin-end(0);
  }
}

.terra-Alert-section {
  flex: 1;
  padding-top: 0.2rem;
}

.terra-Alert-section--custom {
  @include terra-alert-color($terra-alert-custom-text-color);
}

.terra-Alert-title {
  @include terra-float-start();
  @include terra-margin-end(0.5833rem);
}

.terra-Alert-content {
  p {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.terra-Alert-actions {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: flex-end;
  margin: 0.5833rem 0.5833rem 0.5833rem 0.8333rem;
}

.terra-Alert-actions--custom {
  @include terra-alert-color($terra-alert-custom-text-color);
}

.terra-Alert-actions > :first-child {
  @include terra-margin-end(0.8333rem);
}

.terra-Alert-actions > :last-child {
  @include terra-margin-end(0);
}


/* default skin */
.terra-Alert--default {
  background-color: #f4f4f4;
  box-shadow: 2px 0 0 #007cc3 inset;
}

.terra-Alert--alert {
  @include terra-alert-box-shadow($terra-alert-alert-shadow-color);
  @include terra-alert-background-color($terra-alert-alert-color-scheme);
}

.terra-Alert--error {
  @include terra-alert-box-shadow($terra-alert-error-shadow-color);
  @include terra-alert-background-color($terra-alert-error-color-scheme);
}

.terra-Alert--warning {
  @include terra-alert-box-shadow($terra-alert-warning-shadow-color);
  @include terra-alert-background-color($terra-alert-warning-color-scheme);
}

.terra-Alert--required {
  @include terra-alert-box-shadow($terra-alert-required-shadow-color);
  @include terra-alert-background-color($terra-alert-required-color-scheme);
}

.terra-Alert--advisory {
  @include terra-alert-box-shadow($terra-alert-advisory-shadow-color);
  @include terra-alert-background-color($terra-alert-advisory-color-scheme);
}

.terra-Alert--information {
  @include terra-alert-box-shadow($terra-alert-information-shadow-color);
  @include terra-alert-background-color($terra-alert-information-color-scheme);
}

.terra-Alert--confirmation {
  @include terra-alert-box-shadow($terra-alert-confirmation-shadow-color);
  @include terra-alert-background-color($terra-alert-confirmation-color-scheme);
}

.terra-Alert--custom {
  @include terra-alert-color($terra-alert-custom-shadow-color);
  @include terra-alert-custom-box-shadow();
  @include terra-alert-background-color($terra-alert-custom-color-scheme);
}

.terra-Alert--alert .terra-Alert-title {
  @include terra-alert-color($terra-alert-alert-title-color-scheme);
}

.terra-Alert--error .terra-Alert-title {
  @include terra-alert-color($terra-alert-error-title-color-scheme);
}

.terra-Alert--required .terra-Alert-icon {
  @include terra-alert-color($terra-alert-required-icon-color-scheme);
}
