:local {
  /* stylelint-disable  property-no-unknown */
  .alert-base {
    align-items: stretch;
    color: var(--terra-alert-color);
    display: flex;
    justify-content: space-between;
    min-height: var(--terra-alert-min-height);
    overflow: hidden;
    width: 100%;
  }

  .icon {
    display: inline-block;
    flex-shrink: 0;
    font-size: var(--terra-alert-icon-font-size, 1.286em);
    margin-left: var(--terra-alert-icon-margin-left);
    margin-right: var(--terra-alert-icon-margin-right, 0.5rem);
    margin-top: var(--terra-alert-icon-margin-top);
  }

  .alert-tiny {
    flex-direction: column;
  }

  .alert-small,
  .alert-medium,
  .alert-large,
  .alert-huge,
  .alert-enormous {
    flex-direction: row;
  }

  .body {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    line-height: 1.2;
    margin-left: var(--terra-alert-body-margin-left, 0.64285rem);
    margin-right: var(--terra-alert-body-margin-right, 0.7143rem);
    margin-top: var(--terra-alert-body-margin-top, 0.7143rem);
    overflow: hidden;
    padding-top: 0;
  }

  .alert-parent-tiny.narrow {
    margin-bottom: 0;
  }

  .alert-parent-tiny,
  .alert-parent-small,
  .alert-parent-medium,
  .alert-parent-large,
  .alert-parent-huge,
  .alert-parent-enormous {
    margin-bottom: var(--terra-alert-std-margin-bottom, 0.7143rem);
    margin-right: var(--terra-alert-std-margin-right, 0.6667rem);
  }

  .section {
    flex: 1;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: var(--terra-alert-section-padding-bottom, 0.142857rem);
    padding-top: var(--terra-alert-section-padding-top, 0.142857rem);
  }

  .section-custom {
    color: var(--terra-alert-custom-text-color, #1c1f21);
  }

  .title {
    display: var(--terra-alert-title-display);
    float: var(--terra-alert-title-float, left);
    margin-bottom: var(--terra-alert-title-margin-bottom);
    margin-right: var(--terra-alert-title-margin-right, 0.5833rem);
  }

  .actions {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: flex-end;
    margin-bottom: var(--terra-alert-actions-margin-bottom, 0.4286rem);
    margin-left: var(--terra-alert-actions-margin-left, 0.142857rem);
    margin-right: var(--terra-alert-actions-margin-right, 0.5rem);
    margin-top: var(--terra-alert-actions-margin-top, 0.4286rem);
  }

  .actions-custom {
    color: var(--terra-alert-custom-text-color, #1c1f21);
  }

  .actions > :first-child {
    margin-right: 0.5714rem;
  }

  .actions > :last-child {
    margin-right: 0;
  }

  .alert {
    background-color: var(--terra-alert-alert-background-color, #fedcdc);
    box-shadow: var(--terra-alert-alert-box-shadow, 2px 0 0 #c00 inset);
  }

  .error {
    background-color: var(--terra-alert-error-background-color, #fedcdc);
    box-shadow: var(--terra-alert-error-box-shadow, 2px 0 0 #c00 inset);
  }

  .warning {
    background-color: var(--terra-alert-warning-background-color, #fff3ce);
    box-shadow: var(--terra-alert-warning-box-shadow, 2px 0 0 #ffc20a inset);
  }

  .advisory {
    background-color: var(--terra-alert-advisory-background-color, #f4f4f4);
    box-shadow: var(--terra-alert-advisory-box-shadow, 2px 0 0 #9b9fa1 inset);
  }

  .info {
    background-color: var(--terra-alert-info-background-color, #f4f4f4);
    box-shadow: var(--terra-alert-info-box-shadow, 2px 0 0 #0092e0 inset);
  }

  .success {
    background-color: var(--terra-alert-success-background-color, #f4f4f4);
    box-shadow: var(--terra-alert-success-box-shadow, 2px 0 0 #78c346 inset);
  }

  .custom {
    background-color: var(--terra-alert-custom-background-color, #f4f4f4);
    /* As per the W3C spec if the box-shadow does not have the color defined, 
    it will use the prevailing color style */
    box-shadow: var(--terra-alert-custom-box-shadow, 2px 0 0 inset);
  }

  .alert .title {
    color: var(--terra-alert-alert-title-color, #c00);
  }

  .error .title {
    color: var(--terra-alert-error-title-color, #c00);
  }

  .custom-default-color {
    color: var(--terra-alert-custom-default-color, #9b9fa1);
  }
  /* stylelint-enable */
}
