:local {
  /* stylelint-disable  property-no-unknown */
  .alert-base {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
  }

  .narrow {
    flex-direction: column;
  }

  .wide {
    flex-direction: row;
  }

  .icon {
    display: inline-block;
    flex-shrink: 0;
    font-size: var(--terra-alert-icon-font-size, 1.286em);
    margin-right: 0.5rem;
  }

  .body {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    line-height: 1.2;
    margin-left: 0.6667rem;
    margin-top: 0.7143rem;
    overflow: hidden;
    padding-top: 0;
  }

  .body-narrow {
    margin-bottom: 0;
    margin-right: 0.6667rem;
  }

  .body-std {
    margin-bottom: 0.7143rem;
    margin-right: 0.6667rem;
  }

  .section {
    flex: 1;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0.2143rem;
    padding-top: 0.2143rem;
  }

  .section-custom {
    color: var(--terra-alert-custom-text-color, #1c1f21);
  }

  .title {
    margin-right: 0.5833rem;
  }

  .actions {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: flex-end;
    margin: 0.4286rem 0.5833rem 0.4286rem 0.8333rem;
  }

  .actions-custom {
    color: var(--terra-alert-custom-text-color, #1c1f21);
  }

  .actions > :first-child {
    margin-right: 0.5714rem;
  }

  .actions > :last-child {
    margin-right: 0;
  }

  .alert {
    background-color: var(--terra-alert-alert-background-color, #fedcdc);
    box-shadow: 2px 0 0 var(--terra-alert-alert-shadow-color, #c00) inset;
  }

  .error {
    background-color: var(--terra-alert-error-background-color, #fedcdc);
    box-shadow: 2px 0 0 var(--terra-alert-error-shadow-color, #c00) inset;
  }

  .warning {
    background-color: var(--terra-alert-warning-background-color, #fff3ce);
    box-shadow: 2px 0 0 var(--terra-alert-warning-shadow-color, #ffc20a) inset;
  }

  .advisory {
    background-color: var(--terra-alert-advisory-background-color, #f4f4f4);
    box-shadow: 2px 0 0 var(--terra-alert-advisory-shadow-color, #9b9fa1) inset;
  }

  .info {
    background-color: var(--terra-alert-info-background-color, #f4f4f4);
    box-shadow: 2px 0 0 var(--terra-alert-info-shadow-color, #0092e0) inset;
  }

  .success {
    background-color: var(--terra-alert-success-background-color, #f4f4f4);
    box-shadow: 2px 0 0 var(--terra-alert-success-shadow-color, #78c346) inset;
  }

  .custom {
    background-color: var(--terra-alert-custom-background-color, #f4f4f4);
    box-shadow: 2px 0 0 inset;
    color: var(--terra-alert-custom-shadow-color, #9b9fa1);
  }

  .alert .title {
    color: var(--terra-alert-alert-title-color, #c00);
  }

  .error .title {
    color: var(--terra-alert-error-title-color, #c00);
  }
  /* stylelint-enable */
}
