.terra-AnimatedResponsiveElement {
  animation: grow-and-shrink 10s infinite;
  border: 1px dashed;
  padding: 5px;
}

@keyframes grow-and-shrink {
  0% { width: 20%; }
  50% { width: 100%; }
  100% { width: 20%; }
}
