// Themes
@import './clinical-lowlight-theme/Hyperlink.module';
@import './orion-fusion-theme/Hyperlink.module';

:local {
  .hyperlink {
    background-color: transparent; // Remove the gray background on active links in IE 10
    // clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    color: var(--terra-hyperlink-color, #006fc3);
    cursor: pointer;
    display: inline;
    outline: none;
    // padding-bottom: 2px;
    // padding-top: 2px;
    position: relative;
    text-decoration: var(--terra-hyperlink-text-decoration, underline);
    touch-action: manipulation; // Enable fast tap interaction in webkit browsers; see https://webkit.org/blog/5610/more-responsive-tapping-on-ios/
    vertical-align: baseline;

    &:visited,
    &.is-visited {
      color: var(--terra-hyperlink-visited-color, #006fc3);

      &:focus {
        color: var(--terra-hyperlink-visited-focus-color, #001f67);
        outline: 2px dashed #f00;
      }
    }
    
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (hover: hover) and (pointer: fine) {
      &:hover,
      &.is-hovered {
        background-color: var(--terra-hyperlink-hover-background-color);
        color: var(--terra-hyperlink-hover-color, #001f67);
        text-decoration: var(--terra-hyperlink-hover-text-decoration, underline);
      }
    }

    &.is-focused {
      background-color: var(--terra-hyperlink-focus-background-color, transparent);
      // border-radius: var(--terra-hyperlink-focus-border-radius, 0.2142rem);
      // box-shadow: var(--terra-hyperlink-focus-box-shadow, 0 0 0 1px #4cb2e9, 0 0 0 3px rgba(76, 178, 233, 0.25));
      color: var(--terra-hyperlink-focus-color, #001f67);
      outline: 2px dashed #000;
      outline-offset: 2px;
      text-decoration: var(--terra-hyperlink-focus-text-decoration, underline);
    }

    &.is-active {
      color: var(--terra-hyperlink-active-color, #001f67);
    }

    &.is-disabled {
      color: var(--terra-hyperlink-disabled-color, rgba(28, 31, 33, 0.2));
      cursor: default;
      pointer-events: none;
      text-decoration: var(--terra-hyperlink-disabled-text-decoration, none);
      touch-action: none;
    }
  }

  .is-underline-hidden {
    color: var(--terra-hyperlink-underline-hidden-color, #006fc3);
    text-decoration: none;

    &:focus {
      color: var(--terra-hyperlink-underline-hidden-focus-color, #001f67);
      text-decoration: underline;
    }

    &:hover {
      color: var(--terra-hyperlink-underline-hidden-hover-color, #001f67);
      text-decoration: underline;
    }

    &:visited,
    &.is-visited {
      color: var(--terra-hyperlink-underline-hidden-visited-color, #006fc3);
      text-decoration: underline;

      &:focus {
        color: var(--terra-hyperlink-underline-hidden-visited-focus-color, #001f67);
      }
    }
  }

  .icon {
    // box-sizing: content-box;
    display: inline-block;
    // height: 1em;
    margin-left: var(--terra-hyperlink-icon-margin-left, 0.28571em);
    // overflow: hidden;
    overflow: visible;
    position: relative;
    // width: 1em;

    &.document {
      margin-left: var(--terra-hyperlink-icon-document-margin-left, 0.21428em);
    }

    &.external {
      font-size: var(--terra-hyperlink-icon-external-font-size, 0.85714em);
      margin-left: var(--terra-hyperlink-icon-external-margin-left, 0.32142em);

      svg {
        bottom: var(--terra-hyperlink-icon-external-bottom, 0.07142em);
      }
    }

    &.image {
      bottom: var(--terra-hyperlink-icon-image-bottom, -0.07142em);
    }

    &.video {
      bottom: var(--terra-hyperlink-icon-video-bottom, -0.07142em);
    }
  }


  // Resets for Hyperlink-Button
  .button-reset {
    border: 0 none;
    border-radius: 0;
    display: inline;
    font-family: inherit;
    font-size: 1em;
    height: auto;
    left: 0; // reset for IE
    margin: 0; // reset for Safari, defaults to 2px
    line-height: inherit;
    outline: none;
    overflow: visible; // reset for IE
    padding: 0;
    pointer-events: auto;
    position: relative; // reset for IE
    text-align: left;
    top: 0;  // reset for IE
    touch-action: manipulation; // Enable fast tap interaction in webkit browsers; see https://webkit.org/blog/5610/more-responsive-tapping-on-ios/
    vertical-align: baseline;

    .button-inner {
      font-family: inherit;
      left: 0; // reset for IE
      min-width: 0;
      line-height: inherit;
      position: relative; // reset for IE
      top: 0;  // reset for IE
    }  
  }  
}
