/* stylelint-disable selector-class-pattern  */
:local {
  // Arrange
  // --------------------------------------------------
  // Base arrange styles
  // Arranged grouping of related content such as an icon and heading

  // Vertically aligns arrange content to the top by default
  .arrange {
    display: flex;
  }

  // Makes sure fill expands to fill the remaining space of its parent container
  // Display set to ensure correct appreance if applied to inline elements like span
  .fill {
    display: block;
    flex: 1;
    flex-basis: auto;
    min-width: 0;
  }

  // Styles specific to align items independently of each other
  .fit {
    align-self: flex-start;
    display: flex;
  }

  .center {
    align-self: center;
  }

  .bottom {
    align-self: flex-end;
  }

  .stretch {
    align-self: stretch;
  }
}
/* stylelint-enable */
