$terra-label-font-sizes: (
  tiny: 0.5rem,
  small: 0.8rem,
  medium: 1rem,
  large: 1.4rem,
  huge: 1.7rem
) !default;

$terra-label-badge-border-radius: 1000px !default; //really large number foundation uses 1000
$terra-label-border-radius: 0 !default;
$terra-label-display: inline-block !default;
$terra-label-font-weight: 700 !default;
$terra-label-line-height: 1 !default;
$terra-label-padding-bottom: 0.3rem !default;
$terra-label-padding-left: 0.36rem !default;
$terra-label-padding-right: 0.36rem !default;
$terra-label-padding-top: 0.3rem !default;

$terra-label-default-color-scheme: (
  background-color: $terra-grey-30,
  color: $terra-grey-90
) !default;

$terra-label-primary-color-scheme: (
  background-color: $terra-primary-color-100,
  color: $terra-white
) !default;

$terra-label-secondary-color-scheme: (
  background-color: $terra-secondary-color-90,
  color: $terra-white
) !default;

$terra-label-positive-color-scheme: (
  background-color: $terra-positive-color-90,
  color: $terra-white
) !default;

$terra-label-negative-color-scheme: (
  background-color: $terra-negative-color-90,
  color: $terra-white
) !default;

$terra-label-warning-color-scheme: (
  background-color: $terra-warning-color-100,
  color: $terra-white
) !default;

$terra-label-info-color-scheme: (
  background-color: $terra-info-color-100,
  color: $terra-white
) !default;

