:global {
  --terra-progress-bar-border-radius: 2px;
  --terra-progress-bar-background-color: transparent;
  --terra-progress-bar-progress-background-color: #007cc3;
  --terra-progress-bar-height: 1rem;
  --terra-progress-bar-tiny-height: 1rem;
  --terra-progress-bar-small-height: 1rem;
  --terra-progress-bar-medium-height: 1rem;
  --terra-progress-bar-large-height: 1rem;
  --terra-progress-bar-huge-height: 1rem;
}
