/* stylelint-disable selector-max-compound-selectors, max-nesting-depth */
:local {
  .table {
    background-color: var(--terra-html-table-background-color, rgba(255, 255, 255, 0));
    border: var(--terra-html-table-border, 0);
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;

    caption {
      padding-bottom: 0.5em;
    }

    // Header Row, Row
    tr {
      display: table-row;
      margin-bottom: 0;
    }

    // Row Cell
    td {
      border: 0;
      border-left: var(--terra-html-table-cell-border-left, 0);
      display: table-cell;
      text-align: left;
      vertical-align: top;

      &:first-of-type {
        border-left: var(--terra-html-table-first-cell-border-left, 1px solid #c8cacb);
      }

      &:last-of-type {
        border-right: var(--terra-html-table-last-cell-border-right, 1px solid #c8cacb);
      }
    }

    // Header Cell
    th {
      border: 0;
      border-left: var(--terra-html-table-header-cell-border-left, 0);
      display: table-cell;
      text-align: left;
      vertical-align: top;

      &:first-of-type {
        border-left: var(--terra-html-table-first-header-cell-border-left, 1px solid #c8cacb);
      }

      &:last-of-type {
        border-right: var(--terra-html-table-last-header-cell-border-right, 1px solid #c8cacb);
      }
    }

    // Header
    thead {
      background-color: var(--terra-html-table-header-background-color, #dedfe0);
      display: table-header-group;

      // Header Row
      tr {
        border-bottom: var(--terra-html-table-header-row-border-bottom, 0);
        border-top: var(--terra-html-table-header-row-border-top, 1px solid #c8cacb);
      }

      // Header Cell
      th {
        color: var(--terra-html-table-header-cell-color, #1c1f21);
        font-size: var(--terra-html-table-header-cell-font-size, 1rem);
        font-weight: var(--terra-html-table-header-cell-font-weight, bold);
        vertical-align: bottom;
      }
    }

    // Body
    tbody {
      background-color: var(--terra-html-table-body-background-color);

      // Row
      tr {
        border-top: var(--terra-html-table-row-border-top, 1px solid #c8cacb);

        &:last-of-type {
          border-bottom: var(--terra-html-table-last-row-border-bottom, 1px solid #c8cacb);
        }
      }
    }

    tfoot {
      tr {
        border-bottom: var(--terra-html-table-footer-row-border-bottom, 1px solid #c8cacb);
        border-top: var(--terra-html-table-footer-row-border-top, 0);
        text-align: left;
      }
    }
  }

  // Header Cell, Row Cell
  .padding-standard th,
  .padding-standard td {
    padding-bottom: var(--terra-html-table-cell-standard-padding-bottom, 0.5rem);
    padding-left: var(--terra-html-table-cell-standard-padding-left, 0.75rem);
    padding-right: var(--terra-html-table-cell-standard-padding-right, 0.75rem);
    padding-top: var(--terra-html-table-cell-standard-padding-top, 0.5rem);
  }

  // Header Cell, Row Cell
  .padding-compact th,
  .padding-compact td {
    padding-bottom: var(--terra-html-table-cell-compact-padding-bottom, 0.25rem);
    padding-left: var(--terra-html-table-cell-compact-padding-left, 0.75rem);
    padding-right: var(--terra-html-table-cell-compact-padding-right, 0.75rem);
    padding-top: var(--terra-html-table-cell-compact-padding-top, 0.25rem);
  }

  .striped {
    tbody tr {
      &:nth-of-type(even) {
        background-color: var(--terra-html-table-row-striped-background-color, #f4f4f4);
      }
    }
  }

  // Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
  @media print {
    .table thead {
      display: table-header-group;
    }

    .table tr {
      page-break-inside: avoid;
    }
  }
}
/* stylelint-enable selector-max-compound-selectors, max-nesting-depth */
