:local {
  .orion-fusion-theme {
    // Used for docsite custom color examples only 
    --terra-heading-attention-color: #c00;
    --terra-heading-default-color: #1c1f21;
    --terra-heading-info-color: #0065a3;
    --terra-heading-success-color: #2e7d32;
  }
}
