@import '~terra-mixins/lib/Mixins';

:global {
  --terra-dialog-header-background-color: #1e2427;
  --terra-dialog-header-foreground-color: #b2b5b6;
  --terra-dialog-body-background-color: transparent;
  --terra-dialog-body-foreground-color: #b2b5b6;
  --terra-dialog-footer-background-color: #1e2427;
  --terra-dialog-footer-foreground-color: #b2b5b6;

  --terra-dialog-header-border-bottom: 1px solid #181b1d;
  --terra-dialog-footer-border-top: 1px solid #181b1d;

  @include terra-inline-svg-var('--terra-dialog-header-close-background', "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><path fill='#b2b5b6' d='M28.2 24L42.9 9.1 40.8 7l-1.7-1.6-.4-.5L24 19.7 9.4 4.9 7.2 7 5.6 8.6l-.5.5L19.8 24 5.1 38.9 7.2 41l1.7 1.6.5.5L24 28.3l14.7 14.8.4-.5 1.7-1.6 2.1-2.1L28.2 24z'/></svg>");
}
