:global {
  --terra-form-textarea-background-color: #fff;
  --terra-form-textarea-background-image: none;
  --terra-form-textarea-background-size: 0 0;
  --terra-form-textarea-border-color: #dedfe0;
  --terra-form-textarea-border-radius: 3px;
  --terra-form-textarea-border-style: solid;
  --terra-form-textarea-border-width: 1px;
  --terra-form-textarea-color: #1c1f21;
  --terra-form-textarea-font-size: 1rem;
  --terra-form-textarea-line-height: 1.416667;
  --terra-form-textarea-focus-opacity: 1;
  --terra-form-textarea-padding-bottom: 0.25rem;
  --terra-form-textarea-padding-left: 0.25rem;
  --terra-form-textarea-padding-right: 0.25rem;
  --terra-form-textarea-padding-top: 0.25rem;
  --terra-form-textarea-focus-transition-duration: 0s;
  --terra-form-textarea-focus-transition-timing-function: ease;
  --terra-form-textarea-hover-background-color: #fff;
  --terra-form-textarea-hover-border-color: #dedfe0;
  --terra-form-textarea-hover-border-style: solid;
  --terra-form-textarea-hover-border-width: 1px;
  --terra-form-textarea-hover-color: #1c1f21;
  --terra-form-textarea-placeholder-color: #767676;
  --terra-form-textarea-placeholder-font-style: normal;
  --terra-form-textarea-disabled-background-color: #f4f4f4;
  --terra-form-textarea-disabled-border-color: #b2b5b6;
  --terra-form-textarea-disabled-border-style: solid;
  --terra-form-textarea-disabled-border-width: 1px;
  --terra-form-textarea-disabled-color: #9b9fa1;
  --terra-form-textarea-disabled-opacity: 1;
  --terra-form-textarea-placeholder-disabled-color: #c4c6c7;
  --terra-form-textarea-placeholder-disabled-font-style: normal;
  --terra-form-textarea-focus-background-size: 0 0;
  --terra-form-textarea-focus-border-color: #4cb2e9;
  --terra-form-textarea-focus-border-style: solid;
  --terra-form-textarea-focus-border-width: 1px;
  --terra-form-textarea-focus-background-color: #fff;
  --terra-form-textarea-focus-color: #1c1f21;
  --terra-form-textarea-focus-opacity: 1;
  --terra-form-textarea-focus-ltr-box-shadow: 0 0 8px #a6d9f4;
  --terra-form-textarea-focus-rtl-box-shadow: 0 0 8px #a6d9f4;
  --terra-form-textarea-error-background-image: none;
  --terra-form-textarea-error-background-color: #fff;
  --terra-form-textarea-error-border-color: #dedfe0;
  --terra-form-textarea-error-border-style: solid;
  --terra-form-textarea-error-border-width: 1px;
  --terra-form-textarea-error-opacity: 1;
  --terra-form-textarea-error-hover-background-color: #fff;
  --terra-form-textarea-error-hover-border-color: #dedfe0;
  --terra-form-textarea-error-hover-border-style: solid;
  --terra-form-textarea-error-hover-border-width: 1px;
  --terra-form-textarea-error-hover-color: #1c1f21;
  --terra-form-textarea-error-disabled-background-color: #f4f4f4;
  --terra-form-textarea-error-disabled-border-color: #b2b5b6;
  --terra-form-textarea-error-disabled-border-width: 1px;
  --terra-form-textarea-error-disabled-color: #9b9fa1;
  --terra-form-textarea-error-disabled-opacity: 1;
  --terra-form-textarea-error-focus-background-size: 0 0;
  --terra-form-textarea-error-focus-background-color: #fff;
  --terra-form-textarea-error-focus-border-color: #4cb2e9;
  --terra-form-textarea-error-focus-border-style: solid;
  --terra-form-textarea-error-focus-border-width: 1px;
  --terra-form-textarea-error-focus-color: #1c1f21;
  --terra-form-textarea-error-focus-opacity: 1;
  --terra-form-textarea-error-focus-ltr-box-shadow: 0 0 8px #a6d9f4;
  --terra-form-textarea-error-focus-rtl-box-shadow: 0 0 8px #a6d9f4;
}
