:local {
  .switch-container {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .label-container {
    margin-top: 0.28571rem;
    margin-right: 1.45rem;
  }

  .label-text {
    font-weight: bold;
    word-wrap: break-word;
  }

  .switch {
    position: relative;
    width: 6.14285rem;
    height: 2.92857rem;
    outline: none;
  }

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .tray {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #4a4a4a;
    background-color: rgba(74, 74, 74, 0.2);
    transition: .4s;
    border-radius: 1.42857rem;
    width: 6.14285rem;
  }

  .tray.is-disabled {
    cursor: default;
    background-color: #efefef;
  }

  .slider {
    position: absolute;
    outline: none;
    height: 2.14285rem;
    width: 2.14285rem;
    left: 0.32657rem;
    bottom: 0.30457rem;
    border: solid 1px #4a4a4a;
    background-color: rgba(74, 74, 74, 0.76);
    transition: 0.3s ease;
    border-radius: 1.42857rem;
  }

  .slider.is-disabled {
    cursor: default;
    background-color: rgba(74, 74, 74, 0.76);
    opacity: 0.5;
  }

  .slider:focus:not(.is-disabled) {
    outline: none;
    background-color: #000;
  }

  .slider.is-focused:not(.is-disabled) {
    box-shadow: 0 0 1px 2px #c6dafd;
  }

  .slider:active:not(.is-disabled) {
    box-shadow: none; // pressed state.
  }

  input:checked + .tray:not(.is-disabled) {
    background-color: #fff;
  }

  input:checked + .tray > .slider {
    transform: translateX(3.17142rem);
  }
}
