:local { 
  .overflow-wrapper {
    border: 1px dashed rgb(0, 0, 0);
    height: 200px;
    width: 400px;
  }

  .overflow-y-wrapper {
    border: 1px dashed rgb(0, 0, 0);
    height: 300px;
    width: 400px;
  }

  .paragraph-x-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    width: 415px;
  }

  .container-x-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .paragraph-y-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    width: 375px;
  }
}
