:local {
  .clinical-lowlight-theme {
    --row-striped-even-background-color: #2d3539;
    --row-striped-odd-background-color: #6e6f71;
    --row-highlight-border-top: 1px solid #004c76;
    --row-highlight-border-bottom: 1px solid #004c76;
  }
}
