// stylelint-disable scss/at-mixin-pattern

:local {
  @mixin align-example-common() {
    background-color: #000;
    display: block;
    height: 20px;
    width: 40px;
  }

  .text-with-blue-border {
    border: 2px solid #0079be;
  }

  .align-example-div {
    @include align-example-common();
  }

  .align-example-div-blue {
    @include align-example-common();
    background-color: #0079be;
  }
}
