// import themes
@import './clinical-lowlight-theme/FormSelectDocCommon.module';
@import './orion-fusion-theme/FormSelectDocCommon.module';

:local {
  .form-select {
    max-width: 300px;
  }

  .controlled-button {
    margin: 5px;
  }
  .error-text {
    color: var(--terra-form-select-error-text-color, #e50000);
    font-size: var(--terra-form-select-error-text-font-size, 0.857rem);
    font-weight: var(--terra-form-select-error-text-font-weight, normal);
    line-height: 1.25;
    margin-top: var(--terra-form-select-error-text-margin-top, 0.357em);
    outline: 0;
    text-align: left;
  }
}
