:local {
  .icon {
    height: 40px;
    margin: 5px;
    width: 40px;
  }

  .icon-inverse {
    background-color: #b1b5b6;
  }

  .feature-icon-filled {
    color: var(--terra-core-docs-featured-icon-filled-color , #ffc20a);
  }
}
