:local {
  .popper-container {
    position: absolute;
    top: 0;

    /* React Datepicker originally used tether for it's popup behavior, and we need to keep
     * the same index that it previously used.
     */
    z-index: 2147483647;

    [dir=ltr] & {
      left: 0;
    }

    [dir=rtl] & {
      left: 0;
    }
  }
}
