:global {
  @import '~react-datepicker/src/stylesheets/datepicker';
}

/* stylelint-disable selector-max-compound-selectors, max-nesting-depth */
:local {
  .date-picker {
    display: inline-block;

    .custom-input {
      display: inline-flex;

      .input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        vertical-align: middle;
        width: 8em;

        &:focus {
          border-color: var(--terra-date-picker-input-focus-border-color, #26a2e5);
          outline: none;
          z-index: 1;
        }
      }

      .button {
        border: var(--terra-date-picker-button-border, 1px solid #dedfe0);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: var(--terra-date-picker-button-border-bottom-right-radius, 0.25em);
        border-top-left-radius: 0;
        border-top-right-radius: var(--terra-date-picker-button-border-top-right-radius, 0.25em);
        box-shadow: var(--terra-date-picker-button-box-shadow, none);
        color: var(--terra-date-picker-button-color, #1c1f21);
        margin-bottom: 0;
        margin-left: -0.071em;
        margin-top: 0;

        &:focus {
          border-color: var(--terra-date-picker-button-focus-border-color, #26a2e5);
          box-shadow: var(--terra-date-picker-button-focus-box-shadow, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35));
          outline: none;
        }
      }
    }
  }
}
/* stylelint-enable */
