@import '~react-datepicker/dist/react-datepicker.min';
/* stylelint-disable selector-class-pattern */
:local {
  .date-picker {
    display: inline-block;
    min-width: 10.714em;

    .custom-input {
      display: inline-flex;

      /* stylelint-disable selector-max-compound-selectors */
      .input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: -0.071em;
        vertical-align: middle;
        width: 8em;
      }

      .button {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-bottom: 0;
        margin-left: -0.071em;
        margin-top: 0;
      }
      /* stylelint-enable selector-max-compound-selectors */
    }
  }
}
