@import '~terra-mixins';
@import '~react-datepicker/dist/react-datepicker.min';

.terra-DatePicker {
  display: inline-block;
  min-width: 10.714em;

  .terra-DatePicker-customInput {
    display: inline-flex;

    .terra-DatePicker-input {
      @include terra-border-radius-end(0);
      @include terra-margin-end(-0.071em);
      vertical-align: middle;
      width: 8em;
    }

    .terra-DatePicker-button {
      @include terra-border-radius-start(0);
      @include terra-margin-start(-0.071em);
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
