@import '~terra-mixins';
@import './variables';
@import './mixins';
@import '../node_modules/react-datepicker/dist/react-datepicker.min';

.terra-DatePicker {
  display: inline-block;
  position: relative;
}

.terra-DatePicker-input {
  border: 1px solid #aeaeae;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px #e9e9e9;
  font-size: 13px;
  line-height: 16px;
  margin-top: 0;
  padding: 6px 10px 5px;

  &:focus {
    border-color: $terra-blue-60;
    box-shadow: inset 0 2px 2px #e9e9e9, 0 0 10px 0 rgba(73, 107, 125, 0.3);
    outline: none;
  }
}

/* ignore the selector-class-pattern rule for selector classes in third party components */
/* stylelint-disable selector-class-pattern */
.react-datepicker__day.react-datepicker__day--highlighted {
  // background-color: $terra-secondary-color-50;
  border-radius: 0.3rem;
  color: $terra-date-picker-day-color-highlighted; 
}

.react-datepicker__day--highlighted:hover {
  // background-color: $terra-secondary-color-60; 
}

.react-datepicker__day.react-datepicker__day--keyboard-selected,
.react-datepicker__day.react-datepicker__day--selected,
.react-datepicker__day.react-datepicker__day--in-range,
.react-datepicker__day.react-datepicker__day--in-selecting-range {
  color: $terra-date-picker-day-color-selected;
}

.react-datepicker__day {
  color: $terra-date-picker-day-color;
}

.react-datepicker__day--outside-month {
  color: $terra-date-picker-day-color-outside-month;
}

.react-datepicker__day--disabled {
  color: $terra-date-picker-day-color-disabled;
}
/* stylelint-enable */


