@import '~terra-mixins/lib/Mixins';

:local {
  .clinical-lowlight-theme {
    --terra-section-header-padding-end: 0.7142857143rem;
    --terra-section-header-padding-start: 0.7142857143rem;
    --terra-section-header-background: #141719;
    --terra-section-header-border-bottom: 1px solid #08090a;
    --terra-section-header-border-left: 0 none;
    --terra-section-header-border-right: 0 none;
    --terra-section-header-border-top: 0 none;
    --terra-section-header-box-shadow: none;
    --terra-section-header-color: #b2b5b6;
    --terra-section-header-min-height: 2.5rem;
    --terra-section-header-padding-bottom: 0.5rem;
    --terra-section-header-padding-top: 0.5rem;
    --terra-section-header-font-size: 1rem;
    --terra-section-header-font-weight: bold;
    --terra-section-header-line-height: 1.4285714286;
    --terra-section-header-text-transform: none;
    --terra-section-header-transparent-min-height: 2.42857rem;
    --terra-section-header-accordion-padding-start: 0.5rem;

    --terra-section-header-active-background: #000;
    --terra-section-header-active-border-bottom: 1px solid #08090a;
    --terra-section-header-active-border-left: 0 none;
    --terra-section-header-active-border-right: 0 none;
    --terra-section-header-active-border-top: 0 none;
    --terra-section-header-active-box-shadow: none;
    --terra-section-header-active-color: #b2b5b6;

    --terra-section-header-focus-background: #08090a;
    --terra-section-header-focus-border-bottom: 1px solid #08090a;
    --terra-section-header-focus-border-left: 0 none;
    --terra-section-header-focus-border-right: 0 none;
    --terra-section-header-focus-border-top: 0 none;
    --terra-section-header-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
    --terra-section-header-focus-color: #b2b5b6;

    --terra-section-header-hover-background: #08090a;
    --terra-section-header-hover-border-bottom: 1px solid #08090a;
    --terra-section-header-hover-border-left: 0 none;
    --terra-section-header-hover-border-right: 0 none;
    --terra-section-header-hover-border-top: 0 none;
    --terra-section-header-hover-box-shadow: none;
    --terra-section-header-hover-color: #b2b5b6;

    --terra-section-header-transparent-active-background: #191d20;
    --terra-section-header-transparent-active-border-bottom: 1px solid #08090a;
    --terra-section-header-transparent-active-border-left: 0 none;
    --terra-section-header-transparent-active-border-right: 0 none;
    --terra-section-header-transparent-active-border-top: 0 none;
    --terra-section-header-transparent-active-box-shadow: none;
    --terra-section-header-transparent-active-color: #b2b5b6;

    --terra-section-header-transparent-focus-background: #222a2e;
    --terra-section-header-transparent-focus-border-bottom: 1px solid #08090a;
    --terra-section-header-transparent-focus-border-left: 0 none;
    --terra-section-header-transparent-focus-border-right: 0 none;
    --terra-section-header-transparent-focus-border-top: 0 none;
    --terra-section-header-transparent-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
    --terra-section-header-transparent-focus-color: #b2b5b6;

    --terra-section-header-transparent-hover-background: #1e272b;
    --terra-section-header-transparent-hover-border-bottom: 1px solid #08090a;
    --terra-section-header-transparent-hover-border-left: 0 none;
    --terra-section-header-transparent-hover-border-right: 0 none;
    --terra-section-header-transparent-hover-border-top: 0 none;
    --terra-section-header-transparent-hover-box-shadow: none;
    --terra-section-header-transparent-hover-color: #9b9b9b;

    --terra-section-header-accordion-icon-margin-start: 0;
    --terra-section-header-accordion-icon-margin-end: 0.38rem;
    --terra-section-header-accordion-icon-padding-start: 0;
    --terra-section-header-accordion-icon-padding-end: 0;
    --terra-section-header-accordion-icon-padding-bottom: 0;
    --terra-section-header-accordion-icon-padding-top: 0.38rem;
    --terra-section-header-accordion-icon-height: 0.83593rem;
    --terra-section-header-accordion-icon-width: 0.83593rem;

    // accordion icon
    @include terra-inline-svg-var('--terra-section-header-accordion-icon-background', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#b2b5b6" d="M12,0l24,24L12,48V0z"/></svg>');
  }
}
