:local {
  .orion-fusion-theme {
    --terra-dropdown-button-list-background-color: #fff;
    --terra-dropdown-button-list-border-radius: 0;
    --terra-dropdown-button-list-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.35);
    --terra-dropdown-button-list-min-width: 10rem;
    --terra-dropdown-button-list-padding-bottom: 0.5rem;
    --terra-dropdown-button-list-padding-top: 0.5rem;
  }
}
