:local {
  .orion-fusion-theme {
    --terra-dropdown-button-border-radius: 3px;
    --terra-dropdown-button-box-shadow: none;
    --terra-dropdown-button-font-size: 1rem;
    --terra-dropdown-button-line-height: 1.5;
    --terra-dropdown-button-disabled-opacity: 0.3;
  }
}
