:local {
  .orion-fusion-theme {
    --terra-dropdown-button-menu-item-color: #1c1f21;
    --terra-dropdown-button-menu-item-font-size: 1rem;
    --terra-dropdown-button-menu-item-line-height: 1.41666667;
    --terra-dropdown-button-menu-item-margin-bottom: 0;
    --terra-dropdown-button-menu-item-padding-bottom: 0.5rem;
    --terra-dropdown-button-menu-item-padding-left: 1.42857rem;
    --terra-dropdown-button-menu-item-padding-right: 2.14285rem;
    --terra-dropdown-button-menu-item-padding-top: 0.5rem;
    --terra-dropdown-button-menu-item-focus-background-color: #ebf6fd;
    --terra-dropdown-button-menu-item-focus-box-shadow: none;
    --terra-dropdown-button-menu-item-focus-outline: none;
    --terra-dropdown-button-menu-item-focus-outline-offset: 0;
    --terra-dropdown-button-menu-item-hover-background-color: #ebf6fd;
    --terra-dropdown-button-menu-item-hover-background-image: none;
    --terra-dropdown-button-menu-item-hover-box-shadow: none;
    --terra-dropdown-button-menu-item-focus-active-background-color: #027cc3;
    --terra-dropdown-button-menu-item-focus-active-background-image: none;
    --terra-dropdown-button-menu-item-focus-active-box-shadow: none;
    --terra-dropdown-button-menu-item-focus-active-color: #fff;
  }
}
