:local {
  .clinical-lowlight-theme {
    // Sample Consumer or Project Added ColorClass example styles (these do not come from Terra)
    --terra-text-docs-example-sample-consumer-added-colorclass-primary-color: #b2b5b6;
    --terra-text-docs-example-sample-consumer-added-colorclass-secondary-color: rgba(221, 224, 225, 0.41);
    --terra-text-docs-example-sample-consumer-added-colorclass-attention-color: #fb4c4c;
    --terra-text-docs-example-sample-consumer-added-colorclass-result-value-unverified-color: #c270d7;  
  }
}
