:local {
  .clinical-lowlight-theme {
    --terra-text-v2-font-stack-after-content: '\"Helvetica Neue\", Helvetica, Arial, sans-serif';

    // Used for docsite custom color examples only
    --terra-text-attention-color: #fb4c4c;
    --terra-text-default-color: #6f7477;
    --terra-text-info-color: #5a81ff;
    --terra-text-success-color: #28dae0;
  }
}
