@import '~terra-mixins/lib/Mixins';

:local {
  .avatar {
    align-items: center;
    border: var(--terra-avatar-border, solid 1px #fff);
    border-radius: 50%;
    color: var(--terra-avatar-color, #fff);
    display: inline-flex;
    height: var(--terra-avatar-height, 3.286em);
    justify-content: center;
    line-height: 0;
    min-height: var(--terra-avatar-min-height, 1.143em);
    min-width: var(--terra-avatar-min-width, 1.143em);
    overflow: hidden;
    position: relative;
    vertical-align: middle; // Fixes gap below image variant
    width: var(--terra-avatar-width, 3.286em);
  }

  // Addresses https://github.com/cerner/terra-core/issues/1845
  // Applies to images. Will be overriden by color variants.
  .avatar::after {
    border-radius: 50%;
    box-shadow: var(--terra-avatar-after-box-shadow);
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
  }

  .avatar.neutral {
    background-color: var(--terra-avatar-neutral-background-color, #0092e0);

    &::after{
      border-radius: 50%;
      box-shadow: var(--terra-avatar-netural-after-box-shadow, inset 0 0 0 2px #0092e0);
      content: '';
      display: block;
      height:  100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .avatar.one {
    background-color: var(--terra-avatar-one-background-color, #0092e0);

    &::after{
      border-radius: 50%;
      box-shadow: var(--terra-avatar-one-after-box-shadow, inset 0 0 0 2px #0092e0);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .avatar.two {
    background-color: var(--terra-avatar-two-background-color, #0065a3);

    &::after{
      border-radius: 50%;
      box-shadow: var(--terra-avatar-two-after-box-shadow, inset 0 0 0 2px #0065a3);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .avatar.three {
    background-color: var(--terra-avatar-three-background-color, #5c9a32);

    &::after{
      border-radius: 50%;
      box-shadow: var(--terra-avatar-three-after-box-shadow, inset 0 0 0 2px #5c9a32);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .avatar.four {
    background-color: var(--terra-avatar-four-background-color, #406c23);

    &::after{
      border-radius: 50%;
      box-shadow: var(--terra-avatar-four-after-box-shadow, inset 0 0 0 2px #406c23);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .avatar.five {
    background-color: var(--terra-avatar-five-background-color, #f76e00);

    &::after{
      border-radius: 50%;
      box-shadow: var(--terra-avatar-five-after-box-shadow, inset 0 0 0 2px #f76e00);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .avatar.six {
    background-color: var(--terra-avatar-six-background-color, #e34c02);

    &::after{
      border-radius: 50%;
      box-shadow: var(--terra-avatar-six-after-box-shadow, inset 0 0 0 2px #e34c02);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .avatar.seven {
    background-color: var(--terra-avatar-seven-background-color, #b400dc);

    &::after{
      border-radius: 50%;
      box-shadow: var(--terra-avatar-seven-after-box-shadow, inset 0 0 0 2px #b400dc);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .avatar.eight {
    background-color: var(--terra-avatar-eight-background-color, #7f00a2);

    &::after{
      border-radius: 50%;
      box-shadow: var(--terra-avatar-eight-after-box-shadow, inset 0 0 0 2px #7f00a2);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .avatar.nine {
    background-color: var(--terra-avatar-nine-background-color, #0092e0);

    &::after{
      border-radius: 50%;
      box-shadow: var(--terra-avatar-nine-after-box-shadow, inset 0 0 0 2px #0092e0);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .avatar.ten {
    background-color: var(--terra-avatar-ten-background-color, #0065a3);

    &::after{
      border-radius: 50%;
      box-shadow: var(--terra-avatar-ten-after-box-shadow, inset 0 0 0 2px #0065a3);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .avatar.is-deceased {
    background-color: var(--terra-avatar-is-deceased-background-color, #64696c);

    > .image {
      opacity: var(--terra-avatar-image-is-deceased-opacity, 0.4);
    }

    &::after{
      border-radius: 50%;
      box-shadow: var(--terra-avatar-is-deceased-after-box-shadow, inset 0 0 0 2px #64696c);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .avatar > .icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;

    /* Disabling so that single quotes can be used in svg string */
    /* stylelint-disable string-quotes */
    &.facility {
      background-image: var(--terra-avatar-icon-facility-background-image, inline-svg("<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='#fff' viewBox='0 0 48 48'><path d='M33,20.2V12H15v8.2H9.8V48h12v-9h4.5v9h12V20.2H33z M17.2,42.8h-3V39h3V42.8z M17.2,33.8h-3V30h3V33.8z M25.5,33.8h-3V30h3 V33.8z M29.2,22.5h-3.8v3.8h-3v-3.8h-3.8v-3h3.8v-3.8h3v3.8h3.8V22.5z M33.8,42.8h-3V39h3V42.8z M33.8,33.8h-3V30h3V33.8z'/></svg>"));
      height: var(--terra-avatar-icon-facility-height, 90%);
      margin-top: var(--terra-avatar-icon-facility-margin-top);
      width: var(--terra-avatar-icon-facility-width, 90%);
    }

    &.shared-user {
      background: var(--terra-avatar-icon-multi-user-background-image, inline-svg("<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='#fff' viewBox='0 0 48 48'><path d='M15 0a8.7 8.7 0 1 1-8.7 8.7A8.71 8.71 0 0 1 15 0zm18 11a8.7 8.7 0 1 1-8.7 8.7A8.71 8.71 0 0 1 33 11zm15 37v-4.4a12.93 12.93 0 0 0-12.9-12.9h-4.2A12.93 12.93 0 0 0 18 43.6V48zM25.5 28.7a11.32 11.32 0 0 1-4.1-8.3 14.21 14.21 0 0 0-4.2-.7H13A13 13 0 0 0 0 32.6V37h16.4a15.52 15.52 0 0 1 9.1-8.3z'/></svg>"));
      height: var(--terra-avatar-icon-multi-user-height, 70%);
      width: var(--terra-avatar-icon-multi-user-width, 70%);
    }

    &.user {
      background: var(--terra-avatar-icon-user-background-image, inline-svg("<svg data-name='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='#fff' viewBox='0 0 48 48'><path d='M24 0a11.3 11.3 0 1 1-11.3 11.3A11.35 11.35 0 0 1 24 0zm19.5 48v-5.7a16.77 16.77 0 0 0-16.8-16.8h-5.5A16.75 16.75 0 0 0 4.5 42.3V48z'/></svg>"));
      height: var(--terra-avatar-icon-user-height, 75%);
      margin-top: var(--terra-avatar-icon-user-margin-top, 0.8571rem);
      width: var(--terra-avatar-icon-user-width, 75%);

    }
    /* stylelint-enable string-quotes */
  }

  .avatar > .image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .avatar > .initials {
    font-size: var(--terra-avatar-font-size, 1.429rem);
  }
}
