// Icon Component
// ====================================================

/**
 * IE/Edge need both width and height defined to properly size SVG icons
 */

:local {
  /* stylelint-disable selector-class-pattern  */
  .icon {
    display: inline-block;
    vertical-align: -0.15em; // Adjusts visual alignment for icons to better align next to text
  }

  /**
   * The following selectors match all SVG elements, (path, cirlec, line, rect, etc), within inline SVG
   * which do not have a predefined fill color.
   */
  .icon *:not([fill]) {
    fill: currentColor; // Allows icon color to be inherited from text color
  }

  :global {
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(359deg); }
    }
  }

  .icon.is-spin {
    :global {
      animation: spin 2s infinite linear;
    }
  }

  // We need dir='rtl'
  // https://github.com/vkalinichev/postcss-rtl/issues/15
  [dir='rtl'] .icon.is-bidi {
    transform: scaleX(-1);
  }
  /* stylelint-enable */
}
