/* stylelint-disable selector-class-pattern */
:local {
  .IconFeaturedOutlineYellow {
    path:nth-of-type(1) {
      fill: var(--terra-icon-featured-outline-yellow-path-1-fill, #ffc20a);
    }

    path:nth-of-type(2) {
      fill: var(--terra-icon-featured-outline-yellow-path-2-fill, #231f20);
    }
  }
}
/* stylelint-enable selector-class-pattern */


0188_calendarX_i
0188_calenderX_i