/* stylelint-disable selector-class-pattern */
:local {
  .IconDrugDrug {
    path:nth-of-type(1) {
      fill: var(--terra-icon-drug-path-1-fill, #ffc20b);
    }

    path:nth-of-type(2) {
      fill: var(--terra-icon-drug-path-2-fill, currentColor);
    }

    path:nth-of-type(3) {
      fill: var(--terra-icon-drug-path-3-fill, currentColor);
    }
  }
}
/* stylelint-enable selector-class-pattern */
