@import './orion-fusion-theme/IconInformationStatic.module';
@import './clinical-lowlight-theme/IconInformationStatic.module';

/* stylelint-disable selector-class-pattern */
:local {
  .IconInformationStatic {
    path:first-child {
      fill: var(--terra-icon-information-static-path-1-fill, #007cc3);
    }

    path:nth-child(2) {
      fill: var(--terra-icon-information-static-path-2-fill, #007cc3);
    }

    path:last-child {
      fill: var(--terra-icon-information-static-path-3-fill, #007cc3);
    }
	
    circle {
      color: var(--terra-icon-information-static-circle-color, #007cc3);
    }
  }
}
/* stylelint-enable selector-class-pattern */
