// Icon Component
// ====================================================
:local {
  .icon {
    display: inline-block;
    vertical-align: -0.15em; // Adjusts visual alignment for icons to better align next to text
  }

  /**
   * The following selectors match all SVG elements, (path, cirlec, line, rect, etc), within inline SVG
   * which do not have a predefined fill color.
   */
  .icon *:not([fill]) {
    fill: currentColor; // Allows icon color to be inherited from text color
  }

  // We need dir='rtl'
  // https://github.com/vkalinichev/postcss-rtl/issues/15
  [dir='rtl'] .icon.is-bidi {
    transform: scaleX(-1);
  }
}
