// Icon Component
// ====================================================
/* rtl:begin:ignore */
:global {
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
  }
}
/* rtl:end:ignore */

/**
 * IE/Edge need both width and height defined to properly size SVG icons
 */

:local {
  .icon {
    display: inline-block;
    vertical-align: -0.15em; // Adjusts visual alignment for icons to better align next to text
  }

  /**
   * The following selectors match all SVG elements, (path, cirlec, line, rect, etc), within inline SVG
   * which do not have a predefined fill color.
   */
  .icon *:not([fill]) {
    fill: currentColor; // Allows icon color to be inherited from text color
  }

  /* rtl:ignore */
  .icon.is-spin {
    :global {
      animation: spin 2s infinite linear;
    }
  }

  // We need dir='rtl'
  // https://github.com/vkalinichev/postcss-rtl/issues/15
  [dir='rtl'] .icon.is-bidi {
    transform: scaleX(-1);
  }
}
