/* stylelint-disable selector-class-pattern */
:local {
  .IconDischargeComplete {
    path:nth-of-type(1) {
      fill: var(--terra-icon-discharge-complete-path-1-fill, currentColor);
    }

    path:nth-of-type(2) {
      fill: var(--terra-icon-discharge-complete-path-2-fill, #78c346);
    }

    path:nth-of-type(3) {
      fill: var(--terra-icon-discharge-complete-path-3-fill, #fff);
    }
  }
}
/* stylelint-enable selector-class-pattern */
