:root {
  --terra-heading-attention-color: rgb(220, 20, 60);
  --terra-heading-success-color: rgb(46, 125, 50);
  --terra-heading-info-color: #304ffe;
  --terra-heading-default-color: #333;
}

:local {
  .default {
    color: var(--terra-heading-default-color, #333);
  }

  .attention {
    color: var(--terra-heading-attention-color, rgb(220, 20, 60));
  }

  .success {
    color: var(--terra-heading-success-color, rgb(46, 125, 50));
  }

  .info {
    color: var(--terra-heading-info-color, #304ffe);
  }
}
