:local {
  .button-spacing-wrapper {
    margin: 0.35714rem;
  }

  .container-spacing-wrapper {
    display: inline-block;
    padding: 0.71428rem;
  }

  .container-min-size {
    min-height: 18rem;
    min-width: 18rem;
  }
}
