:local {
  .redwood-theme {
    --terra-divider-border-color: var(--divider-border-color);
    --terra-divider-border-top-width: var(--divider-border-size);
    --terra-divider-text-color: var(--divider-text-color);
    --terra-divider-text-font-size: var(--divider-font-size);
    --terra-divider-text-font-weight: var(--divider-font-weight);
    --terra-divider-text-line-height: 1.231;
    --terra-divider-text-padding-left: var(--divider-padding-left);
    --terra-divider-text-padding-right: var(--divider-padding-right);
  }
}

