:local {
  .flex-header {
    align-items: flex-start;
    background-color: var(--terra-header-background-color, #f9f9f9);
    border-bottom: var(--terra-header-border-bottom, 1px solid #d3d4d5);
    border-left: var(--terra-header-border-left);
    border-right: var(--terra-header-border-right);
    border-top: var(--terra-header-border-top);
    box-shadow: var(--terra-header-box-shadow);
    display: flex;
    justify-content: space-between;
    min-height: var(--terra-header-min-height, 3.6428571429rem);
    padding: var(--terra-header-padding, 0.714rem);
    position: relative;
    width: 100%;

    .flex-collapse {
      display: flex;
      flex: 0 0 auto;
      height: 100%;
      max-width: 40%;
      position: relative;
    }
  }

  .flex-fill {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    width: 100%;
  }

  .flex-end {
    display: flex;
    flex: 0 0 auto;
    position: relative;
  }

  .start-group > * {
    margin-right: var(--terra-header-margin-right, 1.429rem);
  }

  .end-group > * {
    margin-left: var(--terra-header-margin-left, 1.429rem);
  }

  .title-container {
    position: relative;
    width: 100%;
  }

  .title {
    color: var(--terra-header-color);
    font-size: var(--terra-header-font-size, 1.286rem);
    font-weight: normal;
    hyphens: auto;
    margin-bottom: 0;
    margin-top: 0;
    overflow-wrap: break-word; /* Modern browsers */
    padding: var(--terra-header-title-padding);
    padding-top: var(--terra-header-title-padding-top, 0.2143rem);
    width: 100%;
    word-wrap: break-word; /* For IE 10 and IE 11 */
  }
}
