:local {
  /* stylelint-disable selector-class-pattern  */
  
  .collapsible-menu-view {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: flex-end;
    position: relative;
    width: 100%;
  }

  .menu-button {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    padding-left: 0.714rem;

    &.hidden {
      display: none;
      width: 0;
    }
  }

  .face-up-item {
    flex: 0 0 auto;
    max-width: 100%;
    padding-left: 0.714rem;
    position: relative;

    .control {
      margin: 0;
    }

    .is-disabled {
      opacity: 0.3;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  .divider {
    border-right: 1px solid #dedfe0;
    height: 2.143rem;
  }

  .is-calculating {
    visibility: hidden;
  }
  /* stylelint-enable */
}
