// Variables
// ==========================

:root {
  // rounded modifier
  --terra-image-rounded-border-radius: 0.3rem;

  // circle modifier
  --terra-image-circle-border-radius: 50%;

  // thumbnail modifier
  --terra-image-thumbnail-padding-top: 0.25rem;
  --terra-image-thumbnail-padding-right: 0.25rem;
  --terra-image-thumbnail-padding-bottom: 0.25rem;
  --terra-image-thumbnail-padding-left: 0.25rem;
  --terra-image-thumbnail-background-color: #fff;
  --terra-image-thumbnail-border-color: #ddd;
  --terra-image-thumbnail-border-radius: 0.25em;
  --terra-image-thumbnail-border-style: solid;
  --terra-image-thumbnail-border-width: 1px;
}
