// Variables
// ==========================

// rounded modifier
$terra-image-rounded-border-radius: 0.3rem !default;

// circle modifier
$terra-image-circle-border-radius: 50% !default;

// thumbnail modifier
$terra-image-thumbnail-padding-top: 0.25rem !default;
$terra-image-thumbnail-padding-right: 0.25rem !default;
$terra-image-thumbnail-padding-bottom: 0.25rem !default;
$terra-image-thumbnail-padding-left: 0.25rem !default;
$terra-image-thumbnail-background-color: #fff !default;
$terra-image-thumbnail-border-color: #ddd !default;
$terra-image-thumbnail-border-radius: 0.25em !default;
$terra-image-thumbnail-border-style: solid !default;
$terra-image-thumbnail-border-width: 1px !default;
