@import './variables';

/* stylelint-disable selector-class-pattern  */
:local {
  .image {
    display: block;
    vertical-align: middle;
  }

  .default {
    display: block;
    vertical-align: middle;
  }

  .rounded {
    border-radius: var(--terra-image-rounded-border-radius);
  }

  .circle {
    border-radius: var(--terra-image-circle-border-radius);
  }

  .thumbnail {
    background-color: var(--terra-image-thumbnail-background-color);
    border-color: var(--terra-image-thumbnail-border-color);
    border-radius: var(--terra-image-thumbnail-border-radius);
    border-style: var(--terra-image-thumbnail-border-style);
    border-width: var(--terra-image-thumbnail-border-width);
    padding-bottom: var(--terra-image-thumbnail-padding-bottom);
    padding-left: var(--terra-image-thumbnail-padding-left);
    padding-right: var(--terra-image-thumbnail-padding-right);
    padding-top: var(--terra-image-thumbnail-padding-top);
  }

  .fluid {
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
}
/* stylelint-enable */
