@import '~terra-mixins';

.terra-OverlayContainer {
  outline: none;
  position: relative;
}

.terra-Overlay {
  opacity: 0.8;
  outline: none;
  overflow: hidden;
  z-index: 100;
}

.terra-Overlay--clear {
  background: none;
}

.terra-Overlay--dark {
  background: #4e5558;
}

.terra-Overlay--light {
  background: #d3d4d5;
}

.terra-Overlay--fullscreen {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.terra-Overlay--container {
  height: 100%;
  position: absolute;
  width: 100%;
}

.terra-Overlay--scrollable {
  overflow-y: scroll;
}

.terra-Overlay-content {
  color: #fff;
  font-size: 24px;
  left: 50%;
  position: inherit;
  top: 50%;
  transform: translate(-50%, -50%);
}

.terra-LoadingOverlay-message {
  padding-left: 10px;
}
