// stylelint-disable declaration-property-value-blacklist
:local {
  .overlay-container {
    outline: none;
    position: relative;
  }

  .overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    outline: none;
    overflow: hidden;
    z-index: 100;
  }

  .clear {
    background: rgba(255, 255, 255, 0.001);
  }

  .dark {
    background: var(--terra-overlay-dark-background-color, rgba(28, 31, 33, 0.8));
    background-image: var(--terra-overlay-dark-background-image, none);

    .content {
      color: var(--terra-overlay-dark-content-color, #fff);
      text-shadow: var (--terra-overlay-dark-content-text-shadow, none);
    }
  }

  .light {
    background: var(--terra-overlay-light-background-color, rgba(245, 245, 245, 0.7));
    background-image: var(--terra-overlay-light-background-image, none);

    .content {
      color: var(--terra-overlay-light-content-color, #1c1f21);
      text-shadow: var (--terra-overlay-light-content-text-shadow, none);
    }
  }

  .fullscreen {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .container {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .scrollable {
    overflow-y: scroll;
  }

  .content {
    color: var(--terra-overlay-content-color, #1c1f21);
    font-size: 1rem;
    max-height: 100%;
    padding-bottom: var(--terra-overlay-content-padding-bottom, 1rem);
    padding-left: var(--terra-overlay-content-padding-left, 1rem);
    padding-right: var(--terra-overlay-content-padding-right, 1rem);
    padding-top: var(--terra-overlay-content-padding-top, 1rem);
  }

  .icon {
    display: block !important;
    margin: auto;
  }

  .message {
    padding: 5px;
  }
}
