:global {
  --terra-demographics-banner-background-color: #0065a3;
  --terra-demographics-banner-background-image: none;
  --terra-demographics-banner-box-shadow: none;
  --terra-demographics-banner-color: #fff;
  --terra-demographics-banner-padding: 0.5rem 1rem 0.5rem 1rem;
  --terra-demographics-banner-profile-photo-margin: 0;
  --terra-demographics-banner-value-margin-right: 1rem;
  --terra-demographics-banner-value-margin-top: 0;
  --terra-demographics-banner-person-details-margin-top: 0;
  --terra-demographics-banner-deceased-background-color: #1c1f21;
  --terra-demographics-banner-deceased-background-image: none;
  --terra-demographics-banner-deceased-color: #fff;
  --terra-demographics-banner-content-margin: auto 0.714em;
  --terra-demographics-banner-application-content-margin-top: 0;
  --terra-demographics-banner-deceased-profile-photo-opacity: 0.7;
  --terra-demographics-banner-large-box-shadow: none;
  --terra-demographics-banner-large-padding: 0.5rem;
  --terra-demographics-banner-large-person-name-font-size: 1.33333333rem;
}
