// Themes
@import './clinical-lowlight-theme/Notice.module';
@import './orion-fusion-theme/Notice.module';

:local {
  .deprecation {
    background-color: var(--terra-docs-notice-deprecation-background-color, #fff9e7);
    border-color: var(--terra-docs-notice-deprecation-border-color, #ffc413);
    color: var(--terra-docs-notice-deprecation-color, #1c1f21);
  }

  .maintenance {
    background-color: var(--terra-docs-notice-maintenance-background-color, #e9f5e0);
    border-color: var(--terra-docs-notice-maintenance-border-color, #a5d784);
    color: var(--terra-docs-notice-maintenance-color, #1c1f21);
  }

  .paragraph {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.42857rem;
    margin-block-end: 0;
    margin-block-start: 0.5rem;
  }

  .notice {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 1.143rem;
    padding: 1.0714285714rem;
  }
}
