// Themes
@import './clinical-lowlight-theme/Notice.module';
@import './orion-fusion-theme/Notice.module';

:local {

  .best-practice {
    background-color: var(--terra-docs-notice-best-practice-background-color, #e0e3f5);
    border-color: var(--terra-docs-notice-best-practice-border-color, #848cd7);
    color: var(--terra-docs-notice-best-practice-color, #1c1f21);
  }

  .caution {
    background-color: var(--terra-docs-notice-caution-background-color, #fff9e7);
    border-color: var(--terra-docs-notice-caution-border-color, #ffc413);
    color: var(--terra-docs-notice-caution-color, #1c1f21);
  }

  .deprecation {
    background-color: var(--terra-docs-notice-deprecation-background-color, #fff9e7);
    border-color: var(--terra-docs-notice-deprecation-border-color, #ffc413);
    color: var(--terra-docs-notice-deprecation-color, #1c1f21);
  }

  .maintenance {
    background-color: var(--terra-docs-notice-maintenance-background-color, #ebf0e7);
    border-color: var(--terra-docs-notice-maintenance-border-color, #6f706f);
    color: var(--terra-docs-notice-maintenance-color, #1c1f21);
  }

  .note {
    background-color: var(--terra-docs-notice-note-background-color, #e9f5e0);
    border-color: var(--terra-docs-notice-note-border-color, #a5d784);
    color: var(--terra-docs-notice-note-color, #1c1f21);
  }

  .title {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .paragraph {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.42857rem;
    margin-block-end: 0;
    margin-block-start: 0.5rem;
  }

  .notice {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 1.143rem;
    padding: 1.0714285714rem;
  }
}
