// Themes
@import './clinical-lowlight-theme/Placeholder.module';
@import './orion-fusion-theme/Placeholder.module';

:local {
  .placeholder,
  .inner {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .placeholder {
    padding: 10px;
  }

  .inner {
    align-items: center;
    border: 3px dashed;
    display: flex;
    justify-content: center;
    border-color: var(--terra-placeholder-inner-border-color, #d1d1d1);
    color: var(--terra-placeholder-inner-color, #787575);
  }
}
