@import '~terra-mixins/lib/Mixins';

:local {
  .checkbox-field {
    border: 0;
    margin-bottom: var(--terra-form-checkbox-field-margin-bottom, 1.428em);
    max-width: 72.857rem;
    padding: 0;
  }

  .is-inline {
    display: inline-block;
    margin-right: var(--terra-form-checkbox-field-inline-margin-right, 0.7143em);
    vertical-align: top;
  }

  .legend-group {
    font-size: var(--terra-form-checkbox-field-label-font-size, 1rem);
    line-height: 1.29;
    margin-bottom: var(--terra-form-checkbox-field-label-margin-bottom, 0.357em);
    text-align: left;
  }

  .legend-group-hidden {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }

  .legend {
    color: var(--terra-form-checkbox-field-label-color, rgba(0, 0, 0, 0.8));
    font-weight: var(--terra-form-checkbox-field-label-font-weight, bold);
  }

  .error-icon,
  .error-icon-hidden {
    background: var(--terra-form-checkbox-field-error-icon, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#E50000" d="M24 0c13.3 0 24 10.7 24 24S37.3 48 24 48 0 37.3 0 24C0 10.8 10.7 0 23.9 0h.1z"/><path fill="#FFF" d="M7 21.5h34v5H7v-5z"/></svg>'));
    background-size: contain;
    display: var(--terra-form-checkbox-field-label-error-icon-display, none);
    height: var(--terra-form-checkbox-field-error-icon-height, 1em);
    margin-right: var(--terra-form-checkbox-field-label-error-icon-margin-right, 0.357em);
    width: var(--terra-form-checkbox-field-error-icon-width, 1em);
  }

  .required,
  .required-hidden {
    color: var(--terra-form-checkbox-field-label-required-color , #e50000);
    display: inline-block;
    padding-right: var(--terra-form-checkbox-field-label-required-padding-right, 0.357em);
  }

  /**
   * We need these to be visually hidden so that inputs do not auto expand
   * or shrink when the elements state changes from valid to invalid.
   */
  .error-icon-hidden,
  .required-hidden {
    visibility: hidden;
  }

  .optional {
    display: inline-block;
    font-style: var(--terra-form-checkbox-field-label-optional-font-style, italic);
    padding-left: var(--terra-form-checkbox-field-label-optional-padding-left, 0.357em);
  }

  .help-text {
    color: var(--terra-form-checkbox-field-help-text-color, rgba(0, 0, 0, 0.55));
    font-size: var(--terra-form-checkbox-field-help-text-font-size, 0.857rem);
    font-weight: var(--terra-form-checkbox-field-help-text-font-weight, normal);
    line-height: 1.25;
    margin-top: var(--terra-form-checkbox-field-help-text-margin-top, 0.357em);
    text-align: left;
  }

  .error-text {
    color: var(--terra-form-checkbox-field-error-text-color, #e50000);
    font-size: var(--terra-form-checkbox-field-error-text-font-size, 0.857rem);
    font-weight: var(--terra-form-checkbox-field-error-text-font-weight, normal);
    line-height: 1.25;
    margin-top: var(--terra-form-checkbox-field-error-text-margin-top, 0.357em);
    text-align: left;
  }
}
