:local {
  .checkbox {
    color: var(--terra-form-checkbox-font-color, rgb(0, 0, 0));
    display: block;
    font-family: inherit;
    margin-bottom: var(--terra-form-checkbox-container-margin-bottom, 0);
    margin-left: var(--terra-form-checkbox-container-margin-left, 0);
    margin-right: var(--terra-form-checkbox-container-margin-right, 0);
    margin-top: var(--terra-form-checkbox-container-margin-top, 0.3571428rem);
    position: relative;
    transform: scale(1);

    /* stylelint-disable selector-max-compound-selectors */
    .label {
      cursor: pointer;
      display: inline-block;
      font-size: var(--terra-form-checkbox-font-size, 1rem);
      line-height: var(--terra-form-checkbox-line-height, 1.33);
      padding-bottom: var(--terra-form-checkbox-padding-bottom, 0.3571428rem);
      padding-left: var(--terra-form-checkbox-padding-left, 0);
      position: relative;
    }

    .label.is-mobile {
      padding-left: var(--terra-form-checkbox-is-mobile-padding-left, 0);
    }

    /* Native checkbox shown when theme uses browser native styling */
    .native-input {
      clip: var(--terra-form-checkbox-native-input-clip);
      cursor: var(--terra-form-checkbox-native-input-cursor, pointer);
      font-size: var(--terra-form-checkbox-native-input-font-size, inherit);
      height: var(--terra-form-checkbox-native-input-height);
      margin-left: var(--terra-form-checkbox-native-input-margin-left, 0.071rem);
      margin-right: var(--terra-form-checkbox-native-input-margin-right, 0.143rem);
      overflow: var(--terra-form-checkbox-native-input-overflow);
      padding: var(--terra-form-checkbox-native-input-padding);
      position: absolute;
      width: var(--terra-form-checkbox-native-input-width);
    }

    /* stylelint-disable property-no-vendor-prefix */
    .label-text {
      display: block;
      margin-left: var(--terra-form-checkbox-label-text-margin-left, 1.3571rem);
      max-width: 100%; //stops content overflow on IE 10/11
    }
    /* stylelint-enable property-no-vendor-prefix */

    /* Custom checkbox shown when theme uses custom styling */
    .native-input + .label-text::before {
      background-color: var(--terra-form-checkbox-background-color, transparent);
      background-image: var(--terra-form-checkbox-background-image, none);
      background-position: center center;
      background-repeat: no-repeat;
      border: var(--terra-form-checkbox-border, 0);
      border-radius: var(--terra-form-checkbox-border-radius, 0);
      content: '';
      cursor: pointer;
      display: inline-block;
      height: var(--terra-form-checkbox-height, 0);
      left: 0;
      margin-top: var(--terra-form-checkbox-margin-top, 0);
      position: absolute;
      top: 0;
      transition: var(--terra-form-checkbox-transition, none);
      width: var(--terra-form-checkbox-width, 0);
    }

    /* Custom checkbox in checked state */
    .native-input:checked + .label-text::before {
      background-color: var(--terra-form-checkbox-checked-background-color, transparent);
      background-image: var(--terra-form-checkbox-checked-background-image, none);
      border: var(--terra-form-checkbox-checked-border, 0);
      border-radius: var(--terra-form-checkbox-checked-border-radius, 0);
      content: var(--terra-form-checkbox-symbol, none);
      height: var(--terra-form-checkbox-checked-height, 0);
      left: 0;
      line-height: var(--terra-form-checkbox-checked-line-height, normal);
      margin-top: var(--terra-form-checkbox-margin-top, 0);
      opacity: 1;
      padding-left: var(--terra-form-checkbox-checked-symbol-padding-left, 0);
      padding-right: var(--terra-form-checkbox-checked-symbol-padding-right, 0);
      padding-top: var(--terra-form-checkbox-checked-symbol-padding-top, 0);
      position: absolute;
      top: 0;
      transform: var(--terra-form-checkbox-checked-transform, none);
      transition: var(--terra-form-checkbox-checked-transition, none);
      width: var(--terra-form-checkbox-checked-width, 0);
    }

    .native-input + .label-text.is-mobile::before {
      height: var(--terra-form-checkbox-is-mobile-height, 0);
      margin-top: var(--terra-form-checkbox-is-mobile-margin-top, 0);
      width: var(--terra-form-checkbox-is-mobile-width, 0);
    }

    .native-input:checked + .label-text.is-mobile::before {
      height: var(--terra-form-checkbox-is-mobile-checked-height, 0);
      line-height: var(--terra-form-checkbox-is-mobile-checked-line-height, normal);
      margin-top: var(--terra-form-checkbox-is-mobile-margin-top, 0);
      width: var(--terra-form-checkbox-is-mobile-checked-width, 0);
    }

    /* Hide label if isLabelHidden true */
    .label-text.is-hidden {
      cursor: default;
      height: 1rem;
      margin-left: 0;
      width: 0;
    }

    /* stylelint-disable max-nesting-depth */
    .label:not(.is-disabled):hover {
      .native-input + .label-text::before {
        border-color: var(--terra-form-checkbox-hover-border-color, transparent);
        border-width: var(--terra-form-checkbox-hover-border-width, 0);
      }

      .native-input:checked + .label-text::before {
        border-color: var(--terra-form-checkbox-checked-hover-border-color, transparent);
        border-width: var(--terra-form-checkbox-checked-hover-border-width, 0);
      }
    }

    /* Disabled native checkbox, label text, and custom checkbox styling */
    .label.is-disabled {
      cursor: default;

      > .native-input:disabled {
        cursor: default;
      }

      > .label-text {
        color: var(--terra-form-checkbox-disabled-font-color, #9b9fa1);
        cursor: default;
        opacity: var(--terra-form-checkbox-disabled-font-opacity, 1);
      }

      > .native-input:disabled + .label-text::before {
        background-color: var(--terra-form-checkbox-disabled-background-color, transparent);
        background-image: var(--terra-form-checkbox-disabled-background-image, none);
        border-color: var(--terra-form-checkbox-disabled-border-color, transparent);
        border-width: var(--terra-form-checkbox-disabled-border-width, 0);
        cursor: default;
      }

      > .native-input:checked:disabled + .label-text::before {
        border-width: var(--terra-form-checkbox-checked-disabled-border-width, 0);
        content: var(--terra-form-checkbox-disabled-symbol, none);
      }
    }
    /* stylelint-enable max-nesting-depth */

    /* Focus custom checkbox styling */
    .native-input:focus + .label-text::before {
      border-color: var(--terra-form-checkbox-focus-border-color, transparent);
      border-width: var(--terra-form-checkbox-focus-border-width, 0);
    }

    /* Large focus ring */
    .native-input:focus + .label-text::after {
      background-color: var(--terra-form-checkbox-focus-ring-background-color, transparent);
      border-radius: var(--terra-form-checkbox-focus-ring-border-radius, 0);
      content: '';
      height: var(--terra-form-checkbox-focus-ring-height);
      left: var(--terra-form-checkbox-focus-ring-left);
      position: absolute;
      top: var(--terra-form-checkbox-focus-ring-top);
      width: var(--terra-form-checkbox-focus-ring-width);
      z-index: -1;
    }
  }

  .checkbox.is-inline {
    display: inline-block;
    margin-right: var(--terra-form-checkbox-inline-container-margin-right, 1.42857rem);
  }
}
