:local {
  .checkbox {
    color: var(--terra-form-checkbox-font-color, rgb(0, 0, 0));
    display: block;
    font-family: inherit;
    margin-left: var(--terra-form-checkbox-container-margin-left, none);
    margin-right: var(--terra-form-checkbox-container-margin-right, 2rem);
    margin-top: var(--terra-form-checkbox-container-margin-top, 0.625rem);

    /* Hitbox and container focus style will only surround checkbox + label, instead of the div block */
    /* Padding puts space for container focus style */
    .inner-div {
      display: inline-block;
      padding-left: var(--terra-form-checkbox-inner-div-padding-left, 0.214rem);
      padding-right: var(--terra-form-checkboc-innter-div-padding-right, 0.214rem);
    }

    /* Hide label if isLabelHidden true */
    .label-hidden {
      clip: rect(0 0 0 0);
      cursor: default;
      visibility: hidden;
    }

    /* stylelint-disable selector-max-compound-selectors */
    .label {
      cursor: pointer;
      display: flex;
      font-size: var(--terra-form-checkbox-font-size, 1rem);
      line-height: 1.42em;
      padding-left: var(--terra-form-checkbox-padding-left, none);
      position: relative;
    }

    /* Native checkbox */
    .native-input {
      border: var(--terra-form-checkbox-native-input-border, none);
      clip: var(--terra-form-checkbox-native-input-clip, none);
      cursor: var(--terra-form-checkbox-native-input-cursor, pointer);
      font-size: var(--terra-form-checkbox-native-input-font-size, inherit);
      height: var(--terra-form-checkbox-native-input-height, none);
      margin-left: var(--terra-form-checkbox-native-input-margin-left, 0.071rem);
      margin-right: var(--terra-form-checkbox-native-input-margin-right, 0.143rem);
      overflow: var(--terra-form-checkbox-native-input-overflow, none);
      padding: var(--terra-form-checkbox-native-input-padding, none);
      position: absolute;
      width: var(--terra-form-checkbox-native-input-width, none);
    }

    .inner-span {
      margin-left: var(--terra-form-checkbox-inner-span-margin-left, 1.4em);
    }

    /* Custom checkbox */
    .native-input + .inner-span::before {
      background-color: var(--terra-form-checkbox-background-color, none);
      background-image: var(--terra-form-checkbox-background-image, none);
      background-position: center center;
      background-repeat: no-repeat;
      border-color: var(--terra-form-checkbox-border-color, none);
      border-radius: var(--terra-form-checkbox-border-radius, none);
      border-style: var(--terra-form-checkbox-border-style, none);
      border-width: var(--terra-form-checkbox-border-width, none);
      content: '';
      cursor: pointer;
      display: inline-block;
      height: var(--terra-form-checkbox-height, none);
      left: 0;
      margin-top: var(--terra-form-checkbox-margin-top, none);
      position: absolute;
      top: 0;
      visibility: visible;
      width: var(--terra-form-checkbox-width, none);
    }

    /* Custom checkbox in checked state */
    .native-input:checked + .inner-span::before {
      background-color: var(--terra-form-checkbox-checked-background-color, none);
      border-color: var(--terra-form-checkbox-checked-border-color, none);
      border-radius: var(--terra-form-checkbox-checked-border-radius, none);
      border-style: var(--terra-form-checkbox-checked-border-style, none);
      border-width: var(--terra-form-checkbox-checked-border-width, none);
      color: var(--terra-form-checkbox-symbol-color, none);
      content: var(--terra-form-checkbox-symbol, none);
      height: var(--terra-form-checkbox-checked-height, none);
      left: 0;
      line-height: 1em;
      margin-top: var(--terra-form-checkbox-margin-top, none);
      opacity: 1;
      position: absolute;
      text-align: center;
      top: 0;
      transform: scale(1);
      transition: all 0.2s ease all;
      vertical-align: middle;
      visibility: visible;
      width: var(--terra-form-checkbox-checked-width, none);
    }

    /* Label container disabled styling */
    .label-disabled {
      cursor: default;
    }

    /* Native checkbox, span containing label text, and custom checkbox disabled styling */
    .native-input:disabled {
      cursor: default;

      + .inner-span {
        color: var(--terra-form-checkbox-disabled-font-color, #9b9fa1);
        cursor: default;
        opacity: var(--terra-form-checkbox-disabled-font-opacity, none);
      }

      + .inner-span::before {
        background-color: var(--terra-form-checkbox-disabled-background-color, none);
        background-image: var(--terra-form-checkbox-disabled-background-image, none);
        border-color: var(--terra-form-checkbox-disabled-border-color, none);
        cursor: default;
      }
    }

    /* Custom Checkbox focus styling */
    .native-input:focus + .inner-span::after {
      [dir=rtl] & {
        box-shadow: var(--terra-form-checkbox-focus-box-shadow, none);
      }

      [dir=ltr] & {
        box-shadow: var(--terra-form-checkbox-focus-box-shadow, none);
      }
    }
  }

  /* Focus style surrounding both custom checkbox and label focus. Utilized in Clinical */
  .focus {
    border-radius: var(--terra-form-checkbox-container-focus-border-radius, 3px);

    [dir=rtl] & {
      box-shadow: var(--terra-form-checkbox-container-focus-box-shadow, none);
    }

    [dir=ltr] & {
      box-shadow: var(--terra-form-checkbox-container-focus-box-shadow, none);
    }
  }

  /* If isInline is set, display inline */
  .checkbox-inline {
    display: inline-block;
    vertical-align: middle;
  }
}
