@import '~terra-mixins/lib/Mixins';

:global {
  --terra-list-item-background-color: #222a2e;
  --terra-list-item-focus-background-color: #1e3a49;
  --terra-list-item-selected-background-color: #004c76;
  --terra-list-item-selected-hover-background-color: #004064;
  --terra-list-item-hover-active-background-color: #1e3a49;
  
  // accordion icon
  @include terra-inline-svg-var('--terra-list-section-header-accordion-icon-background','<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><title>0023_caretRight_a</title><path id="caretRight" fill="#b2b5b6" d="M12,0l24,24L12,48V0z"/></svg>');  
  @include terra-inline-svg-var('--terra-list-subsection-header-accordion-icon-background','<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><title>0023_caretRight_a</title><path id="caretRight" fill="#b2b5b6" d="M12,0l24,24L12,48V0z"/></svg>');  
  
  --terra-list-item-divider-border-top: 1px solid #181b1d;
  --terra-list-item-last-divider-border-bottom: 1px solid #181b1d;
  --terra-list-item-focus-outline: none;
  --terra-list-item-focus-border-color: #181b1d;
  --terra-list-item-focus-box-shadow: none;

  --terra-list-section-header-background-color: #141719;
  --terra-list-section-header-border-bottom: 1px solid #08090a;
  --terra-list-section-header-title-color: #b2b5b6;
  --terra-list-section-header-focus-background-color: #08090a;
  --terra-list-section-header-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
  --terra-list-section-header-focus-outline: none;
  --terra-list-section-header-hover-active-background-color: #000;
  
  --terra-list-subsection-header-background-color: #141719;
  --terra-list-subsection-header-border-bottom: 1px solid #08090a;
  --terra-list-subsection-header-title-color: #b2b5b6;
  --terra-list-subsection-header-focus-background-color: #08090a;
  --terra-list-subsection-header-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
  --terra-list-subsection-header-focus-outline: none;
  --terra-list-subsection-header-hover-active-background-color: #000;

  --terra-list-item-chevron-color: #b2b5b6;
  --terra-list-item-selected-divider-border-color: #181b1d;
  --terra-list-item-selected-divider-border-top-color: #181b1d;
  --terra-list-item-selected-focus-background-color: #004c76;
}
