/* stylelint-disable selector-class-pattern  */
:local {
  .progress-bar {
    background: #d3d4d5;
    border-radius: 0.5em;
    display: inline-block;
    height: var(--terra-progress-bar-height-small, 0.8rem);
    overflow: hidden;
    width: 100%;

    &:focus {
      outline: none;
    }

    &[value] {
      appearance: none;
      border: 0; // Remove Firefox and Opera border

      // To fix background color to the proper shade of Grey in Safari
      &::-webkit-progress-bar {
        background: #d3d4d5;
        border-radius: 0;
      }

      &::-webkit-progress-value {
        background-color: currentColor;
        border-bottom-left-radius: 0;
        border-right: 1px solid #fff;
        border-top-left-radius: 0;
      }

      &::-ms-fill {
        background-color: currentColor;
        border-right: 1px solid #fff;
      }
    }

    &[value='100'],
    &[value='0'] {
      &::-webkit-progress-value {
        border-bottom-right-radius: 0;
        border-right: 0 solid #fff;
        border-top-right-radius: 0;
      }

      &::-ms-fill {
        border-right: 0 solid #fff;
      }
    }
  }

  // Firefox styles must be entirely separate as it doesn't work well with WebKit styles
  @-moz-document url-prefix('') {
    .progress-bar {
      border-radius: 0.5em;
      overflow: hidden;

      &:focus {
        outline: none;
      }

      &[value] {
        background-color: #d3d4d5;
      }

      &[value]::-moz-progress-bar {
        background-color: currentColor;
        border-bottom-left-radius: 0;
        border-right: 1px solid #fff;
        border-top-left-radius: 0;
      }

      &[value='100'] {
        border-right: 0 solid #fff;
      }

      &[value='0']::-moz-progress-bar,
      &[value='100']::-moz-progress-bar {
        border-bottom-right-radius: 0;
        border-right: 0 solid #fff;
        border-top-right-radius: 0;
      }
    }
  }

  //Height specific styles
  .tiny {
    height: var(--terra-progress-bar-height-tiny, 0.5rem);
  }

  .small {
    height: var(--terra-progress-bar-height-small, 0.8rem);
  }

  .medium {
    height: var(--terra-progress-bar-height-medium, 1rem);
  }

  .large {
    height: var(--terra-progress-bar-height-large, 1.4rem);
  }

  .huge {
    height: var(--terra-progress-bar-height-huge, 1.7rem);
  }
}
/* stylelint-enable */
