:local {
  .radio {
    color: var(--terra-form-radio-font-color, rgb(0, 0, 0));
    display: block;
    font-family: inherit;
    margin-left: var(--terra-form-radio-container-margin-left, none);
    margin-right: var(--terra-form-radio-container-margin-right, 2rem);
    margin-top: var(--terra-form-radio-container-margin-top, 0.625rem);
    position: relative;

    /* Hitbox and container focus style will only surround radio + label, instead of the div block */
    /* Padding puts space for container focus style */
    .focus-container {
      display: inline-block;
      max-width: 100%;
      padding-bottom: var(--terra-form-radio-focus-container-padding-bottom, none);
      padding-left: var(--terra-form-radio-focus-container-padding-left, 0.214rem);
      padding-right: var(--terra-form-radio-focus-container-padding-right, 0.214rem);
      padding-top: var(--terra-form-radio-focus-container-padding-top, none);
      position: relative;
    }

    .is-hidden-focus-container {
      display: inline-block;
      max-width: 100%;
      padding-bottom: var(--terra-form-radio-is-hidden-focus-container-padding-bottom, 0.017rem);
      padding-left: var(--terra-form-radio-is-hidden-focus-container-padding-left, 0.214rem);
      padding-right: var(--terra-form-radio-is-hidden-focus-container-padding-right, none);
      padding-top: var(--terra-form-radio-is-hidden-focus-container-padding-top, none);
    }

    /* stylelint-disable selector-max-compound-selectors */
    .label {
      cursor: pointer;
      display: inline-flex;
      font-size: var(--terra-form-radio-font-size, 1rem);
      line-height: var(--terra-form-radio-line-height, 1.42);
      padding-left: var(--terra-form-radio-padding-left, none);
      position: relative;
    }

    /* Native radio shown when theme uses browser native styling */
    .native-input {
      border-color: var(--terra-form-radio-native-input-border-color, none);
      border-style: var(--terra-form-radio-native-input-border-style, none);
      border-width: var(--terra-form-radio-native-input-border-width, none);
      clip: var(--terra-form-radio-native-input-clip, none);
      cursor: var(--terra-form-radio-native-input-cursor, pointer);
      font-size: var(--terra-form-radio-native-input-font-size, inherit);
      height: var(--terra-form-radio-native-input-height, none);
      margin-left: var(--terra-form-radio-native-input-margin-left, 0.071rem);
      margin-right: var(--terra-form-radio-native-input-margin-right, 0.143rem);
      overflow: var(--terra-form-radio-native-input-overflow, none);
      padding: var(--terra-form-radio-native-input-padding, none);
      position: absolute;
      width: var(--terra-form-radio-native-input-width, none);
    }

    .label-text {
      display: block;
      margin-left: var(--terra-form-radio-label-text-margin-left, 1.4em);
      max-width: 100%; //stops content overflow on IE 10/11
    }

    /* Custom radio shown when theme uses custom styling */
    .native-input + .outer-ring {
      background-color: var(--terra-form-radio-outer-ring-background-color, none);
      border-color: var(--terra-form-radio-outer-ring-border-color, none);
      border-radius: var(--terra-form-radio-outer-ring-border-radius, none);
      border-style: var(--terra-form-radio-outer-ring-border-style, none);
      border-width: var(--terra-form-radio-outer-ring-border-width, none);
      cursor: pointer;
      display: inline-block;
      height: var(--terra-form-radio-outer-ring-height, none);
      left: 0;
      margin-top: var(--terra-form-radio-outer-ring-margin-top, none);
      position: absolute;
      top: 0;
      width: var(--terra-form-radio-outer-ring-width, none);

      .inner-ring {
        background-color: var(--terra-form-radio-inner-ring-background-color, none);
        border-color: var(--terra-form-radio-inner-ring-border-color, none);
        border-radius: 50%;
        border-style: var(--terra-form-radio-inner-ring-border-style, none);
        border-width: var(--terra-form-radiou-inner-border-width, none);
        height: var(--terra-form-radio-inner-ring-height, none);
        left: 50%;
        max-width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: var(--terra-form-radio-inner-ring-width, none);
      }
    }

    /* Custom radio in checked state */
    .native-input:checked + .outer-ring {
      background-color: var(--terra-form-radio-checked-outer-ring-background-color, none);
      // background-image: var(--terra-form-radio-background-image, radial-gradient(hsl(0, 0%, 100%) 65%, #a2c2e0 40%));
      // background-position: center center;
      // background-repeat: no-repeat;
      border-color: var(--terra-form-radio-outer-ring-checked-border-color, none);
      border-radius: var(--terra-form-radio-outer-ring-checked-border-radius, none);
      border-style: var(--terra-form-radio-outer-ring-checked-border-style, none);
      border-width: var(--terra-form-radio-outer-ring-checked-border-width, none);
      height: var(--terra-form-radio-outer-ring-checked-height, none);
      left: 0;
      line-height: 0.9; //do i need this
      margin-top: var(--terra-form-radio-outer-ring-checked-margin-top, none);
      opacity: 1;
      position: absolute;
      top: 0;
      vertical-align: middle;
      visibility: visible;
      width: var(--terra-form-radio-outer-ring-checked-width, none);

      .inner-ring {
        background-color: var(--terra-form-radio-inner-ring-checked-background-color, none);
        border-color: var(--terra-form-radio-inner-ring-checked-border-color, none);
        border-radius: 50%;
        border-style: var(--terra-form-radio-inner-ring-checked-border-style, none);
        border-width: var(--terra-form-radio-inner-ring-checked-border-width, none);
        height: var(--terra-form-radio-inner-ring-checked-height, none);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: var(--terra-form-radio-inner-ring-checked-width, none);
      }
    }

    /* Hide label if isLabelHidden true */
    .is-hidden {
      cursor: default;
      height: 1rem;
      margin-left: 0;
      width: 1.25rem;
    }
    /*stylelint-disable max-nesting-depth*/
    /* Disabled native radio, label text, and custom radio styling */
    .is-disabled {
      cursor: default;

      > .native-input:disabled {
        cursor: default;
      }

      > .label-text {
        color: var(--terra-form-radio-disabled-font-color, #9b9fa1);
        cursor: default;
        opacity: var(--terra-form-radio-disabled-font-opacity, none);
      }

      >.outer-ring {
        background-color: var(--terra-form-radio-outer-ring-disabled-background-color, none);
        background-image: var(--terra-form-radio-outer-ring-disabled-background-image, none);
        border-color: var(--terra-form-radio-outer-ring-disabled-border-color, none);
        cursor: default;

        > .inner-ring {
          background-color: var(--terra-form-radio-inner-ring-disabled-background-color, none);
          border-color: var(--terra-form-radio-inner-ring-disabled-border-color, none);
        }
      }
    }
    /* stylelint-enable max-nesting-depth */

    /* Focus custom radio styling */
    .native-input:focus + .outer-ring {
      [dir=rtl] & {
        box-shadow: var(--terra-form-radio-focus-box-shadow-rtl, none);
      }

      [dir=ltr] & {
        box-shadow: var(--terra-form-radio-focus-box-shadow-ltr, none);
      }
    }
  }

  /* Focus style surrounding both custom radio and label focus. */
  .focus {
    border-radius: var(--terra-form-radio-container-focus-border-radius, 3px);

    [dir=rtl] & {
      box-shadow: var(--terra-form-radio-container-focus-box-shadow-rtl, none);
    }

    [dir=ltr] & {
      box-shadow: var(--terra-form-radio-container-focus-box-shadow-ltr, none);
    }
  }

  .radio-inline {
    display: inline-block;
    vertical-align: middle;
  }
}
