:local {
  .radio {
    color: var(--terra-form-radio-font-color, rgb(0, 0, 0));
    display: block;
    font-family: inherit;
    margin-bottom: var(--terra-form-radio-container-margin-bottom, 0);
    margin-left: var(--terra-form-radio-container-margin-left, 0);
    margin-right: var(--terra-form-radio-container-margin-right, 0);
    margin-top: var(--terra-form-radio-container-margin-top, 0.3571428rem);
    position: relative;
    transform: scale(1);

    /* stylelint-disable selector-max-compound-selectors */
    .label {
      cursor: pointer;
      display: inline-block;
      font-size: var(--terra-form-radio-font-size, 1rem);
      line-height: var(--terra-form-radio-line-height, 1.33);
      padding-bottom: var(--terra-form-radio-padding-bottom, 0.3571428rem);
      padding-left: var(--terra-form-radio-padding-left, 0);
      position: relative;
    }

    .label.is-mobile {
      padding-left: var(--terra-form-radio-is-mobile-padding-left, 0);
    }

    /* Native radio shown when theme uses browser native styling */
    .native-input {
      clip: var(--terra-form-radio-native-input-clip);
      cursor: var(--terra-form-radio-native-input-cursor, pointer);
      font-size: var(--terra-form-radio-native-input-font-size, inherit);
      height: var(--terra-form-radio-native-input-height);
      margin-left: var(--terra-form-radio-native-input-margin-left, 0.071rem);
      margin-right: var(--terra-form-radio-native-input-margin-right, 0.143rem);
      overflow: var(--terra-form-radio-native-input-overflow);
      padding: var(--terra-form-radio-native-input-padding);
      position: absolute;
      width: var(--terra-form-radio-native-input-width);
    }

    .label-text {
      display: block;
      margin-left: var(--terra-form-radio-label-text-margin-left, 1.3571rem);
      max-width: 100%; //stops content overflow on IE 10/11
    }

    /* Custom radio shown when theme uses custom styling */
    .native-input + .outer-ring {
      background-color: var(--terra-form-radio-outer-ring-background-color, transparent);
      background-image: var(--terra-form-radio-outer-ring-background-image, none);
      border: var(--terra-form-radio-outer-ring-border, 0);
      border-radius: var(--terra-form-radio-outer-ring-border-radius, 0);
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      height: var(--terra-form-radio-outer-ring-height, 0);
      left: 0;
      margin-top: var(--terra-form-radio-outer-ring-margin-top, 0);
      position: absolute;
      top: 0;
      width: var(--terra-form-radio-outer-ring-width, 0);

      .inner-ring {
        background-color: var(--terra-form-radio-inner-ring-background-color, transparent);
        border: var(--terra-form-radio-inner-ring-border, 0);
        border-radius: 50%;
        box-shadow: var(--terra-form-radio-inner-ring-box-shadow, 0 0 1px 1px #fff); //Safari: overrides span not honouring border-radius
        height: var(--terra-form-radio-inner-ring-height, 0);
        left: 50%;
        max-width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: var(--terra-form-radio-inner-ring-transition, none);
        width: var(--terra-form-radio-inner-ring-width, 0);
      }
    }

    /* Custom radio in checked state */
    .native-input:checked + .outer-ring {
      background-color: var(--terra-form-radio-outer-ring-checked-background-color, transparent);
      background-image: var(--terra-form-radio-outer-ring-checked-background-image, none);
      border: var(--terra-form-radio-outer-ring-checked-border, 0);
      border-radius: var(--terra-form-radio-outer-ring-checked-border-radius, 0);
      box-sizing: border-box;
      height: var(--terra-form-radio-outer-ring-checked-height, 0);
      left: 0;
      margin-top: var(--terra-form-radio-outer-ring-checked-margin-top, 0);
      position: absolute;
      top: 0;
      width: var(--terra-form-radio-outer-ring-checked-width, 0);

      .inner-ring {
        background-color: var(--terra-form-radio-inner-ring-checked-background-color, transparent);
        border: var(--terra-form-radio-inner-ring-checked-border, 0);
        border-radius: 50%;
        box-shadow: var(--terra-form-radio-inner-ring-checked-box-shadow, 0 0 1px 1px #fff); //Safari: overrides span not honouring border-radius
        height: var(--terra-form-radio-inner-ring-checked-height, 0);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: var(--terra-form-radio-inner-ring-checked-transition, none);
        width: var(--terra-form-radio-inner-ring-checked-width, 0);
      }
    }

    .native-input + .outer-ring.is-mobile {
      height: var(--terra-form-radio-outer-ring-is-mobile-height, 0);
      margin-top: var(--terra-form-radio-outer-ring-is-mobile-margin-top, 0);
      width: var(--terra-form-radio-outer-ring-is-mobile-width, 0);

      .inner-ring {
        height: var(--terra-form-radio-inner-ring-is-mobile-height, 0);
        width: var(--terra-form-radio-inner-ring-is-mobile-width, 0);
      }
    }

    .native-input:checked + .outer-ring.is-mobile {
      height: var(--terra-form-radio-outer-ring-is-mobile-checked-height, 0);
      margin-top: var(--terra-form-radio-outer-ring-is-mobile-checked-margin-top, 0);
      width: var(--terra-form-radio-outer-ring-is-mobile-checked-width, 0);

      .inner-ring {
        height: var(--terra-form-radio-inner-ring-is-mobile-checked-height, 0);
        width: var(--terra-form-radio-inner-ring-is-mobile-checked-width, 0);
      }
    }

    /* Hide label if isLabelHidden true */
    /* Label still needs to be big enough to house the radio */
    .label.is-hidden {
      cursor: default;
      height: var(--terra-form-radio-label-is-hidden-height, 1rem);
      margin-left: 0;
      width: var(--terra-form-radio-label-is-hidden-width, 1rem);
    }
    /* stylelint-disable max-nesting-depth*/
    .label:not(.is-disabled):hover {
      .native-input + .outer-ring {
        border-color: var(--terra-form-radio-hover-border-color, transparent);
        border-width: var(--terra-form-radio-hover-border-width, 0);
      }

      .native-input:checked + .outer-ring {
        border-color: var(--terra-form-radio-hover-checked-outer-ring-border-color, transparent);
        border-width: var(--terra-form-radio-hover-checked-outer-ring-border-width, 0);
      }
    }

    /* Disabled native radio, label text, and custom radio styling */
    .label.is-disabled {
      cursor: default;

      > .native-input:disabled {
        cursor: default;
      }

      > .label-text {
        color: var(--terra-form-radio-disabled-font-color, #9b9fa1);
        cursor: default;
        opacity: var(--terra-form-radio-disabled-font-opacity, 1);
      }

      > .native-input:disabled + .outer-ring {
        background-color: var(--terra-form-radio-outer-ring-disabled-background-color, transparent);
        background-image: var(--terra-form-radio-outer-ring-disabled-background-image, none);
        border-color: var(--terra-form-radio-outer-ring-disabled-border-color, transparent);
        cursor: default;

        > .inner-ring {
          background-color: var(--terra-form-radio-inner-ring-disabled-background-color, transparent);
          border-color: var(--terra-form-radio-inner-ring-disabled-border-color, transparent);
          box-shadow: none;
        }
      }

      > .native-input:checked:disabled + .outer-ring {
        background-color: var(--terra-form-radio-outer-ring-checked-disabled-background-color, transparent);
        background-image: var(--terra-form-radio-outer-ring-checked-disabled-background-image, none);
        border-color: var(--terra-form-radio-outer-ring-checked-disabled-border-color, transparent);
        cursor: default;

        > .inner-ring {
          background-color: var(--terra-form-radio-inner-ring-checked-disabled-background-color, transparent);
          border-color: var(--terra-form-radio-inner-ring-checked-disabled-border-color, transparent);
          box-shadow: none;
        }
      }
    }
    /* stylelint-enable max-nesting-depth */

    /* Focus custom radio styling */
    .native-input:focus + .outer-ring {
      border-color: var(--terra-form-radio-focus-border-color, #000);
      border-width: var(--terra-form-radio-focus-border-width, 3px);
    }
  }

  /* Large focus ring */
  .native-input:focus ~ .label-text::before {
    background-color: var(--terra-form-radio-focus-before-ring-background-color, transparent);
    border-radius: 50%;
    content: '';
    height: var(--terra-form-radio-focus-before-ring-height, 0);
    left: var(--terra-form-radio-focus-before-ring-left, auto);
    position: absolute;
    top: var(--terra-form-radio-focus-before-ring-top, auto);
    width: var(--terra-form-radio-focus-before-ring-width, 0);
    z-index: -1;
  }

  .radio.is-inline {
    display: inline-block;
    margin-right: var(--terra-form-radio-inline-container-margin-right, 1.42857rem);
  }
}
/* stylelint-enable */
