:local {
  .image-container,
  .image-container-reduced-width,
  .image-container-reduced-height {
    background-color: #ffe4c4;
  }

  .image-container {
    height: 200px;
    width: 200px;
  }

  .image-container-reduced-width {
    height: 200px;
    width: 100px;
  }

  .image-container-reduced-height {
    height: 100px;
    margin-bottom: 100px;
    width: 200px;
  }
}
