:local {
  .testing-component {
    font-size: var(--terra-font-size, 1.5em);
    color: var(--terra-color, #000);
    background-color: var(---terra-background-color, #000);
    margin: 0.357em;
  }
}
