// Variables
// ==========================

$terra-bidi: true;
$demographics-background: #004c76;
$demographics-foreground: #fff;
$demographics-background-deceased: #1c1f21;
$demographics-foreground-deceased: #fff;
