// Variables
// ==========================

:root {
  --terra-demographics-banner-background: #004c76;
  --terra-demographics-banner-foreground: #fff;
  --terra-demographics-banner-background-deceased: #1c1f21;
  --terra-demographics-banner-foreground-deceased: #fff;
}
