// Variables
// ==========================

:root {
  --terra-demographicsBanner-background: #004c76;
  --terra-demographicsBanner-foreground: #fff;
  --terra-demographicsBanner-background-deceased: #1c1f21;
  --terra-demographicsBanner-foreground-deceased: #fff;
}
