//Themes
@import './clinical-lowlight-theme/DemographicsBanner.module';
@import './orion-fusion-theme/DemographicsBanner.module';

:local {
  .demographics-banner {
    background-clip: border-box;
    background-color: var(--terra-demographics-banner-background-color, #004c76);
    background-image: var(--terra-demographics-banner-background-image);
    box-shadow: var(--terra-demographics-banner-box-shadow);
    color: var(--terra-demographics-banner-color, #fff);
    line-height: 1;
    padding: var(--terra-demographics-banner-padding, 0.714em);
  }

  .profile-photo,
  .profile-avatar {
    flex-shrink: 0;
    height: var(--terra-demographics-banner-profile-photo-height, 3.5714em);
    margin: var(--terra-demographics-banner-profile-photo-margin);
    width: var(--terra-demographics-banner-profile-photo-width, 3.5714em);
  }

  .value {
    display: inline-block;
    margin-right: var(--terra-demographics-banner-value-margin-right, 0.357em);
    margin-top: var(--terra-demographics-banner-value-margin-top);

    &:last-child {
      margin-right: 0;
    }
  }

  .value-text {
    font-weight: var(--terra-demographics-banner-value-text-font-weight, bold);
  }

  .value-label {
    margin-right: 0.357em;
  }

  .confidential-icon {
    display: flex;
    flex-shrink: 0;
    font-size: 1.143rem;
    margin-right: 0.5rem;
  }

  .person-name {
    flex: 2;
    font-size: 1.143rem;
    line-height: 1;
    margin: 0;
    padding-bottom: 0.2rem;
  }

  .identifiers {
    flex: 1;
    margin-right: auto;
  }

  .person-details {
    flex: 1;
    margin-top: var(--terra-demographics-banner-person-details-margin-top);
  }

  .preferred-first-name {
    margin: 0 0.357em;

    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }

  .deceased {
    background-clip: border-box;
    background-color: var(--terra-demographics-banner-deceased-background-color, #1c1f21);
    background-image: var(--terra-demographics-banner-deceased-background-image);
    color: var(--terra-demographics-banner-deceased-color, #fff);

    .profile-photo {
      opacity: var(--terra-demographics-banner-deceased-profile-photo-opacity, 0.7);
    }
  }

  .abbreviation {
    text-decoration: none;
  }

  .row {
    display: flex;
  }

  .content {
    flex-grow: 1;
    margin: var(--terra-demographics-banner-content-margin, auto 0.714em);
  }

  .small-content {
    flex-grow: 1;
    margin: var(--terra-demographics-banner-content-margin, auto 0.714em);
    margin-left: 0;
  }

  .application-content {
    flex: 1;
    margin-right: auto;
    margin-top: var(--terra-demographics-banner-application-content-margin-top);
    padding-bottom: 0.2rem;
  }

  .large-demographics-banner {
    box-shadow: var(--terra-demographics-banner-large-box-shadow);
    display: flex;
    flex-direction: row;
    padding: var(--terra-demographics-banner-large-padding, 0.714em);

    .application-content {
      margin-top: 0;
      text-align: right;
    }

    .person-name {
      font-size: var(--terra-demographics-banner-large-person-name-font-size, 1.286rem);
    }

    .identifiers {
      text-align: right;
    }
  }

  .is-selectable {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
  }

  .info-tile-container {
    display: flex;

    .divider {
      border-color: var(--terra-demographics-banner-divider-border-color, #dedfe0);
      border-style: solid;
      border-width: var(--terra-demographics-banner-divider-border-width, 0 0 0 1px);
    }
  
    .info-tile {
      border: 0;
      margin: var(--terra-demographics-banner-info-tile-margin, auto 0 auto 0.714em);
    }

    .info-text,
    .info-icon {
      color: var(--terra-demographics-banner-color, #fff);
      display: block;
      padding: var(--terra-demographics-banner-info-tile-content-padding, 0.3rem 0);
      text-align: center;
    }
  }
}
