:local {
  .demographics-banner {
    background: var(--terra-demographics-banner-background, #004c76);
    color: var(--terra-demographics-banner-foreground, #fff);
    line-height: 1;
    padding: 0.714em;
  }

  .value {
    display: inline-block;
    margin-right: 0.357em;

    &:last-child {
      margin-right: 0;
    }
  }

  .value-text {
    font-weight: var(--terra-demographics-banner-value-text-font-weight, bold);
  }

  .value-label {
    margin-right: 0.357em;
  }

  .person-name {
    flex: 2;
    font-size: 1.143rem;
    line-height: 1;
    margin: 0;
  }

  .identifiers {
    flex: 1;
    margin-right: auto;
  }

  .person-details {
    flex: 1;
  }

  .preferred-first-name {
    margin: 0 0.357em;

    &::before,
    &::after {
      content: '"';
    }
  }

  .deceased {
    background: var(--terra-demographics-banner-background-deceased, #1c1f21);
    color: var(--terra-demographics-banner-foreground-deceased, #fff);

    .profile-photo {
      opacity: 0.7;
    }
  }

  .abbreviation {
    text-decoration: none;
  }

  .row {
    display: flex;
  }

  .content {
    flex-grow: 1;
    margin: auto 0.714em;
  }

  .application-content {
    flex: 1;
    margin-right: auto;
  }

  .large-demographics-banner {
    display: flex;
    flex-direction: row;

    .application-content {
      text-align: right;
    }

    .person-name {
      font-size: 1.286rem;
    }

    .identifiers {
      text-align: right;
    }
  }
}
