/* stylelint-disable selector-class-pattern  */
:local {
  .demographics-banner {
    background: var(--terra-demographics-banner-background, #004c76);
    color: var(--terra-demographics-banner-foreground, #fff);
    padding: 0.714em;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }
  }

  .value {
    display: inline-flex;
    margin-right: 0.357em;

    &:last-child {
      margin-right: 0;
    }
  }

  .value-label {
    margin-right: 0.357em;
  }

  .person-name {
    flex: 2;
    margin: 0;
  }

  .identifiers {
    flex: 1;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      text-align: right;
    }
  }

  .person-details {
    flex: 1;
  }

  .preferred-first-name {
    margin: 0 0.357em;

    &::before,
    &::after {
      content: '"';
    }
  }

  .deceased {
    background: var(--terra-demographics-banner-background-deceased, #1c1f21);
    color: var(--terra-demographics-banner-foreground-deceased, #fff);

    .profile-photo {
      opacity: 0.7;
    }
  }

  .row {
    display: flex;
  }

  .content {
    flex-grow: 1;
    margin: auto 0.714em;
  }

  .application-content {
    flex: 1;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      text-align: right;
    }
  }
}
