@import '~terra-mixins/lib/Mixins';
@import './clinical-lowlight-theme/DemographicsBanner.module';
@import './orion-fusion-theme/DemographicsBanner.module';

:local {
  .demographics-banner {
    background-clip: border-box;
    background-color: var(--terra-demographics-banner-background-color, #0065a3);
    background-image: var(--terra-demographics-banner-background-image);
    box-shadow: var(--terra-demographics-banner-box-shadow);
    color: var(--terra-demographics-banner-color, #fff);
    line-height: 1;
    padding: var(--terra-demographics-banner-padding, 0.714em 0 0.714em 0.714em);
  }

  .profile-photo {
    flex-shrink: 0;
    height: var(--terra-demographics-banner-profile-photo-height, 3.5714em);
    margin: var(--terra-demographics-banner-profile-photo-margin);
    width: var(--terra-demographics-banner-profile-photo-width, 3.5714em);
  }

  .value {
    display: inline-block;
    margin-right: var(--terra-demographics-banner-value-margin-right, 0.357em);
    margin-top: var(--terra-demographics-banner-value-margin-top);

    &:last-child {
      margin-right: 0;
    }
  }

  .value-text {
    font-weight: var(--terra-demographics-banner-value-text-font-weight, bold);
  }

  .value-label {
    margin-right: 0.357em;
  }

  .confidential-icon {
    display: inline-flex;
    flex-shrink: 0;
    font-size: 1.143rem;
    margin-right: 0.5rem;
  }

  .person-name {
    flex: 2;
    font-size: 1.143rem;
    line-height: 1;
    margin: 0;
    padding-bottom: 0.2rem;
  }

  .identifiers {
    flex: 1;
    margin-right: auto;
  }

  .person-details {
    flex: 1;
    margin-top: var(--terra-demographics-banner-person-details-margin-top);
  }

  .preferred-first-name {
    margin: 0 0.357em;

    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }

  .deceased {
    background-clip: border-box;
    background-color: var(--terra-demographics-banner-deceased-background-color, #2d3539);
    background-image: var(--terra-demographics-banner-deceased-background-image);
    color: var(--terra-demographics-banner-deceased-color, #fff);

    .profile-photo {
      opacity: var(--terra-demographics-banner-deceased-profile-photo-opacity, 0.7);
    }
    
    .info-tile-container {
      box-shadow: var(--terra-demographics-banner-deceased-info-tile-container-box-shadow, inset 1px 0 0 0 rgba(0, 0, 0, 0.8), inset 2px 0 0 0 rgba(255, 255, 255, 0.3));
    }
  }

  .abbreviation {
    text-decoration: none;
  }

  .content {
    display: flex;
    flex-grow: 1;
    margin: var(--terra-demographics-banner-content-margin, auto 0.714em);
  }

  .small-content {
    flex-grow: 1;
    margin: var(--terra-demographics-banner-content-margin, auto 0.714em);
    margin-left: 0;
  }

  .column {
    display: inline-block;
    flex-grow: 1;
  }

  .application-content {
    flex: 1;
    margin-right: auto;
    margin-top: var(--terra-demographics-banner-application-content-margin-top);
    padding-bottom: 0.2rem;
  }

  .large-demographics-banner {
    box-shadow: var(--terra-demographics-banner-large-box-shadow);
    display: flex;
    flex-direction: row;
    padding: var(--terra-demographics-banner-large-padding, 0.714em 0 0.714em 0.714em);

    .application-content {
      margin-left: 0.714em;
      margin-top: 0;
      text-align: right;
    }

    .person-name {
      font-size: var(--terra-demographics-banner-large-person-name-font-size, 1.286rem);
    }

    .identifiers {
      margin-left: 0.714em;
      text-align: right;
    }
  }

  .sex-mismatch-icon {
    background-image: var(--terra-demographics-banner-sex-mismatch-icon-background-image, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#FFF" d="M24 0C10.7 0 0 10.8 0 24c0 13.3 10.7 24 24 24s24-10.7 24-24S37.3 0 24 0zm2.7 36.8l-.2 1.7c-4.4 3-10.7 2.1-8.1-5.1 1-2.7 4.5-7.8 3.5-10.7-.4-1.2-1.8-1.2-3.2-.7l.2-1.6c2.4-1.7 5.4-2.6 7.6-1.2 3.9 2.5-1.7 11.7-2.4 13.5-1.4 3.8.3 4.7 2.6 4.1zM26.5 15c-1.9 0-3.5-1.6-3.5-3.5S24.6 8 26.5 8 30 9.6 30 11.5 28.4 15 26.5 15z"/></svg>'));
    background-repeat: no-repeat;
    display: inline-flex;
    height: var(--terra-demographics-banner-sex-mismatch-icon-height, 1em);
    margin-left: auto;
    margin-right: var(--terra-demographics-banner-sex-mismatch-icon-margin-right, 0.357em);
    margin-top: var(--terra-demographics-banner-sex-mismatch-icon-margin-top);
    width: var(--terra-demographics-banner-sex-mismatch-icon-width, 1em);
  }

  .is-selectable {
    cursor: pointer;
    display: flex;
    flex-direction: row;

    &:focus {
      outline: none;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--terra-demographics-banner-hover-background-color, #007bbd);
        color: var(--terra-demographics-banner-hover-color, #fff);
      }

      &.deceased:hover {
        background-color: var(--terra-demographics-banner-deceased-hover-background-color, #595f62);
        color: var(--terra-demographics-banner-deceased-hover-color, #fff);
      }
    }

    &.is-active {
      background-color: var(--terra-demographics-banner-active-background-color, rgba(3, 43, 70, 0.4));
      color: var(--terra-demographics-banner-active-color, rgba(255, 255, 255, 0.5));

      .info-icon {
        background-image: var(--terra-demographics-banner-info-icon-active-background-image, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="rgba(255, 255, 255, 0.5)" d="M24 0C10.7 0 0 10.8 0 24c0 13.3 10.7 24 24 24s24-10.7 24-24S37.3 0 24 0zm2.7 36.8l-.2 1.7c-4.4 3-10.7 2.1-8.1-5.1 1-2.7 4.5-7.8 3.5-10.7-.4-1.2-1.8-1.2-3.2-.7l.2-1.6c2.4-1.7 5.4-2.6 7.6-1.2 3.9 2.5-1.7 11.7-2.4 13.5-1.4 3.8.3 4.7 2.6 4.1zM26.5 15c-1.9 0-3.5-1.6-3.5-3.5S24.6 8 26.5 8 30 9.6 30 11.5 28.4 15 26.5 15z"/></svg>'));
      }

      .sex-mismatch-icon {
        background-image: var(--terra-demographics-banner-sex-mismatch-icon-active-background-image, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="rgba(255, 255, 255, 0.5)" d="M24 0C10.7 0 0 10.8 0 24c0 13.3 10.7 24 24 24s24-10.7 24-24S37.3 0 24 0zm2.7 36.8l-.2 1.7c-4.4 3-10.7 2.1-8.1-5.1 1-2.7 4.5-7.8 3.5-10.7-.4-1.2-1.8-1.2-3.2-.7l.2-1.6c2.4-1.7 5.4-2.6 7.6-1.2 3.9 2.5-1.7 11.7-2.4 13.5-1.4 3.8.3 4.7 2.6 4.1zM26.5 15c-1.9 0-3.5-1.6-3.5-3.5S24.6 8 26.5 8 30 9.6 30 11.5 28.4 15 26.5 15z"/></svg>'));
      }
    }

    &.deceased.is-active {
      background-color: var(--terra-demographics-banner-deceased-active-background-color, #40474a);
    }
  }

  .info-tile-container {
    align-items: center;
    box-shadow: var(--terra-demographics-banner-info-tile-container-box-shadow, inset 1px 0 0 0 #014a79, inset 2px 0 0 0 rgba(59, 156, 213, 0.6));
    display: flex;
    justify-content: center;

    &:focus {
      box-shadow: var(--terra-demographics-banner-focus-box-shadow, none);
      outline: var(--terra-demographics-banner-focus-outline, 2px dashed #fff);
      outline-offset: var(--terra-demographics-banner-focus-outline-offset, -3px);
    }

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    .info-tile {
      margin: var(--terra-demographics-banner-info-tile-margin, auto 0.714rem auto 0.714rem);
      padding: var(--terra-demographics-banner-info-tile-padding, 0.35714rem);
    }

    .info-text,
    .info-icon {
      display: block;
      text-align: center;
    }

    .info-icon {
      background-image: var(--terra-demographics-banner-info-icon-background-image, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#FFF" d="M24 0C10.7 0 0 10.8 0 24c0 13.3 10.7 24 24 24s24-10.7 24-24S37.3 0 24 0zm2.7 36.8l-.2 1.7c-4.4 3-10.7 2.1-8.1-5.1 1-2.7 4.5-7.8 3.5-10.7-.4-1.2-1.8-1.2-3.2-.7l.2-1.6c2.4-1.7 5.4-2.6 7.6-1.2 3.9 2.5-1.7 11.7-2.4 13.5-1.4 3.8.3 4.7 2.6 4.1zM26.5 15c-1.9 0-3.5-1.6-3.5-3.5S24.6 8 26.5 8 30 9.6 30 11.5 28.4 15 26.5 15z"/></svg>'));
      background-repeat: no-repeat;
      height: var(--terra-demographics-banner-info-icon-height, 1.28571rem);
      margin-left: auto;
      margin-right: auto;
      margin-top: var(--terra-demographics-banner-info-icon-margin-top, 0.35714rem);
      width: var(--terra-demographics-banner-info-icon-width, 1.28571rem);
    }
  }
}
