@import '~terra-mixins';
@import './variables';

.terra-DemographicsBanner {
  background: $demographics-background;
  color: $demographics-foreground;
  margin-bottom: 0.714em;
  padding: 0.714em;

  @media screen and (min-width: $terra-small-breakpoint) {
    display: flex;
    flex-direction: row;
  }
}

.terra-DemographicsBanner-value {
  display: inline-flex;

  @if $terra-bidi {
    [dir='ltr'] & {
      margin-right: 0.357em;

      &:last-child {
        margin-right: 0;
      }
    }

    [dir='rtl'] & {
      margin-left: 0.357em;

      &:last-child {
        margin-left: 0;
      }
    }
  }
  @else {
    margin-right: 0.357em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.terra-DemographicsBanner-value-label {
  @include terra-margin-end(0.357em);
}

.terra-DemographicsBanner-person-name {
  flex: 2;
  margin: 0;
}

.terra-DemographicsBanner-identifiers {
  @include terra-margin-start(auto); 

  flex: 1;

  @media screen and (min-width: $terra-small-breakpoint) {
    @include terra-text-align-end();
  }
}

.terra-DemographicsBanner-person-details {
  flex: 1;
}

.terra-DemographicsBanner-preferred-first-name {
  margin: 0 0.357em;

  &::before,
  &::after {
    content: '"';
  }
}

.terra-DemographicsBanner--deceased {
  background: $demographics-background-deceased;
  color: $demographics-foreground-deceased;

  .terra-DemographicsBanner-profile-photo {
    opacity: 0.7;
  }
}

.terra-DemographicsBanner-row {
  display: flex;
}

.terra-DemographicsBanner-content {
  flex-grow: 1;
  margin: auto 0.714em;
}

.terra-DemographicsBanner-application-content {
  @include terra-margin-start(auto); 

  flex: 1;

  @media screen and (min-width: $terra-small-breakpoint) {
    @include terra-text-align-end();
  }
}
