:local {
  .image-wrapper {
    display: block;
  }

  .arrange-wrapper {
    background-color: #dedede;
    border: 1px solid #000;
    margin-bottom: 10px;
    width: 100%;
  }

  .icon-wrapper {
    background-color: #ff5722;
  }
}
