:local {
  .overlay {
    background-color: var(--terra-modal-overlay-background-color, rgba(0, 0, 0, 0.4));
    bottom: 0;
    left: 0;
    opacity: var(--terra-modal-overlay-opacity, auto);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 6000;
  }
}
