// Title Component Mixins
// ====================================================

// Mixin to generate terra-Title-{breakpoint} classes for font-size
@mixin terra-title-font-size-class($font-sizes) {
  @each $title-class, $font-size in $font-sizes {
    #{$title-class} {
      font-size: #{$font-size}rem;
    }
  }
}

// Mixin for base horizontal styles
@mixin terra-title-horizontal-styles {
  display: table-cell;
}

// Mixin for base vertical styles
@mixin terra-title-vertical-styles {
  display: block;
}
