:local {
  .container {
    background: #f08080;
    height: 250px;
    position: relative;
    width: 250px;
  }

  .top-left {
    left: 0;
    position: absolute;
    top: 0;
  }

  .top-right {
    position: absolute;
    right: 0;
    top: 0;
  }

  .bottom-left {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .bottom-right {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}
