@import '~terra-mixins';

@include cerner-consumer-theme {
  --terra-select-focus-animation-background: linear-gradient(to bottom, #396ee5, #396ee5);
  --terra-select-focus-background-start: 0 2px;
  --terra-select-input-border-color: rgba(134, 138, 140, 0.4);
  --terra-select-font-family: Roboto;
  --terra-select-font-size: 1.286em;
  --terra-select-line-height: 1.28;
  --terra-select-input-padding: 0.222em 0.667em 0.278em 0.333em;
  --terra-select-focus-transition-duration: 0.2s;
  --terra-select-focus-animation-size: 100% 2px;
  --terra-select-disabled-background-color: #e7e8e8;
  --terra-select-disabled-border-color: #b8b9ba;
  --terra-select-input-hover-border-color: #396ee5;
  --terra-select-input-focus-border-color: #396ee5;
  --terra-select-keyboard-focus-box-shadow: none;
  --terra-select-invalid-focus-animation-background: linear-gradient(to bottom, #ff0b0f, #ff0b0f);
  --terra-select-invalid-focus-animation-size: 100% 2px;
  --terra-select-invalid-focus-border-color: #ff0b0f;
  --terra-select-invalid-border-color: #ff0b0f;
  --terra-select-invalid-arrow-color: #ff0b0f;
  --terra-select-invalid-hover-border-color: #ff0b0f;
  --terra-select-disabled-arrow-color: #888a8c;
  --terra-select-arrow-color: #396ee5;
  --terra-select-default-option-color: #888a8c;
  --terra-select-default-option-font-style: normal;
  --terra-select-input-text-color: #383f42;
  --terra-select-disabled-font-color: #868a8c;
  --terra-select-menu-background-color: #fff;
  --terra-select-menu-bottom-padding: 0.214em;
  --terra-select-menu-border-raidus: 3px;
  --terra-select-menu-box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.5);
  --terra-select-option-font-color: rgba(41, 45, 48, 0.9);
  --terra-select-option-font-size: 1em;
  --terra-select-option-font-family: Roboto;
  --terra-select-option-selected-color: #396ee5;
  --terra-select-option-selected-font-color: #fff;
  --terra-select-option-selected-font-weight: bold;
  --terra-select-option-hover-color: rgba(57, 110, 229, 0.2);
  --terra-select-option-padding: 0.286em 0.714em;
}

@include cerner-clinical-theme {
  --terra-select-focus-animation-background: linear-gradient(to bottom, #4a90e2, #4a90e2);
  --terra-select-focus-background-start: 0 2px;
  --terra-select-input-border-color: #4a90e2;
  --terra-select-font-family: Roboto;
  --terra-select-font-size: 1em;
  --terra-select-line-height: 1.07;
  --terra-select-input-padding: 0.571em 0.714em 0.571em 0.5em;
  --terra-select-focus-transition-duration: 0.2s;
  --terra-select-focus-animation-size: 100% 2px;
  --terra-select-disabled-background-color: rgba(0, 0, 0, 0.05);
  --terra-select-disabled-border-color: #a2c2e1;
  --terra-select-input-hover-border-color: #2f93e3;
  --terra-select-input-focus-border-color: #2f93e3;
  --terra-select-keyboard-focus-box-shadow: none;
  --terra-select-invalid-focus-animation-background: linear-gradient(to bottom, #ec4c4c, #ec4c4c);
  --terra-select-invalid-focus-animation-size: 100% 2px;
  --terra-select-invalid-focus-border-color: #ec4c4c;
  --terra-select-invalid-border-color: #ec4c4c;
  --terra-select-invalid-arrow-color: #ec4c4c;
  --terra-select-invalid-hover-border-color: #ec4c4c;
  --terra-select-disabled-arrow-color: #868a8c;
  --terra-select-arrow-color: #4a90e2;
  --terra-select-default-option-color: rgba(0, 0, 0, 0.4);
  --terra-select-default-option-font-style: italic;
  --terra-select-input-text-color: #000;
  --terra-select-disabled-font-color: rgba(0, 0, 0, 0.4);
  --terra-select-menu-background-color: #fff;
  --terra-select-menu-bottom-padding: 0.214em;
  --terra-select-menu-border-raidus: 3px;
  --terra-select-menu-box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.5);
  --terra-select-option-font-color: rgba(0, 0, 0, 0.9);
  --terra-select-option-font-size: 1em;
  --terra-select-option-font-family: Roboto;
  --terra-select-option-selected-color: #396ee5;
  --terra-select-option-selected-font-color: #8bc2f9;
  --terra-select-option-selected-font-weight: normal;
  --terra-select-option-hover-color: rgba(139, 194, 249, 0.3);
  --terra-select-option-padding: 0.286em 0.714em;
}

@include cerner-fusion-theme {
  --terra-select-focus-animation-background: none;
  --terra-select-focus-background-start: 0 0;
  --terra-select-disabled-background-color: #fff;
  --terra-select-disabled-border-color: #dedfe0;
  --terra-select-input-hover-border-color: #dedfe0;
  --terra-select-focus-animation-size: 0 0;
  --terra-select-input-focus-border-color: #4a90e2;
  --terra-select-invalid-focus-animation-background: none;
  --terra-select-invalid-border-color: #dedfe0;
  --terra-select-invalid-hover-border-color: #dedfe0;
  --terra-select-invalid-focus-animation-size: 0 0;
  --terra-select-invalid-focus-border-color: #dedfe0;
  --terra-select-focus-box-shadow: 0 0 1px 2px #4a90e2;
  --terra-select-keyboard-focus-box-shadow: 0 0 1px 2px #4a90e2;
  --terra-select-input-border-color: #dedfe0;
  --terra-select-font-family: Tahoma;
  --terra-select-font-size: 0.857em;
  --terra-select-line-height: 1.25;
  --terra-select-input-padding: 0.214em 0.571em;
  --terra-select-focus-transition-duration: 0s;
  --terra-select-invalid-arrow-color: #2d3539;
  --terra-select-arrow-color: #2d3539;
  --terra-select-default-option-color: #8e8e8e;
  --terra-select-default-option-font-style: normal;
  --terra-select-input-text-color: #2d3539;
  --terra-select-disabled-font-color: #2d3539;
  --terra-select-menu-background-color: #fff;
  --terra-select-menu-border-raidus: 0;
  --terra-select-menu-box-shadow: none;
  --terra-select-option-hover-color: rgba(57, 110, 229, 0.2);
  --terra-select-option-selected-color: #396ee5;
  --terra-select-option-selected-font-color: #fff;
  --terra-select-option-selected-font-weight: normal;
}
