:local {
  .option {
    background-color: rgba(0, 0, 0, 0);
    color: var(--terra-select-option-font-color, rgba(0, 0, 0, 0.9));
    cursor: pointer;
    font-size: var(--terra-select-option-font-size, 1.143rem);
    line-height: var(--terra-select-option-line-height, 1.125);
    padding: var(--terra-select-option-padding, 0.286rem 0.714rem);


    &.is-disabled {
      cursor: default;
      opacity: 0.25;
      outline: 0;

      &:hover {
        background-color: rgba(0, 0, 0, 0);
      }
    }

    &.is-selected {
      background-color: var(--terra-select-option-selected-color, #007cc3);
      color: var(--terra-select-option-selected-font-color, #fff);
      font-weight: var(--terra-select-option-selected-font-weight, normal);

      &:hover,
      &:focus {
        background-color: var(--terra-select-option-selected-color, #007cc3);
      }
    }

    &:hover,
    &:focus {
      background-color: var(--terra-select-option-hover-color, #ebf6fd);
      outline: none;
    }
  }
}
