:root {
  --terra-Base-backgroundColor: #fff;
  --terra-Base-color: #1c1f21;
  --terra-Base-fontSize: 87.5%; // scales with browser settings, equivalent to 14px
  --terra-Base-fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
