:root {
  --terra-base-background-color: #fff;
  --terra-base-color: #1c1f21;
  --terra-base-font-size: 87.5%; // scales with browser settings, equivalent to 14px
  --terra-base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
