@import '~terra-mixins';
@import './themes';

// Normalize box-sizing.
// More info: https://css-tricks.com/box-sizing/#article-header-id-6
html {
  box-sizing: border-box;
  font-family: var(--terra-base-font-family, 'Helvetica Neue', Helvetica, Arial, sans-serif);
  font-size: var(--terra-base-font-size, 87.5%);
  height: var(--terra-base-html-height, 100%);
  margin: var(--terra-base-html-margin, 0);
  text-size-adjust: 100%;
}

body {
  background-color: var(--terra-base-background-color, #fff);
  color: var(--terra-base-color, #1c1f21);
  font-size: 1rem;
  height: var(--terra-base-body-height, 100%);
  line-height: var(--terra-base-line-height, 1.4285714285714286);
  margin: var(--terra-base-body-margin, 0);

  @media print {
    background-color: transparent !important;
    color: #000 !important;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10. */
  color: var(--terra-link-color, #0065a3);
  outline: none;
  text-decoration: underline;
}

// stylelint-disable selector-no-qualifying-type
a:visited,
a.is-visited {
  color: var(--terra-link-visted-color, #0065a3);
}

a:hover,
a.is-hovered {
  color: var(--terra-link-hover-color, #004c76);
}

a:focus,
a.is-focused {
  background-color: var(--terra-link-focus-background-color, transparent);
  border-radius: var(--terra-link-focus-border-radius, 0.2142rem);
  box-shadow: var(--terra-link-focus-box-shadow, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35));
  color: var(--terra-link-focus-color, #004c76);
}

a:active,
a.is-active {
  color: var(--terra-link-active-color, #004c76);
}
// stylelint-enable selector-no-qualifying-type
