@import './variables';

// Normalize box-sizing.
// More info: https://css-tricks.com/box-sizing/#article-header-id-6
html {
  box-sizing: border-box;
  font-family: var(--terra-base-font-family);
  font-size: var(--terra-base-font-size);
  height: 100%;
  margin: 0;
  text-size-adjust: 100%;
}

body {
  background-color: var(--terra-base-background-color);
  color: var(--terra-base-color);
  font-size: 1rem;
  line-height: 1;
  margin: 0;

  @media print {
    background-color: transparent !important;
    color: #000 !important;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Reset margins, paddings, borders.
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
dl,
dt,
dd,
ol,
ul,
li {
  border: 0;
  margin: 0;
  padding: 0;
}

// Reset default list style.
ol,
ul {
  list-style: none;
}
