:local {
  .cell-grid {
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;

    > * {
      border-right: 1px solid transparent;

      &:last-of-type {
        border-right: 0;
      }
    }
  }

  .divider-horizontal,
  .divider-both {
    > * {
      border-right: var(--terra-cell-grid-cell-border-right, 1px solid #ccc);

      &:last-of-type {
        border-right: 0;
      }
    }
  }

  .divider-vertical,
  .divider-both {
    border-top: var(--terra-cell-grid-row-border-top, 1px solid #dedfe0);

    &:last-of-type {
      border-bottom: var(--terra-cell-grid-row-border-bottom, 1px solid #dedfe0);
    }
  }

  // Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
  @media print {
    .cell-grid {
      page-break-inside: avoid; // stylelint-disable-line plugin/no-unsupported-browser-features
    }
  }
}
