:local {
  .clinical-lowlight-theme {
    --terra-status-attention-border-left-color: #f00;
    --terra-status-success-border-left-color: #0f0;
    --terra-status-info-border-left-color: rgb(0, 0, 255);
  }
}
