:global {
  --terra-toolbar-background-color: #e8e9ea;
  --terra-toolbar-border-bottom-color: #64696c;
  --terra-toolbar-padding-bottom: 0.5rem;
  --terra-toolbar-padding-left: 0.5rem;
  --terra-toolbar-padding-right: 0.5rem;
  --terra-toolbar-padding-top: 0.5rem;
  --terra-toolbar-item-margin-right: 0.5rem;
}
