:local {
  .clinical-lowlight-theme {
    --terra-docs-notice-deprecation-background-color: #353224;
    --terra-docs-notice-deprecation-border-color: #C98F54;
    --terra-docs-notice-deprecation-color: #B2B5B6;
  }
}
