:local {
  .clinical-lowlight-theme {
    --terra-docs-notice-deprecation-background-color: #483f31;
    --terra-docs-notice-deprecation-border-color: #a36529;
    --terra-docs-notice-deprecation-color: #b2b5b6;

    --terra-docs-notice-maintenance-background-color: #223225;
    --terra-docs-notice-maintenance-border-color: #406c23;
    --terra-docs-notice-maintenance-color: #b2b5b6;
  }
}
