:local {
  .clinical-lowlight-theme {
    --terra-docs-placeholder-inner-border-color: rgba(223, 224, 224, 0.76);
    --terra-docs-placeholder-inner-color: #b2b5b6;
    --terra-docs-placeholder-inner-title-background-color: #1c2326;
    --terra-docs-placeholder-inner-title-border-color: rgba(28, 35, 38, 0.5);
  }
}
