.terra-test-class-arrow::after {
  border-top-color: #008000 !important;
}

.terra-test-class-content {
  background-color: #ff0;
}

.terra-test-class-overlay {
  background-color: #ffc0cb;
  opacity: 0.2;
}
