// Themes
@import '../orion-fusion-theme/Cell.module';
@import '../clinical-lowlight-theme/Cell.module';

:local {
  .cell {
    border-bottom: var(--cell-border-bottom, 1px solid #dedfe0);
    border-right: var(--cell-border-right, 1px solid #dedfe0);
    font-weight: normal;
    padding: var(--cell-content-padding, 7px);
    position: relative;

    &:first-child {
      border-left: var(--cell-border-left, 1px solid #dedfe0);
    }
  }

  // Create gradient background for masked cells
  .masked {
    background: var(--mask-background, repeating-linear-gradient(-45deg, #dedfe0, #dedfe0 3px, transparent 3px, transparent 6px));
  }

  .cell-content {
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: left;

    // Blank and masked cell styles
    .no-data-cell {
      // Text is transparent so that it is only visible to screen readers
      color: transparent;
    }
  }

  .pinned {
    background-color: inherit;
    position: sticky;
    z-index: 1;
  }
}
