@import '~terra-mixins/lib/Mixins';

:local {
  .clinical-lowlight-theme {
    // Pill
    --terra-pills-pill-container-background-color: #1d2427;
    --terra-pills-pill-container-border-color: #525659;
    --terra-pills-pill-container-border-style: solid;
    --terra-pills-pill-container-border-radius: 2rem;
    --terra-pills-pill-container-border-width: 1px;
    --terra-pills-pill-container-margin: 0.35714rem;
    --terra-pills-pill-container-max-width-inset: 0.35714rem;
    --terra-pills-pill-container-focus-border-color: #525659;
    --terra-pills-pill-container-focus-border-width: 1px;
    --terra-pills-pill-container-focus-box-shadow: none;
    --terra-pills-pill-container-focus-outline: 2px dashed #fff;
    --terra-pills-pill-container-focus-outline-offset: 2px;
    --terra-pills-pill-container-selectable-hover-border-color: #525659;
    --terra-pills-pill-container-selectable-active-border-color: #525659;
    --terra-pills-pill-container-selectable-removable-hover-border-color: #525659;
    --terra-pills-pill-container-selectable-removable-active-border-color: #525659;

    --terra-pills-pill-label-background-color: transparent;
    --terra-pills-pill-label-color: #b2b5b6;
    --terra-pills-pill-label-font-size: 0.85714rem;
    --terra-pills-pill-label-line-height: 1.25;
    --terra-pills-pill-label-padding-bottom: 0.21428rem;
    --terra-pills-pill-label-padding-left: 0.64285rem;
    --terra-pills-pill-label-padding-right: 0.64285rem;
    --terra-pills-pill-label-padding-top: 0.28571rem;
    --terra-pills-pill-label-selectable-hover-background-color: #111619;
    --terra-pills-pill-label-selectable-active-background-color: #0c0d0e;
    --terra-pills-pill-label-selectable-active-color: #9b9b9b;
    --terra-pills-pill-label-padding-right-removable: 0.5rem;
    --terra-pills-pill-label-selectable-removable-hover-background-color: #0c0d0e;
    --terra-pills-pill-label-selectable-removable-hover-box-shadow: inset -1px 0 0 0 #525659;
    --terra-pills-pill-label-selectable-removable-hover-color: #9b9b9b;
    --terra-pills-pill-label-selectable-removable-active-background-color: #000;
    --terra-pills-pill-label-selectable-removable-active-box-shadow: inset -1px 0 0 0 #525659;
    --terra-pills-pill-label-selectable-removable-active-color: #9b9b9b;

    --terra-pills-pill-remove-button-background-color: #1d2427;
    --terra-pills-pill-remove-button-box-shadow: -4px 0 0 -3px #3b4245;
    --terra-pills-pill-remove-button-color: #b2b5b6;
    --terra-pills-pill-remove-button-hover-background-color: #0c0d0e;
    --terra-pills-pill-remove-button-hover-box-shadow: -1px 0 0 0 #525659;
    --terra-pills-pill-remove-button-hover-color: #9b9b9b;
    --terra-pills-pill-remove-button-background-active-color: #000;
    --terra-pills-pill-remove-button-active-box-shadow: -1px 0 0 0 #525659;
    --terra-pills-pill-remove-button-active-color: #9b9b9b;

    // Clear Icon
    --terra-pills-clear-icon-height: 0.75rem;
    --terra-pills-clear-icon-margin-left: 0.3928571429rem;
    --terra-pills-clear-icon-margin-right: 0.6428571429rem;
    --terra-pills-clear-icon-width: 0.75rem;

    //Roll Up Pill
    --terra-pills-roll-up-pill-background-color: #1d2427;
    --terra-pills-roll-up-pill-border-color: #525659;
    --terra-pills-roll-up-pill-border-radius: 2rem;
    --terra-pills-roll-up-pill-border-width: 1px;
    --terra-pills-roll-up-pill-color: #b2b5b6;
    --terra-pills-roll-up-pill-font-size: 0.85714rem;
    --terra-pills-roll-up-pill-line-height: 1.25;
    --terra-pills-roll-up-pill-margin: 0.35714rem;
    --terra-pills-roll-up-pill-padding-bottom: 0.21428rem;
    --terra-pills-roll-up-pill-padding-left: 0.64285rem;
    --terra-pills-roll-up-pill-padding-right: 0.64285rem;
    --terra-pills-roll-up-pill-padding-top: 0.28571rem;
    --terra-pills-roll-up-pill-focus-border-width: 1px;
    --terra-pills-roll-up-pill-focus-border-color: #525659;
    --terra-pills-roll-up-pill-focus-box-shadow: none;
    --terra-pills-roll-up-pill-focus-outline: 2px dashed #fff;
    --terra-pills-roll-up-pill-focus-outline-offset: 2px;
    --terra-pills-roll-up-pill-hover-background-color: #111619;
    --terra-pills-roll-up-pill-hover-border-color: #525659;
    --terra-pills-roll-up-pill-active-background-color: #0c0d0e;
    --terra-pills-roll-up-pill-active-border-color: #525659;
    --terra-pills-roll-up-pill-active-color: #9b9b9b;

    // Clear Icon SVG
    @include terra-inline-svg-var('--terra-pills-clear-icon-background-image', '<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#b2b5b6" d="M28.2 24L42.9 9.1 40.8 7l-1.7-1.6-.4-.5L24 19.7 9.4 4.9 7.2 7 5.6 8.6l-.5.5L19.8 24 5.1 38.9 7.2 41l1.7 1.6.5.5L24 28.3l14.7 14.8.4-.5 1.7-1.6 2.1-2.1L28.2 24z"></path></svg>');
    @include terra-inline-svg-var('--terra-pills-clear-icon-hover-background-image', '<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#9b9b9b" d="M28.2 24L42.9 9.1 40.8 7l-1.7-1.6-.4-.5L24 19.7 9.4 4.9 7.2 7 5.6 8.6l-.5.5L19.8 24 5.1 38.9 7.2 41l1.7 1.6.5.5L24 28.3l14.7 14.8.4-.5 1.7-1.6 2.1-2.1L28.2 24z"></path></svg>');
  }
}
