@import '~terra-mixins/lib/Mixins';

@include themeStyles {
  --terra-brand-footer-margin-bottom: 0;
  --terra-brand-footer-margin-left: 0;
  --terra-brand-footer-margin-right: 0;
  --terra-brand-footer-margin-top: 0;
  --terra-brand-footer-nav-background-color: #f4f4f4;
  --terra-brand-footer-nav-color: #64696c;
  --terra-brand-footer-nav-padding-bottom: 0.7142857142857143rem;
  --terra-brand-footer-nav-padding-left: 1.4285714285714286rem;
  --terra-brand-footer-nav-padding-right: 1.4285714285714286rem;
  --terra-brand-footer-nav-padding-top: 0.7142857142857143rem;
  --terra-brand-footer-vertical-nav-link-group-min-width: 240px;
  --terra-brand-footer-vertical-nav-link-group-padding-right: 1.4285714286rem;
  --terra-brand-footer-vertical-nav-link-padding-bottom: 0.357142857142857rem;
  --terra-brand-footer-vertical-nav-link-padding-top: 0.357142857142857rem;
  --terra-brand-footer-vertical-nav-header-padding-bottom: 0.7142857143rem;
  --terra-brand-footer-vertical-nav-header-padding-top: 1.4285714286rem;
  --terra-brand-footer-horizontal-nav-first-link-padding-before-right: 0.7142857142857143rem;
  --terra-brand-footer-horizontal-nav-link-padding-before-bottom: 0.7142857142857143rem;
  --terra-brand-footer-horizontal-nav-link-padding-before-top: 0.7142857142857143rem;
  --terra-brand-footer-horizontal-nav-link-padding-before-left: 0.7142857142857143rem;
  --terra-brand-footer-horizontal-nav-link-padding-before-right: 0.7142857142857143rem;
  --terra-brand-footer-link-group-margin-bottom: 0;
  --terra-brand-footer-link-group-margin-top: 0;
  --terra-brand-footer-link-group-margin-left: 0;
  --terra-brand-footer-link-group-margin-right: 0;
  --terra-brand-footer-nav-header-color: #64696c;
  --terra-brand-footer-nav-header-font-size: 1rem;
  --terra-brand-footer-nav-header-font-weight: normal;
  --terra-brand-footer-nav-header-line-height: normal;
  --terra-brand-footer-nav-header-text-transform: uppercase;
  --terra-brand-footer-link-color: #0059a8;
  --terra-brand-footer-nav-link-font-size: 1rem;
  --terra-brand-footer-nav-link-font-weight: normal;
  --terra-brand-footer-nav-link-line-height: normal;
  --terra-brand-footer-link-text-decoration: none;
  --terra-brand-footer-link-hover-color: #001f67;
  --terra-brand-footer-link-hover-text-decoration: none;
  --terra-brand-footer-link-active-color: #001f67;
  --terra-brand-footer-link-active-text-decoration: none;
  --terra-brand-footer-link-focus-color: #0059a8;
  --terra-brand-footer-link-focus-text-decoration: none;
  --terra-brand-footer-footer-content-background-color: #0079be;
  --terra-brand-footer-footer-content-color: #fff;
  --terra-brand-footer-footer-content-padding-bottom: 1.4285714285714286rem;
  --terra-brand-footer-footer-content-padding-top: 1.4285714285714286rem;
  --terra-brand-footer-footer-content-padding-left: 1.4285714285714286rem;
  --terra-brand-footer-footer-content-padding-right: 1.4285714285714286rem;
  --terra-brand-footer-floating-content-margin-bottom: 0;
  --terra-brand-footer-content-bottom-margin-top: 0.7142857142857143rem;
}
