@import '~terra-mixins/lib/Mixins';

@include themeStyles {
  --terra-navigation-side-menu-list-padding-top: 0;
  --terra-navigation-side-menu-list-background-color: #434a4d;
  --terra-navigation-side-menu-list-item-border-bottom: 1px solid #000;
  --terra-navigation-side-menu-item-color: #dedfe0;
  --terra-navigation-side-menu-item-chevron-color: #dedfe0;

  --terra-navigation-side-menu-item-hover-background-color: #434a4d;
  --terra-navigation-side-menu-item-hover-color: #fff;

  --terra-navigation-side-menu-item-selected-border-left: 0.5rem solid #78c346;
  --terra-navigation-side-menu-item-selected-font-weight: 400;
  --terra-navigation-side-menu-item-selected-background-color: #1c1f21;
  --terra-navigation-side-menu-item-selected-color: #78c346;
  --terra-navigation-side-menu-item-selected-hover-color: #fff;

  --terra-navigation-side-menu-action-header-background-color: #434a4d;
  --terra-navigation-side-menu-action-header-border-bottom-color: #000;
  --terra-navigation-side-menu-action-header-color: #dedfe0;
}
