@import '~terra-mixins/lib/Mixins';

:global {
  /* List */
  --terra-list-item-background-color: none;
  --terra-list-item-min-height: 0;
  --terra-list-item-divider-border-top: 1px solid #c8cacb;
  --terra-list-item-last-divider-border-bottom: 1px solid #c8cacb;
  --terra-list-item-chevron-padding-right: 0.83333rem;
  --terra-list-item-chevron-color: #1c1f21;
  --terra-list-item-chevron-height: 1.333rem;
  --terra-list-item-chevron-width: 1.333rem;
  --terra-list-standard-item-fill-line-height: 1.41667;
  --terra-list-standard-item-fill-padding-bottom: 0.5rem;
  --terra-list-standard-item-fill-padding-left: 0.83333rem;
  --terra-list-standard-item-fill-padding-right: 0.83333rem;
  --terra-list-standard-item-fill-padding-top: 0.5rem;
  --terra-list-compact-item-fill-line-height: 1.16667;
  --terra-list-compact-item-fill-padding-bottom: 0.25rem;
  --terra-list-compact-item-fill-padding-left: 0.83333rem;
  --terra-list-compact-item-fill-padding-right: 0.83333rem;
  --terra-list-compact-item-fill-padding-top: 0.25rem;
  --terra-list-item-focus-box-shadow: inset 0 0 2px 0 #f4fafe, inset 0 0 2px 1px #cbe7fa, inset 0 0 2px 2px #5e9ed6, inset 0 0 2px 3px #5e9ed6, inset 0 0 2px 4px #cbe7fa;
  --terra-list-item-focus-outline: none;
  --terra-list-item-focus-background-color: #f4fafe;
  --terra-list-item-hover-active-background-color: #f4fafe;
  --terra-list-item-selected-divider-border-color: #0092e0;
  --terra-list-item-selected-divider-border-top-color: #0092e0;
  --terra-list-item-selected-background-color: #e2f2fc;
  --terra-list-item-selected-focus-background-color: #cbe7fa;
  --terra-list-item-selected-hover-background-color: #cbe7fa;
  
  /* Section Header*/
  --terra-list-section-header-background-color: #dedfe0;
  --terra-list-section-header-border-bottom: 1px solid #9b9fa1;
  --terra-list-section-header-padding-bottom: 0.25rem;
  --terra-list-section-header-padding-left: 0.83333rem;
  --terra-list-section-header-padding-top: 0.25rem;
  --terra-list-section-header-title-color: #1c1f21;
  --terra-list-section-header-title-font-size: 1rem;
  --terra-list-section-header-title-font-weight: normal;
  --terra-list-section-header-title-line-height: 1.41667;
  --terra-list-section-header-focus-box-shadow: inset 0 0 2px 0 #dedfe0, inset 0 0 2px 1px #dedfe0, inset 0 0 2px 2px #5e9ed6, inset 0 0 2px 3px #5e9ed6, inset 0 0 2px 4px #c8cacb;
  --terra-list-section-header-focus-outline: none;
  --terra-list-section-header-focus-background-color: #dedfe0;
  --terra-list-section-header-hover-active-background-color: #c8cacb;
  --terra-list-section-header-start-padding-right: 0.25rem;
  --terra-list-section-header-collapsible-padding-left: 0.83333rem;
  
  /* Subsection Header */
  --terra-list-subsection-header-background-color: #dedfe0;
  --terra-list-subsection-header-border-bottom: 1px solid #9b9fa1;
  --terra-list-subsection-header-padding-bottom: 0.25rem;
  --terra-list-subsection-header-padding-left: 1.5rem;
  --terra-list-subsection-header-padding-top: 0.25rem;
  --terra-list-subsection-header-title-color: #1c1f21;
  --terra-list-subsection-header-title-font-size: 1rem;
  --terra-list-subsection-header-title-font-weight: normal;
  --terra-list-subsection-header-title-line-height: 1.16667;
  --terra-list-subsection-header-focus-box-shadow: inset 0 0 2px 0 #dedfe0, inset 0 0 2px 1px #dedfe0, inset 0 0 2px 2px #5e9ed6, inset 0 0 2px 3px #5e9ed6, inset 0 0 2px 4px #dedfe0;
  --terra-list-subsection-header-focus-outline: none;
  --terra-list-subsection-header-focus-background-color: #dedfe0;
  --terra-list-subsection-header-hover-active-background-color: #c8cacb;
  --terra-list-subsection-header-start-padding-right: 0.25rem;
  --terra-list-subsection-header-collapsible-padding-left: 1.5rem;
  
  /* Accordion Icons */
  @include terra-inline-svg-var('--terra-list-section-header-accordion-icon-background', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="currentColor" d="M12,0l24,24L12,48V0z"/></svg>');
  @include terra-inline-svg-var('--terra-list-subsection-header-accordion-icon-background', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="currentColor" d="M12,0l24,24L12,48V0z"/></svg>');
}
