:local {
  .card {
    background-color: #ccf;
    border: 1px solid #7f7fe3;
    border-radius: 5px;
    height: 100%;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
  }
}
