:local {
  .clinical-lowlight-theme {
    --terra-toolbar-background-color: #1c1f21;
    --terra-toolbar-border-bottom-color: #181b1d;
    --terra-toolbar-padding-bottom: 0.14285714285714285rem;
    --terra-toolbar-padding-left: 0.714285714rem;
    --terra-toolbar-padding-right: 0.714285714rem;
    --terra-toolbar-padding-top: 0.14285714285714285rem;
    --terra-toolbar-item-padding-end: 0.35714285714285715rem;
    --terra-toolbar-item-padding-start: 0.35714285714285715rem;
    --terra-toolbar-item-padding-bottom: 0.35714285714285715rem;
    --terra-toolbar-item-padding-top: 0.35714285714285715rem;
  }
}
