:local {
  .tab-container {
    width: 100%;
  }

  .tab-panel {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    width: 100%;
  }

  .tab {
    flex: 0 1 auto;
    min-width: 40px;
  }

  .tab-menu {
    flex: 0 0 auto;
  }

  .tab-fill {
    .tab {
      flex: 1 1 auto;
    }
  }

  .tab,
  .tab-menu {
    cursor: pointer;
    overflow: hidden;
    padding: 0.714rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
  }

  .tab-panel.is-calculating {
    visibility: hidden;

    .tab {
      flex: 0 0 auto;
      min-width: 0;
    }
  }
}
