:local {
  .orion-fusion-theme {
    // Used for docsite custom color examples only 
    --terra-status-attention-border-left-color: #c00;
    --terra-status-info-border-left-color: #007cc3;
    --terra-status-success-border-left-color: #78c346;
  }
}
