@import './clinical-lowlight-theme/colors.module';
@import './orion-fusion-theme/colors.module';

:root {
  // Sample Consumer or Project Added ColorClass example styles (these do not come from Terra)
  --terra-text-docs-example-sample-consumer-added-colorclass-primary-color: #1c1f21;
  --terra-text-docs-example-sample-consumer-added-colorclass-secondary-color: rgba(28, 31, 33, 0.65);
  --terra-text-docs-example-sample-consumer-added-colorclass-attention-color: #c00;
  --terra-text-docs-example-sample-consumer-added-colorclass-result-value-unverified-color: #78288c;
}

:local {
  // Sample Consumer or Project Added ColorClass example styles (these do not come from Terra)
  .primary {
    color: var(--terra-text-docs-example-sample-consumer-added-colorclass-primary-color, #1c1f21);
  }
  
  .secondary {
    color: var(--terra-text-docs-example-sample-consumer-added-colorclass-secondary-color, rgba(28, 31, 33, 0.65));
  }

  .attention {
    color: var(--terra-text-docs-example-sample-consumer-added-colorclass-attention-color, #c00);
  }

  .result-value-unverified {
    color: var(--terra-text-docs-example-sample-consumer-added-colorclass-result-value-unverified-color, #78288c);
  }
}
