:local {
  .orion-fusion-theme {
    // Used for docsite custom color examples only 
    --terra-alert-attention-example-color: #fa0000;
    --terra-alert-dismiss-example-color: #ff049b;
    --terra-alert-help-example-color: #b961cf;
  }
}
